Repository misskey-dev/misskey, pull requests merged in 2018-11, with the labels that each got.

#3095 Add GitHub auth
  .config/example.yml
  locales/ja-JP.yml
  package.json
  src/client/app/common/views/components/github-setting.vue
  src/client/app/common/views/components/index.ts
  src/client/app/common/views/components/signin.vue
  src/client/app/desktop/views/components/settings.vue
  src/client/app/desktop/views/pages/user/user.github.vue
  src/client/app/desktop/views/pages/user/user.vue
  src/client/app/mobile/views/pages/settings.vue
  src/config/types.ts
  src/models/user.ts
  src/server/api/endpoints/meta.ts
  src/server/api/service/github.ts
Labels: api

#3116 Implement /api/v1/custom_emojis
  src/server/api/mastodon.ts
Labels: api

#3118 Make /api/v1/instance and /api/v1/custom_emojis better
  src/models/mastodon/emoji.ts
  src/server/api/mastodon.ts
Labels: api

#3157 フォロー/フォロワーページ
  locales/ja-JP.yml
  package.json
  src/client/app/common/views/components/ui/button.vue
  src/client/app/config.ts
  src/client/app/desktop/script.ts
  src/client/app/desktop/views/components/followers-window.vue
  src/client/app/desktop/views/components/followers.vue
  src/client/app/desktop/views/components/following-window.vue
  src/client/app/desktop/views/components/following.vue
  src/client/app/desktop/views/components/index.ts
  src/client/app/desktop/views/components/user-card.vue
  src/client/app/desktop/views/components/users-list.vue
  src/client/app/desktop/views/pages/user-following-or-followers.vue
  src/client/app/desktop/views/pages/user/user.header.vue
  src/client/app/init.ts
  webpack.config.ts
Labels: UI, client-side, enhancement

#3159 Update README.md
  README.md
Labels: doc

#3239 WIP: Add Discord auth
  locales/ja-JP.yml
  src/client/app/admin/views/instance.vue
  src/client/app/common/views/components/discord-setting.vue
  src/client/app/common/views/components/index.ts
  src/client/app/common/views/components/signin.vue
  src/client/app/desktop/views/components/settings.vue
  src/client/app/desktop/views/pages/user/user.discord.vue
  src/client/app/desktop/views/pages/user/user.vue
  src/client/app/init.ts
  src/client/app/mobile/views/pages/settings.vue
  src/misc/fetch-meta.ts
  src/models/meta.ts
  src/models/user.ts
  src/server/api/endpoints/admin/update-meta.ts
  src/server/api/endpoints/meta.ts
  src/server/api/index.ts
  src/server/api/service/discord.ts
Labels: api

#3317 Call main at the end
  src/index.ts
Labels: refactor

#3337 Improve MFM parser
  package.json
  src/client/app/boot.js
  src/client/app/common/views/components/index.ts
  src/client/app/common/views/components/mfm.ts
  src/client/app/common/views/components/misskey-flavored-markdown.vue
  src/client/app/common/views/components/welcome-timeline.vue
  src/client/app/common/views/pages/follow.vue
  src/client/app/desktop/views/components/note-detail.vue
  src/client/app/desktop/views/components/note.vue
  src/client/app/desktop/views/components/sub-note-content.vue
  src/client/app/desktop/views/components/user-card.vue
  src/client/app/desktop/views/pages/deck/deck.user-column.vue
  src/client/app/desktop/views/pages/user/user.header.vue
  src/client/app/mobile/views/components/note-detail.vue
  src/client/app/mobile/views/components/note.vue
  src/client/app/mobile/views/components/sub-note-content.vue
  src/client/app/mobile/views/pages/user.vue
  src/client/app/test/script.ts
  src/client/app/test/style.styl
  src/client/app/test/views/index.vue
  src/mfm/html.ts
  src/mfm/parse.ts
  src/mfm/parse/elements/big.ts
  src/mfm/parse/elements/bold.ts
  src/mfm/parse/elements/code.ts
  src/mfm/parse/elements/emoji.regex.ts
  src/mfm/parse/elements/emoji.ts
  src/mfm/parse/elements/hashtag.ts
  src/mfm/parse/elements/inline-code.ts
  src/mfm/parse/elements/link.ts
  src/mfm/parse/elements/math.ts
  src/mfm/parse/elements/mention.ts
  src/mfm/parse/elements/motion.ts
  src/mfm/parse/elements/quote.ts
  src/mfm/parse/elements/search.ts
  src/mfm/parse/elements/title.ts
  src/mfm/parse/elements/url.ts
  src/mfm/parse/index.ts
  src/mfm/parser.ts
  src/mfm/syntax-highlight.ts
  src/remote/activitypub/renderer/note.ts
  src/services/note/create.ts
  test/mfm.ts
  webpack.config.ts
Labels: enhancement, mfm

#3362 Fix #3361
  src/server/api/endpoints/notes/create.ts
  test/api.ts
Labels: api, bug, server-side

#3355 Remove unneccesary cast
  src/server/api/endpoints/drive/files/upload_from_url.ts
Labels: refactor

#3410 Fix #3409
  Dockerfile
Labels: Docker, bug

#3424 Fix #3421
  src/client/app/common/views/components/profile-editor.vue
Labels: bug

#3440 Allow hyphens in the middle of remote usernames
  src/models/user.ts
  src/remote/activitypub/models/person.ts
  src/server/api/endpoints/users/search.ts
Labels: ActivityPub
