Repository misskey-dev/misskey, pull requests merged in 2018-12, with the labels that each got.

#3499 外部サービス連携情報をPersonのfieldsに乗せて配信する
  src/remote/activitypub/renderer/person.ts
Labels: ActivityPub, Federation, enhancement

#3535 Fix bug caused by Chrome 71
  src/client/app/common/views/components/autocomplete.vue
  src/client/app/common/views/components/emoji.vue
Labels: bug, client-side

#3512 Migrate diskusage to 1.0.0
  src/daemons/server-stats.ts
Labels: refactor

#3555 Eliminate if-statement
  src/mfm/html.ts
Labels: refactor

#3558 Use && to eliminate if-statement
  src/client/app/common/hotkey.ts
Labels: refactor

#3561 Eliminate if-statement
  src/client/app/common/views/filters/number.ts
Labels: refactor

#3562 Eliminate if-statement
  src/client/app/common/views/components/mfm.ts
Labels: refactor

#3563 Eliminate duplicated condition on if-statement
  src/client/app/init.ts
Labels: refactor

#3564 Eliminate if-statement
  src/client/app/init.ts
Labels: refactor

#3553 Refactor getTextCount
  src/client/app/common/views/components/mfm.ts
Labels: refactor

#3554 Refactor getChildrenCount
  src/client/app/common/views/components/mfm.ts
Labels: refactor

#3560 #2501
  src/client/app/common/scripts/stream.ts
Labels: refactor

#3556 Eliminate if-statement
  src/chart/index.ts
Labels: refactor

#3568 Re: #3556
  src/chart/index.ts
Labels: refactor

#3559 Use && and || to eliminate if-statement
  src/client/app/common/scripts/should-mute-note.ts
Labels: refactor

#3551 Refactor /.autogen
  .autogen/check_pr.jq
  .autogen/next_url.jq
  .autogen/patreon.jq
  .autogen/update_readme_patreon.sh
Labels: refactor

#3589 Resolve #3581
  locales/ja-JP.yml
  src/client/app/admin/script.ts
  src/client/app/admin/views/instance.vue
  src/client/app/auth/script.ts
  src/client/app/common/views/pages/404.vue
  src/client/app/desktop/script.ts
  src/client/app/dev/script.ts
  src/client/app/mobile/script.ts
  src/client/app/test/script.ts
  src/models/meta.ts
  src/server/api/endpoints/admin/update-meta.ts
Labels: client-side

#3595 Fix #3594
  src/client/app/desktop/views/components/settings.2fa.vue
Labels: bug, client-side

#3593 Fix #3592
  src/client/app/desktop/views/components/settings.2fa.vue
Labels: bug, client-side

#3602 Add fallback for YouTube Music
  src/client/app/common/views/components/url-preview.vue
Labels: client-side

#3603 Resolve #2840
  src/mfm/html.ts
Labels: mfm

#3618 Add 'twitter:creator' meta data in user pages
  src/server/web/views/note.pug
  src/server/web/views/user.pug
Labels: server-side

#3584 Refactor Reversi
  src/games/reversi/core.ts
Labels: refactor, reversi

#3614 Re: #3457
  src/mfm/parser.ts
  src/models/user.ts
  src/server/api/endpoints/users/search.ts
  test/mfm.ts
Labels: mfm

#3677 Resolve #3676
  src/client/app/common/scripts/compose-notification.ts
  src/client/app/common/scripts/format-uptime.ts
  src/client/app/common/scripts/get-md5.ts
  src/client/app/v.d.ts
  src/games/reversi/core.ts
  src/mfm/syntax-highlight.ts
  src/misc/fetch-meta.ts
  src/prelude/string.ts
  src/remote/activitypub/models/tag.ts
  src/remote/activitypub/renderer/block.ts
  src/remote/activitypub/renderer/delete.ts
  src/remote/activitypub/renderer/undo.ts
  src/tools/add-emoji.ts
  src/tools/resync-remote-user.ts
Labels: refactor

#3698 Feed
  package.json
  src/server/web/feed.ts
  src/server/web/index.ts
Labels: feature, server-side

#3746 Fix #3745
  src/server/web/index.ts
Labels: bug, server-side
