Repository misskey-dev/misskey, pull requests merged in 2019-02, with the labels that each got.

#4015 Module 'parse5' as import syntax
  package.json
  src/mfm/fromHtml.ts
Labels: enhancement, refactor

#4060 Module '@koa/cors' as import syntax
  package.json
  src/server/api/index.ts
Labels: enhancement, refactor

#4000 Create type definition for 'deepcopy'
  src/@types/deepcopy.d.ts
  src/models/abuse-user-report.ts
  src/models/app.ts
  src/models/auth-session.ts
  src/models/blocking.ts
  src/models/drive-file.ts
  src/models/drive-folder.ts
  src/models/favorite.ts
  src/models/follow-request.ts
  src/models/games/reversi/game.ts
  src/models/games/reversi/matching.ts
  src/models/messaging-message.ts
  src/models/mute.ts
  src/models/note-reaction.ts
  src/models/note.ts
  src/models/notification.ts
  src/models/signin.ts
  src/models/user-list.ts
  src/models/user.ts
Labels: enhancement, refactor

#4049 Create type definition for 'http-signature'
  src/@types/http-signature.d.ts
  src/queue/processors/http/process-inbox.ts
  src/remote/activitypub/request.ts
  src/server/activitypub.ts
Labels: enhancement, refactor

#4004 Create type definition for 'nested-property'
  src/@types/nested-property.d.ts
  src/chart/index.ts
  src/server/web/docs.ts
Labels: enhancement, refactor

#4056 Create type definition for 'koa-json-body'
  src/@types/koa-json-body.d.ts
  src/server/activitypub.ts
Labels: enhancement, refactor

#4057 Create new type definition for 'ms'
  package.json
  src/@types/ms.d.ts
  src/server/api/endpoints/blocking/create.ts
  src/server/api/endpoints/blocking/delete.ts
  src/server/api/endpoints/drive/files/create.ts
  src/server/api/endpoints/drive/files/upload_from_url.ts
  src/server/api/endpoints/following/create.ts
  src/server/api/endpoints/following/delete.ts
  src/server/api/endpoints/i/update_email.ts
  src/server/api/endpoints/messaging/messages/delete.ts
  src/server/api/endpoints/notes/create.ts
  src/server/api/endpoints/notes/delete.ts
  src/server/api/endpoints/notes/reactions/delete.ts
  src/server/api/endpoints/users/recommendation.ts
Labels: enhancement, refactor

#4079 Use `is` syntax
  src/misc/is-objectid.ts
Labels: refactor

#4090 Update Dockerfile
  Dockerfile
Labels: Docker

#4072 Create type definition for 'koa-slow'
  src/@types/koa-slow.d.ts
  src/server/index.ts
Labels: enhancement, refactor

#4059 Create type definition for 'langmap'
  src/@types/langmap.d.ts
  src/server/api/endpoints/i/update.ts
Labels: enhancement, refactor

#4050 Create type definition for 'os-utils'
  src/@types/os-utils.d.ts
  src/daemons/server-stats.ts
Labels: enhancement, refactor

#4016 Module 'jsdom' as import syntax
  package.json
  src/mfm/toHtml.ts
Labels: enhancement, refactor

#4117 Create type definition for ./locales
  locales/index.d.ts
  src/server/web/docs.ts
Labels: enhancement, refactor

#4118 Create type definition for '*/const.json'
  src/@types/const.json.d.ts
  src/server/web/docs.ts
Labels: enhancement, refactor

#4141 /.well-known 周りをいい感じに
  package.json
  src/@types/package.json.d.ts
  src/misc/acct/parse.ts
  src/misc/acct/render.ts
  src/misc/acct/type.ts
  src/server/index.ts
  src/server/nodeinfo.ts
  src/server/webfinger.ts
  src/server/well-known.ts
Labels: Federation, enhancement, refactor, server-side

#4144 自分の投稿情報をエクスポートできるように
  locales/ja-JP.yml
  src/client/app/common/views/components/profile-editor.vue
  src/queue/index.ts
  src/queue/logger.ts
  src/queue/processors/export-notes.ts
  src/queue/processors/http/deliver.ts
  src/queue/processors/index.ts
  src/server/api/endpoints/i/export-notes.ts
Labels: discussion

#4113 Bye 'is-url'
  package.json
  src/config/load.ts
Labels: refactor

#4148 Add URL validation
  src/config/load.ts
Labels: enhancement

#4204 Update CircleCI configuration
  .circleci/config.yml
Labels: dev

#4214 Fix Dockerfile
  Dockerfile
Labels: Docker

#4215 Update user.followers-you-know.vue
  src/client/app/desktop/views/pages/user/user.followers-you-know.vue
Labels: UI, bug, client-side

#4239 Update nodeinfo.ts
  src/server/nodeinfo.ts
Labels: Federation, db, performance, server-side

#4241 Add GIF badge
  src/client/app/common/views/components/media-image.vue
Labels: UI, client-side, feature

#4219 Fix tslint.json styles
  tslint.json
Labels: dev, refactor

#4135 Add prelude function for URL Query
  src/client/app/common/scripts/get-static-image-url.ts
  src/prelude/url.ts
  src/server/activitypub/followers.ts
  src/server/activitypub/following.ts
  src/server/activitypub/outbox.ts
Labels: refactor

#4242 無効化されているタイムラインのフォールバック
  src/client/app/desktop/views/components/timeline.vue
  src/client/app/mobile/views/pages/home.vue
Labels: UI, client-side

#4261 Add i18n when timelines are empty
  locales/ja-JP.yml
  src/client/app/mobile/views/pages/home.timeline.vue
Labels: UI, client-side, l10n

#4277 Update is-objectid.ts
  src/misc/is-objectid.ts
Labels: bug

#4287 MIDIは汎用表示にする
  src/client/app/common/views/components/media-banner.vue
Labels: UI, client-side, enhancement

#4293 Use Record<string, number> instead of any
  src/models/note.ts
Labels: refactor

#4296 Docker: Add support for service worker
  Dockerfile
Labels: Docker, enhancement

#4212 Use object instead of if chain
  src/prelude/symbol.ts
  src/server/api/endpoints/admin/drive/files.ts
  src/server/api/endpoints/admin/show-users.ts
  src/server/api/endpoints/users.ts
Labels: api, refactor, server-side

#4297 Update CircleCI configuration
  .circleci/config.yml
Labels: dev, refactor

#4109 Add fallback for locales
  locales/index.js
Labels: enhancement, l10n

#4330 Fix #4329
  src/prelude/xml.ts
  src/server/well-known.ts
Labels: Federation, bug, refactor, server-side

#4342 Update note-detail.vue
  src/client/app/mobile/views/components/note-detail.vue
Labels: bug, client-side

#4347 docs to run in production mode
  docs/setup.en.md
  docs/setup.fr.md
  docs/setup.ja.md
Labels: doc

#4283 Add reaction count
  src/client/app/desktop/views/components/note.vue
Labels: UI, client-side, enhancement

#4357 Update update.ts
  src/server/api/endpoints/i/update.ts
Labels: Drive, api, server-side

#4363 Resolve audioTag undefined error
  src/client/app/common/views/components/media-banner.vue
Labels: bug, client-side
