Repository misskey-dev/misskey, pull requests merged in 2019-10, with the labels that each got.

#5470 Fix #5468
  src/server/activitypub.ts
Labels: 🐛Bug

#5545 Make issue process of registration tickets better
  src/server/api/endpoints/admin/invite.ts
Labels: ⚙️Server, ✨Feature, 🔒Security

#5386 Componentize modal
  src/client/app/common/views/components/dialog.vue
  src/client/app/common/views/components/image-viewer.vue
  src/client/app/common/views/components/index.ts
  src/client/app/common/views/components/ui/modal.vue
  src/client/app/desktop/views/components/media-video-dialog.vue
  src/client/app/mobile/views/components/post-form-dialog.vue
Labels: 💚Refactor

#5567 Add option to use HardSourceWebpackPlugin
  webpack.config.ts
Labels: ✨Feature, 🛠️Dev
