Repository misskey-dev/misskey, pull requests merged in 2019-01, with the labels that each got.

#3908 Better configuration of CircleCI
  .circleci/config.yml
Labels: dev

#3910 Better 2FA input on sign in form
  locales/ja-JP.yml
  src/client/app/common/views/components/signin.vue
  src/client/app/desktop/views/components/settings.vue
  src/client/app/init.ts
Labels: UI, client-side, enhancement

#3906 node-gypの警告を直す
  src/crypto_key.cc
Labels: dev, refactor

#3916 Change italic syntax to fit with other markdown implementations
  src/mfm/parser.ts
  test/mfm.ts
Labels: mfm, test

#3733 Add double underscore syntax for bold markdown
  src/mfm/parser.ts
  test/mfm.ts
Labels: mfm, test

#3937 Update reversi routing
  src/client/app/desktop/script.ts
  src/client/app/mobile/script.ts
  src/server/web/index.ts
Labels: reversi, server-side

#3882 Create CODEOWNERS
  .github/CODEOWNERS
Labels: GitHub, dev

#3949 Back to the #3813
  locales/ja-JP.yml
  src/client/app/desktop/views/components/post-form.vue
  src/client/app/desktop/views/components/settings.vue
  src/client/app/mobile/views/components/post-form.vue
  src/client/app/mobile/views/pages/settings.vue
  src/client/app/store.ts
Labels: client-side, feature

#3975 外部サービス認証情報の配信
  src/remote/activitypub/models/identifier.ts
  src/remote/activitypub/models/person.ts
  src/remote/activitypub/models/tag.ts
  src/remote/activitypub/renderer/person.ts
Labels: ActivityPub, feature, server-side

#3999 Update parser.ts
  src/mfm/parser.ts
Labels: mfm, refactor

#4012 Module 'nprogress' as import syntax
  package.json
  src/client/app/common/scripts/loading.ts
Labels: enhancement, refactor

#4017 Module 'web-push' as import syntax
  package.json
  src/push-sw.ts
Labels: enhancement, refactor

#4011 Module 'crypto' as import syntax
  src/client/app/common/scripts/get-md5.ts
  src/remote/activitypub/request.ts
  src/server/api/endpoints/auth/accept.ts
Labels: enhancement, refactor

#4042 Extract MFM normalize function
  src/mfm/normalize.ts
  src/mfm/parse.ts
Labels: mfm, refactor

#4045 delete unnecessary key
  src/models/user.ts
Labels: security

#4014 Create type definition for '*/package.json'
  src/@types/package.json.d.ts
  src/config/load.ts
  src/index.ts
  src/server/api/endpoints/meta.ts
  src/server/web/index.ts
  tsconfig.json
Labels: enhancement, refactor

#4054 Create type definition for 'webfinger.js'
  src/@types/webfinger.js.d.ts
  src/remote/webfinger.ts
Labels: enhancement, refactor

#4055 Create type definition for 'promise-any'
  src/@types/promise-any.d.ts
  src/remote/activitypub/request.ts
Labels: enhancement, refactor

#4051 Create type definition for 'lookup-dns-cache'
  src/@types/lookup-dns-cache.d.ts
  src/remote/activitypub/request.ts
Labels: enhancement, refactor

#4069 API modules as import syntax
  src/server/api/index.ts
  src/server/api/service/discord.ts
  src/server/api/service/github.ts
  src/server/api/service/twitter.ts
Labels: enhancement, refactor

#4070 Module 'uuid' as import syntax
  src/server/api/service/discord.ts
  src/server/api/service/github.ts
Labels: enhancement, refactor

#4071 Module 'request-stats' as import syntax
  package.json
  src/server/index.ts
Labels: enhancement, refactor

#4073 Create type definition for '*/meta.json'
  src/@types/meta.json.d.ts
  src/server/api/endpoints/meta.ts
Labels: enhancement, refactor
