Repository misskey-dev/misskey, pull requests merged in 2019-09, with the labels that each got.

#5429 Follow requests page improvements
  src/client/app/common/views/pages/follow-requests.vue
Labels: ✨Feature, 🖥️Client

#5443 Use stringz.length instead of String.length in hashtag length calculation
  src/mfm/language.ts
  src/services/note/create.ts
Labels: 🖍MFM

#5455 Better broadcast widget mk2
  locales/ja-JP.yml
  src/client/app/common/views/widgets/broadcast.vue
Labels: ✨Feature, 🖥️Client

#5456 Add mk-frac component
  src/client/app/common/views/components/frac.vue
  src/client/app/common/views/components/index.ts
Labels: ✨Feature, 🖥️Client

#5434 Refactor removal of trailing comma/period
  src/mfm/language.ts
Labels: 💚Refactor, 🖍MFM

#5432 PWA Fix
  assets/icons/512.png
  assets/icons/icon.svg
  src/client/app/boot.js
  src/client/app/sw.js
  src/server/web/views/base.pug
Labels: 🖥️Client

#5393 Update ja-JP.yml (Translate new permissions)
  locales/ja-JP.yml
Labels: i18n

#5263 Limit the tag counts to 100
  src/remote/activitypub/models/person.ts
  src/server/api/endpoints/i/update.ts
  src/services/note/create.ts
Labels: ⚙️Server, 🐢Performance

#5469 Fix typo: accpet -> accept
  src/server/activitypub.ts
Labels: 💚Refactor
