Repository misskey-dev/misskey, pull requests merged in 2019-03, with the labels that each got.

#4404 Bye on-build-webpack
  package.json
  webpack.config.ts
Labels: refactor, security

#4409 Enhance poll
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/nl-NL.yml
  locales/pl-PL.yml
  locales/zh-CN.yml
  src/client/app/common/views/components/poll-editor.vue
  src/client/app/common/views/components/poll.vue
  src/client/app/common/views/components/ui/input.vue
  src/client/app/desktop/views/components/post-form.vue
  src/client/app/mobile/views/components/post-form.vue
  src/models/note.ts
  src/models/poll-vote.ts
  src/queue/processors/http/deliver.ts
  src/remote/activitypub/kernel/announce/index.ts
  src/remote/activitypub/kernel/create/index.ts
  src/remote/activitypub/kernel/delete/index.ts
  src/remote/activitypub/models/note.ts
  src/remote/activitypub/models/question.ts
  src/remote/activitypub/renderer/note.ts
  src/remote/activitypub/renderer/question.ts
  src/remote/activitypub/renderer/vote.ts
  src/remote/activitypub/type.ts
  src/server/api/endpoints/ap/show.ts
  src/server/api/endpoints/notes/create.ts
  src/server/api/endpoints/notes/polls/vote.ts
  src/services/note/create.ts
  src/services/note/polls/vote.ts
  test/api.ts
  tslint.json
Labels: ActivityPub, enhancement, test

#4427 Make building locales better
  gulpfile.ts
  locales/index.js
  package.json
  webpack.config.ts
Labels: bug, client-side

#4439 Create robots.txt
  assets/robots.txt
  src/server/web/index.ts
Labels: ⚙️Server, ✨Feature

#4452 Add languages
  locales/index.js
Labels: 🌎I18n

#4483 Add angle bracket covered url syntax to mfm
  src/mfm/fromHtml.ts
  src/mfm/language.ts
  src/mfm/normalize.ts
  src/mfm/parse.ts
  src/mfm/prelude.ts
  src/mfm/toHtml.ts
  src/misc/extract-emojis.ts
  src/misc/extract-hashtags.ts
  src/misc/extract-mentions.ts
  test/mfm.ts
Labels: ✨Feature, 🖍MFM

#4547 Fix NoteReaction
  src/models/note-reaction.ts
  src/models/note.ts
  src/server/api/endpoints/notes/reactions.ts
  src/services/note/reaction/delete.ts
Labels: 💚Refactor

#4574 Fix: リアクションのカスタム絵文字の情報がNoteに添付されない
  src/models/note.ts
Labels: 🐛Bug

#4579 Fix #4576
  src/server/api/endpoints/drive/folders/update.ts
  test/api.ts
Labels: ☁️Drive, 🐛Bug, 🧩API, 🧪Test

#4580 Disable test/reaction-lib.ts
  test/reaction-lib.ts
Labels: 🧪Test
