Repository misskey-dev/misskey, pull requests merged in 2020-05, with the labels that each got.

#6303 Add support for hCaptcha
  locales/ja-JP.yml
  migration/1588044505511-hCaptcha.ts
  package.json
  src/@types/hcaptcha.d.ts
  src/client/components/captcha.vue
  src/client/components/signup-dialog.vue
  src/client/components/signup.vue
  src/client/components/url-preview.vue
  src/client/pages/instance/settings.vue
  src/models/entities/meta.ts
  src/server/api/endpoints/admin/update-meta.ts
  src/server/api/endpoints/meta.ts
  src/server/api/private/signup.ts
  src/server/nodeinfo.ts
  src/server/web/views/info.pug
  yarn.lock
Labels: ⚙️Server, ✨Feature, 🔒Security, 🖥️Client

#6324 Fix using Buffer on window scope
  src/client/pages/my-settings/2fa.vue
Labels: 🐛Bug, 🖥️Client

#6300 APリファクタとLD-Signatureの検証に対応
  COPYING
  package.json
  src/@types/http-signature.d.ts
  src/queue/index.ts
  src/queue/processors/inbox.ts
  src/remote/activitypub/db-resolver.ts
  src/remote/activitypub/kernel/accept/follow.ts
  src/remote/activitypub/kernel/block/index.ts
  src/remote/activitypub/kernel/create/note.ts
  src/remote/activitypub/kernel/delete/note.ts
  src/remote/activitypub/kernel/follow.ts
  src/remote/activitypub/kernel/reject/follow.ts
  src/remote/activitypub/kernel/undo/block.ts
  src/remote/activitypub/kernel/undo/follow.ts
  src/remote/activitypub/kernel/update/index.ts
  src/remote/activitypub/misc/contexts.ts
  src/remote/activitypub/misc/ld-signature.ts
  src/remote/activitypub/models/note.ts
  src/remote/activitypub/type.ts
  yarn.lock
Labels: 🌌Federation

#6331 リモートからの通報の受信に対応
  src/models/repositories/user.ts
  src/remote/activitypub/kernel/flag/index.ts
  src/remote/activitypub/kernel/index.ts
  src/remote/activitypub/type.ts
Labels: 🌌Federation

#6334 Fix inbox bug
  src/queue/processors/inbox.ts
Labels: 🌌Federation, 🔒Security
