Repository misskey-dev/misskey, pull requests merged in 2022-09, with the labels that each got.

#9083 Update typeorm to 0.3.9
  packages/backend/package.json
  packages/backend/yarn.lock
Labels: ⚙️Server

#9047 New Crowdin updates
  locales/cs-CZ.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/ru-RU.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9093 フォロー、フォロワーのページでフォローされていることを表示
  packages/client/src/components/MkUserInfo.vue
Labels: 🖥️Client

#9099 Fix ioredis import typo
  packages/backend/src/server/api/integration/DiscordServerService.ts
  packages/backend/src/server/api/integration/GithubServerService.ts
  packages/backend/src/server/api/integration/TwitterServerService.ts
Labels: ⚙️Server

#9095 feat: Youtube window player
  packages/backend/src/server/api/endpoints/admin/show-users.ts
  packages/client/src/components/MkUrlPreview.vue
  packages/client/src/components/MkYoutubePlayer.vue
Labels: 🖥️Client, ⚙️Server
