Repository misskey-dev/misskey, pull requests merged in 2022-05, with the labels that each got.

#8660 perf: fix caching
  packages/backend/src/misc/cache.ts
Labels: 🐢Performance, 🔥high priority

#8725 Fix undefined data value on 2FA settings
  packages/client/src/pages/settings/2fa.vue
Labels: 🖥️Client

#8699 Supports Unicode Emoji 14.0
  CHANGELOG.md
  packages/backend/package.json
  packages/backend/yarn.lock
  packages/client/package.json
  packages/client/src/emojilist.json
  packages/client/yarn.lock
Labels: 🖥️Client, ⚙️Server

#8719 Refactor widgets and fix lint issues
  packages/client/src/widgets/activity.calendar.vue
  packages/client/src/widgets/activity.chart.vue
  packages/client/src/widgets/activity.vue
  packages/client/src/widgets/aichan.vue
  packages/client/src/widgets/aiscript.vue
  packages/client/src/widgets/button.vue
  packages/client/src/widgets/calendar.vue
  packages/client/src/widgets/clock.vue
  packages/client/src/widgets/digital-clock.vue
  packages/client/src/widgets/federation.vue
  packages/client/src/widgets/job-queue.vue
  packages/client/src/widgets/memo.vue
  packages/client/src/widgets/notifications.vue
  packages/client/src/widgets/online-users.vue
  packages/client/src/widgets/photos.vue
  packages/client/src/widgets/post-form.vue
  packages/client/src/widgets/rss.vue
  packages/client/src/widgets/server-metric/cpu-mem.vue
  packages/client/src/widgets/server-metric/cpu.vue
  packages/client/src/widgets/server-metric/index.vue
  packages/client/src/widgets/server-metric/mem.vue
  packages/client/src/widgets/server-metric/net.vue
  packages/client/src/widgets/slideshow.vue
  packages/client/src/widgets/timeline.vue
  packages/client/src/widgets/trends.vue
  packages/client/src/widgets/widget.ts
Labels: 🖥️Client

#8713 refactor: temporary files
  packages/backend/src/misc/create-temp.ts
  packages/backend/src/queue/processors/db/export-blocking.ts
  packages/backend/src/queue/processors/db/export-custom-emojis.ts
  packages/backend/src/queue/processors/db/export-following.ts
  packages/backend/src/queue/processors/db/export-mute.ts
  packages/backend/src/queue/processors/db/export-notes.ts
  packages/backend/src/queue/processors/db/export-user-lists.ts
  packages/backend/src/queue/processors/db/import-custom-emojis.ts
  packages/backend/src/server/file/send-drive-file.ts
  packages/backend/src/server/index.ts
  packages/backend/src/services/drive/generate-video-thumbnail.ts
  packages/backend/src/services/drive/upload-from-url.ts
Labels: ⚙️Server, 💚Refactor

#8734 fix: assume remote users are following each other
  packages/backend/src/models/repositories/note.ts
Labels: ⚙️Server, 🌌Federation, 🔥high priority

#8635 fix(federation): accept HTTP signatures with hs2019
  packages/backend/package.json
  packages/backend/src/@types/http-signature.d.ts
  packages/backend/src/queue/index.ts
  packages/backend/src/queue/processors/inbox.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/activitypub.ts
  packages/backend/yarn.lock
Labels: ⚙️Server

#8736 fix(doc): correct information for drive upload
  packages/backend/src/server/api/openapi/gen-spec.ts
Labels: ⚙️Server, 📖Doc

#8740 enhance: replace signin CAPTCHA with rate limit
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/src/server/api/call.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/limiter.ts
  packages/backend/src/server/api/private/signin.ts
  packages/client/src/components/signin.vue
Labels: 🖥️Client, ⚙️Server

#8735 feat(tests): add e2e tests for widgets
  cypress/integration/widgets.js
  packages/client/src/components/widgets.vue
  packages/client/src/ui/universal.widgets.vue
  packages/client/src/widgets/activity.vue
  packages/client/src/widgets/aichan.vue
  packages/client/src/widgets/aiscript.vue
  packages/client/src/widgets/clock.vue
  packages/client/src/widgets/federation.vue
  packages/client/src/widgets/memo.vue
  packages/client/src/widgets/notifications.vue
  packages/client/src/widgets/photos.vue
  packages/client/src/widgets/post-form.vue
  packages/client/src/widgets/rss.vue
  packages/client/src/widgets/slideshow.vue
  packages/client/src/widgets/timeline.vue
  packages/client/src/widgets/trends.vue
Labels: 🖥️Client, 🧪Test

#8749 fix(client): Fix theme import sequence
  packages/client/@types/theme.d.ts
  packages/client/src/pages/settings/theme.manage.vue
  packages/client/src/pages/settings/theme.vue
  packages/client/src/pages/theme-editor.vue
  packages/client/src/scripts/theme.ts
Labels: 🖥️Client

#8750 refactor: use css module at components/global/loading.vue
  packages/client/src/components/global/loading.vue
Labels: 🖥️Client

#8752 fix(client): Fix FOUC by prefetching app.hoge.css
  packages/backend/src/config/load.ts
  packages/backend/src/server/web/index.ts
  packages/backend/src/server/web/views/base.pug
Labels: ⚙️Server

#8751 refactor: improve code quality
  locales/ja-JP.yml
  packages/backend/src/models/repositories/note.ts
  packages/backend/src/models/repositories/user.ts
  packages/backend/src/remote/activitypub/renderer/index.ts
  packages/backend/src/services/chart/core.ts
  packages/client/src/components/global/time.vue
  packages/client/src/ui/deck/column.vue
Labels: 🖥️Client, ⚙️Server, 💚Refactor

#8761 Import shared ESLint config in client package
  packages/client/.eslintrc.js
  packages/client/tsconfig.json
Labels: 🖥️Client

#8767 Extract commonly used test logic to commands
  cypress/integration/basic.js
  cypress/integration/widgets.js
  cypress/support/commands.js
Labels: 🧪Test
