Repository misskey-dev/misskey, pull requests merged in 2022-11, with the labels that each got.

#9143 fix(client): correctly display links to self instance URL
  packages/client/src/components/global/MkUrl.vue
Labels: 🖥️Client

#9159 [Fix] - Bug fix for Pinned Users
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/pinned-users.ts
Labels: ⚙️Server

#9166 ノートの詳細ボタンを...に追加
  packages/client/src/scripts/get-note-menu.ts
Labels: 🖥️Client

#9171 fix typo on CleanRemoteFilesProcessorService
  packages/backend/src/queue/processors/CleanRemoteFilesProcessorService.ts
Labels: ⚙️Server

#9141 fix: 引用内の文章をnyaizeをしないように
  CHANGELOG.md
  packages/backend/src/core/entities/NoteEntityService.ts
Labels: ⚙️Server

#8764 refactor: migrate to Yarn Berry (v3.2.1)
  .dockerignore
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .gitignore
  .npmrc
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  CHANGELOG.md
  CONTRIBUTING.md
  package.json
  packages/backend/.npmrc
  packages/backend/.yarnrc
  packages/backend/package.json
  packages/backend/test/tests/ap-request.ts
  packages/backend/yarn.lock
  packages/client/.npmrc
  packages/client/.yarnrc
  packages/client/package.json
  packages/client/yarn.lock
  packages/sw/.npmrc
  packages/sw/.yarnrc
  packages/sw/package.json
  packages/sw/yarn.lock
  scripts/build.js
  scripts/dev.js
  scripts/install-packages.js
  scripts/lint.js
  yarn.lock
Labels: 🛠️Dev, 🖥️Client, ⚙️Server, 🧪Test

#9224 Fix typo in keycode.ts
  packages/client/src/scripts/keycode.ts
Labels: 🖥️Client

#9236 enhance: Modify MkInstanceTicker
  packages/client/src/components/MkInstanceTicker.vue
  packages/client/src/scripts/media-proxy.ts
Labels: 🖥️Client

#9235 fix(client): Wrap user name text on MkNoteDetailed
  packages/client/src/components/MkNoteDetailed.vue
Labels: 🖥️Client
