Repository misskey-dev/misskey, pull requests merged in 2022-12, with the labels that each got.

#9247 fix(server): "forkbomb" DOS mitigation
  CHANGELOG.md
  packages/backend/src/core/remote/activitypub/ApInboxService.ts
  packages/backend/src/core/remote/activitypub/ApResolverService.ts
  packages/backend/src/core/remote/activitypub/models/ApPersonService.ts
  packages/backend/src/core/remote/activitypub/models/ApQuestionService.ts
Labels: ⚙️Server

#9238 fix(client): make note visibility inheritance behave correctly when default is set to followers-only
  packages/client/src/components/MkPostForm.vue
Labels: 🖥️Client

#9106 Fastify
  packages/backend/package.json
  packages/backend/src/@types/koa-json-body.d.ts
  packages/backend/src/@types/koa-slow.d.ts
  packages/backend/src/boot/index.ts
  packages/backend/src/core/CaptchaService.ts
  packages/backend/src/core/remote/activitypub/ApRendererService.ts
  packages/backend/src/env.ts
  packages/backend/src/misc/create-temp.ts
  packages/backend/src/misc/fastify-reply-error.ts
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/MediaProxyServerService.ts
  packages/backend/src/server/NodeinfoServerService.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/WellKnownServerService.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/ApiServerService.ts
  packages/backend/src/server/api/AuthenticateService.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/SigninService.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoint-base.ts
  packages/backend/src/server/api/endpoints/drive/files/create.ts
  packages/backend/src/server/api/integration/DiscordServerService.ts
  packages/backend/src/server/api/integration/GithubServerService.ts
  packages/backend/src/server/api/integration/TwitterServerService.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/backend/src/server/web/bios.js
  packages/backend/src/server/web/boot.js
  packages/client/src/account.ts
  packages/client/src/components/MkCropperDialog.vue
  packages/client/src/components/MkUrlPreview.vue
  packages/client/src/components/MkYoutubePlayer.vue
  packages/client/src/components/page/page.post.vue
  packages/client/src/os.ts
  packages/client/src/ui/_common_/statusbar-rss.vue
  packages/client/src/widgets/rss-ticker.vue
  packages/client/src/widgets/rss.vue
  yarn.lock
Labels: 🖥️Client, ⚙️Server

#9260 masterブランチをmaster_securityとマージ
  CHANGELOG.md
  package.json
  packages/backend/src/remote/activitypub/models/mention.ts
  packages/backend/src/remote/activitypub/models/note.ts
  packages/backend/src/remote/activitypub/resolver.ts
Labels: ⚙️Server

#9088 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/el-GR.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9281 enhance: AVIF support
  packages/backend/src/const.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/FileInfoService.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/misc/is-mime-image.ts
  packages/backend/src/server/FileServerService.ts
  packages/client/src/const.ts
  packages/client/src/pages/user/index.photos.vue
Labels: 🖥️Client, ⚙️Server

#9287 enhance: add tooltips to visibility icons
  packages/client/src/components/MkVisibility.vue
Labels: 🖥️Client

#9300 fix: typo
  packages/backend/src/core/IdService.ts
  packages/backend/src/misc/id/aid.ts
Labels: ⚙️Server

#9311 Fix lint errors (except `@typescript-eslint/prefer-nullish-coalescing`)
  packages/client/src/components/MkCwButton.vue
  packages/client/src/nirax.ts
  packages/client/src/pages/settings/index.vue
  packages/client/src/pages/settings/theme.manage.vue
  packages/client/src/pages/settings/theme.vue
  packages/client/src/pages/user/index.activity.vue
  packages/client/src/scripts/theme-editor.ts
  packages/client/src/ui/deck/column.vue
  packages/client/src/ui/deck/notifications-column.vue
  packages/sw/src/scripts/create-notification.ts
  packages/sw/src/scripts/lang.ts
  packages/sw/src/scripts/notification-read.ts
  packages/sw/src/scripts/operations.ts
  packages/sw/src/scripts/url.ts
  packages/sw/src/sw.ts
Labels: 🖥️Client

#9312 refactor(client): Create root.vue and select the ui in it
  packages/client/src/init.ts
  packages/client/src/root.vue
Labels: 🖥️Client

#9316 Call `tsc --noEmit` also for backend/client
  packages/backend/package.json
  packages/client/package.json
Labels: 🖥️Client, ⚙️Server

#9321 Fix import related TypeScript errors
  packages/backend/package.json
  packages/backend/src/core/LoggerService.ts
  packages/backend/src/logger.ts
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/MediaProxyServerService.ts
  packages/backend/src/server/NodeinfoServerService.ts
  packages/backend/src/server/WellKnownServerService.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/ApiServerService.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/SigninService.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/integration/DiscordServerService.ts
  packages/backend/src/server/api/integration/GithubServerService.ts
  packages/backend/src/server/api/integration/TwitterServerService.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/backend/tsconfig.json
  yarn.lock
Labels: ⚙️Server

#9313 fix(client): Downgrade to Vite v3
  packages/client/package.json
  packages/client/src/init.ts
  packages/client/src/root.vue
  yarn.lock
Labels: 🖥️Client

#9319 Fix MetaService unit tests
  packages/backend/jest.config.cjs
  packages/backend/test/unit/MetaService.ts
Labels: ⚙️Server, 🧪Test

#9335 Remove redundant ts-node things
  packages/backend/package.json
  packages/backend/test/loader.js
  yarn.lock
Labels: ⚙️Server, 🧪Test

#9340 refactor(client): add proper types to `never[]`
  packages/client/src/components/mfm.ts
  packages/client/src/scripts/array.ts
  packages/client/src/scripts/collect-page-vars.ts
  packages/client/src/scripts/physics.ts
  packages/client/src/store.ts
Labels: 🖥️Client

#9341 chore: deploy vue-tsc for client typecheck
  packages/client/package.json
  yarn.lock
Labels: 🖥️Client

#9334 enhance(client): Compress non-animated PNG files
  packages/client/package.json
  packages/client/src/scripts/upload.ts
  packages/client/src/scripts/upload/compress-config.ts
  yarn.lock
Labels: 🖥️Client

#9339 chore(client): :art: about button
  packages/client/src/components/MkSuperMenu.vue
  packages/client/src/components/form/link.vue
  packages/client/src/style.scss
Labels: 🖥️Client

#9338 enhance: Push notification of Antenna note
  locales/ja-JP.yml
  packages/backend/assets/notification-badges/satellite.png
  packages/backend/src/core/AntennaService.ts
  packages/backend/src/core/NoteReadService.ts
  packages/backend/src/core/PushNotificationService.ts
  packages/sw/src/scripts/create-notification.ts
  packages/sw/src/scripts/operations.ts
  packages/sw/src/sw.ts
  packages/sw/src/types.ts
Labels: ⚙️Server

#9326 fix(client): Handle null of rootEl in MkWindow.vue
  packages/client/src/components/MkWindow.vue
Labels: 🖥️Client

#9298 New Crowdin updates
  locales/ca-ES.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/fr-FR.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/pl-PL.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9349 enhance(client): Upgrade Vite to v4 again
  packages/backend/src/server/web/views/base.pug
  packages/client/package.json
  packages/client/src/init.ts
  yarn.lock
Labels: 🖥️Client, ⚙️Server

#9348 Fix peers API returning suspended instances
  packages/backend/src/server/api/ApiServerService.ts
Labels: ⚙️Server

#9346 enhance(client): case insensitive emoji search
  packages/client/src/components/MkEmojiPicker.vue
Labels: 🖥️Client

#9351 refactor: fix broken Vue component custom properties
  packages/client/@types/vue.d.ts
  packages/client/src/i18n.ts
  packages/client/src/instance.ts
  packages/client/src/store.ts
Labels: 🖥️Client

#9355 fix(cypress): pass `{}` as a parameter for `/api/reset-db`
  cypress/support/commands.js
Labels: 🧪Test

#9356 fix(backend): request.body may be undefined
  packages/backend/src/server/api/ApiCallService.ts
Labels: ⚙️Server

#9357 fix(client): add missing ref for MkButton
  packages/client/src/components/MkButton.vue
Labels: 🖥️Client

#9361 enhance: Vite HMR while yarn dev, and more build tuning
  CONTRIBUTING.md
  package.json
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/boot.js
  packages/backend/src/server/web/views/base.pug
  packages/client/package.json
  packages/client/src/components/MkFileListForAdmin.vue
  packages/client/src/pages/admin/overview.vue
  packages/client/vite.config.ts
  scripts/build-pre.js
  scripts/clean-all.js
  scripts/dev.js
  yarn.lock
Labels: 🖥️Client, ⚙️Server

#9367 improve(backend): Skip note score incrementing when bots reacted
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/NoteDeleteService.ts
  packages/backend/src/core/ReactionService.ts
Labels: ⚙️Server

#9385 enhance(client): update emoji picker immediately on all input
  packages/client/src/components/MkEmojiPicker.vue
  packages/client/src/scripts/autocomplete.ts
Labels: 🖥️Client

#9389 style(client): fix `vue/v-on-event-hyphenation`
  packages/client/.eslintrc.js
  packages/client/src/components/MkDrive.vue
  packages/client/src/components/MkDriveSelectDialog.vue
  packages/client/src/components/MkPollEditor.vue
  packages/client/src/components/MkPostForm.vue
  packages/client/src/components/MkPostFormAttaches.vue
  packages/client/src/components/MkSignin.vue
  packages/client/src/components/MkSignup.vue
  packages/client/src/components/MkSignupDialog.vue
  packages/client/src/components/MkUserSelectDialog.vue
  packages/client/src/components/MkWidgets.vue
  packages/client/src/components/page/page.number-input.vue
  packages/client/src/components/page/page.radio-button.vue
  packages/client/src/components/page/page.switch.vue
  packages/client/src/components/page/page.text-input.vue
  packages/client/src/components/page/page.textarea-input.vue
  packages/client/src/pages/admin-file.vue
  packages/client/src/pages/admin/security.vue
  packages/client/src/pages/admin/users.vue
  packages/client/src/pages/api-console.vue
  packages/client/src/pages/instance-info.vue
  packages/client/src/pages/settings/2fa.vue
  packages/client/src/pages/settings/drive.vue
  packages/client/src/pages/settings/email.vue
  packages/client/src/pages/settings/notifications.vue
  packages/client/src/pages/settings/other.vue
  packages/client/src/pages/settings/plugin.vue
  packages/client/src/pages/settings/privacy.vue
  packages/client/src/pages/user-info.vue
Labels: 🖥️Client

#9368 refactor(client): explicit `showing` property for tooltips
  packages/client/src/components/MkChartTooltip.vue
  packages/client/src/components/MkReactionTooltip.vue
  packages/client/src/components/MkReactionsViewer.details.vue
  packages/client/src/components/MkUsersTooltip.vue
Labels: 🖥️Client

#9390 fix: WebFinger returns 500
  packages/backend/src/server/WellKnownServerService.ts
Labels: ⚙️Server

#9401 fix(client): explicitly depend on `@vue/runtime-core`
  packages/client/package.json
  yarn.lock
Labels: 🖥️Client

#9400 refactor(client): fix TypeScript errors from MkPageHeader
  packages/client/src/components/global/MkPageHeader.vue
Labels: 🖥️Client

#9410 fix: encodeURIComponent for static image proxy filename
  packages/client/src/scripts/get-static-image-url.ts
  packages/sw/src/scripts/create-notification.ts
Labels: 🖥️Client

#9232 fix(client): prevent infinite resize loop
  packages/client/src/components/global/MkSpacer.vue
  packages/client/src/directives/size.ts
Labels: 🖥️Client

#9397 Fix: Block delivery
  packages/backend/src/core/UserBlockingService.ts
Labels: ⚙️Server

#9343 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/el-GR.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/kab-KAB.yml
  locales/ko-KR.yml
  locales/nl-NL.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9419 enhance(client): Add link to copy RSS feed in user profile menu
  CHANGELOG.md
  locales/ja-JP.yml
  packages/client/src/scripts/get-user-menu.ts
Labels: 🖥️Client

#9179 fix(client): userpage ui
  packages/client/src/pages/user/clips.vue
  packages/client/src/pages/user/gallery.vue
  packages/client/src/pages/user/pages.vue
  packages/client/src/pages/user/reactions.vue
Labels: 🖥️Client

#9416 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/th-TH.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9420 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/ko-KR.yml
  locales/th-TH.yml
  locales/zh-CN.yml
Labels: ‼️ wrong locales

#9427 Support OpenSearch (closes #7058)
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/base.pug
Labels: ⚙️Server

#9423 refactor: 絵文字URLを引き回すのをやめる
  packages/backend/src/core/entities/EmojiEntityService.ts
  packages/backend/src/models/schema/emoji.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteSimple.vue
  packages/frontend/src/components/MkNoteSub.vue
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/components/MkPoll.vue
  packages/frontend/src/components/MkReactionIcon.vue
  packages/frontend/src/components/MkReactionTooltip.vue
  packages/frontend/src/components/MkReactionsViewer.details.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/components/MkSubNoteContent.vue
  packages/frontend/src/components/MkUserInfo.vue
  packages/frontend/src/components/MkUserPreview.vue
  packages/frontend/src/components/global/MkEmoji.vue
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.vue
  packages/frontend/src/components/global/MkUserName.vue
  packages/frontend/src/components/mfm.ts
  packages/frontend/src/instance.ts
  packages/frontend/src/pages/about-misskey.vue
  packages/frontend/src/pages/follow-requests.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/pages/user/reactions.vue
  packages/frontend/src/pages/welcome.timeline.vue
  packages/frontend/src/ui/_common_/statusbar-user-list.vue
Labels: 🖥️Client, ⚙️Server

#9431 enhance: Proxy custom emojis to reduce image size and accelerate the frontend
  packages/backend/package.json
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/DownloadService.ts
  packages/backend/src/core/ImageProcessingService.ts
  packages/backend/src/misc/create-temp.ts
  packages/backend/src/misc/prelude/url.ts
  packages/backend/src/server/MediaProxyServerService.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/global/MkAvatar.vue
  packages/frontend/src/components/global/MkEmoji.vue
  packages/frontend/src/pages/user/index.photos.vue
  packages/frontend/src/scripts/get-static-image-url.ts
  packages/frontend/src/scripts/media-proxy.ts
  packages/frontend/src/scripts/url.ts
  packages/frontend/src/widgets/photos.vue
  packages/sw/src/scripts/url.ts
  yarn.lock
Labels: 🖥️Client, ⚙️Server

#9433 fix(client): add sanitize-html to MkAutocomplete
  packages/frontend/package.json
  packages/frontend/src/components/MkAutocomplete.vue
  yarn.lock
Labels: 🖥️Client

#9421 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9436 New Crowdin updates
  locales/ko-KR.yml
Labels: ‼️ wrong locales
