Repository misskey-dev/misskey, pull requests merged in 2022-06, with the labels that each got.

#8772 fix(client): correctly handle MiAuth URLs with query string
  packages/client/src/pages/miauth.vue
Labels: 🖥️Client

#8762 User moderation details
  packages/backend/src/server/api/endpoints/admin/show-user.ts
  packages/client/src/pages/user-info.vue
Labels: 🖥️Client, ⚙️Server

#8746 fix: correctly render empty note text
  packages/backend/src/remote/activitypub/misc/get-note-html.ts
  packages/backend/src/remote/activitypub/renderer/note.ts
Labels: ⚙️Server, 🌌Federation

#8733 fix: ensure resolver does not fetch local resources via HTTP(S)
  packages/backend/src/remote/activitypub/db-resolver.ts
  packages/backend/src/remote/activitypub/resolver.ts
Labels: ⚙️Server

#8689 fix: add id for activitypub follows
  packages/backend/src/remote/activitypub/renderer/block.ts
  packages/backend/src/remote/activitypub/renderer/follow.ts
  packages/backend/src/server/activitypub.ts
  packages/backend/src/services/blocking/create.ts
  packages/backend/src/services/blocking/delete.ts
Labels: ⚙️Server

#8792 fix(client): render quote renote CWs as MFM
  packages/client/src/components/note-simple.vue
Labels: 🖥️Client

#8790 enhance: improve documentation for `/users/` endpoints
  packages/backend/src/server/api/endpoints/drive/files/attached-notes.ts
  packages/backend/src/server/api/endpoints/drive/files/check-existence.ts
  packages/backend/src/server/api/endpoints/drive/files/create.ts
  packages/backend/src/server/api/endpoints/drive/files/delete.ts
  packages/backend/src/server/api/endpoints/drive/files/find-by-hash.ts
  packages/backend/src/server/api/endpoints/drive/files/find.ts
  packages/backend/src/server/api/endpoints/drive/files/show.ts
  packages/backend/src/server/api/endpoints/drive/files/update.ts
  packages/backend/src/server/api/endpoints/drive/files/upload-from-url.ts
  packages/backend/src/server/api/endpoints/request-reset-password.ts
  packages/backend/src/server/api/endpoints/reset-db.ts
  packages/backend/src/server/api/endpoints/reset-password.ts
  packages/backend/src/server/api/endpoints/sw/register.ts
  packages/backend/src/server/api/endpoints/sw/unregister.ts
  packages/backend/src/server/api/endpoints/test.ts
  packages/backend/src/server/api/endpoints/users/clips.ts
  packages/backend/src/server/api/endpoints/users/followers.ts
  packages/backend/src/server/api/endpoints/users/following.ts
  packages/backend/src/server/api/endpoints/users/gallery/posts.ts
  packages/backend/src/server/api/endpoints/users/get-frequently-replied-users.ts
  packages/backend/src/server/api/endpoints/users/groups/create.ts
  packages/backend/src/server/api/endpoints/users/groups/delete.ts
  packages/backend/src/server/api/endpoints/users/groups/invitations/accept.ts
  packages/backend/src/server/api/endpoints/users/groups/invitations/reject.ts
  packages/backend/src/server/api/endpoints/users/groups/invite.ts
  packages/backend/src/server/api/endpoints/users/groups/joined.ts
  packages/backend/src/server/api/endpoints/users/groups/leave.ts
  packages/backend/src/server/api/endpoints/users/groups/owned.ts
  packages/backend/src/server/api/endpoints/users/groups/pull.ts
  packages/backend/src/server/api/endpoints/users/groups/show.ts
  packages/backend/src/server/api/endpoints/users/groups/transfer.ts
  packages/backend/src/server/api/endpoints/users/groups/update.ts
  packages/backend/src/server/api/endpoints/users/lists/create.ts
  packages/backend/src/server/api/endpoints/users/lists/delete.ts
  packages/backend/src/server/api/endpoints/users/lists/list.ts
  packages/backend/src/server/api/endpoints/users/lists/pull.ts
  packages/backend/src/server/api/endpoints/users/lists/push.ts
  packages/backend/src/server/api/endpoints/users/lists/show.ts
  packages/backend/src/server/api/endpoints/users/lists/update.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
  packages/backend/src/server/api/endpoints/users/pages.ts
  packages/backend/src/server/api/endpoints/users/reactions.ts
  packages/backend/src/server/api/endpoints/users/recommendation.ts
  packages/backend/src/server/api/endpoints/users/relation.ts
  packages/backend/src/server/api/endpoints/users/report-abuse.ts
  packages/backend/src/server/api/endpoints/users/search-by-username-and-host.ts
  packages/backend/src/server/api/endpoints/users/search.ts
  packages/backend/src/server/api/endpoints/users/show.ts
  packages/backend/src/server/api/endpoints/users/stats.ts
Labels: ⚙️Server, 📖Doc

#8789 refactor: follow button
  packages/client/src/components/follow-button.vue
Labels: 🖥️Client, 💚Refactor

#8787 enhance(federation): use ActivityPub defined property in favour of proprietary property.
  packages/backend/src/remote/activitypub/models/note.ts
  packages/backend/src/remote/activitypub/renderer/note.ts
  packages/backend/src/remote/activitypub/type.ts
Labels: ⚙️Server, 🌌Federation

#8788 chore: fix some lints automatically
  packages/client/.eslintrc.js
  packages/client/src/components/captcha.vue
  packages/client/src/components/drive.folder.vue
  packages/client/src/components/drive.vue
  packages/client/src/components/form/folder.vue
  packages/client/src/components/form/radios.vue
  packages/client/src/components/page/page.post.vue
  packages/client/src/components/post-form-attaches.vue
  packages/client/src/components/post-form.vue
  packages/client/src/components/queue-chart.vue
  packages/client/src/components/sample.vue
  packages/client/src/components/signin.vue
  packages/client/src/components/signup.vue
  packages/client/src/components/ui/button.vue
  packages/client/src/components/ui/modal.vue
  packages/client/src/components/ui/tooltip.vue
  packages/client/src/components/url-preview.vue
  packages/client/src/directives/adaptive-border.ts
  packages/client/src/directives/get-size.ts
  packages/client/src/directives/panel.ts
  packages/client/src/directives/size.ts
  packages/client/src/os.ts
  packages/client/src/pages/admin/emojis.vue
  packages/client/src/pages/admin/metrics.vue
  packages/client/src/pages/admin/queue.vue
  packages/client/src/pages/auth.form.vue
  packages/client/src/pages/emojis.category.vue
  packages/client/src/pages/federation.vue
  packages/client/src/pages/gallery/edit.vue
  packages/client/src/pages/messaging/index.vue
  packages/client/src/pages/messaging/messaging-room.form.vue
  packages/client/src/pages/mfm-cheat-sheet.vue
  packages/client/src/pages/my-antennas/index.vue
  packages/client/src/pages/page-editor/page-editor.vue
  packages/client/src/pages/scratchpad.vue
  packages/client/src/pages/settings/2fa.vue
  packages/client/src/pages/settings/accounts.vue
  packages/client/src/pages/settings/apps.vue
  packages/client/src/pages/settings/theme.vue
  packages/client/src/pages/settings/word-mute.vue
  packages/client/src/pages/share.vue
  packages/client/src/pages/theme-editor.vue
  packages/client/src/pages/timeline.vue
  packages/client/src/pages/welcome.setup.vue
  packages/client/src/pages/welcome.timeline.vue
  packages/client/src/scripts/format-time-string.ts
  packages/client/src/scripts/get-note-menu.ts
  packages/client/src/scripts/get-user-menu.ts
  packages/client/src/scripts/hpml/evaluator.ts
  packages/client/src/scripts/physics.ts
  packages/client/src/scripts/theme-editor.ts
  packages/client/src/scripts/theme.ts
  packages/client/src/store.ts
  packages/client/src/ui/_common_/sidebar-for-mobile.vue
  packages/client/src/ui/classic.sidebar.vue
  packages/client/src/ui/deck/column.vue
  packages/client/src/widgets/timeline.vue
  packages/client/src/widgets/widget.ts
Labels: 🖥️Client

#8808 feat: image cropping
  CHANGELOG.md
  locales/ja-JP.yml
  packages/client/package.json
  packages/client/src/components/cropper-dialog.vue
  packages/client/src/components/ui/modal-window.vue
  packages/client/src/components/ui/modal.vue
  packages/client/src/os.ts
  packages/client/src/pages/settings/profile.vue
  packages/client/yarn.lock
Labels: 🖥️Client

#8669 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#8809 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/id-ID.yml
  locales/nl-NL.yml
Labels: ‼️ wrong locales

#8819 fix: some fixes of multiple notification read
  packages/backend/src/server/api/common/read-notification.ts
  packages/backend/src/server/api/endpoints/notifications/read.ts
  packages/sw/src/scripts/notification-read.ts
Labels: ⚙️Server

#8815 Fix(client): fix wrong gallery page component
  packages/client/src/router.ts
Labels: 🖥️Client

#8812 New Crowdin updates
  locales/ko-KR.yml
Labels: ‼️ wrong locales

#8820 fix: missing file name parameter
  packages/backend/src/services/drive/generate-video-thumbnail.ts
Labels: ⚙️Server

#8821 Release: 12.111.1
  CHANGELOG.md
  locales/ko-KR.yml
  package.json
  packages/backend/src/server/api/common/read-notification.ts
  packages/backend/src/server/api/endpoints/notifications/read.ts
  packages/backend/src/services/drive/generate-video-thumbnail.ts
  packages/client/src/router.ts
  packages/client/src/ui/deck/deck-store.ts
  packages/client/src/ui/deck/widgets-column.vue
  packages/sw/src/scripts/notification-read.ts
Labels: 🖥️Client, ⚙️Server, ‼️ wrong locales

#8836 fix: add limit to i/notifications
  packages/backend/src/server/api/endpoints/i/notifications.ts
Labels: ⚙️Server

#8826 fix: tmpdir cleanup removes contained files
  packages/backend/src/misc/create-temp.ts
Labels: ⚙️Server

#8825 fix: GenerateVideoThumbnail
  CHANGELOG.md
  packages/backend/src/services/drive/generate-video-thumbnail.ts
Labels: ⚙️Server

#8849 enhance: Improve player detection in URL preview
  CHANGELOG.md
  packages/backend/package.json
  packages/backend/yarn.lock
Labels: ⚙️Server

#8822 Refactor clip page to Composition API
  packages/client/src/pages/clip.vue
Labels: 🖥️Client

#8823 Improve: unclip
  locales/ja-JP.yml
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/clips/remove-note.ts
  packages/client/src/components/note-detailed.vue
  packages/client/src/components/note.vue
  packages/client/src/pages/clip.vue
  packages/client/src/scripts/get-note-menu.ts
Labels: 🖥️Client, ⚙️Server

#8721 Refactor page-editor elements to use Composition API
  packages/client/src/pages/page-editor/els/page-editor.el.button.vue
  packages/client/src/pages/page-editor/els/page-editor.el.canvas.vue
  packages/client/src/pages/page-editor/els/page-editor.el.counter.vue
  packages/client/src/pages/page-editor/els/page-editor.el.if.vue
  packages/client/src/pages/page-editor/els/page-editor.el.image.vue
  packages/client/src/pages/page-editor/els/page-editor.el.note.vue
  packages/client/src/pages/page-editor/els/page-editor.el.number-input.vue
  packages/client/src/pages/page-editor/els/page-editor.el.post.vue
  packages/client/src/pages/page-editor/els/page-editor.el.radio-button.vue
  packages/client/src/pages/page-editor/els/page-editor.el.section.vue
  packages/client/src/pages/page-editor/els/page-editor.el.switch.vue
  packages/client/src/pages/page-editor/els/page-editor.el.text-input.vue
  packages/client/src/pages/page-editor/els/page-editor.el.text.vue
  packages/client/src/pages/page-editor/els/page-editor.el.textarea-input.vue
  packages/client/src/pages/page-editor/els/page-editor.el.textarea.vue
Labels: 🖥️Client

#8850 refactor: チャットルームをComposition API化
  package.json
  packages/client/src/components/global/sticky-container.vue
  packages/client/src/directives/sticky-container.ts
  packages/client/src/pages/messaging/messaging-room.form.vue
  packages/client/src/pages/messaging/messaging-room.message.vue
  packages/client/src/pages/messaging/messaging-room.vue
  packages/client/src/scripts/scroll.ts
Labels: 🖥️Client

#8855 fix: block button in federation panel
  packages/client/src/pages/instance-info.vue
Labels: 🖥️Client

#8873 enhance: word mute checks CW
  packages/backend/src/misc/check-word-mute.ts
  packages/client/src/scripts/check-word-mute.ts
Labels: 🖥️Client, ⚙️Server

#8838 refactor: simplify ap/show with DbResolver
  packages/backend/src/server/api/endpoints/ap/show.ts
Labels: ⚙️Server, 💚Refactor

#8877 fix(nirax): パス処理でsplit('/')において文字列長がゼロの場合は削除するように
  packages/client/src/nirax.ts
Labels: 🖥️Client

#8883 fix: ask to log in for poll vote
  packages/client/src/components/poll.vue
Labels: 🖥️Client

#8869 enhance: Redisをioredisに統一してIPv6サポート
  .config/example.yml
  CHANGELOG.md
  packages/backend/package.json
  packages/backend/src/config/types.ts
  packages/backend/src/db/postgre.ts
  packages/backend/src/db/redis.ts
  packages/backend/src/queue/initialize.ts
  packages/backend/src/server/api/endpoints/admin/server-info.ts
  packages/backend/yarn.lock
Labels: ⚙️Server

#8854 fix: always respect instance mutes
  packages/backend/src/server/api/common/generate-muted-instance-query.ts
  packages/backend/src/server/api/common/generate-muted-user-query.ts
  packages/backend/src/server/api/endpoints/i/notifications.ts
  packages/backend/src/server/api/endpoints/notes/children.ts
  packages/backend/src/server/api/endpoints/notes/global-timeline.ts
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/timeline.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
Labels: ⚙️Server

#8793 fix(client): only enable hotkeys for logged in users
  packages/client/src/init.ts
Labels: 🖥️Client

#8860 refactor: notification setting window composition API
  packages/client/src/components/notification-setting-window.vue
Labels: 🖥️Client, 💚Refactor

#8879 enhance(client): Enhance boot error display
  packages/backend/src/server/web/boot.js
Labels: ⚙️Server

#8892 fix: mocha テストが動かないのを修正 v2
  packages/backend/.mocharc.json
  packages/backend/src/server/api/limiter.ts
  packages/backend/test/mute.ts
  packages/backend/test/note.ts
  packages/backend/test/user-notes.ts
  packages/backend/test/utils.ts
Labels: ⚙️Server, 🧪Test
