Repository misskey-dev/misskey, pull requests merged in 2022-07, with the labels that each got.

#8916 migrate parse5 to 7.0.0
  packages/backend/package.json
  packages/backend/src/mfm/from-html.ts
  packages/backend/yarn.lock
Labels: ⚙️Server

#8872 feat: Log user ips
  locales/ja-JP.yml
  packages/backend/migration/1655918165614-user-ip.js
  packages/backend/migration/1656122560740-file-ip.js
  packages/backend/migration/1656328812281-ip-2.js
  packages/backend/src/db/postgre.ts
  packages/backend/src/models/entities/drive-file.ts
  packages/backend/src/models/entities/meta.ts
  packages/backend/src/models/entities/user-ip.ts
  packages/backend/src/models/index.ts
  packages/backend/src/queue/index.ts
  packages/backend/src/queue/processors/system/clean.ts
  packages/backend/src/queue/processors/system/index.ts
  packages/backend/src/server/api/api-handler.ts
  packages/backend/src/server/api/call.ts
  packages/backend/src/server/api/define.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/drive/show-file.ts
  packages/backend/src/server/api/endpoints/admin/get-user-ips.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/drive/files/create.ts
  packages/backend/src/server/api/endpoints/drive/files/upload-from-url.ts
  packages/backend/src/services/drive/add-file.ts
  packages/backend/src/services/drive/upload-from-url.ts
  packages/client/src/account.ts
  packages/client/src/pages/admin-file.vue
  packages/client/src/pages/admin/security.vue
  packages/client/src/pages/user-info.vue
  packages/client/src/scripts/upload.ts
Labels: 🖥️Client, ⚙️Server

#8912 fix: streamingのテストが遅いのを修正
  packages/backend/test/streaming.ts
  packages/backend/test/utils.ts
Labels: ⚙️Server, 🧪Test

#8867 Add additional drive capacity change support
  locales/ja-JP.yml
  packages/backend/migration/1655813815729-driveCapacityOverrideMb.js
  packages/backend/src/models/entities/user.ts
  packages/backend/src/models/repositories/user.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/drive-capacity-override.ts
  packages/backend/src/server/api/endpoints/drive.ts
  packages/backend/src/services/drive/add-file.ts
  packages/client/src/pages/user-info.vue
Labels: 🖥️Client, ⚙️Server

#8934 chore: fix client lint errors
  packages/client/src/components/autocomplete.vue
  packages/client/src/components/code-core.vue
  packages/client/src/components/formula-core.vue
  packages/client/src/pages/admin/emojis.vue
  packages/client/src/pages/page-editor/els/page-editor.el.radio-button.vue
  packages/client/src/pages/page-editor/page-editor.vue
  packages/client/src/pages/user-info.vue
  packages/client/src/pages/welcome.entrance.a.vue
  packages/client/src/pages/welcome.entrance.b.vue
  packages/client/src/pages/welcome.entrance.c.vue
  packages/client/src/scripts/hpml/index.ts
  packages/client/src/scripts/hpml/lib.ts
  packages/client/src/ui/visitor/a.vue
  packages/client/src/ui/visitor/kanban.vue
Labels: 🖥️Client

#8937 chore: remove featured from store
  packages/client/src/store.ts
Labels: 🖥️Client

#8925 fix: pagination uses API correctly
  packages/client/src/components/ui/pagination.vue
Labels: 🖥️Client

#8930 feat: styled error screen
  packages/backend/src/server/web/boot.js
  packages/backend/src/server/web/error.css
  packages/backend/src/server/web/views/base.pug
  packages/backend/src/server/web/views/flush.pug
Labels: ⚙️Server

#8946 enhance: Styled error screen
  packages/backend/src/server/web/boot.js
Labels: ⚙️Server

#8950 New Crowdin updates
  locales/th-TH.yml
Labels: ‼️ wrong locales

#8974 Fix Attempts to update all notifications
  CHANGELOG.md
  packages/backend/src/server/api/common/read-notification.ts
Labels: ⚙️Server

#8973 fix: QueryFailedError when logging user's IPs
  packages/backend/src/server/api/api-handler.ts
Labels: ⚙️Server

#8980 enhance(sw): If receiving a push notification issued more than a day, ignore it.
  packages/backend/src/services/push-notification.ts
  packages/sw/src/sw.ts
  packages/sw/src/types.ts
Labels: ⚙️Server

#8981 chore(dev): fix lint errors
  packages/backend/src/queue/processors/db/export-custom-emojis.ts
  packages/backend/src/remote/activitypub/models/question.ts
  packages/backend/src/remote/activitypub/renderer/like.ts
  packages/client/src/components/drive-window.vue
  packages/client/src/directives/size.ts
  packages/client/src/scripts/hpml/expr.ts
  packages/client/src/ui/deck/list-column.vue
  packages/client/src/widgets/activity.chart.vue
Labels: 🖥️Client, ⚙️Server

#8984 Fix crash at startup if TensorFlow is not supported
  CHANGELOG.md
  packages/backend/src/services/detect-sensitive.ts
Labels: ⚙️Server

#8986 fix: Make tensorflow an optional dependency
  packages/backend/package.json
Labels: ⚙️Server

#8979 fix(sw, notification): Don't issue an event if there is no affect
  packages/backend/src/server/api/common/read-notification.ts
Labels: ⚙️Server

#8794 fix(client): hide bot protection warning with disabled registrations
  packages/client/src/pages/admin/index.vue
Labels: 🖥️Client

#8959 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9000 refactor(client): remove sticky-container directive
  packages/client/src/directives/index.ts
  packages/client/src/directives/sticky-container.ts
  packages/client/src/pages/user/index.timeline.vue
Labels: 🖥️Client

#8999 refactor(client): remove useCssModule
  packages/client/src/components/global/loading.vue
  packages/client/src/components/mention.vue
Labels: 🖥️Client

#8957 refactor: signup component as composition api
  packages/client/src/components/signup.vue
Labels: 🖥️Client

#8995 chore: improve ad style
  packages/client/src/components/global/ad.vue
Labels: 🖥️Client

#9004 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/th-TH.yml
  locales/zh-CN.yml
Labels: ‼️ wrong locales

#9007 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/vi-VN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9012 fix(client): use icon for local if available at instance ticker
  packages/client/src/components/instance-ticker.vue
Labels: 🖥️Client

#9009 New Crowdin updates
  locales/bn-BD.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/ko-KR.yml
  locales/ru-RU.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9020 fix(server): fix #9018
  packages/backend/src/misc/get-file-info.ts
Labels: ⚙️Server

#9014 New Crowdin updates
  locales/sk-SK.yml
Labels: ‼️ wrong locales

#8983 fix: broken chats
  packages/client/src/components/ui/pagination.vue
  packages/client/src/pages/messaging/messaging-room.vue
Labels: 🖥️Client

#9035 一部のアプリからファイルを投稿フォームへドロップできない場合がある問題を修正
  CHANGELOG.md
  packages/client/src/components/post-form.vue
Labels: 🖥️Client

#8511 feature: Client Preferences Registry
  CHANGELOG.md
  locales/ja-JP.yml
  packages/client/src/pages/settings/index.vue
  packages/client/src/pages/settings/preferences-backups.vue
  packages/client/src/router.ts
Labels: 🖥️Client
