Repository misskey-dev/misskey, pull requests merged in 2023-05, with the labels that each got.

#10676 fix: Return null from Mk:dialog
  packages/frontend/src/scripts/aiscript/api.ts
Labels: packages/frontend

#10737 fix(backend): `fields`の誤った定義を修正
  packages/backend/src/models/json-schema/user.ts
Labels: packages/backend

#10753 feat: condense acct
  packages/frontend/src/components/global/MkAcct.stories.impl.ts
  packages/frontend/src/components/global/MkAcct.vue
  packages/frontend/src/components/global/MkCondensedLine.stories.impl.ts
  packages/frontend/src/components/global/MkCondensedLine.vue
  packages/frontend/src/components/index.ts
Labels: packages/frontend

#10667 fix #10666 チャンネル検索ですべてのチャンネルの取得/表示ができるようにする
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/channels/search.ts
  packages/backend/test/e2e/endpoints.ts
  packages/frontend/src/pages/channels.vue
Labels: packages/frontend, packages/backend, packages/backend:test

#10755 feat: Introduce Meilisearch
  .config/docker_example.yml
  .config/example.yml
  .devcontainer/devcontainer.yml
  .dockerignore
  .gitignore
  CHANGELOG.md
  chart/files/default.yml
  docker-compose.yml.example
  packages/backend/package.json
  packages/backend/src/GlobalModule.ts
  packages/backend/src/config.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/SearchService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/backend/src/server/api/endpoints/notes/search.ts
  pnpm-lock.yaml
Labels: packages/backend

#10731 ロールにNSFWを強制的につけるオプションを追加
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/server/api/endpoints/drive/files/update.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/test/e2e/note.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/settings/drive.vue
  packages/frontend/src/scripts/get-drive-file-menu.ts
Labels: packages/frontend, packages/backend, packages/backend:test

#10721 perf: use slacc on check-word-mute
  packages/backend/package.json
  packages/backend/src/misc/check-word-mute.ts
  packages/backend/test/unit/misc/check-word-mute.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test

#10772 fix(backend): Use SSL option for Meilisearch
  .config/docker_example.yml
  .config/example.yml
  .devcontainer/devcontainer.yml
  chart/files/default.yml
  packages/backend/src/GlobalModule.ts
  packages/backend/src/config.ts
Labels: packages/backend

#10766 enhance: プロフィール設定「追加情報」の並び替え・削除に対応
  CHANGELOG.md
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/profile.vue
Labels: packages/frontend

#10754 feat: アンテナのエクスポート・インポート
  packages/backend/src/core/QueueService.ts
  packages/backend/src/queue/DbQueueProcessorsService.ts
  packages/backend/src/queue/QueueProcessorModule.ts
  packages/backend/src/queue/processors/ExportAntennasProcessorService.ts
  packages/backend/src/queue/processors/ImportAntennasProcessorService.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/i/export-antennas.ts
  packages/backend/src/server/api/endpoints/i/import-antennas.ts
  packages/frontend/src/pages/settings/import-export.vue
Labels: packages/frontend, packages/backend

#10779 MiAuth同意画面では寄付Popupを表示しない
  packages/frontend/src/init.ts
Labels: packages/frontend

#10614 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/el-GR.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/lo-LA.yml
  locales/nl-NL.yml
  locales/no-NO.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#10799 feat(frontend): アカウント初期設定ウィザード
  CHANGELOG.md
  locales/ja-JP.yml
  packages/frontend/.storybook/generate.tsx
  packages/frontend/.storybook/preview.ts
  packages/frontend/src/components/MkModalWindow.vue
  packages/frontend/src/components/MkSignupDialog.rules.stories.impl.ts
  packages/frontend/src/components/MkUserSetupDialog.Follow.stories.impl.ts
  packages/frontend/src/components/MkUserSetupDialog.Follow.vue
  packages/frontend/src/components/MkUserSetupDialog.Profile.stories.impl.ts
  packages/frontend/src/components/MkUserSetupDialog.Profile.vue
  packages/frontend/src/components/MkUserSetupDialog.User.stories.impl.ts
  packages/frontend/src/components/MkUserSetupDialog.User.vue
  packages/frontend/src/components/MkUserSetupDialog.stories.impl.ts
  packages/frontend/src/components/MkUserSetupDialog.vue
  packages/frontend/src/init.ts
  packages/frontend/src/pages/timeline.tutorial.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#10800 chore: 猫耳の先端って本来少し丸まっているものなのではないだろうか
  packages/frontend/src/components/global/MkAvatar.vue
Labels: packages/frontend

#10814 Release: 13.12.1
  CHANGELOG.md
  locales/ko-KR.yml
  package.json
  packages/backend/src/core/FederatedInstanceService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/frontend/src/components/MkModalWindow.vue
  packages/frontend/src/components/MkUserInfo.vue
  packages/frontend/src/pages/user/home.vue
Labels: packages/frontend, packages/backend

#10688 センシティブワードを正規表現、CWにも適用するように
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/test/e2e/note.ts
  packages/frontend/src/pages/admin/moderation.vue
Labels: packages/frontend, packages/backend, packages/backend:test

#10847 feat: 開発者モードを追加
  CHANGELOG.md
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/scripts/get-user-menu.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#10855 チャンネルのお気に入りボタン位置修正
  packages/frontend/src/pages/channel.vue
Labels: packages/frontend

#10782 perf: MkImgWithBlurhashとMkMediaImageを最適化
  CHANGELOG.md
  packages/frontend/package.json
  packages/frontend/src/components/MkGalleryPostPreview.vue
  packages/frontend/src/components/MkImgWithBlurhash.vue
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/MkMediaList.vue
  packages/frontend/src/components/global/MkAvatar.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/scripts/worker-multi-dispatch.ts
  packages/frontend/src/workers/draw-blurhash.ts
  packages/frontend/src/workers/test-webgl2.ts
  packages/frontend/src/workers/tsconfig.json
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
Labels: packages/frontend

#10869 fix:Firefoxでサインアップする時、メールアドレスがユーザー名として認識される#10523
  CHANGELOG.md
  packages/frontend/src/components/MkSignupDialog.form.vue
Labels: packages/frontend

#10843 fix:ロールタイムライン無効に関する修正
  CHANGELOG.md
  packages/backend/src/core/RoleService.ts
  packages/backend/src/server/api/endpoints/roles/notes.ts
  packages/backend/src/server/api/stream/channels/role-timeline.ts
  packages/frontend/src/ui/deck/role-timeline-column.vue
Labels: packages/frontend, packages/backend

#10868 test(backend): アンテナのAPIテスト追加
  packages/backend/test/e2e/antennas.ts
  packages/backend/test/utils.ts
Labels: packages/backend, packages/backend:test

#10867 chore: update slacc
  packages/backend/package.json
  pnpm-lock.yaml
Labels: packages/backend

#10862 feat: support summary_large_image
  packages/backend/src/server/web/views/base.pug
  packages/backend/src/server/web/views/channel.pug
  packages/backend/src/server/web/views/clip.pug
  packages/backend/src/server/web/views/flash.pug
  packages/backend/src/server/web/views/gallery-post.pug
  packages/backend/src/server/web/views/note.pug
  packages/backend/src/server/web/views/page.pug
  packages/backend/src/server/web/views/user.pug
Labels: packages/backend

#10882 refactor(#7598): add i18n dynamic typings
  locales/generateDTS.js
  locales/index.d.ts
  packages/frontend/src/i18n.ts
  packages/frontend/vite.config.ts
Labels: 🛠️Dev, packages/frontend, i18n

#10893 feat: アカウント初期設定ウィザードに戻るボタンと、後で進むボタンを追加
  CHANGELOG.md
  cypress/e2e/basic.cy.js
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkButton.vue
  packages/frontend/src/components/MkUserSetupDialog.vue
Labels: packages/frontend, packages/frontend:test

#10878 enhance: ハッシュタグのノート一覧ページから、そのハッシュタグで投稿するボタンを追加、お知らせの画像URLを空にできない問題を修正
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/endpoints/admin/announcements/update.ts
  packages/frontend/src/pages/tag.vue
Labels: packages/frontend, packages/backend

#10909 fix(frontend): Zen UIで、デッキ設定で直接/以外を表示したときデッキに戻るボタンを表示
  packages/frontend/src/ui/zen.vue
Labels: packages/frontend

#10910 enhance(backend): migrate bull to bullmq
  CHANGELOG.md
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/core/CaptchaService.ts
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/activitypub/LdSignatureService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/daemons/QueueStatsService.ts
  packages/backend/src/misc/id/aid.ts
  packages/backend/src/misc/prelude/time.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/const.ts
  packages/backend/src/queue/get-job-info.ts
  packages/backend/src/queue/processors/AggregateRetentionProcessorService.ts
  packages/backend/src/queue/processors/CheckExpiredMutingsProcessorService.ts
  packages/backend/src/queue/processors/CleanChartsProcessorService.ts
  packages/backend/src/queue/processors/CleanProcessorService.ts
  packages/backend/src/queue/processors/CleanRemoteFilesProcessorService.ts
  packages/backend/src/queue/processors/DeleteAccountProcessorService.ts
  packages/backend/src/queue/processors/DeleteDriveFilesProcessorService.ts
  packages/backend/src/queue/processors/DeleteFileProcessorService.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/queue/processors/EndedPollNotificationProcessorService.ts
  packages/backend/src/queue/processors/ExportAntennasProcessorService.ts
  packages/backend/src/queue/processors/ExportBlockingProcessorService.ts
  packages/backend/src/queue/processors/ExportCustomEmojisProcessorService.ts
  packages/backend/src/queue/processors/ExportFavoritesProcessorService.ts
  packages/backend/src/queue/processors/ExportFollowingProcessorService.ts
  packages/backend/src/queue/processors/ExportMutingProcessorService.ts
  packages/backend/src/queue/processors/ExportNotesProcessorService.ts
  packages/backend/src/queue/processors/ExportUserListsProcessorService.ts
  packages/backend/src/queue/processors/ImportAntennasProcessorService.ts
  packages/backend/src/queue/processors/ImportBlockingProcessorService.ts
  packages/backend/src/queue/processors/ImportCustomEmojisProcessorService.ts
  packages/backend/src/queue/processors/ImportFollowingProcessorService.ts
  packages/backend/src/queue/processors/ImportMutingProcessorService.ts
  packages/backend/src/queue/processors/ImportUserListsProcessorService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/queue/processors/RelationshipProcessorService.ts
  packages/backend/src/queue/processors/ResyncChartsProcessorService.ts
  packages/backend/src/queue/processors/TickChartsProcessorService.ts
  packages/backend/src/queue/processors/WebhookDeliverProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/relays/add.ts
  packages/backend/src/server/api/endpoints/notes/search-by-tag.ts
  packages/backend/src/server/api/endpoints/reset-db.ts
  packages/backend/test/misc/mock-resolver.ts
  packages/backend/test/utils.ts
  packages/frontend/src/scripts/time.ts
  packages/shared/.eslintrc.js
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/backend:test

#10884 perf(backend): use websockets/ws instead of theturtle32/WebSocket-Node
  packages/backend/package.json
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/AuthenticateService.ts
  packages/backend/src/server/api/StreamingApiServerService.ts
  packages/backend/src/server/api/stream/index.ts
  pnpm-lock.yaml
Labels: packages/backend

#10165 enhance(client): MFMのx2, scale, positionが含まれていたらノートをたたむようにした
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#10926 fix: Firefoxにおける絵文字ピッカーのTabキーフォーカス問題の修正
  CHANGELOG.md
  packages/frontend/src/components/MkEmojiPicker.vue
Labels: packages/frontend
