Repository misskey-dev/misskey, pull requests merged in 2023-03, with the labels that each got.

#10145 feat: 時限ロール
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/migration/1677570181236-role-assignment-expires-at.js
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/entities/RoleEntityService.ts
  packages/backend/src/models/entities/RoleAssignment.ts
  packages/backend/src/queue/processors/CleanProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/roles/assign.ts
  packages/backend/src/server/api/endpoints/admin/roles/unassign.ts
  packages/backend/src/server/api/endpoints/admin/roles/users.ts
  packages/backend/src/server/api/endpoints/roles/users.ts
  packages/backend/test/unit/RoleService.ts
  packages/backend/test/utils.ts
  packages/frontend/src/pages/admin/roles.role.vue
  packages/frontend/src/pages/user-info.vue
  packages/frontend/src/scripts/get-user-menu.ts
Labels: 🖥️Client, ⚙️Server, 🧪Test

#10116 enhance(client): Renote した時の表示をリップルエフェクトと toast に
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkToast.vue
Labels: 🖥️Client

#10027 refactor: plugin.tsの型を修正する
  packages/frontend/src/plugin.ts
  packages/frontend/src/store.ts
Labels: 🖥️Client

#10083 fix(frontend): read KeyboardEvent.key instead of which/code
  cypress/e2e/basic.cy.js
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/scripts/hotkey.ts
  packages/frontend/src/scripts/keycode.ts
Labels: 🖥️Client, 🧪Test

#10128 enhance(e2e): more resilient version of `visit('/')`
  cypress/e2e/basic.cy.js
  cypress/support/commands.js
Labels: 🧪Test

#10156 refactor(frontend): add explicit `Promise<void>` return types in `os.ts`
  packages/frontend/src/os.ts
Labels: 🖥️Client

#10133 fix(server): DriveFile related N+1 query when call note packMany
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/core/entities/GalleryPostEntityService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/misc/is-not-null.ts
Labels: ⚙️Server

#10166 fix(server): チャンネルでミュートが正しく機能していないのを修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/channels/timeline.ts
Labels: ⚙️Server

#10163 test(backend): APIテストの復活
  cypress/e2e/api.cy.js
  packages/backend/jest.config.cjs
  packages/backend/package.json
  packages/backend/src/GlobalModule.ts
  packages/backend/src/boot/common.ts
  packages/backend/src/core/CreateNotificationService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/NoteReadService.ts
  packages/backend/src/core/chart/ChartManagementService.ts
  packages/backend/src/core/chart/charts/per-user-notes.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/ApiServerService.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/test/e2e/api-visibility.ts
  packages/backend/test/e2e/api.ts
  packages/backend/test/e2e/block.ts
  packages/backend/test/e2e/endpoints.ts
  packages/backend/test/e2e/fetch-resource.ts
  packages/backend/test/e2e/ff-visibility.ts
  packages/backend/test/e2e/mute.ts
  packages/backend/test/e2e/note.ts
  packages/backend/test/e2e/streaming.ts
  packages/backend/test/e2e/thread-mute.ts
  packages/backend/test/e2e/user-notes.ts
  packages/backend/test/utils.ts
  pnpm-lock.yaml
Labels: ⚙️Server, 🧪Test

#10114 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#10176 New Crowdin updates
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/ko-KR.yml
  locales/vi-VN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#10181 Release: 13.9.1
  CHANGELOG.md
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/ko-KR.yml
  locales/vi-VN.yml
  locales/zh-TW.yml
  package.json
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/core/entities/GalleryPostEntityService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
Labels: ⚙️Server, ‼️ wrong locales

#10190 fix(server): DriveFile related N+1 query when call note packMany (again)
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/core/entities/GalleryPostEntityService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/test/e2e/note.ts
Labels: ⚙️Server, 🧪Test

#10150 enhance(server): downloadUrlでContent-Dispositionからファイル名を取得
  packages/backend/src/core/DownloadService.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/misc/correct-filename.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/test/e2e/endpoints.ts
  packages/backend/test/unit/misc/others.ts
Labels: ⚙️Server, 🧪Test

#10191 Fix: サーバーでメール配信が無効になっている場合は設定ページにその旨を表示する
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/email.vue
Labels: 🖥️Client

#10186 enhance(server): メディアプロキシでico,bmpを読めるように
  packages/backend/package.json
  packages/backend/src/misc/is-mime-image.ts
  packages/backend/src/server/FileServerService.ts
  pnpm-lock.yaml
Labels: ⚙️Server

#10184 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/lo-LA.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#10214 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/ja-KS.yml
Labels: ‼️ wrong locales

#10222 fix(frontend): ユーザーページのバッジ表示を適切に折り返すように
  CHANGELOG.md
  packages/frontend/src/pages/user/home.vue
Labels: 🖥️Client

#10220 fix(docker): cannot build docker image on some environments
  Dockerfile
Labels: 🐛Bug

#10223 New Crowdin updates
  locales/it-IT.yml
  locales/th-TH.yml
  locales/zh-CN.yml
Labels: ‼️ wrong locales

#10218 Release: 13.9.2
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/init.sh
  .dockerignore
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  chart/templates/Deployment.yml
  chart/templates/Service.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/it-IT.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/lo-LA.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  package.json
  packages/backend/package.json
  packages/backend/src/core/DownloadService.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/core/entities/GalleryPostEntityService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/misc/correct-filename.ts
  packages/backend/src/misc/is-mime-image.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/web/boot.js
  packages/backend/test/e2e/endpoints.ts
  packages/backend/test/e2e/note.ts
  packages/backend/test/unit/misc/others.ts
  packages/frontend/src/components/MkFolder.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkSignup.vue
  packages/frontend/src/components/form/section.vue
  packages/frontend/src/pages/about-misskey.vue
  packages/frontend/src/pages/admin/roles.edit.vue
  packages/frontend/src/pages/admin/roles.role.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/clip.vue
  packages/frontend/src/pages/explore.roles.vue
  packages/frontend/src/pages/settings/email.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/store.ts
  packages/frontend/src/style.scss
  packages/frontend/src/ui/deck/channel-column.vue
  pnpm-lock.yaml
  scripts/dev.js
Labels: 🖥️Client, ⚙️Server, 🧪Test, ‼️ wrong locales

#10238 fix: 登録時のフォームにおいて送信できる条件を修正
  cypress/e2e/basic.cy.js
  packages/frontend/src/components/MkSignup.vue
Labels: 🖥️Client, 🧪Test

#10258 fix(backend): ブロックホストがない場合はINクエリを生成しない。
  packages/backend/src/server/api/endpoints/federation/instances.ts
Labels: ⚙️Server

#10249 feat: Per-user renote mute
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/migration/1665091090561-add-renote-muting.js
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/QueryService.ts
  packages/backend/src/core/entities/RenoteMutingEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/misc/schema.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/entities/RenoteMuting.ts
  packages/backend/src/models/index.ts
  packages/backend/src/models/schema/renote-muting.ts
  packages/backend/src/models/schema/user.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/StreamingApiServerService.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/notes/global-timeline.ts
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/backend/src/server/api/endpoints/notes/timeline.ts
  packages/backend/src/server/api/endpoints/renote-mute/create.ts
  packages/backend/src/server/api/endpoints/renote-mute/delete.ts
  packages/backend/src/server/api/endpoints/renote-mute/list.ts
  packages/backend/src/server/api/endpoints/users/relation.ts
  packages/backend/src/server/api/stream/channel.ts
  packages/backend/src/server/api/stream/channels/antenna.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/hashtag.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
  packages/backend/src/server/api/stream/index.ts
  packages/backend/test/e2e/block.ts
  packages/backend/test/e2e/endpoints.ts
  packages/backend/test/e2e/mute.ts
  packages/backend/test/e2e/renote-mute.ts
  packages/backend/test/utils.ts
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/scripts/get-user-menu.ts
Labels: 🖥️Client, ⚙️Server, 🧪Test

#10256 feat: Reaction acceptance
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/migration/1678164627293-per-note-reaction-acceptance.js
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/ReactionService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/misc/schema.ts
  packages/backend/src/models/entities/Note.ts
  packages/backend/src/models/schema/note.ts
  packages/backend/src/queue/processors/ExportFavoritesProcessorService.ts
  packages/backend/src/queue/processors/ExportNotesProcessorService.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/store.ts
Labels: 🖥️Client, ⚙️Server

#10267 fix: 登録フォームにおける競合状態を修正
  cypress/e2e/basic.cy.js
  packages/frontend/src/components/MkSignup.vue
  packages/frontend/src/scripts/api.ts
Labels: 🖥️Client, 🧪Test

#10268 fix: チャンネルの編集権限をチャンネル所有者とモデレーターに限定する
  packages/backend/src/server/api/endpoints/channels/update.ts
  packages/frontend/src/pages/channel.vue
Labels: 🖥️Client, ⚙️Server

#10275 フォローリクエストのUI改善
  CHANGELOG.md
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/pages/follow-requests.vue
Labels: 🖥️Client

#10247 fix(frontend): GIFバナーの復活など
  .github/workflows/test-frontend.yml
  package.json
  packages/frontend/package.json
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/directives/index.ts
  packages/frontend/test/init.ts
  packages/frontend/test/note.test.ts
  packages/frontend/test/tsconfig.json
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
Labels: 🖥️Client

#10231 fix: 登録メール送信時に重複確認を行う
  packages/backend/src/server/api/SignupApiService.ts
Labels: ⚙️Server

#10002 enhance: アカウント削除時のクライアントの挙動をいい感じにするなど
  locales/ja-JP.yml
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/endpoints/i.ts
  packages/backend/src/server/api/error.ts
  packages/frontend/src/account.ts
  packages/frontend/src/components/MkSigninDialog.vue
  packages/frontend/src/pages/settings/accounts.vue
Labels: 🖥️Client, ⚙️Server

#10270 chore(frontend): add debugger for #6864
  packages/frontend/src/components/MkDateSeparatedList.vue
  packages/frontend/src/debug.ts
Labels: 🖥️Client

#9970 fix(backend/ApPersonService): normalize empty value of `name` into an absent value
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/test/unit/activitypub.ts
Labels: ⚙️Server, 🧪Test

#10282 fix(frontend/widget): federation widgetのdata-cyも移動
  packages/frontend/src/widgets/WidgetFederation.vue
Labels: 🖥️Client

#10248 fix(frontend/MkMediaList): altメッセージのnewlineを認識
  packages/frontend/src/components/MkMediaList.vue
Labels: 🖥️Client

#10264 fix: Solve the problem of not automatically redirect to /admin/overview when accessing the /admin page for the second time
  packages/frontend/src/pages/admin/index.vue
Labels: 🖥️Client

#10281 enhance(backend): restore OpenAPI endpoints
  CHANGELOG.md
  packages/backend/assets/redoc.html
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/ServerModule.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/ApiServerService.ts
  packages/backend/src/server/api/openapi/OpenApiServerService.ts
  packages/backend/src/server/api/openapi/gen-spec.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/test/e2e/fetch-resource.ts
Labels: ⚙️Server, 🧪Test

#10239 fix(backend/DriveService): convert WebP/AVIF to WebP
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/test/e2e/endpoints.ts
  packages/backend/test/resources/with-alpha.avif
  packages/backend/test/resources/with-alpha.webp
  packages/backend/test/resources/without-alpha.avif
  packages/backend/test/resources/without-alpha.webp
  packages/backend/test/utils.ts
Labels: ⚙️Server, 🧪Test

#10284 chore(backend): fix typo in warning message
  packages/backend/src/core/activitypub/models/ApNoteService.ts
Labels: ⚙️Server

#9765 絵文字ピッカーのすべての絵文字でマウスホバー時にtitle表示されるように
  packages/frontend/src/components/MkEmojiPicker.section.vue
  packages/frontend/src/components/MkEmojiPicker.vue
Labels: 🖥️Client

#9916 ノートのドラフトをUserIdを元に保存するように
  packages/frontend/src/components/MkPostForm.vue
Labels: 🖥️Client

#10293 refactor(backend): 必要ないas anyを消去
  packages/backend/src/core/SignupService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/type.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
Labels: ⚙️Server

#10292 fix(backend/DriveService): gracely skip when getting NoSuchKey error from S3
  CHANGELOG.md
  packages/backend/src/core/DriveService.ts
  packages/backend/test/unit/DriveService.ts
Labels: ⚙️Server, 🧪Test

#10290 fix(frontend): Safariでプラグインが複数ある場合に正常に読み込まれない問題を修正
  packages/frontend/src/init.ts
Labels: 🖥️Client

#10287 enhance(server): 画像圧縮周り（主にサムネイルの仕様）の変更
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/ImageProcessingService.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/misc/is-mime-image.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/pages/user/index.photos.vue
  packages/frontend/src/scripts/media-proxy.ts
  packages/frontend/src/widgets/WidgetPhotos.vue
Labels: 🖥️Client, ⚙️Server

#10289 test(backend): 2FAのテストコード追加
  packages/backend/test/e2e/2fa.ts
Labels: ⚙️Server, 🧪Test

#10265 fix(frontend/MkSignup): prevent uncaught errors from interrupted signup
  packages/frontend/src/components/MkCaptcha.vue
  packages/frontend/src/components/MkSignup.vue
Labels: 🖥️Client

#10299 タイムラインを正常に無効化できるように
  locales/ja-JP.yml
  packages/frontend/src/ui/deck/tl-column.vue
  packages/frontend/src/widgets/WidgetTimeline.vue
Labels: 🖥️Client

#10291 fix(backend/ApRendererService): allow announces with visibility: followers
  CHANGELOG.md
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/test/e2e/note.ts
  packages/backend/test/unit/activitypub.ts
Labels: ⚙️Server, 🧪Test

#10304 パスワードリセットがおささってしまわないようにする
  locales/ja-JP.yml
  packages/frontend/src/pages/user-info.vue
Labels: 🖥️Client

#10301 fix: Do not use avif
  CHANGELOG.md
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/frontend/src/scripts/media-proxy.ts
Labels: 🖥️Client, ⚙️Server

#10312 オブジェクトストレージのEndpointに値を一度保存した後に空にし直すとエラーになるのを解消
  packages/backend/src/core/S3Service.ts
Labels: ⚙️Server

#10313 fix(frontend/XHome): fall back to user.uri if user.url does not exist
  CHANGELOG.md
  packages/frontend/src/components/global/MkAvatar.vue
  packages/frontend/src/components/index.ts
  packages/frontend/src/pages/user/home.vue
  packages/frontend/test/home.test.ts
Labels: 🖥️Client

#10298 enhance(backend): 配送先が410 Goneで応答してきた場合配送停止するように
  CHANGELOG.md
  packages/backend/src/queue/processors/DeliverProcessorService.ts
Labels: ⚙️Server

#10319 refactor: schema中のavatarBlurHash/bannerBlurHashの型を絞り込んだ
  CHANGELOG.md
  packages/backend/src/models/json-schema/user.ts
Labels: ⚙️Server

#10320 fix: クエリキャッシュ無効化時の絵文字操作エラーを解消
  CHANGELOG.md
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/server/api/endpoints/admin/emoji/add-aliases-bulk.ts
  packages/backend/src/server/api/endpoints/admin/emoji/copy.ts
  packages/backend/src/server/api/endpoints/admin/emoji/delete-bulk.ts
  packages/backend/src/server/api/endpoints/admin/emoji/delete.ts
  packages/backend/src/server/api/endpoints/admin/emoji/remove-aliases-bulk.ts
  packages/backend/src/server/api/endpoints/admin/emoji/set-aliases-bulk.ts
  packages/backend/src/server/api/endpoints/admin/emoji/set-category-bulk.ts
  packages/backend/src/server/api/endpoints/admin/emoji/update.ts
Labels: ⚙️Server

#10323 Fix #10261 ページのUIを差し替えるプラグインAPIを追加
  packages/frontend/src/pages/page.vue
  packages/frontend/src/plugin.ts
  packages/frontend/src/store.ts
Labels: 🖥️Client

#10332 feat(client): Navbar の設定項目に「プロフィール」を追加
  CHANGELOG.md
  packages/frontend/src/navbar.ts
Labels: 🖥️Client

#10254 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#10343 New Crowdin updates
  locales/it-IT.yml
Labels: ‼️ wrong locales

#10341 test(backend): Webリソースのテストコード追加
  packages/backend/test/e2e/fetch-resource.ts
  packages/backend/test/utils.ts
Labels: ⚙️Server, 🧪Test

#9753 Fix: foreignkey on reports 通報の外部キーを修正
  packages/backend/migration/1675053125067-fixforeignkeyreports.js
Labels: ⚙️Server

#10306 feat(frontend/MkUrlPreview): oEmbedのサポート
  CHANGELOG.md
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/test/init.ts
  packages/frontend/test/url-preview.test.ts
  pnpm-lock.yaml
Labels: 🖥️Client, ⚙️Server

#10345 fix: 非ログイン時に「Misskeyについて」ページから投稿フォームが出ないようにする
  CHANGELOG.md
  packages/frontend/src/pages/about-misskey.vue
Labels: 🖥️Client

#10358 test(backend): クリップのAPIテスト追加
  packages/backend/test/e2e/clips.ts
  packages/backend/test/utils.ts
Labels: ⚙️Server, 🧪Test

#10339 fix(backend/URLPreviewService): エラーでHTTP 422を出すように
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/backend/test/e2e/endpoints.ts
Labels: ⚙️Server, 🧪Test

#10326 fix: PC版設定ページでスマホ用UIが表示されるのを防ぐリダイレクトを追加
  CHANGELOG.md
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/settings/index.vue
Labels: 🖥️Client

#10366 feat: drive cleaner
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/src/server/api/endpoints/drive/files.ts
  packages/frontend/src/pages/settings/drive-cleaner.vue
  packages/frontend/src/pages/settings/drive.vue
  packages/frontend/src/router.ts
Labels: 🖥️Client, ⚙️Server

#9964 絵文字の名前に@や:が使用できる
  packages/backend/src/server/api/endpoints/admin/emoji/update.ts
Labels: ⚙️Server

#10344 fix(users/show): ユーザーが見つからなかった場合に404ステータスコードを返す
  packages/backend/src/server/api/endpoints/users/show.ts
  packages/backend/test/e2e/endpoints.ts
Labels: ⚙️Server, 🧪Test

#10356 feat(frontend): ナビゲーションバーのカスタマイズをドラッグ&ドロップで行えるようにする
  CHANGELOG.md
  packages/frontend/src/pages/settings/navbar.vue
Labels: 🖥️Client

#10369 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
Labels: ‼️ wrong locales

#10370 feat: queue force promote
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/queue/promote.ts
  packages/frontend/src/pages/admin/queue.vue
Labels: 🖥️Client, ⚙️Server

#10374 New Crowdin updates
  locales/es-ES.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#10383 Release: 13.10.1
  CHANGELOG.md
  locales/es-ES.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  package.json
  packages/frontend/src/scripts/aiscript/ui.ts
Labels: 🖥️Client, ‼️ wrong locales

#10386 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
Labels: ‼️ wrong locales

#10363 bump aws-sdk to v3 for s3
  packages/backend/package.json
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/S3Service.ts
  packages/backend/test/unit/DriveService.ts
  packages/backend/test/unit/S3Service.ts
  pnpm-lock.yaml
Labels: ⚙️Server, 🧪Test

#10039 fix: redesign cat ears
  packages/frontend/src/components/global/MkAvatar.vue
Labels: 🖥️Client

#10379 i18n: Webhook 設定画面に翻訳を追加
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/webhook.edit.vue
  packages/frontend/src/pages/settings/webhook.new.vue
  packages/frontend/src/pages/settings/webhook.vue
Labels: 🖥️Client

#10392 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/da-DK.yml
  locales/de-DE.yml
  locales/el-GR.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/hr-HR.yml
  locales/ht-HT.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/jbo-EN.yml
  locales/kab-KAB.yml
  locales/kn-IN.yml
  locales/ko-KR.yml
  locales/lo-LA.yml
  locales/nl-NL.yml
  locales/no-NO.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/si-LK.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/th-TH.yml
  locales/tr-TR.yml
  locales/ug-CN.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#10404 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#10410 aws-sdk v3 に関する仕様変更と修正
  packages/backend/src/core/S3Service.ts
Labels: ⚙️Server

#10407 New Crowdin updates
  locales/de-DE.yml
  locales/pl-PL.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales
