Repository misskey-dev/misskey, pull requests merged in 2023-04, with the labels that each got.

#10456 オブジェクトストレージの設定画面を分かりやすくする
  CHANGELOG.md
  locales/ja-JP.yml
  packages/frontend/src/pages/admin/object-storage.vue
Labels: 🖥️Client

#10420 fix: #10413
  CHANGELOG.md
  packages/frontend/src/components/global/MkAvatar.vue
  packages/frontend/src/components/global/MkPageHeader.vue
Labels: 🐛Bug, 🖥️Client

#10365 build(#10336): Storybook & Chromatic & msw
  .github/workflows/storybook.yml
  .gitignore
  CONTRIBUTING.md
  packages/frontend/.gitignore
  packages/frontend/.storybook/.gitignore
  packages/frontend/.storybook/fakes.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/.storybook/main.ts
  packages/frontend/.storybook/manager.ts
  packages/frontend/.storybook/mocks.ts
  packages/frontend/.storybook/preload-locale.ts
  packages/frontend/.storybook/preload-theme.ts
  packages/frontend/.storybook/preview-head.html
  packages/frontend/.storybook/preview.ts
  packages/frontend/.storybook/tsconfig.json
  packages/frontend/package.json
  packages/frontend/public/mockServiceWorker.js
  packages/frontend/src/components/MkAnalogClock.stories.impl.ts
  packages/frontend/src/components/MkButton.stories.impl.ts
  packages/frontend/src/components/MkCaptcha.stories.impl.ts
  packages/frontend/src/components/MkContextMenu.vue
  packages/frontend/src/components/MkMenu.vue
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/MkYouTubePlayer.vue
  packages/frontend/src/components/global/MkA.stories.impl.ts
  packages/frontend/src/components/global/MkAcct.stories.impl.ts
  packages/frontend/src/components/global/MkAcct.vue
  packages/frontend/src/components/global/MkAd.stories.impl.ts
  packages/frontend/src/components/global/MkAd.vue
  packages/frontend/src/components/global/MkAvatar.stories.impl.ts
  packages/frontend/src/components/global/MkAvatar.vue
  packages/frontend/src/components/global/MkCustomEmoji.stories.impl.ts
  packages/frontend/src/components/global/MkEllipsis.stories.impl.ts
  packages/frontend/src/components/global/MkEllipsis.vue
  packages/frontend/src/components/global/MkEmoji.stories.impl.ts
  packages/frontend/src/components/global/MkError.stories.meta.ts
  packages/frontend/src/components/global/MkLoading.stories.impl.ts
  packages/frontend/src/components/global/MkLoading.vue
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.stories.impl.ts
  packages/frontend/src/components/global/MkPageHeader.stories.impl.ts
  packages/frontend/src/components/global/MkPageHeader.tabs.stories.impl.ts
  packages/frontend/src/components/global/MkPageHeader.tabs.vue
  packages/frontend/src/components/global/MkStickyContainer.stories.impl.ts
  packages/frontend/src/components/global/MkTime.stories.impl.ts
  packages/frontend/src/components/global/MkTime.vue
  packages/frontend/src/components/global/MkUrl.stories.impl.ts
  packages/frontend/src/components/global/MkUserName.stories.impl.ts
  packages/frontend/src/components/global/RouterView.stories.impl.ts
  packages/frontend/src/index.mdx
  packages/frontend/src/pages/user/activity.following.vue
  packages/frontend/src/pages/user/activity.heatmap.vue
  packages/frontend/src/pages/user/activity.notes.vue
  packages/frontend/src/pages/user/activity.pv.vue
  packages/frontend/src/scripts/achievements.ts
  packages/frontend/src/scripts/test-utils.ts
  packages/frontend/tsconfig.json
  packages/frontend/vite.config.ts
  packages/misskey-js/package.json
  pnpm-lock.yaml
Labels: 🖥️Client

#10466 build(#10336): upgrade Storybook to v7
  packages/frontend/.storybook/generate.tsx
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: 🖥️Client

#10457 迷惑になる可能性のある投稿について、設定中の公開範囲を考慮するように
  packages/frontend/src/components/MkPostForm.vue
Labels: 🖥️Client

#10442 enhance(client): 投稿フォームをちょっといい感じに
  locales/ja-JP.yml
  packages/frontend/src/components/MkDialog.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteHeader.vue
  packages/frontend/src/components/MkNotePreview.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormAttaches.vue
  packages/frontend/src/components/MkVisibilityPicker.vue
  packages/frontend/src/local-storage.ts
  packages/frontend/src/os.ts
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/store.ts
  packages/frontend/src/ui/deck/channel-column.vue
  packages/frontend/test/note.test.ts
  packages/frontend/test/url-preview.test.ts
Labels: 🖥️Client

#10458 fix: webhook delivery content-type (#9823)
  packages/backend/src/queue/processors/WebhookDeliverProcessorService.ts
Labels: ⚙️Server

#10483 fix: 通知インジケータが光りっぱなしになる問題を修正
  packages/backend/src/core/NotificationService.ts
  packages/backend/src/server/api/endpoints/notifications/mark-all-as-read.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/streaming.ts
Labels: ⚙️Server

#10481 feat(#8149): respect nsfw settings on gallery list
  packages/frontend/.storybook/fakes.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/src/components/MkGalleryPostPreview.stories.impl.ts
  packages/frontend/src/components/MkGalleryPostPreview.vue
  packages/frontend/src/components/global/MkAcct.stories.impl.ts
  packages/frontend/src/components/global/MkAvatar.stories.impl.ts
  packages/frontend/src/components/global/MkUrl.stories.impl.ts
  packages/frontend/src/components/global/MkUserName.stories.impl.ts
Labels: 🖥️Client

#10474 refactor(frontend): setup syntax to menubar of Classic UI
  packages/frontend/src/ui/classic.header.vue
  packages/frontend/src/ui/classic.sidebar.vue
Labels: 🖥️Client

#10418 fix #10417 zipで絵文字をインポートする際に絵文字名のvalidationを行うように
  packages/backend/src/queue/processors/ImportCustomEmojisProcessorService.ts
Labels: ⚙️Server

#10430 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/ru-RU.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#10494 ci(#10336): use TurboSnap
  .github/workflows/storybook.yml
  package.json
  packages/frontend/.storybook/.gitignore
  packages/frontend/.storybook/changes.ts
  packages/frontend/.storybook/main.ts
  packages/frontend/.storybook/tsconfig.json
  packages/frontend/package.json
  packages/frontend/src/components/global/MkA.stories.impl.ts
  packages/frontend/src/components/global/MkPageHeader.stories.impl.ts
  packages/frontend/src/style.scss
  pnpm-lock.yaml
Labels: 🖥️Client

#10508 feat: add minimize/Fold button for windows
  CHANGELOG.md
  locales/ja-JP.yml
  packages/frontend/src/components/MkWindow.vue
Labels: 🖥️Client

#10507 feat: account migration
  CHANGELOG.md
  locales/en-US.yml
  locales/ja-JP.yml
  packages/backend/src/core/AccountMoveService.ts
  packages/backend/src/core/AccountUpdateService.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/activitypub/type.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/entities/User.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/i/known-as.ts
  packages/backend/src/server/api/endpoints/i/move.ts
  packages/frontend/src/components/MkAccountMoved.vue
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/pages/settings/migration.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/router.ts
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: 🖥️Client, ⚙️Server, ‼️ wrong locales

#10513 chore: disable sampling for cat ears
  packages/frontend/src/components/global/MkAvatar.vue
Labels: 🖥️Client

#10514 fix: retrieve remote user again when migrating
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/server/api/endpoints/i/move.ts
Labels: ⚙️Server

#10519 chore: local test が redis version 起因で落ちるのを修正
  packages/backend/test/docker-compose.yml
Labels: ⚙️Server, 🧪Test

#10512 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/da-DK.yml
  locales/de-DE.yml
  locales/el-GR.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/hr-HR.yml
  locales/ht-HT.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/jbo-EN.yml
  locales/kab-KAB.yml
  locales/kn-IN.yml
  locales/ko-KR.yml
  locales/lo-LA.yml
  locales/nl-NL.yml
  locales/no-NO.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/si-LK.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/th-TH.yml
  locales/tr-TR.yml
  locales/ug-CN.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#10477 fix(frontend): URLに他のクエリがあるときにもZen UIが適用されるように
  packages/frontend/src/init.ts
Labels: 🖥️Client

#10412 広告・お知らせが新規登録時に増殖しないように
  packages/frontend/src/pages/admin/ads.vue
  packages/frontend/src/pages/admin/announcements.vue
Labels: 🖥️Client

#10534 fix(client): PWA時の絵文字ピッカーの位置をホームバーに重ならないように調整
  CHANGELOG.md
  packages/frontend/src/components/MkEmojiPicker.vue
Labels: 🖥️Client

#10533 fix(server): IdService.parseを全てのidタイプに対応させるように
  packages/backend/src/core/IdService.ts
  packages/backend/src/misc/id/aid.ts
  packages/backend/src/misc/id/meid.ts
  packages/backend/src/misc/id/meidg.ts
  packages/backend/src/misc/id/object-id.ts
  packages/backend/src/misc/id/ulid.ts
  packages/backend/test/unit/misc/id.ts
Labels: ⚙️Server, 🧪Test

#10539 enhance(backend): redis から取得できない過去のチャンネル投稿はDBから取得
  packages/backend/src/server/api/endpoints/channels/timeline.ts
Labels: ⚙️Server

#10538 fix(client): リスト、クリップが無限ロードされる現象の解決
  CHANGELOG.md
  packages/frontend/src/pages/my-clips/index.vue
  packages/frontend/src/pages/my-lists/index.vue
Labels: 🖥️Client

#10522 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/sv-SE.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#10529 fix(server): リアクションできない問題をとりあえず修正
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/misc/cache.ts
Labels: ⚙️Server

#10543 Release: 13.11.1
  CHANGELOG.md
  locales/de-DE.yml
  locales/en-US.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/sv-SE.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  package.json
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/FederatedInstanceService.ts
  packages/backend/src/core/IdService.ts
  packages/backend/src/core/activitypub/ApDeliverManagerService.ts
  packages/backend/src/misc/cache.ts
  packages/backend/src/misc/id/aid.ts
  packages/backend/src/misc/id/meid.ts
  packages/backend/src/misc/id/meidg.ts
  packages/backend/src/misc/id/object-id.ts
  packages/backend/src/misc/id/ulid.ts
  packages/backend/src/server/api/endpoints/channels/timeline.ts
  packages/backend/test/unit/misc/id.ts
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/directives/user-preview.ts
  packages/frontend/src/pages/channel-editor.vue
  packages/frontend/src/pages/channels.vue
  packages/frontend/src/pages/explore.users.vue
  packages/frontend/src/pages/my-clips/index.vue
  packages/frontend/src/pages/my-lists/index.vue
Labels: 🖥️Client, ⚙️Server, 🧪Test, ‼️ wrong locales

#10517 test: add `/@:acct` stories
  packages/frontend/.storybook/fakes.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/src/pages/user/home.stories.impl.ts
Labels: 🖥️Client

#10560 MkContainer.vue i18n 変数をtemplateから見えるように
  packages/frontend/src/components/MkContainer.vue
Labels: 🖥️Client

#10559 fix issue #10195 設定のバックアップ の「削除」の文字がない
  packages/frontend/src/pages/settings/preferences-backups.vue
Labels: 🖥️Client

#10573 カスタム絵文字のキャッシュ時に"{}"が入ってしまう問題を修正
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/misc/cache.ts
Labels: ⚙️Server

#10555 fix #10554 チャンネルの検索用ページとAPIの追加
  locales/ja-JP.yml
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/channels/search.ts
  packages/frontend/src/components/MkChannelList.vue
  packages/frontend/src/pages/channels.vue
Labels: 🖥️Client, ⚙️Server

#10570 sw: なんかもうめっちゃ変えた
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/assets/tabler-badges/medal.png
  packages/backend/src/core/NotificationService.ts
  packages/backend/src/core/PushNotificationService.ts
  packages/frontend/src/ui/_common_/sw-inject.ts
  packages/sw/src/scripts/create-notification.ts
  packages/sw/src/scripts/operations.ts
  packages/sw/src/sw.ts
  packages/sw/src/types.ts
Labels: 🖥️Client, ⚙️Server

#10578 Release: 13.11.2
  CHANGELOG.md
  locales/de-DE.yml
  locales/en-US.yml
  locales/id-ID.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/lo-LA.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  package.json
  packages/backend/assets/tabler-badges/medal.png
  packages/backend/src/GlobalModule.ts
  packages/backend/src/core/AntennaService.ts
  packages/backend/src/core/CacheService.ts
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/GlobalEventService.ts
  packages/backend/src/core/MetaService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/NotificationService.ts
  packages/backend/src/core/PushNotificationService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/WebhookService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/misc/cache.ts
  packages/backend/src/server/api/ApiServerService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/StreamingApiServerService.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/channels/search.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/frontend/.storybook/fakes.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/src/components/MkChannelList.vue
  packages/frontend/src/components/MkContainer.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/global/MkAd.vue
  packages/frontend/src/pages/channels.vue
  packages/frontend/src/pages/gallery/index.vue
  packages/frontend/src/pages/settings/apps.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/pages/settings/webhook.vue
  packages/frontend/src/pages/user/home.stories.impl.ts
  packages/frontend/src/store.ts
  packages/frontend/src/ui/_common_/sw-inject.ts
  packages/frontend/src/ui/classic.vue
  packages/frontend/src/ui/universal.vue
  packages/frontend/src/ui/universal.widgets.vue
  packages/sw/build.js
  packages/sw/package.json
  packages/sw/src/scripts/create-notification.ts
  packages/sw/src/scripts/operations.ts
  packages/sw/src/sw.ts
  packages/sw/src/types.ts
  pnpm-lock.yaml
Labels: 🖥️Client, ⚙️Server, ‼️ wrong locales

#10544 feat: queueing bulk follow/unfollow and block/unblock
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/UserBlockingService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/UserListService.ts
  packages/backend/src/queue/DbQueueProcessorsService.ts
  packages/backend/src/queue/QueueProcessorModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/RelationshipQueueProcessorsService.ts
  packages/backend/src/queue/processors/DeleteDriveFilesProcessorService.ts
  packages/backend/src/queue/processors/ExportBlockingProcessorService.ts
  packages/backend/src/queue/processors/ExportFavoritesProcessorService.ts
  packages/backend/src/queue/processors/ExportFollowingProcessorService.ts
  packages/backend/src/queue/processors/ExportMutingProcessorService.ts
  packages/backend/src/queue/processors/ExportNotesProcessorService.ts
  packages/backend/src/queue/processors/ExportUserListsProcessorService.ts
  packages/backend/src/queue/processors/ImportBlockingProcessorService.ts
  packages/backend/src/queue/processors/ImportFollowingProcessorService.ts
  packages/backend/src/queue/processors/ImportMutingProcessorService.ts
  packages/backend/src/queue/processors/RelationshipProcessorService.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/api/endpoints/admin/federation/remove-all-following.ts
  packages/backend/src/server/api/endpoints/admin/suspend-user.ts
Labels: ⚙️Server

#8105 refactor: サウンド関連の設定をpizzaxに移行
  packages/frontend/src/components/MkMediaBanner.vue
  packages/frontend/src/pages/settings/sounds.vue
  packages/frontend/src/scripts/sound.ts
  packages/frontend/src/store.ts
Labels: 🖥️Client

#10590 feat(server): Misskey Webでユーザーフレンドリーなエラーページを出す
  CHANGELOG.md
  gulpfile.js
  packages/backend/src/server/ServerModule.ts
  packages/backend/src/server/web/ClientLoggerService.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/error.css
  packages/backend/src/server/web/views/error.pug
Labels: ⚙️Server

#10546 test(backend): ユーザーが絡むAPIのテスト追加
  packages/backend/test/e2e/users.ts
  packages/backend/test/utils.ts
Labels: ⚙️Server, 🧪Test

#10600 fix(ap): Use unique identifier for each follow request
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/server/ActivityPubServerService.ts
Labels: ⚙️Server

#10605 fix(server): アンテナとロールTLのuntil/sinceプロパティが動くように
  packages/backend/src/server/api/endpoints/antennas/notes.ts
  packages/backend/src/server/api/endpoints/roles/notes.ts
Labels: ⚙️Server

#10585 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#10475 test(#10336): add `components/Mk[A-B].*` stories
  CONTRIBUTING.md
  packages/frontend/.storybook/generate.tsx
  packages/frontend/.storybook/mocks.ts
  packages/frontend/.storybook/preview-head.html
  packages/frontend/.vscode/storybook.code-snippets
  packages/frontend/package.json
  packages/frontend/src/components/MkAbuseReport.stories.impl.ts
  packages/frontend/src/components/MkAbuseReportWindow.stories.impl.ts
  packages/frontend/src/components/MkAccountMoved.stories.impl.ts
  packages/frontend/src/components/MkAccountMoved.vue
  packages/frontend/src/components/MkAchievements.stories.impl.ts
  packages/frontend/src/components/MkAnalogClock.stories.impl.ts
  packages/frontend/src/components/MkAnalogClock.vue
  packages/frontend/src/components/MkAsUi.stories.impl.ts
  packages/frontend/src/components/MkAutocomplete.stories.impl.ts
  packages/frontend/src/components/MkAvatars.stories.impl.ts
  packages/frontend/src/components/MkButton.stories.impl.ts
  packages/frontend/src/components/global/MkError.stories.impl.ts
  packages/frontend/src/components/global/MkTime.vue
  packages/frontend/src/pages/user/home.vue
  pnpm-lock.yaml
Labels: 🖥️Client

#10516 feat: 自分用メモ機能
  locales/ja-JP.yml
  packages/backend/migration/1680702787050-UserMemo.js
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/entities/UserMemo.ts
  packages/backend/src/models/index.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/users/update-memo.ts
  packages/backend/test/e2e/endpoints.ts
  packages/frontend/src/pages/user/home.vue
Labels: 🖥️Client, ⚙️Server, 🧪Test

#9999 fix: #9998 MkNote.vue, MkNoteDetailed.vue で、特定のMFMによってフッターのボタンが押せなくなる
  packages/frontend/src/components/MkNote.vue
Labels: 🖥️Client

#10157 refactor: init.ts周りのeslintエラーと型の修正
  packages/frontend/src/config.ts
  packages/frontend/src/init.ts
  packages/frontend/src/local-storage.ts
Labels: 🖥️Client

#10613 fix(#10609): remove isChromatic on real build
  packages/frontend/.storybook/main.ts
  packages/frontend/package.json
  packages/frontend/src/components/global/MkTime.vue
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
Labels: 🖥️Client

#10624 test(backend): jestを治す（#10516 と 5cac151 を取り込む）
  packages/backend/test/e2e/endpoints.ts
  packages/backend/test/e2e/users.ts
Labels: ⚙️Server, 🧪Test

#10630 fix(server): Force the extention of exported file
  CHANGELOG.md
  packages/backend/src/core/DriveService.ts
  packages/backend/src/queue/processors/ExportBlockingProcessorService.ts
  packages/backend/src/queue/processors/ExportFavoritesProcessorService.ts
  packages/backend/src/queue/processors/ExportFollowingProcessorService.ts
  packages/backend/src/queue/processors/ExportMutingProcessorService.ts
  packages/backend/src/queue/processors/ExportNotesProcessorService.ts
  packages/backend/src/queue/processors/ExportUserListsProcessorService.ts
Labels: ⚙️Server

#10335 カスタム絵文字の検索を絵文字ピッカー使用できるように
  packages/backend/src/server/api/endpoints/admin/emoji/list.ts
  packages/frontend/src/pages/about.emojis.vue
Labels: 🖥️Client, ⚙️Server

#10445 fix(client): cat ears are clipped in MkReactionsViewer
  packages/frontend/src/components/MkReactionsViewer.details.vue
Labels: 🖥️Client

#10478 feat(client): データセーバーモードの追加
  CHANGELOG.md
  locales/ja-JP.yml
  packages/frontend/src/components/MkImgWithBlurhash.vue
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/store.ts
Labels: 🖥️Client

#10452 enhance(client): 1枚だけのメディアリストの画像のアスペクト比を画像に応じて縦長にする
  locales/ja-JP.yml
  packages/frontend/src/components/MkImgWithBlurhash.vue
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/MkMediaList.vue
  packages/frontend/src/components/MkRadio.vue
  packages/frontend/src/components/MkRadios.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/store.ts
Labels: 🖥️Client

#10643 fix(backend): アバターとバナーがリセットできない
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/test/e2e/users.ts
Labels: ⚙️Server, 🧪Test

#10662 fix : use channels/my-favorites on deck/channel-column/setChannel
  packages/frontend/src/ui/deck/channel-column.vue
Labels: 🖥️Client

#10672 FIX: フォロー中のボタンに重なる「フォロー解除」の文字色を変更
  packages/frontend/src/components/MkFollowButton.vue
Labels: 🖥️Client

#10671 カスタム絵文字のライセンスを一括でできるように
  CHANGELOG.md
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/emoji/set-license-bulk.ts
  packages/frontend/src/pages/custom-emojis-manager.vue
Labels: 🖥️Client, ⚙️Server

#10660 feat: Server rules
  CHANGELOG.md
  cypress/e2e/basic.cy.js
  locales/ja-JP.yml
  packages/backend/migration/1681400427971-serverRules.js
  packages/backend/src/models/entities/Meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/src/components/MkFolder.vue
  packages/frontend/src/components/MkModal.vue
  packages/frontend/src/components/MkModalWindow.vue
  packages/frontend/src/components/MkSignup.vue
  packages/frontend/src/components/MkSignupDialog.form.vue
  packages/frontend/src/components/MkSignupDialog.rules.stories.impl.ts
  packages/frontend/src/components/MkSignupDialog.rules.vue
  packages/frontend/src/components/MkSignupDialog.vue
  packages/frontend/src/components/MkSwitch.vue
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/admin/moderation.vue
  packages/frontend/src/pages/admin/server-rules.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/frontend/src/router.ts
  packages/frontend/src/store.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/frontend:test

#10677 Role timeline setting
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/migration/1681870960239-RoleTLSetting.js
  packages/backend/src/core/entities/RoleEntityService.ts
  packages/backend/src/models/entities/Role.ts
  packages/backend/src/server/api/endpoints/admin/roles/create.ts
  packages/backend/src/server/api/endpoints/admin/roles/update.ts
  packages/backend/src/server/api/endpoints/roles/notes.ts
  packages/frontend/src/pages/admin/roles.edit.vue
  packages/frontend/src/pages/admin/roles.editor.vue
Labels: packages/frontend, packages/backend

#10680 fix: ドライブのファイルアップロードでサーバーが413を返した場合にエラーメッセージを表示
  locales/en-US.yml
  locales/ja-JP.yml
  packages/frontend/src/scripts/upload.ts
Labels: packages/frontend

#10712 enhance(server): 環境変数MISSKEY_CONFIG_YMLでdefault.ymlを任意のymlに変更可能に
  CHANGELOG.md
  packages/backend/src/config.ts
Labels: packages/backend

#10686 [fix] .wav .flac ファイルを再生可能にする
  CHANGELOG.md
  packages/backend/src/const.ts
  packages/backend/src/core/FileInfoService.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/test/resources/kick_gaba7.aac
  packages/backend/test/resources/kick_gaba7.flac
  packages/backend/test/resources/kick_gaba7.mp3
  packages/backend/test/resources/kick_gaba7.wav
  packages/backend/test/resources/kick_gaba7.webm
  packages/backend/test/unit/FileInfoService.ts
  packages/frontend/src/const.ts
Labels: packages/frontend, packages/backend, packages/backend:test

#10718 fix(play preset): タイムラインプリセットでリノートなどがあるときにエラーになる問題を修正
  packages/frontend/src/pages/flash/flash-edit.vue
Labels: packages/frontend

#10719 fix #10706 メール送信テスト時に宛先が空のときは送れないようにする
  packages/frontend/src/pages/admin/email-settings.vue
Labels: packages/frontend

#10725 fix(backend): `alsoKnownAs`の誤った定義を修正
  packages/backend/src/models/json-schema/user.ts
Labels: packages/backend

#10500 feat: make `MkImgWithBlurhash` transitionable
  packages/frontend/src/components/MkGalleryPostPreview.stories.impl.ts
  packages/frontend/src/components/MkGalleryPostPreview.vue
  packages/frontend/src/components/MkImgWithBlurhash.vue
Labels: packages/frontend

#10717 enhance(dev): non-production環境でhttpサーバー間でもユーザー、ノートの連合が可能なように
  CONTRIBUTING.md
  packages/backend/src/core/WebfingerService.ts
  packages/backend/src/core/activitypub/models/ApImageService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/misc/check-https.ts
Labels: packages/backend

#10684 fix: remove-all-followings endpoint
  packages/backend/src/server/api/endpoints/admin/federation/remove-all-following.ts
Labels: packages/backend

#10729 fix(frontend): ロールのタイトルのバグを解決、Reactivity Transformで型エラーを出さないように
  locales/ja-JP.yml
  packages/frontend/package.json
  packages/frontend/src/pages/role.vue
  packages/frontend/tsconfig.json
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
Labels: packages/frontend

#10728 fix(backend): サーバーメトリクスのメモリ使用率が不正確になることがある不具合の修正
  CHANGELOG.md
  packages/backend/src/daemons/ServerStatsService.ts
Labels: packages/backend
