Repository misskey-dev/misskey, pull requests merged in 2023-07, with the labels that each got.

#10966 perf(frontend): MkImgWithBlurhashでblurhash描画に使うcanvasは再利用するようにする
  packages/frontend/src/components/MkImgWithBlurhash.vue
  packages/frontend/src/components/global/MkAvatar.vue
  packages/frontend/src/workers/draw-blurhash.ts
Labels: packages/frontend

#11075 fix(frontend): sparkle内にリンクを入れるとクリック不能になる問題の修正
  CHANGELOG.md
  packages/frontend/src/components/MkSparkle.vue
Labels: packages/frontend

#11091 perf(backend): JSON.parse の呼び出しを削減する
  CHANGELOG.md
  packages/backend/src/server/api/StreamingApiServerService.ts
Labels: packages/backend

#10981 perf(frontend): use setInterval instead of setTimeout chain in MkTime
  packages/frontend/src/components/global/MkTime.vue
Labels: packages/frontend

#11114 perf(backend): Use addBulk to add deliver queues
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/activitypub/ApDeliverManagerService.ts
Labels: packages/backend

#11096 refactor: ApDeliverManagerService.tsの型とJSDocを適切に置き換え
  packages/backend/src/core/activitypub/ApDeliverManagerService.ts
Labels: packages/backend

#11104 feat(frontend): deck UIのカラムからアンテナ、リストの編集画面を開けるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/ui/deck/antenna-column.vue
  packages/frontend/src/ui/deck/list-column.vue
Labels: packages/frontend

#11092 feat(frontend): allow cropping images on drive
  packages/frontend/src/components/MkCropperDialog.vue
  packages/frontend/src/components/MkDrive.file.vue
  packages/frontend/src/components/MkDrive.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormAttaches.vue
  packages/frontend/src/os.ts
  packages/frontend/src/scripts/get-drive-file-menu.ts
Labels: packages/frontend

#11123 refactor(`ApDbResolverService.ts`): URLを扱う複雑な正規表現をURLインターフェイスで置き換え
  packages/backend/src/core/activitypub/ApDbResolverService.ts
Labels: packages/backend

#11127 feat(frontend): 画像を動画と同様に簡単に隠せるように
  CHANGELOG.md
  packages/frontend/src/components/MkMediaImage.vue
Labels: packages/frontend

#11125 chore(backend): fix typo in MkImgWithBlurhash.vue
  packages/frontend/src/components/MkImgWithBlurhash.vue
Labels: packages/frontend

#11108 エスケープせずにDescriptionを出力、Update info-card.pug
  packages/backend/src/server/web/views/info-card.pug
Labels: packages/backend

#11131 refactor(backend): ノート削除時の`findCascadingNotes`の処理を整理
  packages/backend/src/core/NoteDeleteService.ts
Labels: packages/backend

#11138 refactor(frontend): fix enum types in scripts/form
  packages/frontend/src/scripts/form.ts
Labels: packages/frontend

#11150 feat: webp convert @frontend
  packages/frontend/src/scripts/upload/compress-config.ts
  packages/frontend/src/scripts/upload/isWebpSupported.ts
Labels: packages/frontend

#11166 chore: collapse renote of my note
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#11128 perf(backend): Improve performance of FetchInstanceMetadata
  CHANGELOG.md
  packages/backend/src/core/AppLockService.ts
  packages/backend/src/core/FetchInstanceMetadataService.ts
Labels: packages/backend

#11109 fix(backend): Fix memory leak while loading NSFW model
  CHANGELOG.md
  packages/backend/package.json
  packages/backend/src/core/AiService.ts
  pnpm-lock.yaml
Labels: packages/backend

#10095 広告の曜日を設定できるように
  locales/ja-JP.yml
  packages/backend/migration/1677054292210-ad4.js
  packages/backend/src/models/entities/Ad.ts
  packages/backend/src/server/api/endpoints/admin/ad/create.ts
  packages/backend/src/server/api/endpoints/admin/ad/update.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/frontend/src/pages/admin/ads.vue
Labels: packages/frontend, packages/backend

#11067 refactor(backend): `core/activitypub/models`
  packages/backend/src/core/activitypub/models/ApImageService.ts
  packages/backend/src/core/activitypub/models/ApMentionService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/activitypub/models/ApQuestionService.ts
  packages/backend/src/core/activitypub/models/tag.ts
  packages/backend/src/misc/check-https.ts
Labels: packages/backend

#11035 fix(backend): ジョブキュー再試行時のタイミングずれによるエラーを抑制
  packages/backend/src/server/api/endpoints/admin/queue/promote.ts
Labels: packages/backend

#10973 fix: 非ログイン時にクレデンシャルが必要なページに行くとエラーが出る問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/nirax.ts
  packages/frontend/src/pages/not-found.vue
  packages/frontend/src/router.ts
Labels: packages/frontend

#11184 fix(frontend): search user with trailing space
  packages/backend/src/server/api/endpoints/users/search.ts
  packages/backend/src/server/api/endpoints/users/show.ts
  packages/frontend/src/pages/search.user.vue
  packages/frontend/src/scripts/lookup.ts
Labels: packages/frontend, packages/backend

#11187 fix: フォルダーのページネーションが機能しない
  CHANGELOG.md
  packages/frontend/src/components/MkDrive.vue
Labels: packages/frontend

#11189 feat: フォルダーやファイルでもIDをコピーできるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkDrive.folder.vue
  packages/frontend/src/scripts/get-drive-file-menu.ts
Labels: packages/frontend

#11173 Add unit test for FetchInstanceMetadataService
  packages/backend/test/unit/FetchInstanceMetadataService.ts
Labels: packages/backend, packages/backend:test

#11159 fix: add suuport Japanese message of errors.
  packages/backend/src/misc/is-duplicate-key-value-error.ts
Labels: packages/backend

#11076 perf(backend): Reduce memory usage of MemoryKVCache
  packages/backend/src/core/CacheService.ts
  packages/backend/src/misc/cache.ts
Labels: packages/backend

#10988 fix(backend): Remove Meilisearch index when notes are deleted
  packages/backend/src/core/NoteDeleteService.ts
  packages/backend/src/core/SearchService.ts
  packages/backend/src/queue/processors/DeleteAccountProcessorService.ts
Labels: packages/backend

#11200 refactor(backend): skip fetching notes when the data is same-origin
  CHANGELOG.md
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/test/misc/mock-resolver.ts
  packages/backend/test/unit/activitypub.ts
Labels: packages/backend, packages/backend:test

#11204 refactor(locales, sw): use es module
  gulpfile.mjs
  locales/generateDTS.js
  locales/index.js
  locales/package.json
  packages/frontend/.storybook/changes.ts
  packages/frontend/.storybook/main.ts
  packages/frontend/.storybook/package.json
  packages/frontend/.storybook/preload-locale.ts
  packages/frontend/.storybook/preload-theme.ts
  packages/frontend/.storybook/preview.ts
  packages/frontend/.storybook/tsconfig.json
  packages/sw/.eslintrc.cjs
  packages/sw/build.js
  packages/sw/package.json
Labels: packages/sw

#11205 feat: プロフィールURLをコピー ボタンを追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/scripts/get-user-menu.ts
Labels: packages/frontend

#11177 fix(frontend): use system-ui for system font
  CHANGELOG.md
  packages/frontend/src/style.scss
Labels: packages/frontend

#11214 style: fix lint failure
  packages/frontend/src/scripts/get-user-menu.ts
Labels: packages/frontend

#11211 fix(frontend): 画面ビューワをタップした場合、マウスクリックと同様に画像ビューワを閉じるように
  CHANGELOG.md
  packages/frontend/src/components/MkMediaList.vue
Labels: packages/frontend

#11218 feat: フォローやお気に入り登録をしていないチャンネルを開く時は概要ページを開くように
  CHANGELOG.md
  packages/frontend/src/pages/channel.vue
Labels: packages/frontend

#11206 feat: ユーザーをcontextmenuからアンテナに追加できるようになど
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/cache.ts
  packages/frontend/src/components/MkAvatars.vue
  packages/frontend/src/pages/my-antennas/create.vue
  packages/frontend/src/pages/my-antennas/edit.vue
  packages/frontend/src/pages/my-antennas/index.vue
  packages/frontend/src/pages/my-lists/index.vue
  packages/frontend/src/scripts/cache.ts
  packages/frontend/src/scripts/get-user-menu.ts
Labels: packages/frontend

#11236 fix(backend): fix fetchInstanceMetadata error
  packages/backend/src/core/FetchInstanceMetadataService.ts
Labels: packages/backend

#11224 refactor(backend): 存在確認の`findOneBy`を`exist`に置き換え
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/NoteReadService.ts
  packages/backend/src/core/SignupService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/entities/ChannelEntityService.ts
  packages/backend/src/core/entities/ClipEntityService.ts
  packages/backend/src/core/entities/FlashEntityService.ts
  packages/backend/src/core/entities/GalleryPostEntityService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/core/entities/PageEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoints/admin/promo/create.ts
  packages/backend/src/server/api/endpoints/admin/roles/update.ts
  packages/backend/src/server/api/endpoints/auth/accept.ts
  packages/backend/src/server/api/endpoints/blocking/create.ts
  packages/backend/src/server/api/endpoints/blocking/delete.ts
  packages/backend/src/server/api/endpoints/clips/add-note.ts
  packages/backend/src/server/api/endpoints/clips/favorite.ts
  packages/backend/src/server/api/endpoints/drive/files/check-existence.ts
  packages/backend/src/server/api/endpoints/flash/like.ts
  packages/backend/src/server/api/endpoints/following/create.ts
  packages/backend/src/server/api/endpoints/following/delete.ts
  packages/backend/src/server/api/endpoints/gallery/posts/like.ts
  packages/backend/src/server/api/endpoints/i/import-antennas.ts
  packages/backend/src/server/api/endpoints/i/read-announcement.ts
  packages/backend/src/server/api/endpoints/i/revoke-token.ts
  packages/backend/src/server/api/endpoints/mute/create.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/endpoints/notes/favorites/create.ts
  packages/backend/src/server/api/endpoints/pages/like.ts
  packages/backend/src/server/api/endpoints/promo/read.ts
  packages/backend/src/server/api/endpoints/users/followers.ts
  packages/backend/src/server/api/endpoints/users/following.ts
  packages/backend/src/server/api/endpoints/users/lists/create-from-public.ts
  packages/backend/src/server/api/endpoints/users/lists/favorite.ts
  packages/backend/src/server/api/endpoints/users/lists/push.ts
  packages/backend/src/server/api/endpoints/users/lists/show.ts
  packages/backend/src/server/api/endpoints/users/lists/unfavorite.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
Labels: packages/backend

#11242 オフライン時の画面にリロードボタンを追加
  CHANGELOG.md
  packages/sw/src/sw.ts
Labels: packages/sw

#11250 fix(frontend): typo in custom emojis manager
  packages/frontend/src/pages/custom-emojis-manager.vue
Labels: packages/frontend

#11262 fix(storybook): solve test failures
  packages/frontend/src/components/global/MkA.stories.impl.ts
  packages/frontend/src/components/global/MkAd.stories.impl.ts
Labels: packages/frontend

#11247 refactor(backend): `core/activitypub`
  packages/backend/src/core/activitypub/ApAudienceService.ts
  packages/backend/src/core/activitypub/ApDbResolverService.ts
  packages/backend/src/core/activitypub/ApDeliverManagerService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/ApMfmService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/core/activitypub/LdSignatureService.ts
  packages/backend/src/core/activitypub/misc/contexts.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/type.ts
  packages/backend/src/server/ActivityPubServerService.ts
Labels: packages/backend

#11255 fix(frontend): MkAsUi: allow non-center container align
  packages/frontend/src/components/MkAsUi.vue
Labels: packages/frontend

#11234 現在閲覧中のURLを取得するプロパティを追加
  CHANGELOG.md
  packages/frontend/src/scripts/aiscript/api.ts
Labels: packages/frontend

#11273 refactor: 非推奨な機能である`substr`を`substring`に置き換え
  packages/backend/src/boot/master.ts
  packages/backend/src/core/chart/core.ts
  packages/backend/src/misc/acct.ts
  packages/frontend/src/components/MkDrive.file.vue
  packages/frontend/src/components/MkLink.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/MkUserPopup.vue
  packages/frontend/src/components/global/MkCustomEmoji.vue
  packages/frontend/src/components/global/i18n.ts
  packages/frontend/src/pages/admin/overview.queue.vue
  packages/frontend/src/pages/admin/overview.vue
  packages/frontend/src/pages/admin/queue.chart.vue
  packages/frontend/src/scripts/autocomplete.ts
  packages/frontend/src/scripts/gen-search-query.ts
  packages/frontend/src/scripts/lookup.ts
  packages/frontend/src/scripts/theme-editor.ts
  packages/frontend/src/scripts/theme.ts
  packages/frontend/src/widgets/WidgetJobQueue.vue
  packages/frontend/src/widgets/server-metric/cpu-mem.vue
  packages/frontend/src/widgets/server-metric/net.vue
  packages/misskey-js/src/acct.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#11274 refactor: 可読性のため一部で`Array.prototype.at`を使うように
  packages/backend/src/core/chart/core.ts
  packages/backend/src/misc/prelude/array.ts
  packages/backend/src/queue/processors/CleanRemoteFilesProcessorService.ts
  packages/backend/src/queue/processors/DeleteAccountProcessorService.ts
  packages/backend/src/queue/processors/DeleteDriveFilesProcessorService.ts
  packages/backend/src/queue/processors/ExportBlockingProcessorService.ts
  packages/backend/src/queue/processors/ExportFavoritesProcessorService.ts
  packages/backend/src/queue/processors/ExportFollowingProcessorService.ts
  packages/backend/src/queue/processors/ExportMutingProcessorService.ts
  packages/backend/src/queue/processors/ExportNotesProcessorService.ts
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/test/utils.ts
  packages/frontend/src/components/MkDrive.vue
  packages/frontend/src/components/MkMiniChart.vue
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/scripts/array.ts
  packages/frontend/src/widgets/server-metric/cpu-mem.vue
  packages/frontend/src/widgets/server-metric/net.vue
Labels: packages/frontend, packages/backend, packages/backend:test

#11195 enhance: 招待機能の改善
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1688720440658-refactor-invite-system.js
  packages/backend/migration/1688880985544-add-index-to-relations.js
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/entities/InviteCodeEntityService.ts
  packages/backend/src/misc/generate-invite-code.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/entities/RegistrationTicket.ts
  packages/backend/src/models/json-schema/invite-code.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/invite/create.ts
  packages/backend/src/server/api/endpoints/admin/invite/list.ts
  packages/backend/src/server/api/endpoints/invite/create.ts
  packages/backend/src/server/api/endpoints/invite/delete.ts
  packages/backend/src/server/api/endpoints/invite/limit.ts
  packages/backend/src/server/api/endpoints/invite/list.ts
  packages/frontend/.storybook/fakes.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/src/components/MkInviteCode.stories.impl.ts
  packages/frontend/src/components/MkInviteCode.vue
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/admin/invites.vue
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/invite.vue
  packages/frontend/src/router.ts
  packages/frontend/src/ui/_common_/common.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#11282 feat: MeilisearchにIndexするノートの範囲を設定できるように
  .config/example.yml
  packages/backend/src/config.ts
  packages/backend/src/core/SearchService.ts
Labels: packages/backend

#11281 fix(frontend): Android環境で通知音量を0にしても音が鳴っているかのように振る舞う問題の修正
  packages/frontend/src/scripts/sound.ts
Labels: packages/frontend

#11278 fix(sw): アンケート終了時のプッシュ通知が正しく表示されない問題を修正
  CHANGELOG.md
  packages/sw/src/scripts/create-notification.ts
Labels: packages/sw

#11283 fix: typo in comment
  packages/backend/src/core/RemoteUserResolveService.ts
Labels: packages/backend

#11231 feat(frontend): ユーザーリスト管理でユーザー数とロールポリシーの登録可能ユーザー数を表示するなど
  packages/frontend/src/pages/my-lists/index.vue
  packages/frontend/src/pages/my-lists/list.vue
Labels: packages/frontend

#11286 refactor(backend): Improve UUID generation
  packages/backend/package.json
  packages/backend/src/core/CreateSystemUserService.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/endpoints/auth/session/generate.ts
  packages/backend/src/server/web/ClientServerService.ts
  pnpm-lock.yaml
Labels: packages/backend

#11245 feat(backend): allow disabling cache for sensitive files
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1689102832143-nsfw-cache.js
  packages/backend/src/core/activitypub/models/ApImageService.ts
  packages/backend/src/models/entities/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/backend/test/unit/activitypub.ts
  packages/frontend/src/pages/admin/settings.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#11294 refactor(frontend): Use nullish coalescing operator
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
Labels: packages/frontend

#11293 Export notes with file detail
  packages/backend/src/queue/processors/ExportNotesProcessorService.ts
Labels: packages/backend

#11275 enhance(backend): add unix socket support
  .config/example.yml
  CHANGELOG.md
  packages/backend/src/boot/master.ts
  packages/backend/src/config.ts
  packages/backend/src/server/ServerService.ts
Labels: packages/backend

#11240 feat(frontend): Renote時に公開範囲のデフォルト設定が適用されるように
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#11315 fix(frontend): Improve number formatting on `MkUserInfo`
  packages/frontend/src/components/MkUserInfo.vue
Labels: packages/frontend

#11314 refactor(backend): Fix auto-fixable issues
  packages/backend/src/core/AccountMoveService.ts
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/VideoProcessingService.ts
  packages/backend/src/core/entities/AbuseUserReportEntityService.ts
  packages/backend/src/core/entities/AuthSessionEntityService.ts
  packages/backend/src/core/entities/ChannelEntityService.ts
  packages/backend/src/core/entities/FollowRequestEntityService.ts
  packages/backend/src/core/entities/GalleryLikeEntityService.ts
  packages/backend/src/core/entities/ModerationLogEntityService.ts
  packages/backend/src/core/entities/NoteFavoriteEntityService.ts
  packages/backend/src/core/entities/PageLikeEntityService.ts
  packages/backend/src/core/entities/SigninEntityService.ts
  packages/backend/src/misc/dev-null.ts
  packages/backend/src/misc/id/ulid.ts
  packages/backend/src/misc/prelude/await-all.ts
  packages/backend/src/models/index.ts
  packages/backend/src/queue/processors/DeleteAccountProcessorService.ts
  packages/backend/src/queue/processors/RelationshipProcessorService.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/WellKnownServerService.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoints/admin/emoji/list.ts
  packages/backend/src/server/api/endpoints/blocking/delete.ts
  packages/backend/src/server/api/endpoints/clips/remove-note.ts
  packages/backend/src/server/api/endpoints/following/delete.ts
  packages/backend/src/server/api/endpoints/following/invalidate.ts
  packages/backend/src/server/api/endpoints/i.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/backend/src/server/api/endpoints/notes/conversation.ts
  packages/backend/src/server/api/endpoints/notes/show.ts
  packages/backend/src/server/api/endpoints/promo/read.ts
  packages/backend/src/server/api/endpoints/sw/update-registration.ts
  packages/backend/src/server/api/endpoints/users/get-frequently-replied-users.ts
  packages/backend/src/server/api/stream/channels/role-timeline.ts
Labels: packages/backend

#11309 fix(frontend): Fix cat ears are awkward on reply modal
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#11024 fix: failed to resolve acct URI which points to local Person
  CHANGELOG.md
  packages/backend/src/core/RemoteUserResolveService.ts
  packages/backend/src/core/WebfingerService.ts
Labels: packages/backend

#11327 chore(backend): Remove unused dependencies
  packages/backend/package.json
  pnpm-lock.yaml
Labels: packages/backend

#11326 fix(frontend): ユーザー名が長い場合に、フォローボタンを折り返して表示させる
  packages/frontend/src/pages/gallery/post.vue
Labels: packages/frontend

#11324 perf(backend): createPersonでキャッシュに保存する, DBのトランザクション回数を減らす
  packages/backend/src/core/activitypub/models/ApPersonService.ts
Labels: packages/backend

#10780 fix(backend): use slacc instead of unzipper
  packages/backend/package.json
  packages/backend/src/queue/processors/ImportCustomEmojisProcessorService.ts
  pnpm-lock.yaml
Labels: packages/backend

#11297 refactor(frontend): use nodemon for storybook
  CONTRIBUTING.md
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend

#11329 enhance(backend): 設定ファイルでioredisの全てのオプションを指定可能に
  .config/example.yml
  CHANGELOG.md
  packages/backend/check_connect.js
  packages/backend/src/GlobalModule.ts
  packages/backend/src/config.ts
  packages/backend/src/queue/const.ts
Labels: packages/backend

#11334 fix(frontend): workaround storybook issue
  packages/frontend/src/components/global/MkAd.stories.impl.ts
Labels: packages/frontend

#11333 chore(backend): better error message for unsupported attestation
  packages/backend/src/server/api/endpoints/i/2fa/key-done.ts
Labels: packages/backend

#11332 fix(frontend): Hide action buttons on `MkUrlPreviewPopup`
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/MkUrlPreviewPopup.vue
Labels: packages/frontend

#11036 fix(server): アンテナ再有効の手段にアンテナ設定の更新を追加
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/antennas/update.ts
Labels: packages/backend

#11142 enhance: Add OGP data for notes with multiple images/videos
  CHANGELOG.md
  packages/backend/src/server/web/views/note.pug
Labels: packages/backend

#10989 enhance: 自動でたたまれる機能が返信先や引用RNにも適用されるように
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkSubNoteContent.vue
  packages/frontend/src/scripts/collapsed.ts
Labels: packages/frontend

#11350 refactor(backend): use @types/oauth2orize-pkce
  packages/backend/package.json
  packages/backend/src/@types/oauth2orize-pkce.d.ts
  pnpm-lock.yaml
Labels: packages/backend

#11379 fix(backend): Use OFFSET instead of SKIP when using LIMIT
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/admin/invite/list.ts
  packages/backend/src/server/api/endpoints/admin/show-users.ts
  packages/backend/src/server/api/endpoints/federation/instances.ts
  packages/backend/src/server/api/endpoints/hashtags/search.ts
  packages/backend/src/server/api/endpoints/notes/polls/recommendation.ts
  packages/backend/src/server/api/endpoints/users.ts
  packages/backend/src/server/api/endpoints/users/recommendation.ts
  packages/backend/src/server/api/endpoints/users/search.ts
Labels: packages/backend

#11380 fix: hide sensitive gallery image on OGP
  packages/backend/src/server/web/views/gallery-post.pug
Labels: packages/backend

#11337 refactor: Array.from(iterable).map(mapfn)をArray.from(iterable | { length: number }, mapfn)に
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkTagCloud.vue
  packages/frontend/src/scripts/emoji-base.ts
  packages/frontend/src/scripts/select-file.ts
Labels: packages/frontend

#11370 fix: モバイル表示のときページ下部がナビゲーションバーに隠れる問題を修正
  CHANGELOG.md
  packages/frontend/src/style.scss
  packages/frontend/src/ui/universal.vue
Labels: packages/frontend

#11352 fix(frontend): Remove redundant double quotes in page titles
  packages/frontend/src/pages/page.vue
Labels: packages/frontend

#11386 perf(frontend): Reduce getting clientWidth in MkMediaImage
  packages/frontend/src/components/MkMediaList.vue
Labels: packages/frontend

#11395 fix: PhotoSwipeによるクライアントのメモリリークの解消
  CHANGELOG.md
  packages/frontend/src/components/MkMediaList.vue
Labels: packages/frontend

#11393 URL取得方法を関数に変更 #11392
  CHANGELOG.md
  packages/frontend/src/scripts/aiscript/api.ts
Labels: packages/frontend

#11366 refactor: forkでデフォルトのノート文字数を変更した場合、E2Eテストが落ちる問題を修正する
  packages/backend/test/e2e/note.ts
Labels: packages/backend, packages/backend:test

#11351 refactor(backend): Use promises API
  packages/backend/src/core/DownloadService.ts
  packages/backend/src/core/FileInfoService.ts
  packages/backend/src/server/api/ApiCallService.ts
Labels: packages/backend

#11384 Release: 13.14.2
  CHANGELOG.md
  locales/cs-CZ.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/hu-HU.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/pt-PT.yml
  locales/ru-RU.yml
  locales/th-TH.yml
  locales/uz-UZ.yml
  locales/zh-CN.yml
  package.json
  packages/backend/package.json
  packages/backend/src/core/DownloadService.ts
  packages/backend/src/core/FileInfoService.ts
  packages/backend/src/core/activitypub/ApAudienceService.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/endpoints/admin/invite/list.ts
  packages/backend/src/server/api/endpoints/admin/show-users.ts
  packages/backend/src/server/api/endpoints/federation/instances.ts
  packages/backend/src/server/api/endpoints/hashtags/search.ts
  packages/backend/src/server/api/endpoints/notes/polls/recommendation.ts
  packages/backend/src/server/api/endpoints/users.ts
  packages/backend/src/server/api/endpoints/users/recommendation.ts
  packages/backend/src/server/api/endpoints/users/search.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/gallery-post.pug
  packages/backend/test/e2e/note.ts
  packages/frontend/src/components/MkImgWithBlurhash.vue
  packages/frontend/src/components/MkMediaList.vue
  packages/frontend/src/components/MkModal.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteSimple.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkTagCloud.vue
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/pages/custom-emojis-manager.vue
  packages/frontend/src/pages/page.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/scripts/aiscript/api.ts
  packages/frontend/src/scripts/emoji-base.ts
  packages/frontend/src/scripts/select-file.ts
  packages/frontend/src/style.scss
  packages/frontend/src/ui/universal.vue
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/backend:test

#11053 feat(backend): support OAuth 2.0 authorization
  packages/backend/package.json
  packages/backend/src/server/ServerModule.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/oauth/OAuth2ProviderService.ts
  packages/backend/src/server/web/views/oauth.pug
  packages/backend/test/e2e/api.ts
  packages/backend/test/e2e/oauth.ts
  packages/backend/test/utils.ts
  packages/frontend/src/components/MkButton.vue
  packages/frontend/src/pages/oauth.vue
  packages/frontend/src/router.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/backend:test

#11407 chore(frontend): support Spotify for brainDiver
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#11405 chore(backend): Remove an unused dependency
  packages/backend/package.json
  packages/backend/src/boot/master.ts
  pnpm-lock.yaml
Labels: packages/backend

#11429 fix(frontend, misskey-js): make block switch work
  CHANGELOG.md
  packages/frontend/src/pages/instance-info.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/misskey-js

#11433 fix(frontend): 未読のお知らせの「わかった」をクリック・タップしてもその場で「わかった」が消えない問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/announcements.vue
Labels: packages/frontend

#11436 enhance(frontend): Twitterアイコンを𝕏に変更
  packages/frontend/package.json
  packages/frontend/src/components/MkUrlPreview.vue
  pnpm-lock.yaml
Labels: packages/frontend

#11434 enhance(frontend): 押したリアクションのデザインを改善
  CHANGELOG.md
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
Labels: packages/frontend

#11409 update deps
  package.json
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/src/core/HttpRequestService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/endpoints/pages/update.ts
  packages/frontend/.eslintrc.js
  packages/frontend/package.json
  packages/frontend/src/account.ts
  packages/misskey-js/package.json
  packages/shared/.eslintrc.js
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/sw, packages/misskey-js
