Repository misskey-dev/misskey, pull requests merged in 2023-08, with the labels that each got.

#11439 enhance(frontend): ユーザーメニューでスイッチでユーザーリストに追加・削除できるように
  CHANGELOG.md
  packages/frontend/src/components/MkMenu.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkSwitch.button.vue
  packages/frontend/src/components/MkSwitch.vue
  packages/frontend/src/components/MkUserPopup.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/scripts/get-user-menu.ts
  packages/frontend/src/types/menu.ts
Labels: packages/frontend

#11450 chore(backend): Fix typos
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#11438 feat: sensitive channel
  CHANGELOG.md
  packages/backend/migration/1690782653311-SensitiveChannel.js
  packages/backend/src/core/entities/ChannelEntityService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/models/entities/Channel.ts
  packages/backend/src/models/json-schema/channel.ts
  packages/backend/src/models/json-schema/note.ts
  packages/backend/src/server/api/endpoints/channels/create.ts
  packages/backend/src/server/api/endpoints/channels/update.ts
  packages/frontend/src/components/MkChannelPreview.vue
  packages/frontend/src/pages/channel-editor.vue
  packages/frontend/src/pages/channel.vue
Labels: packages/frontend, packages/backend

#11398 chore: cacheRemoteFilesのデフォルト値をfalseに
  .config/docker_example.yml
  .config/example.yml
  .devcontainer/devcontainer.yml
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1690417561186-ChangeCacheRemoteFilesDefault.js
  packages/backend/migration/1690417561187-Fix.js
  packages/backend/src/models/entities/Meta.ts
  packages/frontend/src/pages/admin/settings.vue
Labels: packages/frontend, packages/backend

#11371 feat: 絵文字ピッカーの検索の表示件数を100件に増加
  CHANGELOG.md
  packages/frontend/src/components/MkEmojiPicker.vue
Labels: packages/frontend

#11487 fix(frontend): webkit-text-size-adjustを100%に固定する
  CHANGELOG.md
  packages/frontend/src/style.scss
Labels: packages/frontend

#11480 fix(backend): muteがapiからのuser list timeline取得で機能しない
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
Labels: packages/backend

#11484 enhance(backend): Improve behavior of correctFilename
  CHANGELOG.md
  packages/backend/src/misc/correct-filename.ts
  packages/backend/test/unit/misc/correct-filename.ts
  packages/backend/test/unit/misc/others.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test

#11472 fix(backend/ApNoteService): try retrieving again when failed by duplication
  CHANGELOG.md
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/test/unit/activitypub.ts
Labels: packages/backend, packages/backend:test

#11441 fix(frontend): MkPopupMenuがドロワーで子メニューの出現と同時にpopupをresolveさせるのをやめさせる
  packages/frontend/src/components/MkMenu.vue
  packages/frontend/src/components/MkPopupMenu.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/scripts/get-user-menu.ts
  packages/frontend/src/types/menu.ts
Labels: packages/frontend

#11710 fix(backend): correctFilename changes dll to exe
  packages/backend/src/misc/correct-filename.ts
Labels: packages/backend

#11712 fix(frontend/MkUrlPreview): allow fullscreen from tweets
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/test/url-preview.test.ts
Labels: packages/frontend

#11497 feat: refine announcement
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1691649257651-refine-announcement.js
  packages/backend/migration/1691657412740-refine-announcement-2.js
  packages/backend/src/core/AnnouncementService.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/entities/Announcement.ts
  packages/backend/src/models/json-schema/announcement.ts
  packages/backend/src/server/api/endpoints/admin/announcements/create.ts
  packages/backend/src/server/api/endpoints/admin/announcements/list.ts
  packages/backend/src/server/api/endpoints/admin/announcements/update.ts
  packages/backend/src/server/api/endpoints/announcements.ts
  packages/backend/src/server/api/endpoints/i/read-announcement.ts
  packages/backend/src/server/api/stream/types.ts
  packages/backend/test/e2e/users.ts
  packages/backend/test/unit/AnnouncementService.ts
  packages/frontend/src/account.ts
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkAnnouncementDialog.stories.impl.ts
  packages/frontend/src/components/MkAnnouncementDialog.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteHeader.vue
  packages/frontend/src/components/MkNoteSimple.vue
  packages/frontend/src/components/MkSwitch.vue
  packages/frontend/src/components/MkUserAnnouncementEditDialog.vue
  packages/frontend/src/pages/admin/announcements.vue
  packages/frontend/src/pages/announcements.vue
  packages/frontend/src/pages/emoji-edit-dialog.vue
  packages/frontend/src/pages/gallery/index.vue
  packages/frontend/src/pages/user-info.vue
  packages/frontend/src/ui/_common_/announcements.vue
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/ui/universal.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#11714 fix(frontend/scroll): no callback for disconnected elements
  CHANGELOG.md
  packages/frontend/src/scripts/scroll.ts
  packages/frontend/test/scroll.test.ts
Labels: packages/frontend

#11711 fix: word mute is not applied to sub note
  CHANGELOG.md
  packages/frontend/src/components/MkNoteSub.vue
Labels: packages/frontend

#11729 fix(frontend): Misskeyプラグインをインストールする際のAiScriptバージョンのチェックが0.14.0以降に対応していない問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/settings/plugin.install.vue
Labels: packages/frontend

#11740 fix(backend): fix typo `lnik` to `link`
  packages/backend/src/core/FetchInstanceMetadataService.ts
Labels: packages/backend

#11725 enhance(backend): Add address bind config option
  .config/example.yml
  CHANGELOG.md
  packages/backend/src/config.ts
  packages/backend/src/core/HttpRequestService.ts
Labels: packages/backend

#11724 Fix: DB CONSTRAINT of RenoteMuting
  packages/backend/migration/1665091090561-add-renote-muting.js
  packages/backend/migration/1690417561185-fix-renote-muting.js
Labels: packages/backend

#11451 feat: ローカルのみノート検索
  CHANGELOG.md
  packages/backend/src/core/SearchService.ts
  packages/frontend/src/pages/search.note.vue
Labels: packages/frontend, packages/backend

#11721 fix(frontend): "メッセージを送信" の初期テキストを修正する
  CHANGELOG.md
  packages/frontend/src/scripts/get-user-menu.ts
Labels: packages/frontend

#11360 fix(misskey-js): Play関連の権限を追加（APIコンソールで発行可能に）
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/misskey-js/src/consts.ts
Labels: packages/misskey-js

#11752 feat(backend): 'server' webhook payload which hold misskey server url
  CHANGELOG.md
  packages/backend/src/queue/processors/WebhookDeliverProcessorService.ts
Labels: packages/backend

#11657 feat: Removing stack trace info in production env
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/test/e2e/fetch-resource.ts
Labels: packages/backend, packages/backend:test

#11720 Make more than 10 announcements visible on Admin
  packages/frontend/src/pages/admin/announcements.vue
Labels: packages/frontend

#11469 fix: アンテナ新規作成/編集時のバリデーションを修正
  packages/backend/src/server/api/endpoints/antennas/create.ts
  packages/backend/src/server/api/endpoints/antennas/update.ts
Labels: packages/backend

#11346 プレビューの表示状態を記憶するように
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#11445 プロフィールにその人が作ったPlayの一覧出せるように
  CHANGELOG.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1690796169261-play-visibility.js
  packages/backend/src/models/entities/Flash.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/flash/update.ts
  packages/backend/src/server/api/endpoints/users/flashs.ts
  packages/frontend/src/pages/flash/flash-edit.vue
  packages/frontend/src/pages/user/flashs.vue
  packages/frontend/src/pages/user/index.vue
  packages/misskey-js/src/api.types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#11361 fix(frontend): 動きのあるMFM無効時にレインボー文字が出ない問題を修正
  CHANGELOG.md
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
  packages/frontend/src/style.scss
Labels: packages/frontend

#11757 feat(frontend): x.comドメインでツイート展開が行えるようにする
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/test/url-preview.test.ts
Labels: packages/frontend

#11766 feat: Refine 2fa
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1690569881926-user-2fa-backup-codes.js
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/entities/UserProfile.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/endpoints/i/2fa/done.ts
  packages/backend/src/server/api/endpoints/i/2fa/unregister.ts
  packages/backend/test/e2e/2fa.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/.storybook/changes.ts
  packages/frontend/.storybook/fakes.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/.storybook/main.ts
  packages/frontend/.storybook/manager.ts
  packages/frontend/.storybook/mocks.ts
  packages/frontend/.storybook/preload-locale.ts
  packages/frontend/.storybook/preload-theme.ts
  packages/frontend/.storybook/preview.ts
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/pages/scratchpad.vue
  packages/frontend/src/pages/settings/2fa.qrdialog.vue
  packages/frontend/src/pages/settings/2fa.vue
  packages/frontend/src/style.scss
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test
