Repository misskey-dev/misskey, pull requests merged in 2023-10, with the labels that each got.

#11949 fix(frontend): use-tooltip の呼び出し元の UI が無くなったら自動的に削除されるようにする
  CHANGELOG.md
  packages/frontend/src/scripts/use-tooltip.ts
Labels: packages/frontend

#11957 2段階認証のバックアップコード一覧をテキストファイルでダウンロード可能に
  packages/frontend/src/pages/settings/2fa.qrdialog.vue
Labels: packages/frontend

#11951 fix: deck uiでuser listを見たときにリプライが表示されない
  packages/frontend/src/ui/deck/list-column.vue
Labels: packages/frontend

#11912 fix(frontend): クライアント設定から13.7.0で削除されたチャット機能に関するサウンド設定を削除
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/el-GR.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/index.d.ts
  locales/it-IT.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/lo-LA.yml
  locales/nl-NL.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/th-TH.yml
  locales/tr-TR.yml
  locales/uk-UA.yml
  locales/uz-UZ.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  packages/frontend/src/pages/settings/sounds.vue
  packages/frontend/src/scripts/sound.ts
Labels: packages/frontend

#11970 Disallow renote of direct note
  CHANGELOG.md
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend, packages/backend

#11941 絵文字重複チェック
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/server/api/endpoints/admin/emoji/add.ts
  packages/backend/src/server/api/endpoints/admin/emoji/update.ts
Labels: packages/backend

#11977 fix: 連合なしアンケートのUpdateがリモートに配信されてしまうのを修正
  packages/backend/src/core/PollService.ts
Labels: packages/backend

#11978 バックエンドのテストの改善
  packages/backend/test/utils.ts
Labels: packages/backend, packages/backend:test

#11925 プライバシーポリシー・運営者情報のリンクを追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1696003580220-AddSomeUrls.js
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/NodeinfoServerService.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/frontend/src/components/MkSignupDialog.rules.vue
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/admin/moderation.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/frontend/src/ui/_common_/common.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#11988 Set http header for CORS in nodeinfo page
  CHANGELOG.md
  packages/backend/src/server/NodeinfoServerService.ts
Labels: packages/backend

#11986 (fix) メールアドレス認証失敗時にメッセージが出るようにする
  packages/backend/src/server/ServerService.ts
Labels: packages/backend

#11989 Feat: タイムライン更新中に広告を挿入
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1696743032098-AdsOnStream.js
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/frontend/src/components/MkInput.vue
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#11993 fix(backend): ダイレクト投稿がタイムライン上に正常に表示されない問題を修正
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
  packages/backend/test/e2e/timelines.ts
  packages/shared/.eslintrc.js
Labels: packages/backend, packages/backend:test

#11995 Feat:「ファイルの詳細」ページを追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/endpoints/drive/files/attached-notes.ts
  packages/frontend/src/components/MkDrive.file.vue
  packages/frontend/src/pages/drive.file.info.vue
  packages/frontend/src/pages/drive.file.notes.vue
  packages/frontend/src/pages/drive.file.vue
  packages/frontend/src/router.ts
  packages/frontend/src/scripts/get-drive-file-menu.ts
Labels: packages/frontend, packages/backend

#12011 Release: 2023.10.1
  CHANGELOG.md
  locales/zh-TW.yml
  package.json
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/test/e2e/timelines.ts
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/ui/deck/deck-store.ts
  packages/frontend/src/ui/deck/tl-column.vue
Labels: packages/frontend, packages/backend, packages/backend:test

#12033 perf(backend): improve streaming api performance
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/hashtag.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
Labels: packages/backend

#12031 feat: サーバーサイレンス機能を追加
  CHANGELOG.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1697247230117-InstanceSilence.js
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/core/entities/InstanceEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/json-schema/federation-instance.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/federation/instances.ts
  packages/frontend/src/components/MkInstanceCardMini.vue
  packages/frontend/src/pages/about.federation.vue
  packages/frontend/src/pages/admin/instance-block.vue
  packages/frontend/src/pages/instance-info.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#12048 新規にフォローした人のwithRepliesをtrueにする機能を追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1697441463087-FollowRequestWithReplies.js
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/models/FollowRequest.ts
  packages/backend/src/queue/processors/ImportFollowingProcessorService.ts
  packages/backend/src/queue/processors/RelationshipProcessorService.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/api/endpoints/following/create.ts
  packages/backend/src/server/api/endpoints/i/import-following.ts
  packages/frontend/src/components/MkFollowButton.vue
  packages/frontend/src/components/MkUserPopup.vue
  packages/frontend/src/pages/follow.vue
  packages/frontend/src/pages/gallery/post.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/import-export.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/store.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#12057 fix: `admin/update-meta` が保存できない
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
Labels: packages/backend

#12058 refactor(backend): Remove unnecessary nullish coalescing
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/HashtagService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/ReactionService.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/daemons/ServerStatsService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/web/FeedService.ts
Labels: packages/backend

#12056 users/notesでDBから参照した際にチャンネル投稿のみ取得される問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/users/notes.ts
Labels: packages/backend

#12074 fix: replies are included even if withReplies = false in local timeline
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
Labels: packages/backend

#12073 UserLite.nameにnullが入りうるのを型で明示
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
Labels: packages/misskey-js

#12075 chore: STLのdb fallbackでwithRepliesがtrueのときにすべてのリプライを除外しないように
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
Labels: packages/backend

#12079 fix(frontend): Recieve Unrenote on streaming
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/scripts/use-note-capture.ts
Labels: packages/frontend

#12090 chore: Pull Request時にapi.jsonの差分を表示するActions workflow
  .github/workflows/get-api-diff.yml
Labels: 🛠️Dev

#12092 fix(backend) api/iの未読のお知らせにcreatedAtを追加するように修正
  packages/backend/src/core/entities/UserEntityService.ts
Labels: packages/backend

#12082 fix(frontend): Use opening quote in notifications
  packages/frontend/src/components/MkNotification.vue
Labels: packages/frontend

#12097 fix(frontend): Switch mentioned users' avatar images that depend on the animation setting
  packages/frontend/src/components/MkMention.vue
Labels: packages/frontend

#12096 feat: Avatar decoration
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1697847397844-avatar-decoration.js
  packages/backend/src/core/AvatarDecorationService.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/GlobalEventService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/models/AvatarDecoration.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/User.ts
  packages/backend/src/models/_.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/avatar-decorations/create.ts
  packages/backend/src/server/api/endpoints/admin/avatar-decorations/delete.ts
  packages/backend/src/server/api/endpoints/admin/avatar-decorations/list.ts
  packages/backend/src/server/api/endpoints/admin/avatar-decorations/update.ts
  packages/backend/src/server/api/endpoints/get-avatar-decorations.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/types.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/.storybook/fakes.ts
  packages/frontend/src/components/global/MkAvatar.vue
  packages/frontend/src/pages/admin/avatar-decorations.vue
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/admin/modlog.ModLog.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/router.ts
  packages/frontend/test/home.test.ts
  packages/frontend/test/note.test.ts
  packages/frontend/test/url-preview.test.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/consts.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#12100 プロフィールのURL認証をrel=meで可能に
  packages/backend/src/server/api/endpoints/i/update.ts
Labels: packages/backend

#12049 すべてのフォロー中の人のwithRepliesを変える機能
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/following/update-all.ts
  packages/frontend/src/pages/settings/general.vue
Labels: packages/frontend, packages/backend

#12034 Feat: 外部サイトからテーマ・プラグインのインストールができるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/fetch-external-resources.ts
  packages/frontend/src/components/global/MkUrl.vue
  packages/frontend/src/pages/install-extentions.vue
  packages/frontend/src/pages/settings/plugin.install.vue
  packages/frontend/src/pages/settings/theme.install.vue
  packages/frontend/src/router.ts
  packages/frontend/src/scripts/install-plugin.ts
  packages/frontend/src/scripts/install-theme.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#12103 fix: nullable ref is not a valid OpenAPI definition
  packages/backend/src/server/api/openapi/schemas.ts
Labels: 🐛Bug, packages/backend

#12022 fix(frontend): 投稿フォームでのユーザー変更がプレビューに反映されるように修正
  CHANGELOG.md
  packages/frontend/src/components/MkNotePreview.vue
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#12105 fix(frontend): 外部リソースインストールページでページキャッシュが効く問題を修正
  packages/frontend/src/pages/install-extentions.vue
Labels: packages/frontend

#12112 refactor(frontend): Replace deprecated `MediaQueryList.addListener()`
  packages/frontend/src/boot/common.ts
Labels: packages/frontend

#12089 enhance(server): Improve user block (Renote Part)
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#12109 feat: Facilitates the rollback of migration operations
  package.json
  packages/backend/package.json
Labels: packages/backend

#12124 fix: RedisへのTLキャッシュが有効の場合にHTL/LTL/STL/リストが空になることがある問題を修正 (#12088)
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/backend/src/server/api/endpoints/notes/timeline.ts
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
Labels: packages/backend

#12136 feat(AiScript): Mk:nyaize() を追加
  CHANGELOG.md
  packages/frontend/src/scripts/aiscript/api.ts
Labels: packages/frontend

#12143 Fix: STLでフォローしていないチャンネルが表示される問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
Labels: packages/backend

#12148 fix(frontend): ユーザーページの ノート > ファイル付き タブにリプライが表示されてしまう
  CHANGELOG.md
  packages/frontend/src/pages/user/index.timeline.vue
Labels: packages/frontend

#12149 Fix: チャンネルのフォロー・アンフォローの反映速度を改善
  CHANGELOG.md
  packages/backend/src/core/CacheService.ts
  packages/backend/src/core/ChannelFollowingService.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/server/api/StreamingApiServerService.ts
  packages/backend/src/server/api/endpoints/channels/follow.ts
  packages/backend/src/server/api/endpoints/channels/unfollow.ts
  packages/backend/src/server/api/stream/Connection.ts
Labels: packages/backend

#12145 fix(backend): ハッシュタグのランキングの問い合わせ結果がないときのエラー修正
  CHANGELOG.md
  packages/backend/src/core/FeaturedService.ts
Labels: packages/backend

#12167 enhance: プラグイン削除時にアクセストークンも削除する
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/i/revoke-token.ts
  packages/frontend/src/pages/settings/plugin.vue
Labels: packages/frontend, packages/backend

#12163 fix(frontend): Intlが対応していない言語の場合はフォールバックする
  CHANGELOG.md
  packages/frontend/src/scripts/intl-const.ts
Labels: packages/frontend

#12164 fix(frontend): MkGoogleのクエリを正しくエンコードできるように修正
  CHANGELOG.md
  packages/frontend/src/components/MkGoogle.vue
Labels: packages/frontend

#12165 enhance(frontend): データセーバー有効時はGIFアバターを停止
  CHANGELOG.md
  packages/frontend/src/components/global/MkAvatar.vue
Labels: packages/frontend

#12161 fix(frontend): MFMパース時に意図せずnyaizeされる問題を修正
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNotePreview.vue
  packages/frontend/src/components/MkNoteSimple.vue
  packages/frontend/src/components/MkNoteSub.vue
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
Labels: packages/frontend

#12135 feat(frontend): プラグインを用いて疑似的にミュートできるようにする
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
Labels: packages/frontend

#12142 feat: チャンネルの作成・更新時にapiWithDialogを使うように
  CHANGELOG.md
  packages/frontend/src/pages/channel-editor.vue
Labels: packages/frontend

#12102 MkCodeのパースエンジンをShikiに変更
  CHANGELOG.md
  packages/frontend/package.json
  packages/frontend/src/components/MkCode.core.vue
  packages/frontend/src/components/MkCode.vue
  packages/frontend/src/components/MkCodeEditor.vue
  packages/frontend/src/pages/flash/flash.vue
  packages/frontend/src/pages/scratchpad.vue
  packages/frontend/src/pages/settings/plugin.vue
  packages/frontend/src/scripts/code-highlighter.ts
  packages/frontend/src/style.scss
  pnpm-lock.yaml
  scripts/build-assets.mjs
Labels: packages/frontend

#12179 Fix: notes/timelineにフォローしているチャンネルのノートを含める
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/timeline.ts
Labels: packages/backend

#12172 Feat: リモートユーザーの更新をできるように
  packages/frontend/src/scripts/get-user-menu.ts
Labels: packages/frontend

#12184 fix(backend): プロフィールの自己紹介欄のMFMを連合するように
  CHANGELOG.md
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/activitypub/type.ts
Labels: packages/backend, 🌌Federation

#12190 fix: `:identification_card:` が `:battery:` になっている
  packages/frontend/src/emojilist.json
Labels: packages/frontend

#12186 Fix: フォローしたユーザが、自分のフォローしていないチャンネルにノートを投稿した時、そのノートがHTLで見えてしまう
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/timeline.ts
Labels: packages/backend

#12185 fix(backend): プロフィールの自己紹介欄のMFMを連合するように（実装漏れ）
  packages/backend/src/core/activitypub/models/ApPersonService.ts
Labels: packages/backend

#12113 feat(frontend): スワイプやボタンでタイムラインを再読込する機能
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/components/MkPullToRefresh.vue
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/store.ts
  packages/frontend/src/stream.ts
  packages/frontend/src/ui/_common_/stream-indicator.vue
  packages/frontend/src/ui/universal.vue
Labels: packages/frontend

#12171 fix(backend): We can renote pure renote
  CHANGELOG.md
  packages/backend/src/core/NoteDeleteService.ts
  packages/backend/src/misc/is-pure-renote.ts
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
Labels: packages/backend

#12173 feat: アイコンデコレーションの管理をロールで設定できるように
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/RoleService.ts
  packages/backend/src/server/api/endpoints/admin/avatar-decorations/create.ts
  packages/backend/src/server/api/endpoints/admin/avatar-decorations/delete.ts
  packages/backend/src/server/api/endpoints/admin/avatar-decorations/list.ts
  packages/backend/src/server/api/endpoints/admin/avatar-decorations/update.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/avatar-decorations.vue
  packages/frontend/src/router.ts
  packages/frontend/src/ui/_common_/common.ts
Labels: packages/frontend, packages/backend

#12203 fix(backend): 自身の宛先なしダイレクト投稿がストリーミングで流れてこない問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
Labels: packages/backend

#12202 fix: headerActionにPC以外で空のボタンが出てしまうバグの修正
  packages/frontend/src/pages/timeline.vue
Labels: packages/frontend

#12204 feat: add tools to navbar
  CHANGELOG.md
  packages/frontend/src/navbar.ts
  packages/frontend/src/ui/_common_/common.ts
Labels: packages/frontend
