Repository misskey-dev/misskey, pull requests merged in 2023-12, with the labels that each got.

#12538 Fix: missing receiver warn is not disappear
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#12536 fix #12528
  packages/frontend/src/scripts/theme.ts
Labels: packages/frontend

#12524 fix(frontend): 長い名前のチャンネルにおける投稿フォームの表示が崩れる問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#12519 refactor(frontend): 翻訳のダブりを解消
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkLaunchPad.vue
  packages/frontend/src/navbar.ts
Labels: packages/frontend

#12520 chore: remove unimplemented excludeNsfw
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
  packages/frontend/lib/rollup-plugin-unwind-css-module-class-name.test.ts
  packages/frontend/src/pages/user/index.files.vue
Labels: packages/frontend, packages/backend

#12132 feat(frontend): 絵文字ピッカーのカテゴリを多階層フォルダで分類できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkEmojiPicker.section.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/scripts/emojilist.ts
Labels: packages/frontend

#12360 fix(backend): カスタム絵文字のインポート時の動作を修正
  packages/backend/src/server/api/endpoints/admin/emoji/copy.ts
  packages/frontend/src/pages/custom-emojis-manager.vue
Labels: packages/frontend, packages/backend

#12362 fix(frontend): MFM ruby nyaize
  CHANGELOG.md
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
Labels: packages/frontend

#12507 Refine fanout timeline
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/FanoutTimelineEndpointService.ts
  packages/backend/src/server/api/endpoints/channels/timeline.ts
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/backend/src/server/api/endpoints/notes/timeline.ts
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
  packages/frontend/src/components/MkPagination.vue
Labels: packages/frontend, packages/backend

#12434 バックエンドが生成するapi.jsonからmisskey-jsの型を作成する
  package.json
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/federation/instances.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkFeaturedPhotos.vue
  packages/frontend/src/components/MkInstanceCardMini.vue
  packages/frontend/src/components/MkInviteCode.vue
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/custom-emojis.ts
  packages/frontend/src/filters/user.ts
  packages/frontend/src/instance.ts
  packages/frontend/src/pages/_error_.vue
  packages/frontend/src/pages/about.emojis.vue
  packages/frontend/src/pages/auth.form.vue
  packages/frontend/src/pages/auth.vue
  packages/frontend/src/pages/instance-info.vue
  packages/frontend/src/pages/invite.vue
  packages/frontend/src/pages/welcome.entrance.a.vue
  packages/frontend/src/scripts/api.ts
  packages/frontend/src/ui/_common_/statusbar-federation.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/generator/.eslintrc.cjs
  packages/misskey-js/generator/.gitignore
  packages/misskey-js/generator/README.md
  packages/misskey-js/generator/package.json
  packages/misskey-js/generator/src/generator.ts
  packages/misskey-js/generator/tsconfig.json
  packages/misskey-js/package.json
  packages/misskey-js/src/api.ts
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/entities.ts
  packages/misskey-js/src/streaming.types.ts
  packages/misskey-js/test-d/api.ts
  packages/misskey-js/test-d/streaming.ts
  packages/misskey-js/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/misskey-js:test

#12548 fix: 12528の巻き戻し
  packages/frontend/src/scripts/theme.ts
Labels: packages/frontend

#12550 fix(backend): withChannelNotesとwithFilesを同時に指定したときの考慮
  packages/backend/src/server/api/endpoints/users/notes.ts
Labels: packages/backend

#12543 fix(backend): /emoji での拡張子(.webp)の削除方法を修正
  packages/backend/src/server/ServerService.ts
Labels: packages/backend

#12526 enhance/feat(frontend): データセーバーの改良・強化
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkCode.core.vue
  packages/frontend/src/components/MkCode.vue
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/global/MkAvatar.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/store.ts
  packages/frontend/test/init.ts
Labels: packages/frontend

#12552 enhance(misskey-js) misskey-jsのストリーミングAPI定義をバックエンドに追従
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/json-schema/signin.ts
  packages/backend/src/server/api/endpoints/i/signin-history.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/entities.ts
  packages/misskey-js/src/streaming.types.ts
Labels: packages/backend, packages/misskey-js

#12503 fix(backend): enhance nodeinfo by export instance admin via nodeAdmins key
  packages/backend/src/server/NodeinfoServerService.ts
Labels: packages/backend

#12554 fix(backend): reject malformed timestamp
  packages/backend/src/core/IdService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/misc/id/aid.ts
  packages/backend/src/misc/id/aidx.ts
  packages/backend/src/misc/id/meid.ts
  packages/backend/src/misc/id/meidg.ts
  packages/backend/src/misc/id/object-id.ts
Labels: 🐛Bug, packages/backend, 🌌Federation

#12337 入力フォームでもリアクション選択時に使用するピッカーを使うようにしたい
  CHANGELOG.md
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkEmojiPickerDialog.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/scripts/emoji-picker.ts
Labels: packages/frontend

#12568 feat: ユーザースキーマの改善
  packages/backend/src/models/json-schema/user.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#12570 chore: 自分へのリプライのみ走査するように
  packages/backend/src/core/FanoutTimelineService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
Labels: packages/backend

#12577 タイムラインの「リノートを表示」のトグルスイッチが反応しない問題を直す
  packages/frontend/src/components/MkMenu.vue
Labels: packages/frontend

#12581 chore: hide thumbnail if website is sensitive
  CHANGELOG.md
  packages/frontend/src/components/MkUrlPreview.vue
Labels: packages/frontend

#12572 feat: Roleに関するSchemaを追加
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/endpoints/admin/roles/create.ts
  packages/backend/src/server/api/endpoints/admin/roles/list.ts
  packages/backend/src/server/api/endpoints/admin/roles/show.ts
  packages/backend/src/server/api/endpoints/roles/list.ts
  packages/backend/src/server/api/endpoints/roles/show.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#12586 fix(backend): pagination with sinceId broken
  packages/backend/src/core/FanoutTimelineEndpointService.ts
Labels: packages/backend

#12511 fix(backend): ブロックした相手から自分のノートが見えないように(/users/featured-notes, /users/notes)
  CHANGELOG.md
  packages/backend/src/core/FanoutTimelineEndpointService.ts
  packages/backend/src/server/api/endpoints/users/featured-notes.ts
Labels: packages/backend

#12456 enhance(frontend): ウィジェットを非表示にできるPageMetaを追加
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/scripts/page-metadata.ts
  packages/frontend/src/ui/classic.vue
  packages/frontend/src/ui/universal.vue
Labels: packages/frontend

#12612 Fix/vue import error on intellij
  packages/frontend/vue-shims.d.ts
Labels: 🛠️Dev, packages/frontend

#12576 Misskey Playのノート投稿画面で「内容を隠す」を設定できるようにする
  packages/frontend/src/components/MkAsUi.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormDialog.vue
  packages/frontend/src/scripts/aiscript/ui.ts
Labels: packages/frontend

#12613 (dev) index.htmlにmeta[name=viewport]がなかったので追加＆足りてないCSP追加
  packages/frontend/src/index.html
Labels: 🛠️Dev, packages/frontend

#12615 style(frontend): Fix indentation
  packages/frontend/src/components/MkEmojiPicker.section.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/settings/general.vue
Labels: packages/frontend

#12618 refactor(frontend): remove redundant class names
  packages/frontend/lib/rollup-plugin-unwind-css-module-class-name.test.ts
  packages/frontend/lib/rollup-plugin-unwind-css-module-class-name.ts
  packages/frontend/src/components/MkCodeEditor.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkSwitch.vue
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/admin/modlog.ModLog.vue
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/ui/universal.vue
Labels: packages/frontend, 💚Refactor

#12628 style(frontend): Fix trailing commas
  packages/frontend/src/components/MkCode.core.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkFollowButton.vue
Labels: packages/frontend

#12629 Enhance(frontend): リスト/アンテナ/チャンネルをタイムラインから新規作成できるように
  CHANGELOG.md
  packages/frontend/src/pages/timeline.vue
Labels: packages/frontend

#12638 adding color-scheme light to WidgetAichan
  packages/frontend/src/widgets/WidgetAichan.vue
Labels: packages/frontend

#12631 Fix(backend): inboxJobPerSecのデフォルト値を16から32に
  .config/docker_example.yml
  .config/example.yml
  .devcontainer/devcontainer.yml
  chart/files/default.yml
  packages/backend/src/queue/QueueProcessorService.ts
Labels: packages/backend

#12624 fix(frontend): ノート中の絵文字をタップして「リアクションする」を押したときにリアクションサウンドが鳴るようにする
  CHANGELOG.md
  packages/frontend/src/components/global/MkCustomEmoji.vue
  packages/frontend/src/components/global/MkEmoji.vue
Labels: packages/frontend

#12642 fix(frontend): MkAnimBgをリサイズに対応させる
  packages/frontend/src/components/MkAnimBg.vue
Labels: packages/frontend

#12648 (fix) デフォルト表示時のヘッダにあるチャンネルボタンが反応しない現象の修正
  packages/frontend/src/pages/timeline.vue
Labels: packages/frontend

#12649 refactor(frontend) $i の型情報にtokenを追加
  packages/frontend/src/account.ts
Labels: packages/frontend

#12643 Enhance(frontend): MFMや絵文字が使える入力ボックスでオートコンプリートを使えるように
  CHANGELOG.md
  packages/frontend/src/components/MkFormDialog.vue
  packages/frontend/src/components/MkInput.vue
  packages/frontend/src/components/MkTextarea.vue
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
  packages/frontend/src/pages/admin/announcements.vue
  packages/frontend/src/pages/channel-editor.vue
  packages/frontend/src/pages/clip.vue
  packages/frontend/src/pages/my-clips/index.vue
  packages/frontend/src/pages/page-editor/els/page-editor.el.text.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/scripts/autocomplete.ts
Labels: packages/frontend

#12617 feat(frontend): 絵文字ピッカーの実装
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkEmojiPickerDialog.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/form/section.vue
  packages/frontend/src/pages/settings/emoji-picker.vue
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/pages/settings/reaction.vue
  packages/frontend/src/router.ts
  packages/frontend/src/scripts/emoji-picker.ts
  packages/frontend/src/scripts/reaction-picker.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#12656 fix(frontend): 一定の条件においてコンテキストメニューが出ない問題を修正
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend

#12651 fix(frontend) リアクションの表示位置を微調整
  CHANGELOG.md
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
Labels: packages/frontend

#12659 feat(frontend): MFM のアニメーション要素に delay オプションを追加
  CHANGELOG.md
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
Labels: packages/frontend

#12660 chore(frontend): Cleanup unused dependencies
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend

#12639 (dev-mode) devモードの改善
  package.json
  packages/backend/package.json
  packages/frontend/@types/global.d.ts
  packages/frontend/src/_dev_boot_.ts
  packages/frontend/vite.config.local-dev.ts
  packages/misskey-js/package.json
  packages/sw/package.json
  pnpm-lock.yaml
  scripts/build-assets.mjs
  scripts/build-pre.js
  scripts/dev.mjs
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/sw

#12653 fix: devモードの特定条件下でページが表示されなくなる問題を修正
  packages/frontend/src/boot/common.ts
  packages/frontend/src/scripts/clear-cache.ts
Labels: packages/frontend

#12666 refactor(backend): Remove an unnecessary type assertion
  packages/backend/src/server/ActivityPubServerService.ts
Labels: packages/backend

#12663 perf: early return users/notes and users/featured-notes if me is blocked by requesting user
  packages/backend/src/server/api/endpoints/users/featured-notes.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
Labels: packages/backend

#12671 Enhance(frontend): コード入力ボックスでTabを入力できるように
  packages/frontend/src/components/MkTextarea.vue
  packages/frontend/src/pages/flash/flash-edit.vue
  packages/frontend/src/pages/registry.value.vue
  packages/frontend/src/pages/settings/custom-css.vue
  packages/frontend/src/pages/settings/plugin.install.vue
  packages/frontend/src/pages/settings/theme.install.vue
  packages/frontend/src/pages/theme-editor.vue
Labels: packages/frontend

#12672 Fix(frontend): ほとんどのMkTextareaでMFMプレビューが表示されてしまっている問題を修正
  packages/frontend/src/components/MkTextarea.vue
  packages/frontend/src/pages/settings/profile.vue
Labels: packages/frontend

#12679 fix(frontend): testが落ちるのを修正
  packages/frontend/package.json
  packages/frontend/test/home.test.ts
  pnpm-lock.yaml
Labels: packages/frontend

#12675 Fix: AiScriptの`readline`が不正な値を返すことがある問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/flash/flash.vue
Labels: packages/frontend

#12680 Fix(backend): JSONSchemaに不足しているパラメータを追加
  packages/backend/src/models/json-schema/user.ts
Labels: packages/backend

#12681 enhance(frontend): コードブロックのハイライト機能を利用するには言語を明示的に指定させるように
  CHANGELOG.md
  packages/frontend/src/components/MkCode.vue
  packages/frontend/src/index.html
Labels: packages/frontend

#12684 fix(dev): ファイルの読み込みに失敗することがあるのを修正
  packages/backend/src/server/FileServerService.ts
  packages/frontend/src/index.html
Labels: packages/frontend, packages/backend

#12676 fix(frontend): 絵文字ピッカー設定ページのボタン文言修正
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/emoji-picker.vue
Labels: packages/frontend

#12686 feature: チャンネル投稿はフォームに色がつくとうれしい
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#12692 fix lint error
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#12683 enhance: Unicode 15.0で新たに追加された絵文字のサポート
  packages/backend/package.json
  packages/backend/src/misc/emoji-regex.ts
  packages/frontend/.storybook/mocks.ts
  packages/frontend/package.json
  packages/frontend/src/emojilist.json
  packages/frontend/src/unicode-emoji-indexes/en-US.json
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend

#12704 Enhance(frontend): Shift+Tabで前の補完候補が選択できるように
  CHANGELOG.md
  packages/frontend/src/components/MkAutocomplete.vue
Labels: packages/frontend

#12706 Fix: Renoteの判定が間違っているのを修正
  CHANGELOG.md
  packages/backend/src/core/NoteCreateService.ts
  packages/frontend/src/components/MkCwButton.vue
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend, packages/backend

#12702 enhance: “つながりの公開範囲”がフォロー・フォロワー個別設定できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1702718871541-ffVisibility.js
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/server/api/endpoints/users/followers.ts
  packages/backend/src/server/api/endpoints/users/following.ts
  packages/backend/src/server/web/FeedService.ts
  packages/backend/src/types.ts
  packages/backend/test/e2e/ff-visibility.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/.storybook/fakes.ts
  packages/frontend/src/components/MkUserInfo.vue
  packages/frontend/src/components/MkUserPopup.vue
  packages/frontend/src/pages/settings/privacy.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/scripts/isFfVisibleForMe.ts
  packages/misskey-js/src/consts.ts
  packages/misskey-js/src/index.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#12715 Fix(frontend): CWボタンに常に「引用」が出てしまうのを修正
  packages/frontend/src/components/MkCwButton.vue
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#12716 fix: 追加絵文字候補辞書の修正(主に国旗)
  packages/frontend/src/unicode-emoji-indexes/en-US.json
Labels: packages/frontend

#12721 Fix(frontend): CW内などの画像が表示されないことがあるバグを修正
  CHANGELOG.md
  packages/frontend/src/components/MkMediaList.vue
Labels: packages/frontend

#12727 chore(QueueProcessorService): show error stack for failures
  packages/backend/src/queue/QueueProcessorService.ts
Labels: packages/backend

#12726 chore(workflows): use postgres 15 everywhere
  .github/workflows/test-backend.yml
  .github/workflows/test-frontend.yml
  chart/templates/Deployment.yml
  packages/backend/test/docker-compose.yml
Labels: packages/backend, packages/backend:test

#12724 fix #12607
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/UserListService.ts
Labels: packages/backend

#12607 enhance: ロールにアサインされたときの通知
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/UserListService.ts
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/models/Notification.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/types.ts
  packages/backend/test/unit/RoleService.ts
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/const.ts
  packages/frontend/src/pages/settings/notifications.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/consts.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#12668 chore: remove hashtag from featured immediately
  CHANGELOG.md
  packages/backend/src/core/FeaturedService.ts
  packages/backend/src/core/MetaService.ts
Labels: packages/backend

#12723 enhance: api.jsonのレスポンスの内容を実際の内容に合わせる
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/json-schema/ad.ts
  packages/backend/src/server/api/endpoints/admin/accounts/find-by-email.ts
  packages/backend/src/server/api/endpoints/admin/ad/create.ts
  packages/backend/src/server/api/endpoints/admin/ad/list.ts
  packages/backend/src/server/api/endpoints/admin/emoji/add.ts
  packages/backend/src/server/api/endpoints/admin/get-index-stats.ts
  packages/backend/src/server/api/endpoints/admin/get-user-ips.ts
  packages/backend/src/server/api/endpoints/admin/roles/users.ts
  packages/backend/src/server/api/endpoints/endpoint.ts
  packages/backend/src/server/api/endpoints/federation/stats.ts
  packages/backend/src/server/api/endpoints/fetch-external-resources.ts
  packages/backend/src/server/api/endpoints/fetch-rss.ts
  packages/backend/src/server/api/endpoints/flash/create.ts
  packages/backend/src/server/api/endpoints/get-online-users-count.ts
  packages/backend/src/server/api/endpoints/i/2fa/key-done.ts
  packages/backend/src/server/api/endpoints/i/2fa/register-key.ts
  packages/backend/src/server/api/endpoints/i/2fa/register.ts
  packages/backend/src/server/api/endpoints/i/apps.ts
  packages/backend/src/server/api/endpoints/i/authorized-apps.ts
  packages/backend/src/server/api/endpoints/i/move.ts
  packages/backend/src/server/api/endpoints/i/registry/get-all.ts
  packages/backend/src/server/api/endpoints/i/registry/get-detail.ts
  packages/backend/src/server/api/endpoints/i/registry/get.ts
  packages/backend/src/server/api/endpoints/i/registry/keys-with-type.ts
  packages/backend/src/server/api/endpoints/i/registry/scopes-with-domain.ts
  packages/backend/src/server/api/endpoints/i/update-email.ts
  packages/backend/src/server/api/endpoints/i/webhooks/create.ts
  packages/backend/src/server/api/endpoints/i/webhooks/list.ts
  packages/backend/src/server/api/endpoints/i/webhooks/show.ts
  packages/backend/src/server/api/endpoints/roles/users.ts
  packages/backend/src/server/api/endpoints/server-info.ts
  packages/backend/src/server/api/endpoints/test.ts
  packages/backend/src/server/api/endpoints/users/achievements.ts
  packages/backend/src/server/api/endpoints/users/lists/get-memberships.ts
Labels: packages/backend

#12738 fix(backend): テストが死んでいるのを修正
  packages/backend/src/core/UserListService.ts
  packages/backend/test/e2e/timelines.ts
  packages/backend/test/unit/RoleService.ts
Labels: packages/backend, packages/backend:test

#12744 fix: 引用RNがpure RNとして連合され、pure RNが引用RNとして連合される
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/misc/is-quote.ts
Labels: packages/backend

#12699 [Hub Next] Misskey Hubのリンクを変更
  CHANGELOG.md
  README.md
  packages/frontend/src/components/MkDonation.vue
  packages/frontend/src/components/MkSignupDialog.rules.vue
  packages/frontend/src/components/MkTutorialDialog.Timeline.vue
  packages/frontend/src/components/MkTutorialDialog.vue
  packages/frontend/src/components/MkUpdated.vue
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/pages/about-misskey.vue
  packages/frontend/src/pages/share.vue
  packages/frontend/src/ui/_common_/common.ts
Labels: packages/frontend

#12743 fix: email verify enable logic
  packages/backend/src/core/EmailService.ts
Labels: packages/backend

#12740 feat: 登録を拒否するメールアドレスのドメインを手動で設定できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1703209889304-bannedEmailDomains.js
  packages/backend/src/core/EmailService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/src/components/MkSignupDialog.form.vue
  packages/frontend/src/pages/admin/security.vue
Labels: packages/frontend, packages/backend

#12753 chore(frontend): Verifymail.io API設定項目の名前をきちんとサービスの名前で表記する
  packages/frontend/src/pages/admin/security.vue
Labels: packages/frontend

#12758 fix: ブロックされててもpure RNできる
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#12767 fix(backend): 1702718871541-ffVisibility.jsのdownが壊れている
  packages/backend/migration/1702718871541-ffVisibility.js
Labels: packages/backend

#12761 fix: lint #12743
  packages/backend/src/core/EmailService.ts
Labels: packages/backend

#12773 refactor(frontend): import宣言周りのエラーを修正
  packages/frontend/lib/rollup-plugin-unwind-css-module-class-name.test.ts
  packages/frontend/src/components/MkAbuseReport.stories.impl.ts
  packages/frontend/src/components/MkAbuseReportWindow.stories.impl.ts
  packages/frontend/src/components/MkAccountMoved.stories.impl.ts
  packages/frontend/src/components/MkAchievements.stories.impl.ts
  packages/frontend/src/components/MkAutocomplete.stories.impl.ts
  packages/frontend/src/components/MkAvatars.stories.impl.ts
  packages/frontend/src/components/MkContextMenu.vue
  packages/frontend/src/components/MkDateSeparatedList.vue
  packages/frontend/src/components/MkGalleryPostPreview.stories.impl.ts
  packages/frontend/src/components/MkInviteCode.stories.impl.ts
  packages/frontend/src/components/MkMediaList.vue
  packages/frontend/src/components/MkMenu.vue
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/components/MkUserSetupDialog.Follow.stories.impl.ts
  packages/frontend/src/components/MkUserSetupDialog.User.stories.impl.ts
  packages/frontend/src/components/MkUserSetupDialog.stories.impl.ts
  packages/frontend/src/components/MkWidgets.vue
  packages/frontend/src/components/global/MkAcct.stories.impl.ts
  packages/frontend/src/components/global/MkAvatar.stories.impl.ts
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.stories.impl.ts
  packages/frontend/src/components/global/MkStickyContainer.vue
  packages/frontend/src/components/global/MkUrl.stories.impl.ts
  packages/frontend/src/components/global/MkUserName.stories.impl.ts
  packages/frontend/src/components/global/RouterView.vue
  packages/frontend/src/components/page/page.block.vue
  packages/frontend/src/components/page/page.image.vue
  packages/frontend/src/components/page/page.note.vue
  packages/frontend/src/components/page/page.section.vue
  packages/frontend/src/components/page/page.text.vue
  packages/frontend/src/directives/hotkey.ts
  packages/frontend/src/directives/index.ts
  packages/frontend/src/pages/admin/_header_.vue
  packages/frontend/src/pages/admin/roles.edit.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/clip.vue
  packages/frontend/src/pages/my-antennas/edit.vue
  packages/frontend/src/pages/my-antennas/index.vue
  packages/frontend/src/pages/my-clips/index.vue
  packages/frontend/src/pages/my-lists/index.vue
  packages/frontend/src/pages/settings/navbar.vue
  packages/frontend/src/pages/settings/theme.manage.vue
  packages/frontend/src/pages/settings/theme.vue
  packages/frontend/src/pages/theme-editor.vue
  packages/frontend/src/pages/user/home.stories.impl.ts
  packages/frontend/src/scripts/upload/compress-config.ts
  packages/frontend/src/ui/_common_/common.vue
  packages/frontend/src/ui/_common_/navbar-for-mobile.vue
  packages/frontend/src/ui/classic.header.vue
  packages/frontend/src/ui/deck/column.vue
  packages/frontend/src/ui/deck/list-column.vue
  packages/frontend/src/ui/deck/main-column.vue
  packages/frontend/src/widgets/server-metric/index.vue
  packages/frontend/test/init.ts
  packages/frontend/vite.config.local-dev.ts
  packages/frontend/vite.config.ts
Labels: packages/frontend

#12778 chore(misskey-js): update misskey-js with api.json
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/misskey-js

#12782 fix: 自分のdirect noteがuser list timelineに追加されない
  CHANGELOG.md
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#12794 fix(frontend): モデログ表示の"logYellow"が機能していない問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/admin/modlog.ModLog.vue
Labels: packages/frontend

#12798 Feat: クリックイベントを発生させるMFM構文を追加
  CHANGELOG.md
  packages/frontend/src/components/MkAsUi.vue
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
  packages/frontend/src/scripts/aiscript/ui.ts
Labels: packages/frontend

#12806 fix(frontend): ロールアサイン時の通知で，ロールアイコンが縮小されずに表示される問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkNotification.vue
Labels: packages/frontend

#12799 (dev) Issue Templateに、自分で実装してPRを出したいかの意思表明を追加
  .github/ISSUE_TEMPLATE/01_bug-report.yml
  .github/ISSUE_TEMPLATE/02_feature-request.yml
Labels: 🛠️Dev

#12802 fix(backend): 非センシティブのみ（リモートはいいねのみ）が機能していない問題を修正
  CHANGELOG.md
  packages/backend/src/core/ReactionService.ts
Labels: packages/backend

#12809 refactor: paginationの型を明示する
  packages/frontend/src/components/MkFileListForAdmin.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkUserSetupDialog.Follow.vue
  packages/frontend/src/pages/about.federation.vue
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/admin/abuses.vue
  packages/frontend/src/pages/admin/federation.vue
  packages/frontend/src/pages/admin/invites.vue
  packages/frontend/src/pages/admin/modlog.vue
  packages/frontend/src/pages/admin/roles.role.vue
  packages/frontend/src/pages/admin/users.vue
  packages/frontend/src/pages/announcements.vue
  packages/frontend/src/pages/channels.vue
  packages/frontend/src/pages/custom-emojis-manager.vue
  packages/frontend/src/pages/favorites.vue
  packages/frontend/src/pages/flash/flash-index.vue
  packages/frontend/src/pages/follow-requests.vue
  packages/frontend/src/pages/gallery/index.vue
  packages/frontend/src/pages/gallery/post.vue
  packages/frontend/src/pages/instance-info.vue
  packages/frontend/src/pages/invite.vue
  packages/frontend/src/pages/my-clips/index.vue
  packages/frontend/src/pages/my-lists/list.vue
  packages/frontend/src/pages/page.vue
  packages/frontend/src/pages/pages.vue
  packages/frontend/src/pages/settings/apps.vue
  packages/frontend/src/pages/settings/drive-cleaner.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/pages/settings/security.vue
  packages/frontend/src/pages/settings/webhook.vue
  packages/frontend/src/pages/user/clips.vue
  packages/frontend/src/pages/user/flashs.vue
  packages/frontend/src/pages/user/follow-list.vue
  packages/frontend/src/pages/user/gallery.vue
  packages/frontend/src/pages/user/lists.vue
  packages/frontend/src/pages/user/pages.vue
  packages/frontend/src/pages/user/reactions.vue
Labels: packages/frontend

#12814 feat(backend/oauth): allow CORS for token endpoint
  CHANGELOG.md
  packages/backend/package.json
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/WellKnownServerService.ts
  packages/backend/src/server/oauth/OAuth2ProviderService.ts
  packages/backend/test/e2e/nodeinfo.ts
  packages/backend/test/e2e/oauth.ts
  packages/backend/test/e2e/well-known.ts
  packages/backend/test/utils.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test

#12810 Revert "refactor: paginationの型を明示する (#12809)"
  packages/frontend/src/components/MkFileListForAdmin.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkUserSetupDialog.Follow.vue
  packages/frontend/src/pages/about.federation.vue
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/admin/abuses.vue
  packages/frontend/src/pages/admin/federation.vue
  packages/frontend/src/pages/admin/invites.vue
  packages/frontend/src/pages/admin/modlog.vue
  packages/frontend/src/pages/admin/roles.role.vue
  packages/frontend/src/pages/admin/users.vue
  packages/frontend/src/pages/announcements.vue
  packages/frontend/src/pages/channels.vue
  packages/frontend/src/pages/custom-emojis-manager.vue
  packages/frontend/src/pages/favorites.vue
  packages/frontend/src/pages/flash/flash-index.vue
  packages/frontend/src/pages/follow-requests.vue
  packages/frontend/src/pages/gallery/index.vue
  packages/frontend/src/pages/gallery/post.vue
  packages/frontend/src/pages/instance-info.vue
  packages/frontend/src/pages/invite.vue
  packages/frontend/src/pages/my-clips/index.vue
  packages/frontend/src/pages/my-lists/list.vue
  packages/frontend/src/pages/page.vue
  packages/frontend/src/pages/pages.vue
  packages/frontend/src/pages/settings/apps.vue
  packages/frontend/src/pages/settings/drive-cleaner.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/pages/settings/security.vue
  packages/frontend/src/pages/settings/webhook.vue
  packages/frontend/src/pages/user/clips.vue
  packages/frontend/src/pages/user/flashs.vue
  packages/frontend/src/pages/user/follow-list.vue
  packages/frontend/src/pages/user/gallery.vue
  packages/frontend/src/pages/user/lists.vue
  packages/frontend/src/pages/user/pages.vue
  packages/frontend/src/pages/user/reactions.vue
Labels: packages/frontend

#12776 Add a prompt for Tor Browser users
  packages/backend/src/server/web/boot.js
Labels: packages/backend

#12816 fix(test): CIが落ちている問題を修正
  .github/workflows/lint.yml
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/admin/accounts/create.ts
  packages/misskey-js/etc/misskey-js.api.md
Labels: packages/backend, packages/misskey-js

#12819 Fix(frontend): MFMでfgとbgに長い単語を使うと改行されない問題を修正
  CHANGELOG.md
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
Labels: packages/frontend

#12788 feat(frontend): 投稿ウインドウにMFM要素を追加するボタンの追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/scripts/mfm-function-picker.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#12752 enhance(frontend): 検索画面においてEnterキー押下で検索できるように
  CHANGELOG.md
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/channels.vue
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/pages/search.user.vue
Labels: packages/frontend

#12828 Release: 2023.12.2
  CHANGELOG.md
  Dockerfile
  locales/bn-BD.yml
  locales/id-ID.yml
  locales/ko-GS.yml
  locales/ko-KR.yml
  locales/zh-TW.yml
  package.json
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/channels.vue
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/pages/search.user.vue
Labels: packages/frontend

#12851 enhance(frontend): ハッシュタグ入力時に、本文の末尾の行に何も書かれていない場合は新たにスペースを追加しないように
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#12850 feat: Add support for TrueMail
  packages/backend/migration/1703658526000-supportTrueMailApi.js
  packages/backend/src/core/EmailService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/src/pages/admin/security.vue
Labels: packages/frontend, packages/backend

#12844 fix(frontend): Convert symbols to strings explicitly
  packages/frontend/src/pizzax.ts
Labels: packages/frontend

#12856 chore: use summaly, browser-image-resizer, and sharp-read-bmp on registry.npmjs.org instead of git
  packages/backend/package.json
  packages/backend/src/core/DriveService.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/scripts/upload.ts
  packages/frontend/src/scripts/upload/compress-config.ts
  packages/frontend/test/url-preview.test.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend

#12860 chore: use @misskey-dev/eslint-plugin
  packages/backend/package.json
  packages/frontend/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/shared/.eslintrc.js
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/sw
