Repository misskey-dev/misskey, pull requests merged in 2023-06, with the labels that each got.

#10931 fix: テーマにプロパティ 'fgOnWhite' を追加してフォローボタンのスタイルを調整
  CHANGELOG.md
  packages/frontend/src/components/MkFollowButton.vue
  packages/frontend/src/themes/_dark.json5
  packages/frontend/src/themes/_light.json5
  packages/frontend/src/themes/d-astro.json5
  packages/frontend/src/themes/d-botanical.json5
  packages/frontend/src/themes/d-cherry.json5
  packages/frontend/src/themes/d-dark.json5
  packages/frontend/src/themes/d-future.json5
  packages/frontend/src/themes/d-green-lime.json5
  packages/frontend/src/themes/d-green-orange.json5
  packages/frontend/src/themes/d-ice.json5
  packages/frontend/src/themes/d-persimmon.json5
  packages/frontend/src/themes/d-u0.json5
  packages/frontend/src/themes/l-apricot.json5
  packages/frontend/src/themes/l-botanical.json5
  packages/frontend/src/themes/l-cherry.json5
  packages/frontend/src/themes/l-coffee.json5
  packages/frontend/src/themes/l-light.json5
  packages/frontend/src/themes/l-rainy.json5
  packages/frontend/src/themes/l-sushi.json5
  packages/frontend/src/themes/l-u0.json5
  packages/frontend/src/themes/l-vivid.json5
Labels: packages/frontend

#10930 perf(#10923): CSS Modules のクラス名をインライン化する
  packages/frontend/lib/rollup-plugin-unwind-css-module-class-name.test.ts
  packages/frontend/lib/rollup-plugin-unwind-css-module-class-name.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkAchievements.vue
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkButton.vue
  packages/frontend/src/components/MkClickerGame.vue
  packages/frontend/src/components/MkContainer.vue
  packages/frontend/src/components/MkDateSeparatedList.vue
  packages/frontend/src/components/MkDialog.vue
  packages/frontend/src/components/MkFolder.vue
  packages/frontend/src/components/MkImgWithBlurhash.vue
  packages/frontend/src/components/MkMediaList.vue
  packages/frontend/src/components/MkMention.vue
  packages/frontend/src/components/MkMenu.vue
  packages/frontend/src/components/MkModal.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNotePreview.vue
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/components/MkPoll.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkSubNoteContent.vue
  packages/frontend/src/components/MkTextarea.vue
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/MkUserOnlineIndicator.vue
  packages/frontend/src/components/MkUserSelectDialog.vue
  packages/frontend/src/components/MkUsersTooltip.vue
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/components/MkWidgets.vue
  packages/frontend/src/components/form/link.vue
  packages/frontend/src/components/form/slot.vue
  packages/frontend/src/components/global/MkAd.vue
  packages/frontend/src/components/global/MkUrl.vue
  packages/frontend/src/components/page/page.section.vue
  packages/frontend/src/pages/admin/RolesEditorFormula.vue
  packages/frontend/src/pages/admin/queue.chart.vue
  packages/frontend/src/pages/admin/server-rules.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/pages/signup-complete.vue
  packages/frontend/src/pages/welcome.setup.vue
  packages/frontend/src/pages/welcome.timeline.vue
  packages/frontend/src/ui/_common_/common.vue
  packages/frontend/src/ui/_common_/statusbar-federation.vue
  packages/frontend/src/ui/_common_/statusbars.vue
  packages/frontend/src/ui/_common_/stream-indicator.vue
  packages/frontend/src/ui/deck/column.vue
  packages/frontend/src/ui/universal.widgets.vue
  packages/frontend/src/widgets/WidgetClock.vue
  packages/frontend/src/widgets/WidgetRssTicker.vue
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
Labels: packages/frontend

#10944 Condensedlines reflow once
  packages/frontend/src/components/global/MkCondensedLine.vue
Labels: packages/frontend

#10956 Fix: #10955 TypeError: JSON5.parse is not a function
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/meta.ts
Labels: packages/backend

#10961 Release: 13.13.1
  .github/ISSUE_TEMPLATE/01_bug-report.md
  CHANGELOG.md
  locales/ja-KS.yml
  package.json
  packages/backend/src/server/api/endpoints/meta.ts
  packages/frontend/src/components/global/MkAvatar.vue
  packages/frontend/src/stream.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/streaming.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#10976 fix: correctly check the sensitivity flag
  packages/backend/src/server/web/views/note.pug
Labels: packages/backend

#10959 エラー画像URLを設定可能に
  CHANGELOG.md
  packages/backend/migration/1685973839966-errorImageUrl.js
  packages/backend/src/models/entities/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/base.pug
  packages/frontend/src/components/MkChannelList.vue
  packages/frontend/src/components/MkNotes.vue
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/components/MkReactedUsersDialog.vue
  packages/frontend/src/components/MkRenotedUsersDialog.vue
  packages/frontend/src/components/MkUserList.vue
  packages/frontend/src/components/global/MkError.vue
  packages/frontend/src/const.ts
  packages/frontend/src/instance.ts
  packages/frontend/src/pages/_error_.vue
  packages/frontend/src/pages/admin/roles.role.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/frontend/src/pages/favorites.vue
  packages/frontend/src/pages/follow-requests.vue
  packages/frontend/src/pages/list.vue
  packages/frontend/src/pages/not-found.vue
  packages/frontend/src/pages/role.vue
  packages/frontend/src/pages/settings/apps.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/widgets/WidgetRss.vue
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#10982 Fix: enhance: タイムラインにフォロイーの行った他人へのリプライを含めるかどうかの設定をアカウントに保存するのをやめるように
  packages/frontend/src/pages/settings/profile.vue
Labels: packages/frontend

#10987 ロールのユーザーリストを非公開にできるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1686381571997-roleuserhidden.js
  packages/backend/src/models/entities/Role.ts
  packages/backend/src/server/api/endpoints/admin/roles/create.ts
  packages/backend/src/server/api/endpoints/admin/roles/update.ts
  packages/backend/src/server/api/endpoints/roles/users.ts
  packages/frontend/src/pages/admin/roles.editor.vue
Labels: packages/frontend, packages/backend

#11012 fix: サーバーメトリクスが90度傾いている
  CHANGELOG.md
  packages/frontend/src/widgets/server-metric/pie.vue
Labels: packages/frontend

#11037 fix: clear queue endpoint error with redis script
  packages/backend/src/core/QueueService.ts
Labels: packages/backend

#11039 fix(backend): Resolve missing parseObjectId in IdService
  packages/backend/src/core/IdService.ts
Labels: packages/backend

#11019 Make role tag clickable on user pages
  packages/frontend/src/pages/user/home.vue
Labels: packages/frontend

#11041 refactor(backend): replace private-ip with ipaddr.js
  packages/backend/package.json
  packages/backend/src/core/DownloadService.ts
  packages/backend/src/misc/get-ip-hash.ts
  pnpm-lock.yaml
Labels: packages/backend

#11043 chore(backend, misskey-js): add type for signup
  packages/backend/test/e2e/2fa.ts
  packages/backend/test/e2e/antennas.ts
  packages/backend/test/e2e/api-visibility.ts
  packages/backend/test/e2e/api.ts
  packages/backend/test/e2e/block.ts
  packages/backend/test/e2e/clips.ts
  packages/backend/test/e2e/endpoints.ts
  packages/backend/test/e2e/fetch-resource.ts
  packages/backend/test/e2e/ff-visibility.ts
  packages/backend/test/e2e/move.ts
  packages/backend/test/e2e/mute.ts
  packages/backend/test/e2e/note.ts
  packages/backend/test/e2e/renote-mute.ts
  packages/backend/test/e2e/streaming.ts
  packages/backend/test/e2e/thread-mute.ts
  packages/backend/test/e2e/user-notes.ts
  packages/backend/test/e2e/users.ts
  packages/backend/test/utils.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/backend, packages/misskey-js, packages/backend:test

#11044 refactor(backend): replace rndstr with secureRndstr
  packages/backend/package.json
  packages/backend/src/misc/generate-native-user-token.ts
  packages/backend/src/misc/secure-rndstr.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoints/admin/emoji/add.ts
  packages/backend/src/server/api/endpoints/admin/reset-password.ts
  packages/backend/src/server/api/endpoints/app/create.ts
  packages/backend/src/server/api/endpoints/auth/accept.ts
  packages/backend/src/server/api/endpoints/i/update-email.ts
  packages/backend/src/server/api/endpoints/invite.ts
  packages/backend/src/server/api/endpoints/miauth/gen-token.ts
  packages/backend/src/server/api/endpoints/request-reset-password.ts
  packages/backend/test/e2e/move.ts
  packages/backend/test/unit/RoleService.ts
  packages/backend/test/unit/activitypub.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test

#10938 refactor(backend): use node16 for moduleResolution
  packages/backend/.swcrc
  packages/backend/package.json
  packages/backend/src/core/GlobalEventService.ts
  packages/backend/src/core/LoggerService.ts
  packages/backend/src/core/PushNotificationService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/logger.ts
  packages/backend/src/queue/processors/ImportAntennasProcessorService.ts
  packages/backend/src/server/api/StreamingApiServerService.ts
  packages/backend/src/server/api/endpoint-base.ts
  packages/backend/src/server/api/endpoints/i/import-antennas.ts
  packages/backend/src/server/api/endpoints/i/import-blocking.ts
  packages/backend/src/server/api/endpoints/i/import-following.ts
  packages/backend/src/server/api/endpoints/i/import-muting.ts
  packages/backend/src/server/api/endpoints/i/import-user-lists.ts
  packages/backend/src/server/api/endpoints/notes/unrenote.ts
  packages/backend/src/server/api/endpoints/users/recommendation.ts
  packages/backend/src/server/api/endpoints/users/report-abuse.ts
  packages/backend/src/server/api/stream/channel.ts
  packages/backend/src/server/api/stream/types.ts
  packages/backend/test/tsconfig.json
  packages/backend/tsconfig.json
  packages/frontend/package.json
  packages/frontend/test/tsconfig.json
  packages/frontend/tsconfig.json
  packages/misskey-js/tsconfig.json
  packages/sw/tsconfig.json
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/sw, packages/misskey-js, packages/backend:test

#11047 fix(backend): APIエラーのHTTP status code変更
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/test/e2e/api.ts
Labels: packages/backend, packages/backend:test

#11017 Fix offscreencanvas undefined
  packages/frontend/src/workers/test-webgl2.ts
Labels: packages/frontend

#11050 refactor(backend/test): add `interface UserToken`
  packages/backend/test/utils.ts
Labels: packages/backend, packages/backend:test

#11052 feat(backend): accept OAuth bearer token
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/StreamingApiServerService.ts
  packages/backend/test/e2e/api.ts
  packages/backend/test/utils.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
Labels: packages/backend, packages/misskey-js, packages/backend:test
