Repository misskey-dev/misskey, pull requests merged in 2023-02, with the labels that each got.

#9737 New Crowdin updates
  locales/id-ID.yml
  locales/ru-RU.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9762 enhance(backend): enhance SchemaType handling of anyOf
  packages/backend/src/misc/schema.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/endpoints/users/search-by-username-and-host.ts
Labels: ⚙️Server

#9225 enhance: PizzaxデータをindexedDBに保存するように
  packages/frontend/src/init.ts
  packages/frontend/src/pizzax.ts
  packages/frontend/src/scripts/device-kind.ts
  packages/frontend/src/store.ts
  packages/frontend/src/ui/_common_/sw-inject.ts
  packages/frontend/src/ui/classic.vue
  packages/frontend/src/ui/universal.vue
Labels: 🖥️Client

#9760 New Crowdin updates
  locales/es-ES.yml
  locales/uk-UA.yml
  locales/zh-CN.yml
Labels: ‼️ wrong locales

#9766 enhance - Added vue-plyr as the standard video player
  packages/frontend/package.json
  packages/frontend/src/components/MkMediaVideo.vue
  pnpm-lock.yaml
Labels: 🖥️Client

#9790 Fix | Vue-plyr CORS issue
  packages/frontend/src/components/MkMediaList.vue
  packages/frontend/src/components/MkMediaVideo.vue
Labels: 🖥️Client

#9789 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/zh-CN.yml
Labels: ‼️ wrong locales

#9787 perf(server): improvement of external mediaProxy
  .config/example.yml
  CHANGELOG.md
  packages/backend/src/config.ts
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/entities/ChannelEntityService.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/frontend/src/scripts/media-proxy.ts
Labels: 🖥️Client, ⚙️Server

#9792 New Crowdin updates
  locales/zh-CN.yml
Labels: ‼️ wrong locales

#9801 fix: ノート内のインラインコードを折り返して表示する
  packages/frontend/src/components/MkCode.core.vue
Labels: 🖥️Client

#9802 Deny UNIX domain socket
  packages/backend/src/core/DownloadService.ts
Labels: ⚙️Server

#9795 feature(client): timeline page for non-login users
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/router.ts
  packages/frontend/src/ui/visitor.vue
  packages/frontend/src/ui/visitor/b.vue
  packages/frontend/src/ui/visitor/header.vue
Labels: 🖥️Client

#9806 enhance(client): add webhook delete button
  packages/frontend/src/pages/settings/webhook.edit.vue
Labels: 🖥️Client

#9798 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/lo-LA.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9814 fix: postgre -> postgres
  packages/backend/ormconfig.js
  packages/backend/src/GlobalModule.ts
  packages/backend/src/postgres.ts
  packages/backend/test/utils.ts
Labels: ⚙️Server, 🧪Test

#9831 fix(mfm): default degree not used in rotate
  packages/frontend/src/components/mfm.ts
Labels: 🖥️Client

#9812 New Crowdin updates
  locales/it-IT.yml
  locales/lo-LA.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9838 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9839 New Crowdin updates
  locales/es-ES.yml
Labels: ‼️ wrong locales

#9827 fix: dateの初期値が正常に入らない時がある
  packages/frontend/src/components/MkInput.vue
  packages/frontend/src/pages/admin/ads.vue
Labels: 🖥️Client

#9844 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/lo-LA.yml
  locales/th-TH.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9850 fix: prevent clipping audio plyr's tooltip
  packages/frontend/src/components/MkMediaBanner.vue
Labels: 🖥️Client

#9852 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/ja-KS.yml
  locales/lo-LA.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9843 fix: newNoteReceived indicator causes Layout Shift
  packages/frontend/src/pages/antenna-timeline.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/pages/user-list-timeline.vue
Labels: 🖥️Client

#9841 enhance(client): MkNoteのリアクションの表示数は16に制限
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/components/MkReactionsViewer.vue
Labels: 🖥️Client

#9869 enhance(client): ヘッダー（MkPageHeader）関連
  CHANGELOG.md
  packages/frontend/src/components/global/MkPageHeader.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/pages/user/index.timeline.vue
  packages/frontend/src/pages/user/index.vue
Labels: 🖥️Client

#9871 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/el-GR.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/kab-KAB.yml
  locales/kn-IN.yml
  locales/ko-KR.yml
  locales/lo-LA.yml
  locales/nl-NL.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/th-TH.yml
  locales/tr-TR.yml
  locales/ug-CN.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9878 refactor(client): Refactor MkPageHeader #9869
  CHANGELOG.md
  packages/frontend/src/components/global/MkPageHeader.tabs.vue
  packages/frontend/src/components/global/MkPageHeader.vue
  packages/frontend/src/pages/timeline.vue
Labels: 🖥️Client

#9887 fix: CLIページが動作していない問題を修正
  packages/backend/src/server/web/cli.js
Labels: ⚙️Server

#9885 fix: fix pagination when viewing more new notes in note details
  packages/frontend/src/components/MkPagination.vue
Labels: 🖥️Client

#9888 add cors header to ActivityPubServerService.ts
  CHANGELOG.md
  packages/backend/src/server/ActivityPubServerService.ts
Labels: ⚙️Server

#9876 fix: 広告のexpiresAtをLocalTZ分ずらして初期化
  packages/frontend/src/pages/admin/ads.vue
Labels: 🖥️Client

#9845 enhance(server): videoThumbnailGenerator config
  .config/example.yml
  packages/backend/src/config.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/VideoProcessingService.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/server/FileServerService.ts
Labels: ⚙️Server

#9880 New Crowdin updates
  locales/en-US.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/uk-UA.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9900 fix typo
  packages/backend/test/_e2e/fetch-resource.ts
Labels: ⚙️Server, 🧪Test

#9901 enhance(client): リアクションが無いことを伝える
  packages/frontend/src/components/MkReactedUsersDialog.vue
Labels: 🖥️Client

#9894 Fix moduleNameMapper to not resolve `.wasm.js` to `.wasm`
  packages/backend/jest-resolver.cjs
  packages/backend/jest.config.cjs
  packages/backend/src/core/activitypub/LdSignatureService.ts
Labels: ⚙️Server

#9906 Make `isTimelineAvailable` a reference
  packages/frontend/src/ui/visitor/b.vue
Labels: 🖥️Client

#9926 改行コードをLFに統一
  .editorconfig
  .gitattributes
  .github/workflows/check_copyright_year.yml
  .github/workflows/lint.yml
  packages/backend/src/server/api/endpoints/clips/remove-note.ts
  packages/frontend/assets/label-red.svg
  packages/frontend/assets/label.svg
  packages/frontend/assets/unread.svg
Labels: 🖥️Client, ⚙️Server

#9915 fix(client): use tabler icons
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/pages/antenna-timeline.vue
  packages/frontend/src/pages/explore.users.vue
  packages/frontend/src/pages/page-editor/els/page-editor.el.image.vue
  packages/frontend/src/pages/page-editor/els/page-editor.el.text.vue
  packages/frontend/src/pages/settings/drive.vue
  packages/frontend/src/pages/settings/sounds.vue
  packages/frontend/src/pages/user-list-timeline.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/scripts/hpml/index.ts
  packages/frontend/src/scripts/hpml/lib.ts
  packages/frontend/src/scripts/search.ts
  packages/frontend/src/ui/classic.vue
  packages/frontend/src/widgets/server-metric/mem.vue
Labels: 🖥️Client

#9905 enhance(server): URLプレビュー（summaly）はプロキシを通すように
  CHANGELOG.md
  packages/backend/package.json
  packages/backend/src/server/web/UrlPreviewService.ts
  pnpm-lock.yaml
Labels: ⚙️Server, 🧪Test

#9919 drop messaging
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/GlobalEventService.ts
  packages/backend/src/core/MessagingService.ts
  packages/backend/src/core/PushNotificationService.ts
  packages/backend/src/core/activitypub/ApDbResolverService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/type.ts
  packages/backend/src/core/entities/MessagingMessageEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/misc/schema.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/entities/MessagingMessage.ts
  packages/backend/src/models/index.ts
  packages/backend/src/models/schema/messaging-message.ts
  packages/backend/src/models/schema/user.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/ServerModule.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/i/read-all-messaging-messages.ts
  packages/backend/src/server/api/endpoints/messaging/history.ts
  packages/backend/src/server/api/endpoints/messaging/messages.ts
  packages/backend/src/server/api/endpoints/messaging/messages/create.ts
  packages/backend/src/server/api/endpoints/messaging/messages/delete.ts
  packages/backend/src/server/api/endpoints/messaging/messages/read.ts
  packages/backend/src/server/api/stream/ChannelsService.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/messaging-index.ts
  packages/backend/src/server/api/stream/channels/messaging.ts
  packages/backend/src/server/api/stream/index.ts
  packages/backend/src/server/api/stream/types.ts
  packages/backend/test/_e2e/endpoints.ts
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/init.ts
  packages/frontend/src/navbar.ts
  packages/frontend/src/pages/messaging/index.vue
  packages/frontend/src/pages/messaging/messaging-room.form.vue
  packages/frontend/src/pages/messaging/messaging-room.message.vue
  packages/frontend/src/pages/messaging/messaging-room.vue
  packages/frontend/src/pages/settings/notifications.vue
  packages/frontend/src/router.ts
  packages/sw/src/scripts/create-notification.ts
  packages/sw/src/sw.ts
  packages/sw/src/types.ts
Labels: 🖥️Client, ⚙️Server, 🧪Test

#9942 drop group
  locales/ja-JP.yml
  packages/backend/migration/1676434944993-drop-group.js
  packages/backend/src/core/AntennaService.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/GlobalEventService.ts
  packages/backend/src/core/entities/AntennaEntityService.ts
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/core/entities/UserGroupEntityService.ts
  packages/backend/src/core/entities/UserGroupInvitationEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/misc/schema.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/entities/Antenna.ts
  packages/backend/src/models/entities/Notification.ts
  packages/backend/src/models/entities/UserGroup.ts
  packages/backend/src/models/entities/UserGroupInvitation.ts
  packages/backend/src/models/entities/UserGroupJoining.ts
  packages/backend/src/models/entities/UserProfile.ts
  packages/backend/src/models/index.ts
  packages/backend/src/models/schema/antenna.ts
  packages/backend/src/models/schema/user-group.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/antennas/create.ts
  packages/backend/src/server/api/endpoints/antennas/update.ts
  packages/backend/src/server/api/endpoints/i/user-group-invites.ts
  packages/backend/src/server/api/endpoints/users/groups/create.ts
  packages/backend/src/server/api/endpoints/users/groups/delete.ts
  packages/backend/src/server/api/endpoints/users/groups/invitations/accept.ts
  packages/backend/src/server/api/endpoints/users/groups/invitations/reject.ts
  packages/backend/src/server/api/endpoints/users/groups/invite.ts
  packages/backend/src/server/api/endpoints/users/groups/joined.ts
  packages/backend/src/server/api/endpoints/users/groups/leave.ts
  packages/backend/src/server/api/endpoints/users/groups/owned.ts
  packages/backend/src/server/api/endpoints/users/groups/pull.ts
  packages/backend/src/server/api/endpoints/users/groups/show.ts
  packages/backend/src/server/api/endpoints/users/groups/transfer.ts
  packages/backend/src/server/api/endpoints/users/groups/update.ts
  packages/backend/src/server/api/stream/index.ts
  packages/backend/src/server/api/stream/types.ts
  packages/backend/src/types.ts
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/navbar.ts
  packages/frontend/src/pages/my-antennas/create.vue
  packages/frontend/src/pages/my-antennas/editor.vue
  packages/frontend/src/pages/settings/email.vue
  packages/frontend/src/scripts/get-user-menu.ts
  packages/sw/src/scripts/create-notification.ts
  packages/sw/src/scripts/operations.ts
  packages/sw/src/sw.ts
Labels: 🖥️Client, ⚙️Server

#9944 広告開始時期の設定
  locales/ja-JP.yml
  packages/backend/migration/1676438468213-ad3.js
  packages/backend/src/models/entities/Ad.ts
  packages/backend/src/server/api/endpoints/admin/ad/create.ts
  packages/backend/src/server/api/endpoints/admin/ad/list.ts
  packages/backend/src/server/api/endpoints/admin/ad/update.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/frontend/src/pages/admin/ads.vue
Labels: 🖥️Client, ⚙️Server

#9936 fix(frontend): fix type errors from vite.json5.ts
  packages/frontend/vite.json5.ts
Labels: 🖥️Client

#9961 fix(server): dropGroupマイグレーションが通るように
  packages/backend/migration/1676434944993-drop-group.js
  packages/backend/src/models/entities/UserProfile.ts
Labels: ⚙️Server

#9968 style(frontend): fix autofixable eslint errors
  packages/frontend/src/components/MkDonation.vue
  packages/frontend/src/components/MkEmojiPickerWindow.vue
  packages/frontend/src/components/MkReactionsViewer.vue
  packages/frontend/src/components/global/MkPageHeader.tabs.vue
  packages/frontend/src/components/global/MkPageHeader.vue
  packages/frontend/src/ui/classic.vue
Labels: 🖥️Client

#9967 style(backend): fix all eslint errors
  packages/backend/src/core/ImageProcessingService.ts
  packages/backend/src/core/PushNotificationService.ts
  packages/backend/src/core/VideoProcessingService.ts
  packages/backend/src/core/entities/EmojiEntityService.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/api/endpoints/admin/ad/list.ts
  packages/backend/src/server/api/endpoints/admin/emoji/delete.ts
  packages/backend/src/server/api/endpoints/admin/emoji/update.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
Labels: ⚙️Server

#9966 ci: run typecheck and eslint separately
  .github/workflows/lint.yml
  packages/backend/package.json
  packages/frontend/package.json
  packages/sw/package.json
Labels: 🖥️Client, ⚙️Server

#9960 perf(client): ウェルカムページを最適化
  packages/backend/src/server/api/endpoints/federation/instances.ts
  packages/backend/src/server/api/endpoints/notes/featured.ts
  packages/frontend/src/pages/welcome.entrance.a.vue
  packages/frontend/src/pages/welcome.timeline.vue
Labels: 🖥️Client, ⚙️Server

#9987 test(backend): restore AP unit tests
  packages/backend/test/misc/mock-resolver.ts
  packages/backend/test/unit/activitypub.ts
Labels: ⚙️Server, 🧪Test

#9983 refactor: 型エラー修正 / Fix type errors backend
  packages/backend/src/core/PushNotificationService.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/GetterService.ts
Labels: ⚙️Server

#9980 fix: 削除済みのユーザーが deleteActor される時に処理をスキップする
  packages/backend/src/core/activitypub/ApInboxService.ts
Labels: ⚙️Server

#9994 test(backend): restore more unit tests
  packages/backend/test/tests/mfm.ts
  packages/backend/test/unit/extract-mentions.ts
  packages/backend/test/unit/mfm.ts
Labels: ⚙️Server, 🧪Test

#9996 test(backend): restore emoji reaction tests
  packages/backend/test/tests/reaction-lib.ts
  packages/backend/test/unit/reaction-lib.ts
Labels: ⚙️Server, 🧪Test

#9990 管理画面の広告を10個以上見えるように
  packages/frontend/src/pages/admin/ads.vue
Labels: 🖥️Client

#10012 enhance(client): MFMのx3, x4が含まれていたらノートをたたむようにした
  packages/frontend/src/components/MkNote.vue
Labels: 🖥️Client

#9943 fix: MkUserSelectDialog/search-by-username-and-hostでローカルユーザーを絞って検索できない問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/users/search-by-username-and-host.ts
  packages/frontend/src/components/MkInput.vue
  packages/frontend/src/components/MkUserSelectDialog.vue
Labels: 🖥️Client, ⚙️Server

#9971 chore: add tiny definition for redis-lock
  packages/backend/src/@types/redis-lock.d.ts
  packages/backend/src/core/PushNotificationService.ts
  packages/backend/src/core/activitypub/type.ts
  packages/backend/src/server/api/endpoint-base.ts
  packages/shared/.eslintrc.js
Labels: ⚙️Server

#10016 perf: MFMのDOM ParserをJSDOMからhappy-domに変更する
  packages/backend/package.json
  packages/backend/src/core/MfmService.ts
  pnpm-lock.yaml
Labels: ⚙️Server

#9897 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/uk-UA.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9924 fix: Allow configuring of the host/address to listen/bind to
  .config/example.yml
  packages/backend/src/boot/master.ts
  packages/backend/src/config.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/test/utils.ts
Labels: ⚙️Server, 🧪Test

#10026 perf(backend): Use swc on pnpm build
  CHANGELOG.md
  packages/backend/package.json
  pnpm-lock.yaml
Labels: ⚙️Server

#10029 fix(backend): マイグレーションファイル(down)が間違っているのを修正
  packages/backend/migration/1676438468213-ad3.js
Labels: ⚙️Server

#10032 feat: swc build in windows
  packages/backend/.swcrc
  packages/backend/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: 🖥️Client, ⚙️Server

#10033 enhance: make pwa icon maskable
  packages/backend/src/server/web/manifest.json
Labels: ⚙️Server

#10034 feat(server): add @swc/core-android-arm64 to optional
  packages/backend/package.json
  pnpm-lock.yaml
Labels: ⚙️Server

#10035 Release: 13.7.2
  .github/workflows/lint.yml
  CHANGELOG.md
  package.json
  packages/backend/.swcrc
  packages/backend/assets/icons/192.png
  packages/backend/assets/icons/512.png
  packages/backend/migration/1676434944993-drop-group.js
  packages/backend/package.json
  packages/backend/src/server/web/manifest.json
  packages/frontend/package.json
  packages/frontend/src/components/global/MkCustomEmoji.vue
  packages/frontend/src/pages/admin/roles.role.vue
  pnpm-lock.yaml
Labels: 🖥️Client, ⚙️Server

#10042 fix: i/notificationsで古い通知タイプを許容するなど、古い通知タイプとの互換性保持
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/models/entities/Notification.ts
  packages/backend/src/models/entities/UserProfile.ts
  packages/backend/src/server/api/endpoints/i/notifications.ts
  packages/backend/src/types.ts
  packages/frontend/src/components/MkNotificationSettingWindow.vue
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/const.ts
  packages/frontend/src/pages/notifications.vue
  packages/frontend/src/pages/settings/notifications.vue
Labels: 🖥️Client, ⚙️Server

#10048 Release: 13.7.3
  CHANGELOG.md
  CONTRIBUTING.md
  locales/ja-JP.yml
  package.json
  packages/backend/migration/1676434944993-drop-group.js
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/models/entities/Notification.ts
  packages/backend/src/models/entities/UserProfile.ts
  packages/backend/src/server/api/endpoints/i/notifications.ts
  packages/backend/src/types.ts
  packages/frontend/src/components/MkNotificationSettingWindow.vue
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/const.ts
  packages/frontend/src/pages/notifications.vue
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/pages/settings/notifications.vue
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/widgets/WidgetOnlineUsers.vue
Labels: 🖥️Client, ⚙️Server

#10050 Release: 13.7.4
  CHANGELOG.md
  packages/backend/migration/1676434944993-drop-group.js
Labels: ⚙️Server

#10057 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/el-GR.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/kab-KAB.yml
  locales/ko-KR.yml
  locales/lo-LA.yml
  locales/nl-NL.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#10051 feat(frontend): スマホ・タブレットの場合、チャンネルの投稿フォームに自動でフォーカスしないように
  CHANGELOG.md
  packages/frontend/src/pages/channel.vue
Labels: 🖥️Client

#10058 Release: 13.7.5
  CHANGELOG.md
  CONTRIBUTING.md
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/el-GR.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/kab-KAB.yml
  locales/ko-KR.yml
  locales/lo-LA.yml
  locales/nl-NL.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  package.json
  packages/frontend/assets/about-icon.png
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteHeader.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkVisibilityPicker.vue
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/settings/privacy.vue
Labels: 🖥️Client, ‼️ wrong locales

#9718 Add dialog to remove follower
  locales/en-US.yml
  locales/ja-JP.yml
  packages/frontend/src/scripts/get-user-menu.ts
Labels: 🖥️Client, ‼️ wrong locales

#9832 起動時にRedisの疎通確認を行う
  package.json
  packages/backend/check_connect.js
  packages/backend/package.json
Labels: ⚙️Server

#9895 chore: pass `--detectOpenHandles` to Jest
  packages/backend/package.json
Labels: ⚙️Server

#9913 enhance(client): 埋め込みを閉じるボタンを見やすくする
  packages/frontend/src/components/MkUrlPreview.vue
Labels: 🖥️Client

#9997 test(backend): restore ap-request tests
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/test/tsconfig.json
  packages/backend/test/unit/ap-request.ts
Labels: ⚙️Server, 🧪Test

#10061 fix/refaftor(client): MkTime.vueの変更
  locales/ja-JP.yml
  packages/frontend/src/components/global/MkTime.vue
Labels: 🖥️Client

#9911 fix(server): notes/createで、fileIdsと見つかったファイルの数が異なる場合はエラーにする
  packages/backend/src/server/api/endpoints/notes/create.ts
Labels: ⚙️Server

#10067 fix: ActivityPubでactorの削除が来た時にそのユーザーがDBに存在しないなら処理をスキップする
  packages/backend/src/core/activitypub/ApInboxService.ts
Labels: ⚙️Server

#10074 Windows環境でswcを使うと正常にビルドができない問題の修正
  CHANGELOG.md
  packages/backend/package.json
  pnpm-lock.yaml
Labels: ⚙️Server

#10053 バックグラウンドで一定時間経過したらページネーションのアイテム更新をしない
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/scripts/use-document-visibility.ts
Labels: 🖥️Client

#10038 feat: 2つの検索画面の統合 (#9949)
  CHANGELOG.md
  packages/frontend/src/init.ts
  packages/frontend/src/navbar.ts
  packages/frontend/src/pages/explore.vue
  packages/frontend/src/pages/search.vue
  packages/frontend/src/router.ts
  packages/frontend/src/scripts/search.ts
  packages/frontend/src/ui/classic.header.vue
  packages/frontend/src/ui/classic.sidebar.vue
  packages/frontend/src/ui/visitor/a.vue
  packages/frontend/src/ui/visitor/b.vue
  packages/frontend/src/ui/visitor/header.vue
Labels: 🖥️Client

#10084 refactor(frontend): fix eslint error
  packages/frontend/src/scripts/get-user-menu.ts
Labels: 🖥️Client

#10088 Simplify search.vue (remove dead code)
  packages/frontend/src/pages/search.vue
Labels: 🖥️Client

#10090 test(server): add validation test of api:notes/create
  .vscode/settings.json
  CONTRIBUTING.md
  packages/backend/.eslintrc.cjs
  packages/backend/jest.config.cjs
  packages/backend/src/misc/schema.ts
  packages/backend/src/server/api/endpoints/admin/drive/show-file.ts
  packages/backend/src/server/api/endpoints/drive/files/show.ts
  packages/backend/src/server/api/endpoints/notes/create.test.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/endpoints/notes/search-by-tag.ts
  packages/backend/src/server/api/endpoints/pages/show.ts
  packages/backend/src/server/api/endpoints/users/followers.ts
  packages/backend/src/server/api/endpoints/users/following.ts
  packages/backend/src/server/api/endpoints/users/search-by-username-and-host.ts
  packages/backend/src/server/api/endpoints/users/show.ts
  packages/backend/test/prelude/get-api-validator.ts
  packages/backend/test/resources/misskey.svg
  packages/backend/test/tsconfig.json
  packages/backend/tsconfig.json
Labels: ⚙️Server, 🧪Test

#10059 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#10098 enhance(client): photoswipe 表示時に戻る操作をしても前の画面に戻らないように
  CHANGELOG.md
  packages/frontend/src/components/MkMediaList.vue
Labels: 🖥️Client

#10102 admin/emoji/addエンドポイントにおけるエラーコードのtypoを修正
  packages/backend/src/server/api/endpoints/admin/emoji/add.ts
Labels: ⚙️Server

#10106 fix: ノート数が多いインスタンスで、フォローが少ないとホームタイムラインの読み込みでクエリタイムアウトになるのを修正する
  packages/backend/src/server/api/endpoints/notes/timeline.ts
Labels: ⚙️Server

#10103 New Crowdin updates
  locales/fr-FR.yml
Labels: ‼️ wrong locales

#10112 Release: 13.8.1
  .github/PULL_REQUEST_TEMPLATE/03_release.md
  CHANGELOG.md
  package.json
  packages/frontend/src/components/MkModal.vue
Labels: 🖥️Client

#10130 fix(backend): return HTTP 404 for any unknown api endpoint paths
  cypress/e2e/api.cy.js
  packages/backend/src/server/api/ApiServerService.ts
Labels: ⚙️Server, 🧪Test

#10142 fix: 外部メディアプロキシ使用時にアバタークロップができない問題を修正
  packages/backend/src/server/FileServerService.ts
  packages/frontend/src/components/MkCropperDialog.vue
  packages/frontend/src/scripts/media-proxy.ts
Labels: 🖥️Client, ⚙️Server

#10138 fix(client): photoswipe（画像の拡大表示）がなんか変
  packages/frontend/src/components/MkMediaList.vue
Labels: 🖥️Client

#10107 enhance: Play の「ソースを表示」にシンタックスハイライトを当てる
  packages/frontend/src/pages/flash/flash.vue
Labels: 🖥️Client

#10122 fix(sw): プッシュ通知でカスタム絵文字リアクションを表示できるように
  packages/backend/src/server/ServerService.ts
  packages/sw/src/scripts/create-notification.ts
Labels: ⚙️Server

#10121 enhance(client): emojisはIndexedDBに保存する
  packages/frontend/src/custom-emojis.ts
  packages/frontend/src/local-storage.ts
Labels: 🖥️Client
