Repository misskey-dev/misskey, pull requests merged in 2023-09, with the labels that each got.

#11777 Respond .well-known/host-meta.json with application/json
  packages/backend/src/server/WellKnownServerService.ts
Labels: packages/backend

#11778 i18n(frontend): デッキの「カラムの設定」に翻訳を追加
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/ui/deck/column.vue
Labels: packages/frontend

#11466 feat(frontend): Report renote abuse
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend

#11789 feat(frontend): remove renote with by admin privilege
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#11784 feat(backend): Webhook設定でsecretを空に出来るように
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/i/webhooks/create.ts
  packages/backend/src/server/api/endpoints/i/webhooks/update.ts
Labels: packages/backend

#11476 chore(frontend): renote of note in sensitive channel is now home renote by default.
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#11447 chore: Goodbye gulp
  gulpfile.mjs
  package.json
  packages/frontend/package.json
  pnpm-lock.yaml
  scripts/build-assets.mjs
  scripts/dev.mjs
Labels: packages/frontend

#11799 fix(backend): timeout when querying mentions
  packages/backend/src/server/api/endpoints/notes/mentions.ts
Labels: packages/backend

#11804 feat: passkey support
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1691959191872-passkey-support.js
  packages/backend/package.json
  packages/backend/src/boot/common.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/TwoFactorAuthenticationService.ts
  packages/backend/src/core/WebAuthnService.ts
  packages/backend/src/daemons/DaemonModule.ts
  packages/backend/src/daemons/JanitorService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/entities/AttestationChallenge.ts
  packages/backend/src/models/entities/UserSecurityKey.ts
  packages/backend/src/models/index.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/endpoints/i/2fa/key-done.ts
  packages/backend/src/server/api/endpoints/i/2fa/register-key.ts
  packages/backend/src/server/api/endpoints/i/2fa/register.ts
  packages/backend/src/server/api/endpoints/i/2fa/remove-key.ts
  packages/backend/src/server/api/endpoints/i/2fa/unregister.ts
  packages/backend/src/server/api/endpoints/i/2fa/update-key.ts
  packages/backend/test/e2e/2fa.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/pages/settings/2fa.vue
  packages/frontend/src/scripts/2fa.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/backend:test

#11797 enhance: センシティブチャンネルはユーザーのノート一覧から除外
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/users/notes.ts
Labels: packages/backend

#11805 feat: nodeinfo 2.1
  packages/backend/src/server/NodeinfoServerService.ts
Labels: packages/backend

#11806 enhance(frontend): データセーバーモードで隠れる画像を増やす等
  CHANGELOG.md
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/MkPagePreview.vue
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/page/page.image.vue
  packages/frontend/src/components/page/page.vue
  packages/frontend/src/pages/page.vue
Labels: packages/frontend

#11812 refactor(i18n): 翻訳ファイルの`d.ts`生成をbuild-assetsスクリプト内で実行する
  locales/generateDTS.js
  packages/frontend/vite.config.ts
  scripts/build-assets.mjs
Labels: packages/frontend

#11810 feat: テスト通知を送信できるようにする
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/models/entities/Notification.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/notifications/test-notification.ts
  packages/backend/src/types.ts
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/notifications.vue
  packages/frontend/src/scripts/test-notification.ts
  packages/frontend/src/ui/_common_/common.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#11817 新しい実績を追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/AchievementService.ts
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/notifications.vue
  packages/frontend/src/scripts/achievements.ts
  packages/frontend/src/scripts/test-notification.ts
Labels: packages/frontend, packages/backend

#11819 feat(frontend): "Moderation Note" ,"Add moderation note" をローカライズ可能に
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/user/home.vue
Labels: packages/frontend

#11830 fix(backend): enhance nodeinfo by prpoagate the standart keys for homepage and repository
  packages/backend/src/server/NodeinfoServerService.ts
Labels: packages/backend

#11843 feat: Mk:apiが失敗時エラー型の値を返すように (#2)
  CHANGELOG.md
  packages/frontend/src/scripts/aiscript/api.ts
Labels: packages/frontend

#11850 Scratchpadに非同期のエラーを処理する機能を追加
  CHANGELOG.md
  packages/frontend/src/pages/scratchpad.vue
  packages/frontend/src/scripts/aiscript/ui.ts
Labels: packages/frontend

#11849 update deps
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/misskey-js/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/sw, packages/misskey-js

#11863 enhance: 二要素認証設定時のセキュリティを強化
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/UserAuthService.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/endpoints/i/2fa/done.ts
  packages/backend/src/server/api/endpoints/i/2fa/key-done.ts
  packages/backend/src/server/api/endpoints/i/2fa/register-key.ts
  packages/backend/src/server/api/endpoints/i/2fa/register.ts
  packages/backend/src/server/api/endpoints/i/2fa/remove-key.ts
  packages/backend/src/server/api/endpoints/i/2fa/unregister.ts
  packages/backend/src/server/api/endpoints/i/change-password.ts
  packages/backend/src/server/api/endpoints/i/delete-account.ts
  packages/backend/src/server/api/endpoints/i/update-email.ts
  packages/backend/test/e2e/2fa.ts
  packages/frontend/src/components/MkInput.vue
  packages/frontend/src/components/MkPasswordDialog.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/settings/2fa.vue
  packages/frontend/src/pages/settings/email.vue
  packages/frontend/src/pages/settings/other.vue
  packages/frontend/src/pages/settings/security.vue
Labels: packages/frontend, packages/backend, packages/backend:test

#11851 feat(frontend): センシティブなメディアを目立たせる設定を追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#11791 fix(backend): mostr.pub, Mitraのユーザーをフォローできない問題を修正
  CHANGELOG.md
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/test/misc/mock-resolver.ts
Labels: packages/backend, packages/backend:test

#11277 feat: ユーザを除外できるアンテナ
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1689325027964-UserBlacklistAnntena.js
  packages/backend/src/core/AntennaService.ts
  packages/backend/src/models/Antenna.ts
  packages/backend/src/models/json-schema/antenna.ts
  packages/backend/src/server/api/endpoints/antennas/create.ts
  packages/backend/src/server/api/endpoints/antennas/update.ts
  packages/frontend/src/pages/my-antennas/editor.vue
Labels: packages/frontend, packages/backend

#11873 enhance(frontend): プラグインのソースコードを確認・コピーできるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/plugin.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#10939 enhance(backend): refine moderation log
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/AnnouncementService.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/ModerationLogService.ts
  packages/backend/src/core/NoteDeleteService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/server/api/endpoints/admin/announcements/create.ts
  packages/backend/src/server/api/endpoints/admin/emoji/add.ts
  packages/backend/src/server/api/endpoints/admin/queue/clear.ts
  packages/backend/src/server/api/endpoints/admin/queue/promote.ts
  packages/backend/src/server/api/endpoints/admin/roles/assign.ts
  packages/backend/src/server/api/endpoints/admin/roles/unassign.ts
  packages/backend/src/server/api/endpoints/admin/roles/update.ts
  packages/backend/src/server/api/endpoints/admin/show-moderation-logs.ts
  packages/backend/src/server/api/endpoints/admin/suspend-user.ts
  packages/backend/src/server/api/endpoints/admin/unsuspend-user.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/admin/update-user-note.ts
  packages/backend/src/server/api/endpoints/drive/files/delete.ts
  packages/backend/src/server/api/endpoints/notes/delete.ts
  packages/backend/src/types.ts
  packages/backend/test/unit/AnnouncementService.ts
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/admin/modlog.ModLog.vue
  packages/frontend/src/pages/admin/modlog.vue
  packages/frontend/src/router.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/consts.ts
  packages/misskey-js/src/entities.ts
  packages/misskey-js/src/index.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#11878 fix: ノート通知で絵文字が使われている名前が絵文字で表示されない
  packages/frontend/src/components/MkNotification.vue
Labels: packages/frontend

#11883 Mk:apiで外部サーバーとの接続を禁止
  CHANGELOG.md
  packages/frontend/src/scripts/aiscript/api.ts
Labels: packages/frontend

#11890 fix(backend): お知らせのページネーションが機能しない #11800
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/announcements.ts
Labels: packages/backend

#11896 fix(frontend): ログアウト状態でのノートメニュー内の詳細ボタンの表示をログイン状態と同じに
  CHANGELOG.md
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend

#11898 2023.9.1
  .github/workflows/api-misskey-js.yml
  .github/workflows/check_copyright_year.yml
  .github/workflows/docker-develop.yml
  .github/workflows/docker.yml
  .github/workflows/dockle.yml
  .github/workflows/lint.yml
  .github/workflows/pr-preview-deploy.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-misskey-js.yml
  .github/workflows/test-production.yml
  CHANGELOG.md
  locales/de-DE.yml
  locales/en-US.yml
  locales/index.d.ts
  locales/it-IT.yml
  locales/ja-JP.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  package.json
  packages/backend/migration/1695605508898-mutingNotificationTypes.js
  packages/backend/src/core/AnnouncementService.ts
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/NoteDeleteService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/server/api/endpoints/admin/reset-password.ts
  packages/backend/src/server/api/endpoints/admin/resolve-abuse-user-report.ts
  packages/backend/src/server/api/endpoints/admin/roles/create.ts
  packages/backend/src/server/api/endpoints/admin/roles/update.ts
  packages/backend/src/server/api/endpoints/admin/suspend-user.ts
  packages/backend/src/server/api/endpoints/admin/unsuspend-user.ts
  packages/backend/src/server/api/endpoints/admin/update-user-note.ts
  packages/backend/src/server/api/endpoints/announcements.ts
  packages/backend/src/types.ts
  packages/frontend/src/pages/admin/modlog.ModLog.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/consts.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#11909 feat(backend): MasterプロセスのPIDを書き出せるように
  .config/example.yml
  packages/backend/src/boot/master.ts
  packages/backend/src/config.ts
Labels: packages/backend

#11911 Feat: register_post_form_actionでcwを変更可能にする
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#11913 広告に関する修正(配信中の絞り込み、Create時にMiAdを返すように)
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/admin/ad/create.ts
  packages/backend/src/server/api/endpoints/admin/ad/list.ts
  packages/frontend/src/pages/admin/ads.vue
Labels: packages/frontend, packages/backend

#11887 Feat: AiScriptでリモートサーバーのAPIを叩く関数を追加
  CHANGELOG.md
  packages/frontend/src/os.ts
  packages/frontend/src/scripts/aiscript/api.ts
  packages/frontend/src/scripts/api.ts
Labels: packages/frontend

#11924 feat: AiScriptでホストのアドレスを参照できる定数
  CHANGELOG.md
  packages/frontend/src/scripts/aiscript/api.ts
Labels: packages/frontend

#11926 Release: 2023.9.3
  CHANGELOG.md
  locales/de-DE.yml
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  package.json
  packages/backend/src/core/NotificationService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/server/api/endpoints/notes/translate.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/modlog.ModLog.vue
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/scripts/aiscript/api.ts
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend, packages/backend, packages/backend:test

#11935 refactor(backend): Use `request.routeOptions.url` instead of `request.routerPath` to supress FSTDEP017
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend
