Repository misskey-dev/misskey, pull requests merged in 2023-01, with the labels that each got.

#9444 perf: use Intl.DateTimeFormat and Intl.NumberFormat instead of toLocaleString
  packages/frontend/src/components/MkAbuseReport.vue
  packages/frontend/src/components/MkChart.vue
  packages/frontend/src/components/MkFileListForAdmin.vue
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/MkYoutubePlayer.vue
  packages/frontend/src/components/global/MkTime.vue
  packages/frontend/src/filters/date.ts
  packages/frontend/src/filters/number.ts
  packages/frontend/src/pages/about.federation.vue
  packages/frontend/src/pages/admin/users.vue
  packages/frontend/src/pages/instance-info.vue
  packages/frontend/src/pages/note.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/scripts/intl-const.ts
Labels: 🐢Performance, 🖥️Client

#9443 perf: use overflow: clip instead of overflow: hidden
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkButton.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkPoll.vue
  packages/frontend/src/components/MkSubNoteContent.vue
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/global/MkAvatar.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/ui/deck/column.vue
Labels: 🖥️Client

#9439 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/ko-KR.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9458 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/nl-NL.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9469 enhance: RSSウィジェット / RSSティッカーウィジェットをいい感じにする
  packages/frontend/src/scripts/use-interval.ts
  packages/frontend/src/widgets/rss-ticker.vue
  packages/frontend/src/widgets/rss.vue
Labels: 🖥️Client

#9470 fix(client): miauthのcallback urlをsearchParams.setで作るように
  packages/frontend/src/pages/miauth.vue
Labels: 🖥️Client

#9472 fix(backend): Set correct access control of admin/drive/files
  packages/backend/src/server/api/endpoints/admin/drive/files.ts
Labels: ⚙️Server

#9471 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9481 カスタム絵文字にプロキシを復活
  packages/backend/src/misc/is-mime-image.ts
  packages/backend/src/server/MediaProxyServerService.ts
  packages/backend/src/server/web/ClientServerService.ts
Labels: ⚙️Server

#9479 Support remote objects in search
  packages/frontend/src/pages/search.vue
Labels: 🖥️Client

#9478 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/it-IT.yml
  locales/ko-KR.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9406 enhance: Push Notification badges to Tabler Icons
  packages/backend/assets/notification-badges/LICENSE
  packages/backend/assets/notification-badges/at.png
  packages/backend/assets/notification-badges/check.png
  packages/backend/assets/notification-badges/clipboard-check-solid.png
  packages/backend/assets/notification-badges/clock.png
  packages/backend/assets/notification-badges/comments.png
  packages/backend/assets/notification-badges/id-card-alt.png
  packages/backend/assets/notification-badges/plus.png
  packages/backend/assets/notification-badges/poll-h.png
  packages/backend/assets/notification-badges/quote-right.png
  packages/backend/assets/notification-badges/reply.png
  packages/backend/assets/notification-badges/retweet.png
  packages/backend/assets/notification-badges/satellite.png
  packages/backend/assets/notification-badges/user-plus.png
  packages/backend/assets/tabler-badges/LICENSE
  packages/backend/assets/tabler-badges/antenna.png
  packages/backend/assets/tabler-badges/arrow-back-up.png
  packages/backend/assets/tabler-badges/at.png
  packages/backend/assets/tabler-badges/chart-arrows.png
  packages/backend/assets/tabler-badges/circle-check.png
  packages/backend/assets/tabler-badges/messages.png
  packages/backend/assets/tabler-badges/null.png
  packages/backend/assets/tabler-badges/plus.png
  packages/backend/assets/tabler-badges/quote.png
  packages/backend/assets/tabler-badges/repeat.png
  packages/backend/assets/tabler-badges/user-plus.png
  packages/backend/assets/tabler-badges/users.png
  packages/sw/src/scripts/create-notification.ts
  packages/sw/src/types.ts
Labels: ⚙️Server

#9492 fix typo
  packages/frontend/src/pages/user/activity.pv.vue
Labels: 🖥️Client

#9493 fix: Escape SQL LIKE
  CHANGELOG.md
  packages/backend/src/misc/sql-like-escape.ts
  packages/backend/src/server/api/endpoints/admin/emoji/list-remote.ts
  packages/backend/src/server/api/endpoints/admin/emoji/list.ts
  packages/backend/src/server/api/endpoints/admin/show-users.ts
  packages/backend/src/server/api/endpoints/federation/instances.ts
  packages/backend/src/server/api/endpoints/hashtags/search.ts
  packages/backend/src/server/api/endpoints/notes/search.ts
  packages/backend/src/server/api/endpoints/users/search-by-username-and-host.ts
  packages/backend/src/server/api/endpoints/users/search.ts
Labels: ⚙️Server

#9490 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9509 画面下部に必要なスペース関連の改善
  packages/frontend/src/components/MkLaunchPad.vue
  packages/frontend/src/components/MkMenu.vue
  packages/frontend/src/pages/messaging/messaging-room.vue
  packages/frontend/src/style.scss
  packages/frontend/src/ui/_common_/common.vue
  packages/frontend/src/ui/_common_/stream-indicator.vue
  packages/frontend/src/ui/universal.vue
Labels: 🖥️Client

#9510 refactor: api, apiGet関数をosから@/scripts/api.tsに分離する
  packages/frontend/src/os.ts
  packages/frontend/src/scripts/api.ts
Labels: 🖥️Client

#9502 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/el-GR.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/kab-KAB.yml
  locales/kn-IN.yml
  locales/ko-KR.yml
  locales/nl-NL.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/th-TH.yml
  locales/tr-TR.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9521 prefer using composition
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/ui/universal.vue
Labels: 🖥️Client

#9515 ログイン画面のユーザー名フォームへのautocomplete設定
  packages/frontend/src/components/MkSignin.vue
Labels: 🖥️Client

#9459 perf(backend): Use undici instead of node-fetch and got
  .config/example.yml
  packages/backend/package.json
  packages/backend/src/core/CaptchaService.ts
  packages/backend/src/core/DownloadService.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/src/core/HttpRequestService.ts
  packages/backend/src/core/S3Service.ts
  packages/backend/src/core/WebfingerService.ts
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/core/activitypub/LdSignatureService.ts
  packages/backend/src/queue/processors/WebhookDeliverProcessorService.ts
  packages/backend/src/server/api/endpoints/fetch-rss.ts
  packages/backend/src/server/api/endpoints/notes/translate.ts
  packages/backend/src/server/api/integration/DiscordServerService.ts
  packages/backend/src/server/api/integration/GithubServerService.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  yarn.lock
Labels: ⚙️Server

#9543 fix `navButtonIcon` not being aligned to center
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/ui/universal.vue
Labels: 🖥️Client

#9520 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/el-GR.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9263 enhance: Judge instance block by endsWith
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/chart/charts/federation.ts
  packages/backend/src/core/entities/InstanceEntityService.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/ap/show.ts
Labels: ⚙️Server

#8209 refactor: pagination/date-separated-list系処理を良い感じに？
  packages/frontend/src/components/MkDateSeparatedList.vue
  packages/frontend/src/components/MkNotes.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/pages/messaging/index.vue
  packages/frontend/src/pages/messaging/messaging-room.form.vue
  packages/frontend/src/pages/messaging/messaging-room.vue
  packages/frontend/src/scripts/scroll.ts
  packages/frontend/src/types/date-separated-list.ts
  packages/frontend/src/ui/visitor/a.vue
Labels: 🖥️Client

#9548 fix: follow request list api pagination
  packages/backend/src/server/api/endpoints/following/requests/list.ts
Labels: ⚙️Server

#9544 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/it-IT.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9556 E2Eテスト "first widget should be removed" 修正
  cypress/e2e/widgets.cy.js
  packages/frontend/src/components/MkWidgets.vue
Labels: 🖥️Client, 🧪Test

#9552 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9566 RoleCondFormulaValueのimport方法修正
  packages/backend/src/core/RoleService.ts
Labels: ⚙️Server

#9565 E2Eテスト修正
  cypress/e2e/widgets.cy.js
  packages/frontend/src/components/MkModal.vue
Labels: 🖥️Client, 🧪Test

#9562 New Crowdin updates
  locales/ko-KR.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9571 frontendに@types/nodeをインストールする
  packages/frontend/package.json
  yarn.lock
Labels: 🖥️Client

#9591 widget test修正
  cypress/e2e/widgets.cy.js
  packages/frontend/src/widgets/WidgetActivity.vue
  packages/frontend/src/widgets/WidgetAichan.vue
  packages/frontend/src/widgets/WidgetAiscript.vue
  packages/frontend/src/widgets/WidgetButton.vue
  packages/frontend/src/widgets/WidgetCalendar.vue
  packages/frontend/src/widgets/WidgetClock.vue
  packages/frontend/src/widgets/WidgetDigitalClock.vue
  packages/frontend/src/widgets/WidgetFederation.vue
  packages/frontend/src/widgets/WidgetJobQueue.vue
  packages/frontend/src/widgets/WidgetMemo.vue
  packages/frontend/src/widgets/WidgetNotifications.vue
  packages/frontend/src/widgets/WidgetOnlineUsers.vue
  packages/frontend/src/widgets/WidgetPhotos.vue
  packages/frontend/src/widgets/WidgetPostForm.vue
  packages/frontend/src/widgets/WidgetRss.vue
  packages/frontend/src/widgets/WidgetSlideshow.vue
  packages/frontend/src/widgets/WidgetTimeline.vue
  packages/frontend/src/widgets/WidgetTrends.vue
  packages/frontend/src/widgets/server-metric/index.vue
Labels: 🖥️Client, 🧪Test

#9599 エラー画像表示崩れ修正
  packages/frontend/src/components/global/MkError.vue
Labels: 🖥️Client

#9604 fix: note embedding in Pages editor
  packages/frontend/src/pages/page-editor/els/page-editor.el.note.vue
Labels: 🖥️Client

#9602 Fix style of messaging form, use css module
  packages/frontend/src/pages/messaging/messaging-room.form.vue
Labels: 🖥️Client

#9447 enhance(client): set -webkit-touch-callout
  packages/frontend/src/components/global/MkUrl.vue
  packages/frontend/src/style.scss
Labels: 🖥️Client

#9531 Use pnpm for package manager
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .vscode/settings.json
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.3.0.cjs
  .yarnrc
  .yarnrc.yml
  Dockerfile
  package.json
  packages/backend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/clean-all.js
  scripts/dev.js
  yarn.lock
Labels: ⚙️Server

#9589 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9607 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9378 ApRequestService: don't generate our own Host header
  packages/backend/src/core/activitypub/ApRequestService.ts
Labels: ⚙️Server

#8947 Option to force error
  packages/backend/src/server/web/boot.js
Labels: ⚙️Server

#9625 enhahce(client): :art: 通知のノートサマリーを1行にする
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/components/MkNotifications.vue
Labels: 🖥️Client

#9643 fix(client): messaging-room周り
  packages/frontend/src/pages/messaging/messaging-room.vue
Labels: 🖥️Client

#9616 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ko-KR.yml
  locales/uk-UA.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9109 enhance: Alt text in image viewer
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/MkMediaList.vue
Labels: 🖥️Client

#9665 Achievements
  locales/ja-JP.yml
  packages/backend/migration/1674118260469-achievement.js
  packages/backend/migration/1674255666603-loggedInDates.js
  packages/backend/src/core/AchievementService.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/entities/Notification.ts
  packages/backend/src/models/entities/UserProfile.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/drive/folders/update.ts
  packages/backend/src/server/api/endpoints/i.ts
  packages/backend/src/server/api/endpoints/i/claim-achievement.ts
  packages/backend/src/server/api/endpoints/users/achievements.ts
  packages/backend/src/types.ts
  packages/frontend/src/account.ts
  packages/frontend/src/components/MkAchievements.vue
  packages/frontend/src/components/MkClickerGame.vue
  packages/frontend/src/components/MkDrive.folder.vue
  packages/frontend/src/components/MkDrive.vue
  packages/frontend/src/components/MkFollowButton.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/init.ts
  packages/frontend/src/navbar.ts
  packages/frontend/src/pages/achievements.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/router.ts
  packages/frontend/src/scripts/achievements.ts
  packages/frontend/src/scripts/get-note-menu.ts
Labels: 🖥️Client, ⚙️Server

#9666 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/el-GR.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/nl-NL.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9673 New Crowdin updates
  locales/en-US.yml
Labels: ‼️ wrong locales

#9676 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/ko-KR.yml
  locales/ru-RU.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9680 New Crowdin updates
  locales/it-IT.yml
  locales/ru-RU.yml
Labels: ‼️ wrong locales

#9685 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/it-IT.yml
  locales/ru-RU.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9689 New Crowdin updates
  locales/it-IT.yml
  locales/uk-UA.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9692 New Crowdin updates
  locales/ko-KR.yml
  locales/uk-UA.yml
Labels: ‼️ wrong locales

#9706 Hide the value of the object storage secret key input form in the admin page
  packages/frontend/src/pages/admin/object-storage.vue
Labels: 🖥️Client

#9712 Fix #9710 ?
  packages/backend/src/core/HttpRequestService.ts
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/src/misc/dev-null.ts
  pnpm-lock.yaml
Labels: ⚙️Server

#9696 New Crowdin updates
  locales/de-DE.yml
  locales/en-US.yml
  locales/it-IT.yml
  locales/ko-KR.yml
  locales/ru-RU.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: ‼️ wrong locales

#9716 New Crowdin updates
  locales/uk-UA.yml
Labels: ‼️ wrong locales

#9724 New Crowdin updates
  locales/uk-UA.yml
Labels: ‼️ wrong locales

#9709 refactor: /proxyをFileServerServiceに統合し、/proxyのurlで/filesが指定されていた場合は直接ファイルを解決するようにする
  .node-version
  packages/backend/src/core/ImageProcessingService.ts
  packages/backend/src/logger.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/MediaProxyServerService.ts
  packages/backend/src/server/ServerModule.ts
  packages/backend/src/server/ServerService.ts
Labels: ⚙️Server

#9690 Default to `animation: false` when prefers-reduced-motion is set
  packages/frontend/src/store.ts
Labels: 🖥️Client

#9728 リアクション履歴が公開なら、ログインしていなくても表示できるように
  packages/backend/src/server/api/endpoints/users/reactions.ts
Labels: ⚙️Server

#9734 New Crowdin updates
  locales/uk-UA.yml
Labels: ‼️ wrong locales

#9669 feat: classicモードでテーマが自動変更された際元に戻すように
  CHANGELOG.md
  packages/frontend/src/local-storage.ts
  packages/frontend/src/ui/classic.vue
  packages/frontend/src/ui/universal.vue
Labels: 🖥️Client

#9758 fix(ap): ld signature normalizer
  packages/backend/src/core/activitypub/LdSignatureService.ts
Labels: ⚙️Server
