Repository misskey-dev/misskey, pull requests merged in 2023-11, with the labels that each got.

#11982 Feat: 未読通知数を表示できるように
  CHANGELOG.md
  packages/backend/assets/tabler-badges/bell.png
  packages/backend/src/core/NotificationService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkLaunchPad.vue
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/navbar.ts
  packages/frontend/src/pages/settings/notifications.vue
  packages/frontend/src/style.scss
  packages/frontend/src/ui/_common_/common.vue
  packages/frontend/src/ui/_common_/navbar-for-mobile.vue
  packages/frontend/src/ui/_common_/navbar.vue
  packages/frontend/src/ui/classic.sidebar.vue
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/ui/universal.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
  packages/sw/src/scripts/create-notification.ts
  packages/sw/src/types.ts
Labels: packages/frontend, packages/backend, packages/sw, packages/misskey-js, packages/backend:test

#12215 fix(frontend): /about#federation のレイアウトが一部崩れているのを修正
  packages/frontend/src/pages/about.federation.vue
Labels: packages/frontend

#12158 docs: Remove forum references and use Github Discussions
  CONTRIBUTING.md
  packages/misskey-js/CONTRIBUTING.md
  packages/misskey-js/docs/CONTRIBUTING.en.md
Labels: packages/misskey-js

#12212 fix 絵文字ピッカーでバッテリーの絵文字が複数表示される問題を修正
  CHANGELOG.md
  packages/frontend/src/emojilist.json
Labels: packages/frontend

#12223 build: vite port configuration
  packages/backend/src/server/web/ClientServerService.ts
  scripts/dev.mjs
Labels: packages/backend

#12221 enhance: アカウント登録時のメールアドレス認証に30分の有効期限を設定
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/SignupApiService.ts
  packages/frontend/src/pages/signup-complete.vue
Labels: packages/frontend, packages/backend

#12141 enhance: 初期設定とチュートリアルを統合
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/AchievementService.ts
  packages/frontend/assets/tutorial/ai.webp
  packages/frontend/assets/tutorial/natto_failed.webp
  packages/frontend/assets/tutorial/timeline_tab.png
  packages/frontend/src/components/MkInfo.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteHeader.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormAttaches.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/components/MkReactionsViewer.vue
  packages/frontend/src/components/MkTutorialDialog.Note.vue
  packages/frontend/src/components/MkTutorialDialog.PostNote.vue
  packages/frontend/src/components/MkTutorialDialog.Sensitive.vue
  packages/frontend/src/components/MkTutorialDialog.Timeline.vue
  packages/frontend/src/components/MkTutorialDialog.vue
  packages/frontend/src/components/MkUserSetupDialog.vue
  packages/frontend/src/pages/timeline.tutorial.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/scripts/achievements.ts
  packages/frontend/src/store.ts
  packages/frontend/src/ui/_common_/common.ts
Labels: packages/frontend, packages/backend

#12230 feat: チャンネル内→チャンネル外へのリノート制限機能追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1698840138000-add-allow-renote-to-external.js
  packages/backend/src/core/entities/ChannelEntityService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/models/Channel.ts
  packages/backend/src/models/json-schema/channel.ts
  packages/backend/src/server/api/endpoints/channels/create.ts
  packages/backend/src/server/api/endpoints/channels/update.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/pages/channel-editor.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#12213 enhance(frontend): federated instance icon with proxy (welcome entrance)
  packages/frontend/src/pages/welcome.entrance.a.vue
Labels: packages/frontend

#12225 fix(frontend): サイレンス状態で公開範囲のパブリックを選択できてしまう問題を修正 (#12224)
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkVisibilityPicker.vue
Labels: packages/frontend

#12219 11以上されているリアクションにおいてツールチップで示されるリアクション数が本来よりも1多い問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkReactionsViewer.details.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
Labels: packages/frontend

#12222 fix: URLプレビューが表示されないのを修正
  packages/frontend/src/components/MkUrlPreview.vue
Labels: packages/frontend

#12234 fix(backend): GTLの「リノートを表示」オプションが機能しないのを修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/global-timeline.ts
Labels: packages/backend

#12242 fix(frontend): チュートリアル中にPostFormにフォーカスが当たらないようにする
  packages/frontend/src/components/MkTutorialDialog.PostNote.vue
  packages/frontend/src/components/MkTutorialDialog.Sensitive.vue
Labels: packages/frontend

#12248 fix(backend): isBot not being set on `Application` type
  packages/backend/src/core/activitypub/models/ApPersonService.ts
Labels: packages/backend

#12267 fix: 引用リノート時の入力欄にフォーカスが当たらずすぐに入力が出来ないのを修正
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
Labels: packages/frontend

#12280 fix(backend): トークンのないプラグインをアンインストールするときにエラーが出ないように
  packages/backend/src/server/api/endpoints/i/revoke-token.ts
Labels: packages/backend

#12282 fix: ref化したnoteの変更通知がMfmコンポーネントまで到達してないのを修正
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#12273 fix: show real instance url
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/base.pug
  packages/frontend/src/config.ts
Labels: packages/frontend, packages/backend

#12263 fix: 投稿通知がオンでもダイレクト投稿はユーザーに通知されないように
  CHANGELOG.md
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#12299 fix: aiscript-vscodeのバージョンを更新
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend

#12274 デッキのカラムからリロードできる機能を追加
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/ui/deck/antenna-column.vue
  packages/frontend/src/ui/deck/channel-column.vue
  packages/frontend/src/ui/deck/column.vue
  packages/frontend/src/ui/deck/direct-column.vue
  packages/frontend/src/ui/deck/list-column.vue
  packages/frontend/src/ui/deck/mentions-column.vue
  packages/frontend/src/ui/deck/notifications-column.vue
  packages/frontend/src/ui/deck/role-timeline-column.vue
  packages/frontend/src/ui/deck/tl-column.vue
Labels: packages/frontend

#12283 fix: 絵文字ピッカーでの検索が更新されない問題を修正
  packages/frontend/src/unicode-emoji-indexes/en-US.json
Labels: packages/frontend

#12270 Fix: latestRequestReceivedAt
  packages/backend/src/core/entities/InstanceEntityService.ts
  packages/backend/src/models/json-schema/federation-instance.ts
Labels: packages/backend

#12239 fix(frontend): アイコンデコレーションが見切れる問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkReactionsViewer.details.vue
  packages/frontend/src/ui/_common_/navbar.vue
Labels: packages/frontend

#12308 fix(frontend): 「フォロー中の人全員の返信を含める/含めないようにする」のボタンを押下した際の確認が機能していない問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/settings/other.vue
Labels: packages/frontend

#12321 ユーザのノートのみ表示時にDBへフォールバックするとリノートを含んでしまうのを修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/users/notes.ts
Labels: packages/backend

#12310 非ログイン時に「メモを追加」を表示しない
  CHANGELOG.md
  packages/frontend/src/pages/user/home.vue
Labels: packages/frontend

#12305 Fix(frontend): role users/timeline visiable ui
  packages/frontend/src/pages/role.vue
Labels: packages/frontend

#12322 fix: test break caused by #12273
  packages/frontend/src/config.ts
  packages/frontend/src/stream.ts
Labels: packages/frontend

#12150 docs: Update Code of Conduct to version 2.1
  CODE_OF_CONDUCT.md
Labels: 💬Discussion

#12333 fix(backend): 非公開の投稿に対して返信できないように
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/test/e2e/timelines.ts
Labels: packages/backend, packages/backend:test

#12334 enhance(backend): Implementation of HTTP header and body validation to fix SIF-2023-002
  packages/backend/package.json
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/src/server/ServerService.ts
  pnpm-lock.yaml
Labels: packages/backend, 🔒Security

#12292 Fix(frontend): 管理画面の連合でサーバーサイレンスが出るように
  packages/frontend/src/pages/admin/federation.vue
Labels: packages/frontend

#12237 fix: 表示済みのカラムから別のチャンネルを選択した時、タイムラインの内容が追従して変更されない問題に対処
  CHANGELOG.md
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/components/MkTimeline.vue
Labels: packages/frontend

#12339 通知音などの発音方法を変え、iOSで音声出力が競合しないようにする
  CHANGELOG.md
  packages/frontend/src/scripts/sound.ts
Labels: packages/frontend

#12347 LTLに特定条件下でチャンネル投稿が混ざり込む現象の修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
Labels: packages/backend

#12355 DeepL TranslationのPro accountトグルスイッチが表示されていなかったのを修正
  packages/frontend/src/pages/admin/external-services.vue
Labels: packages/frontend

#12354 ページ一覧ページの表示がモバイル環境において崩れているのを修正
  CHANGELOG.md
  packages/frontend/src/components/MkPagePreview.vue
Labels: packages/frontend

#12366 fix: 「設定のバックアップ」に一部の設定項目が含まれていない問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/settings/preferences-backups.vue
Labels: packages/frontend

#12371 backendのプロジェクトで単体で start できないのを修正
  packages/backend/package.json
Labels: packages/backend

#12379 update api report
  packages/misskey-js/etc/misskey-js.api.md
Labels: packages/misskey-js

#12312 json-schema配下の最新化
  CHANGELOG.md
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/models/json-schema/announcement.ts
  packages/backend/src/models/json-schema/channel.ts
  packages/backend/src/models/json-schema/clip.ts
  packages/backend/src/models/json-schema/drive-file.ts
  packages/backend/src/models/json-schema/drive-folder.ts
  packages/backend/src/models/json-schema/federation-instance.ts
  packages/backend/src/models/json-schema/flash.ts
  packages/backend/src/models/json-schema/following.ts
  packages/backend/src/models/json-schema/gallery-post.ts
  packages/backend/src/models/json-schema/note.ts
  packages/backend/src/models/json-schema/notification.ts
  packages/backend/src/models/json-schema/page.ts
  packages/backend/src/models/json-schema/user.ts
Labels: packages/backend

#12395 json-schema/note.tsの定義が足りていなかったのを修正
  packages/backend/src/models/json-schema/note.ts
Labels: packages/backend

#12391 サーバ起動時にアンテナが非アクティブだった場合、アクティブ化しても再起動するまで反映されない
  CHANGELOG.md
  packages/backend/src/core/AntennaService.ts
  packages/backend/src/server/api/endpoints/antennas/notes.ts
Labels: packages/backend

#12385 広告掲載ページにてfilterをわかりやすく
  packages/backend/src/server/api/endpoints/admin/ad/list.ts
  packages/frontend/src/pages/admin/ads.vue
Labels: packages/frontend, packages/backend

#12368 サウンド再生方法の変更に追従できていなかった所を修正
  CHANGELOG.md
  packages/frontend/src/scripts/sound.ts
  packages/frontend/src/widgets/WidgetJobQueue.vue
Labels: packages/frontend

#12400 fix: twitterの埋め込みカード内リンクからリンク先を開けない問題を修正
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/test/url-preview.test.ts
Labels: packages/frontend

#12405 chore(frontend): taichanのリンク先を修正（リンク切れ）
  packages/frontend/src/pages/about-misskey.vue
Labels: packages/frontend

#12403 swagger-cli validateがvalidとなるapi.jsonを作れるようにする
  CHANGELOG.md
  packages/backend/generate_api_json.js
  packages/backend/package.json
  packages/backend/src/server/api/endpoints/federation/show-instance.ts
  packages/backend/src/server/api/openapi/gen-spec.ts
  packages/backend/src/server/api/openapi/schemas.ts
Labels: packages/backend

#12365 絵文字のオートコンプリート強化の対応
  CHANGELOG.md
  packages/frontend/src/components/MkAutocomplete.vue
Labels: packages/frontend

#12376 Hard mute
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1700383825690-hard-mute.js
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNotes.vue
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/pages/settings/mute-block.word-mute.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#12423 fix(backend): 招待コードが使い回せる問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/SignupApiService.ts
Labels: packages/backend

#12420 enhance/fix(AP/frontend): 最近追加されたMFMのもろもろを修正
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/src/core/MfmService.ts
  packages/frontend/src/components/global/MkTime.vue
Labels: packages/frontend, packages/backend, 🌌Federation

#12418 fix(frontend): コードエディタが正しく表示されない問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkCodeEditor.vue
Labels: packages/frontend

#12424 fix(frontend): プロフィールの「ファイル」にセンシティブな画像がある際のデザインを修正
  CHANGELOG.md
  packages/frontend/src/pages/user/index.files.vue
Labels: packages/frontend

#12425 feat(frontend): "Manual roles" ,"Conditional roles" をローカライズ可能に
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/admin/roles.vue
Labels: packages/frontend

#12416 feat(frontend): リアクションの横幅を150pxに制限するかどうかユーザーが選べるように
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#12426 refactor(backend): Replace deprecated `Repository.findOneById()`
  packages/backend/src/server/api/endpoints/notes/create.ts
Labels: packages/backend

#12428 fix: hard mute limit not applied
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/i/update.ts
Labels: packages/backend

#12427 Feat(frontend): コントロールパネル「通報」において、通報者にもリンクで飛べるように修正
  packages/frontend/src/components/MkAbuseReport.vue
Labels: packages/frontend

#12431 fix: 特定の条件下でチャンネルやユーザーのノート一覧に最新のノートが表示されなくなる問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/channels/timeline.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
Labels: packages/backend

#12436 enhance(frontend): ユーザーのRawデータを読めるページを復活させる
  CHANGELOG.md
  packages/frontend/src/pages/user/index.vue
  packages/frontend/src/pages/user/raw.vue
Labels: packages/frontend

#12457 enhance(frontend): Add mocks for Web Audio API
  packages/frontend/test/init.ts
Labels: packages/frontend, packages/frontend:test

#12455 fix(backend): 何もノートしていないユーザーのフィードにアクセスするとエラーになる問題を修正
  CHANGELOG.md
  packages/backend/src/server/web/FeedService.ts
  packages/backend/test/e2e/fetch-resource.ts
Labels: packages/backend, packages/backend:test

#12453 fix(backend): rename FunoutTimelineService to FanoutTimelineService
  packages/backend/src/core/AntennaService.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/FanoutTimelineService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/server/api/endpoints/antennas/notes.ts
  packages/backend/src/server/api/endpoints/channels/timeline.ts
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/backend/src/server/api/endpoints/notes/timeline.ts
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
  packages/backend/src/server/api/endpoints/roles/notes.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
Labels: packages/backend

#12448 fix(backend): ギャラリーの人気の投稿の選出にidを用いるように
  packages/backend/src/core/FeaturedService.ts
  packages/backend/src/server/api/endpoints/gallery/featured.ts
  packages/backend/src/server/api/endpoints/gallery/posts/like.ts
  packages/backend/src/server/api/endpoints/gallery/posts/unlike.ts
Labels: packages/backend

#12439 fix: query error in notes/featured
  packages/backend/src/server/api/endpoints/notes/featured.ts
Labels: packages/backend

#12441 enhance(frontend): リアクション選択時に音を流せるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/assets/sounds/syuilo/bubble1.mp3
  packages/frontend/assets/sounds/syuilo/bubble2.mp3
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/pages/settings/sounds.vue
  packages/frontend/src/scripts/sound.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#12460 chore: create AudioContext when it is needed
  packages/frontend/src/scripts/sound.ts
  packages/frontend/src/widgets/WidgetJobQueue.vue
Labels: packages/frontend

#12342 サウンド設定に「サウンドを出力しない」と「Misskeyがアクティブな時のみサウンドを出力する」を追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/sounds.vue
  packages/frontend/src/scripts/sound.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#12392 chore(frontend/MkMediaVideo): loop and autoplay silent videos
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/scripts/media-has-audio.ts
Labels: packages/frontend

#12464 fix(frontend): Screen Wake Lock APIが正常に動作しない環境でのエラー処理
  packages/frontend/src/boot/common.ts
Labels: packages/frontend

#12471 fix(frontend): Fix a frontend testing script
  packages/frontend/package.json
Labels: packages/frontend

#12474 fix: アニメーションがオンのとき、ハードミュートにマッチするとエラーが発生してTLが更新されなくなることがある問題
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#12476 style: fix lint error of 6acaded8
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#12447 enhance(frontend): 通知音にドライブのファイルを使用できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/sounds.sound.vue
  packages/frontend/src/pages/settings/sounds.vue
  packages/frontend/src/scripts/sound.ts
  packages/frontend/src/store.ts
  packages/frontend/src/widgets/WidgetJobQueue.vue
Labels: packages/frontend

#12485 通知グルーピング設定の即時反映対応
  CHANGELOG.md
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/components/MkPagination.vue
Labels: packages/frontend

#12499 fix: packedNoteSchemaにclippedCountが抜けている
  packages/backend/src/models/json-schema/note.ts
Labels: packages/backend

#12491 fix: 音声が一切鳴らなくなる可能性がある
  packages/frontend/src/scripts/sound.ts
Labels: packages/frontend

#12484 fix(frontend): WebKitブラウザー上でも「デバイスの画面を常にオンにする」機能が効くように
  packages/frontend/src/boot/common.ts
Labels: packages/frontend

#12493 fix(frontend): Update the Vitest configuration
  packages/frontend/vite.config.ts
Labels: packages/frontend

#12505 enhance(frontend): Shareページでの投稿完了時にpostMessageを発火するように
  CHANGELOG.md
  packages/frontend/src/pages/share.vue
  packages/frontend/src/scripts/post-message.ts
Labels: packages/frontend

#12506 Fix: navigator.share未サポートの場合は共有ボタンを非表示にする（＋URLのコピーボタンを設置）
  CHANGELOG.md
  packages/frontend/src/components/global/MkPageHeader.vue
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/clip.vue
  packages/frontend/src/pages/flash/flash.vue
  packages/frontend/src/pages/gallery/post.vue
  packages/frontend/src/pages/page.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/scripts/navigator.ts
  packages/frontend/src/types/page-header.ts
Labels: packages/frontend

#12509 enhance(frontend): ノートプレビューにCWが反映されるように
  CHANGELOG.md
  packages/frontend/src/components/MkCwButton.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNotePreview.vue
  packages/frontend/src/components/MkNoteSimple.vue
  packages/frontend/src/components/MkNoteSub.vue
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#12512 enhance: 設定したタグをトレンドに表示させないようにする項目を管理画面で設定できるように
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/admin/moderation.vue
Labels: packages/frontend

#12495 refactor(frontend): give local variable to explicit type annotation to avoid TS7043
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
Labels: packages/frontend

#12481 enhance(dev): 開発モード時にlocaleと型定義が自動的に再生成されるように
  CHANGELOG.md
  locales/generateDTS.js
  locales/index.d.ts
  locales/index.js
  packages/frontend/src/navbar.ts
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/scripts/clear-cache.ts
  scripts/build-assets.mjs
Labels: 🛠️Dev, packages/frontend

#12450 feat(frontend): 今日誕生日のフォロー中のユーザーを一覧表示できるウィジェットを追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1700902349231-add-bday-index.js
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/server/api/endpoints/users/following.ts
  packages/frontend/src/widgets/WidgetBirthdayFollowings.vue
  packages/frontend/src/widgets/index.ts
Labels: packages/frontend, packages/backend

#12417 絵文字詳細ページに記載する情報を追加
  CHANGELOG.md
  packages/frontend/src/pages/emojis.emoji.vue
Labels: packages/frontend

#12518 fix: invite系の戻り値が間違っている
  packages/backend/src/server/api/endpoints/admin/invite/create.ts
  packages/backend/src/server/api/endpoints/admin/invite/list.ts
  packages/backend/src/server/api/endpoints/invite/create.ts
  packages/backend/src/server/api/endpoints/invite/list.ts
Labels: packages/backend
