Repository misskey-dev/misskey, pull requests merged in 2024-03, with the labels that each got.

#13487 chore(client): カスタム絵文字の画像読み込みに失敗した際はテキストではなくダミー画像を表示
  packages/frontend/src/components/global/MkCustomEmoji.stories.impl.ts
  packages/frontend/src/components/global/MkCustomEmoji.vue
Labels: packages/frontend

#13486 fix(frontend): ピン留め or 履歴に表示されるカスタム絵文字がサーバから削除されるとリアクションが出来なくなる
  CHANGELOG.md
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkEmojiPicker.section.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkReactionsViewer.details.vue
  packages/frontend/src/components/global/MkEmoji.vue
  packages/frontend/src/scripts/check-reaction-permissions.ts
  packages/frontend/src/scripts/emojilist.ts
Labels: packages/frontend

#13493 Release: 2024.3.1
  CHANGELOG.md
  locales/fr-FR.yml
  package.json
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkEmojiPicker.section.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkReactionIcon.vue
  packages/frontend/src/components/MkReactionsViewer.details.vue
  packages/frontend/src/components/global/MkCustomEmoji.stories.impl.ts
  packages/frontend/src/components/global/MkCustomEmoji.vue
  packages/frontend/src/components/global/MkEmoji.vue
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
  packages/frontend/src/pages/about-misskey.vue
  packages/frontend/src/pages/settings/emoji-picker.vue
  packages/frontend/src/scripts/check-reaction-permissions.ts
  packages/frontend/src/scripts/emojilist.ts
  packages/misskey-js/package.json
Labels: packages/frontend, packages/misskey-js

#13499 test(backend): refactor tests
  packages/backend/test/e2e/2fa.ts
  packages/backend/test/e2e/antennas.ts
  packages/backend/test/e2e/api-visibility.ts
  packages/backend/test/e2e/api.ts
  packages/backend/test/e2e/block.ts
  packages/backend/test/e2e/clips.ts
  packages/backend/test/e2e/drive.ts
  packages/backend/test/e2e/endpoints.ts
  packages/backend/test/e2e/exports.ts
  packages/backend/test/e2e/fetch-resource.ts
  packages/backend/test/e2e/ff-visibility.ts
  packages/backend/test/e2e/move.ts
  packages/backend/test/e2e/mute.ts
  packages/backend/test/e2e/note.ts
  packages/backend/test/e2e/renote-mute.ts
  packages/backend/test/e2e/streaming.ts
  packages/backend/test/e2e/thread-mute.ts
  packages/backend/test/e2e/timelines.ts
  packages/backend/test/e2e/user-notes.ts
  packages/backend/test/e2e/users.ts
  packages/backend/test/unit/AnnouncementService.ts
  packages/backend/test/unit/FetchInstanceMetadataService.ts
  packages/backend/test/unit/RoleService.ts
  packages/backend/test/utils.ts
Labels: packages/backend, packages/backend:test

#13507 fix(backend): リモートサーバーの情報が更新できなくなっていた問題を修正
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/test/unit/FetchInstanceMetadataService.ts
Labels: packages/backend, packages/backend:test

#13509 fix(frontend): router遷移時にmatchAllに入った場合一度`location.href`を経由するように
  CHANGELOG.md
  packages/frontend/src/nirax.ts
  packages/frontend/vite.config.local-dev.ts
Labels: packages/frontend

#13520 enhance(frontend): 自分のノートの添付ファイルから直接ファイルの詳細ページに飛べるようにする
  CHANGELOG.md
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/MkMediaVideo.vue
Labels: packages/frontend, packages/backend

#13532 enhance(frontend): リアクションの総数を表示するように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/models/json-schema/note.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/components/MkTutorialDialog.Note.vue
  packages/frontend/src/components/MkTutorialDialog.PostNote.vue
  packages/frontend/src/components/MkTutorialDialog.Sensitive.vue
  packages/frontend/src/scripts/use-note-capture.ts
  packages/frontend/src/style.scss
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#13526 test(backend): enable typecheck by workflow
  packages/backend/package.json
  packages/backend/test/e2e/note.ts
  packages/backend/test/e2e/timelines.ts
  packages/backend/test/global.d.ts
  packages/backend/test/prelude/get-api-validator.ts
  packages/backend/test/tsconfig.json
  packages/backend/test/unit/RelayService.ts
Labels: packages/backend, packages/backend:test

#13510 enhance(frontend): 広告が同一ドメインの場合はRouterで遷移するように
  CHANGELOG.md
  packages/frontend/src/components/global/MkAd.vue
Labels: packages/frontend

#13525 fix(frontend): 周年の実績が閏年を考慮するように
  CHANGELOG.md
  packages/frontend/src/boot/main-boot.ts
Labels: packages/frontend

#13539 enhance(frontend): リアクションの総数を表示するか設定で選べるように
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#13542 enhance(backend): antennas/updateの必須項目をantennaIdのみに
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/antennas/update.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#13559 enhance(frontend): 各サーバーはMisskeyを利用したサービスであることを強調
  packages/frontend/src/pages/welcome.entrance.a.vue
Labels: packages/frontend

#13555 fix: URL preview popup for local URL appears in the upper left corner
  CHANGELOG.md
  packages/frontend/src/components/MkLink.vue
  packages/frontend/src/components/global/MkA.vue
  packages/frontend/src/components/global/MkUrl.vue
Labels: packages/frontend

#13550 refactor(backend): UserEntityService.packMany()の高速化
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/server/api/endpoints/users/relation.ts
  packages/backend/test/unit/entities/UserEntityService.ts
Labels: packages/backend, packages/backend:test

#13570 chore: add missing SPDX ID and workflow check
  .github/workflows/check-spdx-license-id.yml
  cypress/e2e/basic.cy.js
  cypress/e2e/router.cy.js
  cypress/e2e/widgets.cy.js
  packages/backend/generate_api_json.js
  packages/backend/migration/1689325027964-UserBlacklistAnntena.js
  packages/backend/migration/1690417561185-fix-renote-muting.js
  packages/backend/migration/1690417561186-ChangeCacheRemoteFilesDefault.js
  packages/backend/migration/1690417561187-Fix.js
  packages/backend/migration/1690569881926-user-2fa-backup-codes.js
  packages/backend/migration/1691649257651-refine-announcement.js
  packages/backend/migration/1691657412740-refine-announcement-2.js
  packages/backend/migration/1695260774117-verified-links.js
  packages/backend/migration/1695288787870-following-notify.js
  packages/backend/migration/1695440131671-short-name.js
  packages/backend/migration/1695605508898-mutingNotificationTypes.js
  packages/backend/migration/1695901659683-note-updated-at.js
  packages/backend/migration/1696323464251-user-list-membership.js
  packages/backend/migration/1696331570827-hibernation.js
  packages/backend/migration/1696332072038-clean.js
  packages/backend/migration/1700383825690-hard-mute.js
  packages/backend/src/core/ChannelFollowingService.ts
  packages/backend/src/misc/fastify-hook-handlers.ts
  packages/backend/src/misc/is-pure-renote.ts
  packages/backend/src/misc/loader.ts
  packages/backend/src/models/ReversiGame.ts
  packages/backend/src/models/json-schema/signin.ts
  packages/backend/test/jest.setup.ts
  packages/backend/test/unit/ApMfmService.ts
  packages/backend/test/unit/misc/loader.ts
  packages/frontend/.storybook/preview-head.html
  packages/frontend/src/components/global/I18n.vue
  packages/frontend/src/filters/kmg.ts
  packages/frontend/src/scripts/check-reaction-permissions.ts
  packages/frontend/src/scripts/clear-cache.ts
  packages/frontend/src/scripts/code-highlighter.ts
  packages/frontend/src/scripts/media-has-audio.ts
  packages/frontend/src/type.ts
  scripts/changelog-checker/src/checker.ts
  scripts/changelog-checker/src/index.ts
  scripts/changelog-checker/src/parser.ts
  scripts/changelog-checker/test/checker.test.ts
  scripts/tarball.mjs
Labels: packages/frontend, packages/backend, packages/frontend:test, packages/backend:test

#13564 プラグインの簡易的なログを表示する機能
  CHANGELOG.md
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/plugin.vue
  packages/frontend/src/plugin.ts
Labels: packages/frontend

#13574 fix(general): `flash/create`でPlayの公開範囲を指定できない問題の修正と編集画面の調整
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/endpoints/flash/create.ts
  packages/frontend/src/pages/flash/flash-edit.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#13581 feat: check stream heartbeat after visibility changed to 'visible'
  packages/frontend/src/stream.ts
Labels: packages/frontend

#13587 fix(frontend): WebGL2コンテキストの初期化に失敗するとMisskeyが起動できなくなる問題を修正
  CHANGELOG.md
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/scripts/snowfall-effect.ts
Labels: packages/frontend

#13588 fix(backend): フォローリクエストを作成する際に既存のものは削除するように
  CHANGELOG.md
  packages/backend/src/core/UserFollowingService.ts
Labels: packages/backend

#13590 enhance(frontend): ページのデザインを調整
  CHANGELOG.md
  packages/frontend/src/components/page/page.image.vue
  packages/frontend/src/components/page/page.note.vue
  packages/frontend/src/components/page/page.text.vue
  packages/frontend/src/components/page/page.vue
  packages/frontend/src/pages/page-editor/els/page-editor.el.note.vue
  packages/frontend/src/pages/page.vue
Labels: packages/frontend

#13586 fix(backend): ユーザーやノートのOGPでローカルとリモートユーザーの見分けが付かない問題を修正
  CHANGELOG.md
  packages/backend/src/server/web/views/note.pug
  packages/backend/src/server/web/views/user.pug
Labels: packages/backend

#13598 fix(frontend): shikiの言語・テーマの定義ファイルをCDN(esm.sh)から取るようにする
  CHANGELOG.md
  packages/frontend/package.json
  packages/frontend/src/components/MkCode.core.vue
  packages/frontend/src/index.html
  packages/frontend/src/scripts/code-highlighter.ts
  packages/frontend/src/scripts/theme.ts
  packages/frontend/src/store.ts
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
Labels: packages/frontend

#13591 Cypress typescript
  cypress/e2e/basic.cy.ts
  cypress/e2e/router.cy.ts
  cypress/e2e/widgets.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: packages/frontend:test

#13561 fix(frontend): woodenPanelの配色を修正
  packages/frontend/src/boot/common.ts
  packages/frontend/src/style.scss
Labels: packages/frontend

#13603 enhance(antenna): Botの投稿を除外できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1710919614510-antenna-exclude-bots.js
  packages/backend/src/core/AntennaService.ts
  packages/backend/src/core/entities/AntennaEntityService.ts
  packages/backend/src/models/Antenna.ts
  packages/backend/src/models/json-schema/antenna.ts
  packages/backend/src/queue/processors/ExportAntennasProcessorService.ts
  packages/backend/src/queue/processors/ImportAntennasProcessorService.ts
  packages/backend/src/server/api/endpoints/antennas/create.ts
  packages/backend/src/server/api/endpoints/antennas/update.ts
  packages/backend/test/e2e/antennas.ts
  packages/frontend/src/pages/my-antennas/create.vue
  packages/frontend/src/pages/my-antennas/editor.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#13579 fix: URLプレビューの動作改善＋動作設定を可能にする
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1710512074000-url-preview-meta.js
  packages/backend/package.json
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/frontend/src/components/MkLink.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/global/MkUrl.vue
  packages/frontend/src/components/page/page.text.vue
  packages/frontend/src/instance.ts
  packages/frontend/src/pages/admin/security.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/misskey-js/src/autogen/types.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/misskey-js

#13607 enhance(frontend): TOTPの入力ダイアログを改良
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkInput.vue
  packages/frontend/src/components/MkPasswordDialog.vue
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/pages/settings/2fa.qrdialog.vue
  packages/frontend/src/pages/settings/2fa.vue
Labels: packages/frontend

#13613 enhance(frontend): リアクション受け入れがいいねのみの場合はボタンホバーでツールチップが出るように
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
Labels: packages/frontend

#13619 fix(misskey-js): fix ESLint error in generator due to `operationId` change
  packages/misskey-js/generator/src/generator.ts
Labels: packages/misskey-js

#13618 test(backend): fix streaming test error when replying to followers-only note
  packages/backend/test/e2e/streaming.ts
Labels: packages/backend, packages/backend:test

#13622 fix(generator): APIクライアントのパスにoperationIdが使われるのを修正
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/generator/src/generator.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/misskey-js

#12835 fix(frontend): 「今日誕生日のフォロー中ユーザー」ウィジェットが正しく動作しない問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/users/following.ts
  packages/frontend/src/widgets/WidgetBirthdayFollowings.vue
Labels: packages/frontend, packages/backend, packages/misskey-js

#13633 fix: report progress out of 100% in CleanRemoteFilesProcessorService
  CHANGELOG.md
  packages/backend/src/queue/processors/CleanRemoteFilesProcessorService.ts
Labels: packages/backend

#13631 fix(backend): better `notes/translate` error response
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/translate.ts
  packages/backend/test/e2e/note.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js, packages/backend:test

#13636 enhance(frontend): 2要素認証セットアップウィザードにアプリを起動するボタンを新設
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkButton.vue
  packages/frontend/src/pages/settings/2fa.qrdialog.vue
Labels: packages/frontend

#13206 fix/enhance(frontend): 映像・音声周りの改修
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/components/MkMenu.vue
  packages/frontend/src/components/MkSwitch.button.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/scripts/keycode.ts
  packages/frontend/src/store.ts
  packages/frontend/src/types/menu.ts
Labels: packages/frontend

#12935 Enhance(frontend): もっと！ボタンでリアクション一覧が開けるように
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkReactionsViewer.vue
  packages/frontend/src/pages/note.vue
  packages/frontend/src/router/definition.ts
Labels: packages/frontend

#13640 fix(frontend): remove duplicate CSS declaration
  packages/frontend/src/components/MkCode.vue
Labels: packages/frontend

#13568 enhance(backend): ビデオファイルにビデオトラックがあるかを確認するように
  .github/workflows/test-backend.yml
  CHANGELOG.md
  packages/backend/src/core/FileInfoService.ts
  packages/backend/test/resources/kick_gaba7.m4a
  packages/backend/test/unit/FileInfoService.ts
Labels: packages/backend, packages/backend:test

#13642 fix(frontend): ページデザインの修正
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/page/page.block.vue
  packages/frontend/src/components/page/page.dynamic.vue
  packages/frontend/src/components/page/page.text.vue
Labels: packages/frontend
