Repository misskey-dev/misskey, pull requests merged in 2024-10, with the labels that each got.

#14666 Make post form attachments accessible
  packages/frontend/src/components/MkPostFormAttaches.vue
Labels: packages/frontend

#14651 fix: sassのmodern-compilerを使うように
  packages/frontend-embed/vite.config.ts
  packages/frontend/vite.config.ts
Labels: packages/frontend

#14655 enhance: require captcha for signin
  CHANGELOG.md
  packages/backend/src/server/api/SigninApiService.ts
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkSignupDialog.form.vue
Labels: packages/frontend, packages/backend

#14673 enhance(backend): notify new login
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/assets/tabler-badges/login-2.png
  packages/backend/src/models/Notification.ts
  packages/backend/src/models/json-schema/notification.ts
  packages/backend/src/server/api/SigninService.ts
  packages/backend/src/types.ts
  packages/frontend-shared/js/const.ts
  packages/frontend/src/components/MkNotification.vue
  packages/misskey-js/src/autogen/types.ts
  packages/sw/src/scripts/create-notification.ts
  packages/sw/src/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/sw

#14662 fix(backend): 連合限定先が間違って連合しない先に代入されているのを修正
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
Labels: packages/backend

#14626 feat: サーバー初期設定時に初期パスワードを要求できるように
  .config/cypress-devcontainer.yml
  .config/example.yml
  CHANGELOG.md
  cypress/e2e/basic.cy.ts
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/config.ts
  packages/backend/src/server/api/endpoints/admin/accounts/create.ts
  packages/frontend/src/pages/welcome.setup.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/frontend:test

#14679 fix(misskey-js): type fixes related to signup and signin
  packages/backend/src/server/api/ApiServerService.ts
  packages/frontend/src/components/MkSignin.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/package.json
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/misskey-js

#14685 fix(test): 初期セットアップで初期パスワードを入力していないのを修正
  cypress/support/commands.ts
Labels: packages/frontend:test

#14658 enhance(frontend): サインイン画面の改善
  CHANGELOG.md
  cypress/e2e/basic.cy.ts
  cypress/support/commands.ts
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/test/e2e/2fa.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/src/components/MkSignin.input.vue
  packages/frontend/src/components/MkSignin.passkey.vue
  packages/frontend/src/components/MkSignin.password.vue
  packages/frontend/src/components/MkSignin.totp.vue
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkSigninDialog.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/frontend:test, packages/backend:test

#14692 fix(frontend): canvas-confettiの型定義を追加
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend

#14694 fix(frontend): ログイン画面でキャプチャが表示されない問題を修正
  packages/frontend/src/components/MkSignin.vue
Labels: packages/frontend

#14700 fix: signin の資格情報が足りないだけの場合はエラーにせず200を返すように
  cypress/e2e/basic.cy.ts
  cypress/support/commands.ts
  packages/backend/src/server/api/ApiServerService.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/SigninService.ts
  packages/backend/test/e2e/2fa.ts
  packages/backend/test/e2e/endpoints.ts
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkSignupDialog.form.vue
  packages/frontend/src/components/MkSignupDialog.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/frontend:test, packages/backend:test

#14698 feat(backend): 通報および通報解決時に送出されるSystemWebhookにユーザ情報を含めるようにする
  CHANGELOG.md
  packages/backend/src/core/AbuseReportNotificationService.ts
  packages/backend/src/core/WebhookTestService.ts
  packages/backend/test/unit/AbuseReportNotificationService.ts
Labels: packages/backend, packages/backend:test

#14705 リリースPRのレビューの修正 (#14675)
  packages/backend/src/server/api/ApiServerService.ts
  packages/frontend/src/components/MkFukidashi.vue
Labels: packages/frontend, packages/backend

#14443 enhance: 人気のPlayを10件以上表示できるように
  CHANGELOG.md
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/FlashService.ts
  packages/backend/src/core/entities/FlashEntityService.ts
  packages/backend/src/models/Flash.ts
  packages/backend/src/server/api/endpoints/flash/featured.ts
  packages/backend/test/unit/FlashService.ts
  packages/frontend/src/pages/flash/flash-index.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#14709 fix(backend/test): #14558 以降e2eテストがたまに失敗する問題を修正
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
Labels: packages/backend

#14711 fix(backend): correct `admin/abuse-user-reports` schema
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/admin/abuse-user-reports.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#14717 fix(frontend): クライアント上での時間ベースの実績獲得動作が実績獲得後も発動している問題を修正
  CHANGELOG.md
  packages/frontend/src/boot/main-boot.ts
Labels: packages/frontend

#14654 refactor: 拡張機能インストールのページの一部をコンポーネントとして分離
  packages/frontend/src/components/MkExtensionInstaller.stories.impl.ts
  packages/frontend/src/components/MkExtensionInstaller.vue
  packages/frontend/src/pages/install-extensions.vue
Labels: packages/frontend

#14738 fix(frontend): ユーザー登録完了時にサインインAPIを別途使用していたのを修正
  CHANGELOG.md
  packages/frontend/src/account.ts
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkSigninDialog.vue
  packages/frontend/src/components/MkSignupDialog.form.vue
  packages/frontend/src/components/MkSignupDialog.vue
  packages/frontend/src/components/MkUserCardMini.vue
  packages/frontend/src/pages/settings/accounts.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/misskey-js

#14750 fix: admin/emoji/update で不正なエラーが発生する
  CHANGELOG.md
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/server/api/endpoints/admin/emoji/update.ts
Labels: packages/backend

#14746 feat(backend): 7日間運営のアクティビティがないサーバを自動的に招待制にする
  CHANGELOG.md
  packages/backend/src/core/AbuseReportNotificationService.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/queue/QueueProcessorModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/processors/CheckModeratorsActivityProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/show-users.ts
  packages/backend/test/unit/RoleService.ts
  packages/backend/test/unit/queue/processors/CheckModeratorsActivityProcessorService.ts
Labels: packages/backend, packages/backend:test

#14745 enhance: introduce testCaptcha
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1728550878802-testcaptcha.js
  packages/backend/src/core/CaptchaService.ts
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/backend/src/server/api/ApiServerService.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/assets/testcaptcha.png
  packages/frontend/src/components/MkCaptcha.vue
  packages/frontend/src/components/MkSignin.password.vue
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkSignupDialog.form.vue
  packages/frontend/src/pages/admin/bot-protection.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#14748 fix(backend): キューのエラーログを簡略化するように
  CHANGELOG.md
  packages/backend/src/queue/QueueProcessorService.ts
Labels: packages/backend

#14755 refactor: MkStickyContainerで<style />を使う
  packages/frontend/src/components/global/MkStickyContainer.vue
Labels: packages/frontend

#14756 feat: ユーザーの名前に禁止ワードを設定できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1728634286056-prohibitedWordsForNameOfUser.js
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/frontend/src/components/MkUserSetupDialog.Profile.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/admin/moderation.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#14634 feat: リモートサーバーのサーバー情報を収集しないオプション
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1727318020265-enableStatsForFederatedInstances.js
  packages/backend/src/core/AccountMoveService.ts
  packages/backend/src/core/FederatedInstanceService.ts
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/NoteDeleteService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/test/unit/FetchInstanceMetadataService.ts
  packages/frontend/src/pages/admin/performance.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#14757 feat: 運営のアクティビティが一定期間ない場合は通知＋招待制に移行した際に通知
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/WebhookTestService.ts
  packages/backend/src/models/SystemWebhook.ts
  packages/backend/src/queue/processors/CheckModeratorsActivityProcessorService.ts
  packages/backend/test/unit/queue/processors/CheckModeratorsActivityProcessorService.ts
  packages/frontend/src/components/MkSystemWebhookEditor.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#14764 fix(frontend): 使用されているexposeを復活させる
  packages/frontend/src/components/global/MkStickyContainer.vue
Labels: packages/frontend

#14763 fix(frontend): タイムラインで、表示する広告がない際にも広告のwrapperが出てしまうのを修正
  packages/frontend/src/components/MkDateSeparatedList.vue
Labels: packages/frontend

#14762 enhance(backend): 個人宛のお知らせはわかったを押すとアーカイブするように
  CHANGELOG.md
  packages/backend/src/core/AnnouncementService.ts
  packages/frontend/src/pages/admin-user.vue
Labels: packages/frontend, packages/backend

#14582 test(backend): add federation test
  .github/labeler.yml
  .github/workflows/test-federation.yml
  .gitignore
  CONTRIBUTING.md
  packages/backend/eslint.config.js
  packages/backend/jest.config.fed.cjs
  packages/backend/package.json
  packages/backend/test-federation/.config/example.conf
  packages/backend/test-federation/.config/example.default.yml
  packages/backend/test-federation/.config/example.docker.env
  packages/backend/test-federation/.gitignore
  packages/backend/test-federation/README.md
  packages/backend/test-federation/compose.a.yml
  packages/backend/test-federation/compose.b.yml
  packages/backend/test-federation/compose.override.yaml
  packages/backend/test-federation/compose.tpl.yml
  packages/backend/test-federation/compose.yml
  packages/backend/test-federation/daemon.ts
  packages/backend/test-federation/eslint.config.js
  packages/backend/test-federation/setup.sh
  packages/backend/test-federation/test/abuse-report.test.ts
  packages/backend/test-federation/test/block.test.ts
  packages/backend/test-federation/test/drive.test.ts
  packages/backend/test-federation/test/emoji.test.ts
  packages/backend/test-federation/test/move.test.ts
  packages/backend/test-federation/test/note.test.ts
  packages/backend/test-federation/test/notification.test.ts
  packages/backend/test-federation/test/timeline.test.ts
  packages/backend/test-federation/test/user.test.ts
  packages/backend/test-federation/test/utils.ts
  packages/backend/test-federation/tsconfig.json
  packages/shared/eslint.config.js
Labels: packages/backend

#14782 refactor(frontend): getBgColorを共通化
  packages/frontend/src/components/MkContainer.vue
  packages/frontend/src/components/MkDateSeparatedList.vue
  packages/frontend/src/components/MkFoldableSection.vue
  packages/frontend/src/components/MkFolder.vue
  packages/frontend/src/components/global/MkPageHeader.tabs.vue
  packages/frontend/src/directives/adaptive-bg.ts
  packages/frontend/src/directives/adaptive-border.ts
  packages/frontend/src/directives/panel.ts
  packages/frontend/src/scripts/get-bg-color.ts
Labels: packages/frontend

#14778 refactor(frontend): definePageMetadataを使わずにdocument.titleで直接書き換えていた箇所を修正
  packages/frontend/src/pages/invite.vue
  packages/frontend/src/pages/list.vue
  packages/frontend/src/pages/role.vue
  packages/frontend/src/router/definition.ts
Labels: packages/frontend

#14801 Enhance: ドライブでソートができるように
  CHANGELOG.md
  packages/frontend/src/components/MkDrive.vue
Labels: packages/frontend

#14798 fix(frontend): 通知の範囲指定が必要ない通知設定でも範囲指定がでている問題を修正
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/notifications.notification-config.vue
  packages/frontend/src/pages/settings/notifications.vue
Labels: packages/frontend

#14811 fix(frontend): Captcha のエラーハンドリング
  CHANGELOG.md
  packages/frontend/src/components/MkCaptcha.vue
Labels: packages/frontend

#14799 feat: ノートの閲覧にログイン必須にする設定
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1729333924409-signinRequiredForShowContents.js
  packages/backend/src/core/WebhookTestService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/misc/contexts.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/activitypub/type.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/User.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/GetterService.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/server/api/endpoints/notes/show.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/frontend/src/components/MkFollowButton.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkPoll.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/not-found.vue
  packages/frontend/src/pages/note.vue
  packages/frontend/src/pages/settings/privacy.vue
  packages/frontend/src/scripts/please-login.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, 🌌Federation, packages/misskey-js

#14787 enhance(frontend): 投稿フォームでEscキーが押されたときIME入力中ならダイアログは閉じない
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#14772 fix(frontend): デッキのタイムラインカラムでwithSensitiveが利用できない問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/ui/deck/deck-store.ts
  packages/frontend/src/ui/deck/tl-column.vue
Labels: packages/frontend

#14814 feat: 過去のノートを非公開化/フォロワーのみ表示可能にできる機能
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1729486255072-makeNotesHiddenBefore.js
  packages/backend/src/core/WebhookTestService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/misc/contexts.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/activitypub/type.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/User.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/frontend/src/components/MkSelect.vue
  packages/frontend/src/pages/settings/privacy.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#14807 enhance(frontend): 「単なるラッキー」の調整
  CHANGELOG.md
  packages/frontend/src/boot/main-boot.ts
Labels: packages/frontend

#14828 enhance(frontend): 外部アプリ認証画面の改良
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/_boot_.ts
  packages/frontend/src/account.ts
  packages/frontend/src/components/MkAuthConfirm.stories.impl.ts
  packages/frontend/src/components/MkAuthConfirm.vue
  packages/frontend/src/components/MkModalWindow.vue
  packages/frontend/src/components/MkSignupDialog.vue
  packages/frontend/src/pages/miauth.vue
  packages/frontend/src/pages/oauth.vue
  packages/frontend/src/pages/settings/accounts.vue
Labels: packages/frontend

#14831 fix(frontend): 管理画面のリンク切れを修正
  CHANGELOG.md
  packages/frontend/src/pages/admin/index.vue
Labels: packages/frontend

#14834 fix(backend): 招待コード発行可能残り数算出に使用すべきロールポリシーの値が違うのを修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/invite/limit.ts
Labels: packages/backend

#14839 enhance(frontend): Self-XSS防止用のメッセージを追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend-embed/src/boot.ts
  packages/frontend/src/boot/common.ts
Labels: packages/frontend

#14850 fix(misskey-js): WebSocketの型定義をReconnectingWebsocketに依存するように
  CHANGELOG.md
  packages/backend/test-federation/test/utils.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/streaming.ts
Labels: packages/backend, packages/misskey-js, packages/backend:test

#14858 fix(frontend): Remove undefined styles
  packages/frontend/src/components/MkAbuseReport.vue
  packages/frontend/src/components/MkAuthConfirm.vue
  packages/frontend/src/components/MkSignin.password.vue
  packages/frontend/src/components/global/MkAd.vue
Labels: packages/frontend

#14826 fix: encode RSS URIs with escape sequences before fetching
  CHANGELOG.md
  packages/frontend/src/ui/_common_/statusbar-rss.vue
  packages/frontend/src/widgets/WidgetRss.vue
  packages/frontend/src/widgets/WidgetRssTicker.vue
Labels: packages/frontend

#14825 fix(backend): Accept arrays in ActivityPub `icon` and `image` properties
  packages/backend/src/core/activitypub/models/ApPersonService.ts
Labels: packages/backend

#14853 enhance(backend): check_connect.js で全RedisとDBへの接続を確認するように
  CHANGELOG.md
  packages/backend/scripts/check_connect.js
Labels: packages/backend

#14848 refactor(frontend): asとanyをすぐなおせる範囲で除去
  packages/frontend/src/components/MkAntennaEditor.vue
  packages/frontend/src/components/MkChannelPreview.vue
  packages/frontend/src/components/MkDialog.vue
  packages/frontend/src/components/MkDrive.vue
  packages/frontend/src/components/MkEmojiPicker.section.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkExtensionInstaller.vue
  packages/frontend/src/components/MkInput.vue
  packages/frontend/src/components/MkNotificationSelectWindow.vue
  packages/frontend/src/components/MkObjectView.value.vue
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/components/MkPopupMenu.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormAttaches.vue
  packages/frontend/src/components/MkPostFormDialog.vue
  packages/frontend/src/components/MkRadio.vue
  packages/frontend/src/components/MkReactionsViewer.details.vue
  packages/frontend/src/components/MkSuperMenu.vue
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/MkUserAnnouncementEditDialog.vue
  packages/frontend/src/components/MkUsersTooltip.vue
  packages/frontend/src/components/MkWindow.vue
  packages/frontend/src/components/form/suspense.vue
  packages/frontend/src/components/global/MkMfm.ts
  packages/frontend/src/nirax.ts
  packages/frontend/src/os.ts
  packages/frontend/src/pages/admin/users.vue
  packages/frontend/src/pages/custom-emojis-manager.vue
  packages/frontend/src/pages/emoji-edit-dialog.vue
  packages/frontend/src/pages/follow-requests.vue
  packages/frontend/src/pages/lookup.vue
  packages/frontend/src/pages/my-clips/index.vue
  packages/frontend/src/pages/my-lists/list.vue
  packages/frontend/src/pages/page-editor/els/page-editor.el.image.vue
  packages/frontend/src/pages/page-editor/els/page-editor.el.note.vue
  packages/frontend/src/pages/page-editor/els/page-editor.el.section.vue
  packages/frontend/src/pages/page-editor/els/page-editor.el.text.vue
  packages/frontend/src/pages/registry.keys.vue
  packages/frontend/src/pages/reversi/game.setting.vue
  packages/frontend/src/pages/scratchpad.vue
  packages/frontend/src/pages/settings/2fa.qrdialog.vue
  packages/frontend/src/pages/settings/accounts.vue
  packages/frontend/src/pages/settings/apps.vue
  packages/frontend/src/pages/settings/avatar-decoration.dialog.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/router/definition.ts
  packages/frontend/src/router/main.ts
  packages/frontend/src/scripts/check-word-mute.ts
  packages/frontend/src/scripts/form.ts
  packages/frontend/src/scripts/misskey-api.ts
  packages/frontend/src/scripts/select-file.ts
  packages/frontend/src/scripts/shuffle.ts
  packages/frontend/src/scripts/upload.ts
  packages/frontend/src/store.ts
  packages/frontend/src/types/post-form.ts
  packages/frontend/src/widgets/WidgetPhotos.vue
Labels: packages/frontend
