Repository misskey-dev/misskey, pull requests merged in 2024-04, with the labels that each got.

#13645 refactor(frontend): use `scrollX` or `scrollY`
  packages/frontend/src/components/MkContextMenu.vue
  packages/frontend/src/components/MkModal.vue
  packages/frontend/src/components/MkUrlPreviewPopup.vue
  packages/frontend/src/components/MkUserPopup.vue
  packages/frontend/src/scripts/popup-position.ts
  packages/frontend/src/scripts/use-chart-tooltip.ts
Labels: packages/frontend

#13659 fix(backend): バックエンドのpnpm devによるビルド後にbuild-assetsを行うようにする
  packages/backend/package.json
  packages/backend/scripts/check_connect.js
  packages/backend/scripts/dev.mjs
  packages/backend/scripts/generate_api_json.js
  packages/backend/scripts/watch.mjs
  pnpm-lock.yaml
Labels: packages/backend

#13661 fix(deps): aiscript-vscodeのインストール中にWARNが出るのを修正
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend

#13671 refactor(general): use `Date.now()` instead of creating a new `Date` instance
  packages/backend/src/core/AccountMoveService.ts
  packages/backend/src/core/PushNotificationService.ts
  packages/backend/src/server/api/endpoints/i/import-blocking.ts
  packages/backend/src/server/api/endpoints/i/import-following.ts
  packages/backend/src/server/api/endpoints/i/import-muting.ts
  packages/backend/src/server/api/endpoints/i/import-user-lists.ts
  packages/frontend/src/components/global/MkTime.vue
  packages/frontend/src/widgets/WidgetUnixClock.vue
  packages/sw/src/sw.ts
Labels: packages/frontend, packages/backend, packages/sw

#13670 enhance(frontend): better condition for posting and displaying Notes
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#13677 fix(frontend): MkDialogのinputで字数制限に違反していてもEnterキーが押せてしまうのを修正
  CHANGELOG.md
  packages/frontend/src/components/MkDialog.vue
Labels: packages/frontend

#13684 build: pass --strip-leading-paths to restore 0.2.x behavior
  packages/backend/package.json
Labels: packages/backend

#13688 feat(frontend): アップロードするファイルの名前をランダム文字列にできるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/drive.vue
  packages/frontend/src/scripts/upload.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#13703 fix(backend): 登録にメール認証が必須になっている場合、登録されているメールアドレスを削除できないように
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/i/update-email.ts
Labels: packages/backend

#13709 test: do not use indexedDB in cypress environment due to chrome bug
  cypress/support/commands.ts
  packages/frontend/src/scripts/idb-proxy.ts
Labels: packages/frontend, packages/frontend:test

#13701 fix(backend): FileServerServiceでレンジリクエストの場合に適切なレスポンスコードが返らない問題を修正
  packages/backend/src/server/FileServerService.ts
Labels: packages/backend

#13700 fix(backend): incorrect logic for determining whether Quote or not
  CHANGELOG.md
  packages/backend/src/core/FanoutTimelineEndpointService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/NoteDeleteService.ts
  packages/backend/src/misc/is-pure-renote.ts
  packages/backend/src/misc/is-quote.ts
  packages/backend/src/misc/is-renote.ts
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/test/unit/NoteCreateService.ts
  packages/backend/test/unit/misc/is-renote.ts
Labels: packages/backend, packages/backend:test

#13686 enhance: クリップのノート数を表示するように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/entities/ClipEntityService.ts
  packages/backend/src/models/json-schema/clip.ts
  packages/frontend/src/components/MkClipPreview.vue
  packages/frontend/src/pages/clip.vue
  packages/frontend/src/pages/my-clips/index.vue
  packages/frontend/src/pages/note.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#13716 chore: Use integrity for Redoc script
  packages/backend/assets/redoc.html
Labels: packages/backend

#13712 fix(backend): nginx経由で/files/にRangeリクエストされた場合に正しく応答できないのを修正
  CHANGELOG.md
  packages/backend/src/server/FileServerService.ts
Labels: packages/backend

#13717 fix: ダイレクト投稿の宛先が保存されない
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#13724 enhance(frontend): ページの表示部上部に編集リンクを追加
  packages/frontend/src/pages/page.vue
Labels: packages/frontend

#13723 enhance(frontend): フォローするかどうかの確認ダイアログを出せるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkFollowButton.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#13695 細かいミュートの処理の修正
  CHANGELOG.md
  packages/backend/src/core/FanoutTimelineEndpointService.ts
  packages/backend/src/misc/is-renote.ts
  packages/backend/src/server/api/stream/channel.ts
  packages/backend/src/server/api/stream/channels/antenna.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/hashtag.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/role-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
  packages/backend/test/e2e/renote-mute.ts
  packages/backend/test/e2e/streaming.ts
Labels: packages/backend, packages/backend:test

#13732 enhance: 新しいコンディショナルロール条件の実装
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/RoleService.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/Role.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/test/unit/RoleService.ts
  packages/frontend/src/pages/admin/RolesEditorFormula.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#13733 fix: 正規化されていない状態のhashtagが連合されてきたhtmlに含まれているとhashtagが正しくhashtagに復元されない問題を修正
  CHANGELOG.md
  packages/backend/src/core/MfmService.ts
Labels: packages/backend

#13743 AiScriptのバージョンを0.18.0に上げる
  CHANGELOG.md
  packages/frontend/package.json
  packages/frontend/src/pages/flash/flash-edit.vue
  pnpm-lock.yaml
Labels: packages/frontend

#13742 feat: improve emoji endpoint
  packages/backend/src/server/ServerService.ts
Labels: packages/backend

#13746 Playのプリセットに不足しているカンマを追加
  packages/frontend/src/pages/flash/flash-edit.vue
Labels: packages/frontend

#13747 fix(frontend): PlayのAiScriptランタイムが停止したときに画面が初期化されていない問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/flash/flash.vue
Labels: packages/frontend

#13748 pureimageの代わりに@napi-rs/canvasを使う
  packages/backend/package.json
  packages/backend/src/misc/gen-identicon.ts
  packages/backend/src/server/ServerService.ts
  pnpm-lock.yaml
Labels: packages/backend

#13749 fix(backend): ページのOGP URLが違うのを修正
  CHANGELOG.md
  packages/backend/src/server/web/views/page.pug
Labels: packages/backend

#13751 fix(frontend): グループ通知の人数をちゃんと数えるように
  CHANGELOG.md
  packages/frontend/src/components/MkNotification.vue
Labels: packages/frontend

#13750 fix(frontend_reversi): 共有ボタンの実装を改善
  CHANGELOG.md
  packages/frontend/src/pages/reversi/game.board.vue
Labels: packages/frontend

#13752 Fix(backend): ActivityPubでのHTMLへのシリアライズを修正
  packages/backend/src/core/MfmService.ts
  packages/backend/test/unit/MfmService.ts
  packages/frontend/vite.config.local-dev.ts
Labels: packages/frontend, packages/backend, packages/backend:test

#13715 fix: ハイフンを含むリモート絵文字が描画されない
  packages/backend/src/core/CustomEmojiService.ts
Labels: packages/backend

#13381 open links in abuse comment in new window
  CHANGELOG.md
  packages/frontend/src/components/MkAbuseReport.vue
  packages/frontend/src/components/MkLink.vue
  packages/frontend/src/components/MkMention.vue
  packages/frontend/src/components/global/MkA.vue
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
  packages/frontend/src/components/global/MkUrl.vue
Labels: packages/frontend

#13754 AP Link等は添付ファイル扱いしないようになど
  CHANGELOG.md
  packages/backend/src/core/activitypub/models/ApImageService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/type.ts
  packages/backend/test/unit/activitypub.ts
Labels: packages/backend, packages/backend:test

#13764 fix(backend): add detailed schema to `fetch-rss` endpoint
  packages/backend/src/server/api/endpoints/fetch-rss.ts
  packages/frontend/src/ui/_common_/statusbar-rss.vue
  packages/frontend/src/widgets/WidgetRss.vue
  packages/frontend/src/widgets/WidgetRssTicker.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js
