Repository misskey-dev/misskey, pull requests merged in 2024-06, with the labels that each got.

#13908 fix(backend): use insertOne insteadof insert/findOneOrFail combination
  packages/backend/src/core/AnnouncementService.ts
  packages/backend/src/core/AvatarDecorationService.ts
  packages/backend/src/core/ClipService.ts
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/FederatedInstanceService.ts
  packages/backend/src/core/RelayService.ts
  packages/backend/src/core/ReversiService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/chart/core.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/_.ts
  packages/backend/src/queue/processors/ImportAntennasProcessorService.ts
  packages/backend/src/queue/processors/ImportUserListsProcessorService.ts
  packages/backend/src/server/api/SigninService.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoints/admin/ad/create.ts
  packages/backend/src/server/api/endpoints/admin/invite/create.ts
  packages/backend/src/server/api/endpoints/antennas/create.ts
  packages/backend/src/server/api/endpoints/app/create.ts
  packages/backend/src/server/api/endpoints/auth/session/generate.ts
  packages/backend/src/server/api/endpoints/channels/create.ts
  packages/backend/src/server/api/endpoints/drive/folders/create.ts
  packages/backend/src/server/api/endpoints/flash/create.ts
  packages/backend/src/server/api/endpoints/gallery/posts/create.ts
  packages/backend/src/server/api/endpoints/i/webhooks/create.ts
  packages/backend/src/server/api/endpoints/invite/create.ts
  packages/backend/src/server/api/endpoints/notes/polls/vote.ts
  packages/backend/src/server/api/endpoints/pages/create.ts
  packages/backend/src/server/api/endpoints/users/lists/create-from-public.ts
  packages/backend/src/server/api/endpoints/users/lists/create.ts
  packages/backend/src/server/api/endpoints/users/report-abuse.ts
  packages/backend/test/e2e/move.ts
  packages/backend/test/e2e/reversi-game.ts
Labels: packages/backend, packages/backend:test

#13945 配信停止したインスタンス一覧が見れなくなる問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/federation/instances.ts
Labels: packages/backend

#13830 test(#10336): add `components/MkC.*` stories
  packages/frontend/.storybook/fakes.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/.storybook/main.ts
  packages/frontend/.storybook/preview.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkChannelFollowButton.stories.impl.ts
  packages/frontend/src/components/MkChannelFollowButton.vue
  packages/frontend/src/components/MkChannelList.stories.impl.ts
  packages/frontend/src/components/MkChannelPreview.stories.impl.ts
  packages/frontend/src/components/MkChart.stories.impl.ts
  packages/frontend/src/components/MkChart.vue
  packages/frontend/src/components/MkChartLegend.stories.impl.ts
  packages/frontend/src/components/MkChartTooltip.stories.impl.ts
  packages/frontend/src/components/MkClickerGame.stories.impl.ts
  packages/frontend/src/components/MkClickerGame.vue
  packages/frontend/src/components/MkClipPreview.stories.impl.ts
  packages/frontend/src/components/MkCode.core.stories.impl.ts
  packages/frontend/src/components/MkCode.stories.impl.ts
  packages/frontend/src/components/MkCodeEditor.stories.impl.ts
  packages/frontend/src/components/MkCodeInline.stories.impl.ts
  packages/frontend/src/components/MkColorInput.stories.impl.ts
  packages/frontend/src/components/MkContainer.stories.impl.ts
  packages/frontend/src/components/MkContextMenu.stories.impl.ts
  packages/frontend/src/components/MkCropperDialog.stories.impl.ts
  packages/frontend/src/components/MkCustomEmojiDetailedDialog.stories.impl.ts
  packages/frontend/src/components/MkCwButton.stories.impl.ts
  packages/frontend/src/scripts/test-utils.ts
  pnpm-lock.yaml
Labels: packages/frontend

#13968 fix(frontend): 追加情報のラベルを投稿者のサーバーの絵文字で表示する
  CHANGELOG.md
  packages/frontend/src/pages/user/home.vue
Labels: packages/frontend

#13875 [fix] json module imports for node 22
  packages/frontend/vite.config.ts
  packages/sw/build.js
  scripts/build-assets.mjs
  scripts/tarball.mjs
Labels: packages/frontend, packages/sw

#13949 feat(backend): report `Retry-After` if client hit rate limit
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/RateLimiterService.ts
Labels: packages/backend

#13994 fix rate limit check never ends
  packages/backend/src/server/api/RateLimiterService.ts
Labels: packages/backend, 🔥high priority

#13943 refactor(backend): get column names from metadata
  packages/backend/src/models/_.ts
Labels: packages/backend

#13932 fix(frontend): chart in `MkInstanceCardMini` is no longer displayed
  CHANGELOG.md
  packages/frontend/.storybook/fakes.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/src/components/MkChart.stories.impl.ts
  packages/frontend/src/components/MkInstanceCardMini.stories.impl.ts
  packages/frontend/src/components/MkInstanceCardMini.vue
Labels: packages/frontend

#13958 fix(frontend): fix time on `MkChart`'s story
  packages/frontend/src/components/MkChart.stories.impl.ts
  packages/frontend/src/components/MkChart.vue
Labels: packages/frontend

#14036 Fix(backend): Limit antenna/webhook/list to exact amount
  packages/backend/src/core/ClipService.ts
  packages/backend/src/core/UserListService.ts
  packages/backend/src/server/api/endpoints/antennas/create.ts
  packages/backend/src/server/api/endpoints/i/import-antennas.ts
  packages/backend/src/server/api/endpoints/i/webhooks/create.ts
  packages/backend/src/server/api/endpoints/users/lists/create-from-public.ts
  packages/backend/src/server/api/endpoints/users/lists/create.ts
  packages/backend/test/e2e/antennas.ts
  packages/backend/test/e2e/clips.ts
Labels: packages/backend, packages/backend:test

#14031 fix(frontend): Add missing styles
  packages/frontend/src/pages/announcement.vue
Labels: packages/frontend

#14040 fix(frontend): Enable to iterate over DOM collections
  packages/frontend/tsconfig.json
Labels: packages/frontend

#14047 fix(frontend): Fix type checking
  packages/frontend/src/account.ts
Labels: packages/frontend

#14052 fix(frontend): Fix type checking
  packages/frontend/src/components/MkNotification.vue
Labels: packages/frontend

#14056 test(frontend): fix component error in `MkChart` story
  packages/frontend/.storybook/charts.ts
  packages/frontend/src/components/MkChart.stories.impl.ts
  packages/frontend/src/components/MkInstanceCardMini.stories.impl.ts
Labels: packages/frontend

#14062 chore(frontend): Replace with `vue/no-setup-props-reactivity-loss` rule
  packages/frontend/.eslintrc.cjs
  packages/frontend/src/components/MkChart.vue
  packages/frontend/src/components/MkDateSeparatedList.vue
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/components/MkTutorialDialog.vue
  packages/frontend/src/components/MkUserSetupDialog.vue
  packages/frontend/src/components/global/MkTime.vue
  packages/frontend/src/pages/reversi/game.board.vue
Labels: packages/frontend

#14061 fix(backend): fallback if `sinceId` is older than the oldest in cache when using FTT
  CHANGELOG.md
  packages/backend/src/core/FanoutTimelineEndpointService.ts
  packages/backend/test/e2e/timelines.ts
Labels: packages/backend, packages/backend:test

#14059 fix: notRespondingSinceが実装される前に不通になったインスタンスが自動的に配信停止にならない
  CHANGELOG.md
  packages/backend/src/queue/processors/DeliverProcessorService.ts
Labels: packages/backend

#14045 fix(frontend): リバーシ開始時の自動投稿のURLが正しくない場合があるのを修正
  CHANGELOG.md
  packages/frontend/src/pages/reversi/game.vue
Labels: packages/frontend

#14028 enhance(frontend): WidgetInstanceInfo.vue と WidgetProfile.vue のスタイル調整
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/widgets/WidgetInstanceInfo.vue
  packages/frontend/src/widgets/WidgetProfile.vue
Labels: packages/frontend

#14006 fix(backend): フィードのノートのMFMはHTMLにレンダーしてから返す
  CHANGELOG.md
  packages/backend/src/server/web/FeedService.ts
  packages/backend/test/e2e/fetch-resource.ts
  packages/backend/test/utils.ts
Labels: packages/backend, packages/backend:test

#13824 refactor: api/*/update系の必須キーを最低限に
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/admin/ad/update.ts
  packages/backend/src/server/api/endpoints/admin/roles/update.ts
  packages/backend/src/server/api/endpoints/clips/update.ts
  packages/backend/src/server/api/endpoints/gallery/posts/update.ts
  packages/backend/src/server/api/endpoints/i/webhooks/update.ts
  packages/backend/src/server/api/endpoints/pages/update.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#13995 fix(frontend): ベースロールを編集してもUI上では変更が反映されない問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/admin/roles.vue
Labels: packages/frontend

#14065 fix(backend): 自分以外のクリップ内のノート個数が見えるのを修正
  CHANGELOG.md
  packages/backend/src/core/entities/ClipEntityService.ts
Labels: packages/backend

#13975 refactor: say bye to the weird groupBy friends
  packages/backend/src/misc/prelude/array.ts
  packages/frontend/src/scripts/array.ts
Labels: packages/frontend, packages/backend

#13926 build: install pnpm with corepack on docker build
  CHANGELOG.md
  Dockerfile
Labels: 🔥high priority

#13948 fix(backend): Remove @types/node-fetch
  packages/backend/package.json
  pnpm-lock.yaml
Labels: packages/backend

#13901 fix(backend): fix creating reactions bugs
  CHANGELOG.md
  packages/backend/src/core/ReactionService.ts
  packages/backend/src/server/api/endpoints/notes/reactions/create.ts
  packages/backend/test/e2e/endpoints.ts
Labels: packages/backend, packages/backend:test

#14097 fix(frontend): テーマプレビューが見れない問題を修正
  packages/frontend/src/components/MkPreview.vue
  packages/frontend/src/pages/preview.vue
  packages/frontend/src/router/definition.ts
Labels: packages/frontend

#14096 chore(docker-compose): 推奨の名前にする
  .devcontainer/compose.yml
  .devcontainer/devcontainer.json
  .dockerignore
  .github/workflows/dockle.yml
  .gitignore
  CONTRIBUTING.md
  compose.local-db.yml
  compose_example.yml
  packages/backend/test/compose.yml
Labels: packages/backend, packages/backend:test
