Repository misskey-dev/misskey, pull requests merged in 2024-09, with the labels that each got.

#14511 enhance(frontend): アイコンデコレーション管理画面にプレビューを追加
  CHANGELOG.md
  packages/frontend/src/pages/avatar-decorations.vue
Labels: packages/frontend

#14513 refactor(frontend): scss deprecated 警告に対応
  packages/frontend/src/components/MkModalWindow.vue
  packages/frontend/src/components/MkSuperMenu.vue
  packages/frontend/src/components/MkWindow.vue
  packages/frontend/src/pages/admin/overview.users.vue
  packages/frontend/src/pages/page.vue
  packages/frontend/src/style.scss
  packages/frontend/src/ui/_common_/statusbars.vue
  packages/frontend/src/ui/deck/column.vue
Labels: packages/frontend

#14508 fix(misskey-js): content-typeはapplication/jsonでないもののみを記録するように
  packages/misskey-js/generator/src/generator.ts
  packages/misskey-js/src/api.ts
  packages/misskey-js/src/autogen/endpoint.ts
Labels: packages/misskey-js

#14515 fix(frontend): instance infoページで不必要なapiリクエストが飛ぶのを抑止
  packages/frontend/src/components/MkChart.vue
  packages/frontend/src/pages/instance-info.vue
Labels: packages/frontend

#14545 fix(frontend): MkDateSeparatedListで月の違う同じ日はセパレータが出ないのを修正
  CHANGELOG.md
  packages/frontend/src/components/MkDateSeparatedList.vue
Labels: packages/frontend

#14521 fix(backend): happy-domで外部HTMLをパースする際に関連リソースが読み込まれる問題を修正
  CHANGELOG.md
  packages/backend/package.json
  packages/backend/src/core/activitypub/ApRequestService.ts
  pnpm-lock.yaml
Labels: packages/backend

#14517 refactor(frontend): 非推奨の表現を改める
  packages/frontend/src/components/MkPostFormAttaches.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/scripts/code-highlighter.ts
Labels: packages/frontend

#14491 fix(backend/antenna): キーワードが与えられなかった場合のエラーをApiErrorとして投げる
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/antennas/create.ts
  packages/backend/src/server/api/endpoints/antennas/update.ts
  packages/backend/test/e2e/antennas.ts
Labels: packages/backend, packages/backend:test

#14482 refactor(backend): use Reflect for bindThis decorator
  packages/backend/src/decorators.ts
Labels: packages/backend

#14510 enhance(frontend): adminのファイルリストでセンシティブファイルに枠線を追加
  CHANGELOG.md
  packages/frontend/src/components/MkDriveFileThumbnail.vue
  packages/frontend/src/components/MkFileListForAdmin.vue
Labels: packages/frontend

#14565 ScratchpadにUIインスペクターを追加
  CHANGELOG.md
  locales/ja-JP.yml
  packages/frontend/src/pages/scratchpad.vue
Labels: packages/frontend

#14568 fix(backend): アンテナのソースになっているリストがnullな場合クエリータイムアウトが発生する問題を修正
  packages/backend/src/core/AntennaService.ts
Labels: packages/backend

#14543 fix(frontend): 設定変更時のリロード確認ダイアログが複数個表示されることがある問題を修正
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/navbar.vue
  packages/frontend/src/pages/settings/other.vue
  packages/frontend/src/pages/settings/theme.vue
  packages/frontend/src/scripts/reload-ask.ts
Labels: packages/frontend

#14489 feat: UserWebhook/SystemWebhookのテスト送信機能を追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/SystemWebhookService.ts
  packages/backend/src/core/UserWebhookService.ts
  packages/backend/src/core/WebhookTestService.ts
  packages/backend/src/models/Webhook.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/system-webhook/test.ts
  packages/backend/src/server/api/endpoints/i/webhooks/create.ts
  packages/backend/src/server/api/endpoints/i/webhooks/list.ts
  packages/backend/src/server/api/endpoints/i/webhooks/show.ts
  packages/backend/src/server/api/endpoints/i/webhooks/test.ts
  packages/backend/test/unit/SystemWebhookService.ts
  packages/backend/test/unit/UserWebhookService.ts
  packages/backend/test/unit/WebhookTestService.ts
  packages/frontend/src/components/MkSystemWebhookEditor.impl.ts
  packages/frontend/src/components/MkSystemWebhookEditor.vue
  packages/frontend/src/pages/settings/webhook.edit.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#14579 Misskey® Reactions Buffering Technology™
  .config/cypress-devcontainer.yml
  .config/docker_example.yml
  .config/example.yml
  .devcontainer/devcontainer.yml
  CHANGELOG.md
  chart/files/default.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1726804538569-reactions-buffering.js
  packages/backend/src/GlobalModule.ts
  packages/backend/src/config.ts
  packages/backend/src/const.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/ReactionService.ts
  packages/backend/src/core/ReactionsBufferingService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/queue/QueueProcessorModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/processors/BakeBufferedReactionsProcessorService.ts
  packages/backend/src/server/HealthServerService.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/test/unit/entities/UserEntityService.ts
  packages/frontend/src/pages/admin/other-settings.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#14583 enhance: ユーザーコンテンツのインポート操作の実行可否をロールで制御できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/RoleService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/server/api/endpoints/i/import-antennas.ts
  packages/backend/src/server/api/endpoints/i/import-blocking.ts
  packages/backend/src/server/api/endpoints/i/import-following.ts
  packages/backend/src/server/api/endpoints/i/import-muting.ts
  packages/backend/src/server/api/endpoints/i/import-user-lists.ts
  packages/frontend-shared/js/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/settings/import-export.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#14588 fix(frontend): ファイルの詳細ページのファイルの説明で改行が正しく表示されない問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/drive.file.info.vue
Labels: packages/frontend

#14600 fix: EmailServiceでインラインスタイルを適用するように
  packages/backend/package.json
  packages/backend/src/core/EmailService.ts
  pnpm-lock.yaml
Labels: packages/backend

#14597 fix(backend): `Retry-After`ヘッダーが実際には送信されなかった問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/ApiCallService.ts
Labels: packages/backend

#14594 update deps
  package.json
  packages/backend/package.json
  packages/backend/src/misc/fastify-hook-handlers.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/test/e2e/fetch-resource.ts
  packages/frontend-embed/package.json
  packages/frontend/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test, packages/sw

#14601 refactor/perf(backend): provide metadata statically
  packages/backend/src/GlobalModule.ts
  packages/backend/src/core/AbuseReportNotificationService.ts
  packages/backend/src/core/AccountMoveService.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/EmailService.ts
  packages/backend/src/core/HashtagService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/NoteDeleteService.ts
  packages/backend/src/core/ProxyAccountService.ts
  packages/backend/src/core/PushNotificationService.ts
  packages/backend/src/core/ReactionService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/SignupService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/WebAuthnService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/core/activitypub/models/ApImageService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/chart/charts/federation.ts
  packages/backend/src/core/entities/InstanceEntityService.ts
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/daemons/ServerStatsService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/queue/processors/BakeBufferedReactionsProcessorService.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoints/ap/show.ts
  packages/backend/src/server/api/endpoints/channels/timeline.ts
  packages/backend/src/server/api/endpoints/drive.ts
  packages/backend/src/server/api/endpoints/drive/files/create.ts
  packages/backend/src/server/api/endpoints/i/update-email.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/backend/src/server/api/endpoints/notes/timeline.ts
  packages/backend/src/server/api/endpoints/notes/translate.ts
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
  packages/backend/src/server/api/endpoints/pinned-users.ts
  packages/backend/src/server/api/endpoints/server-info.ts
  packages/backend/src/server/api/endpoints/sw/register.ts
  packages/backend/src/server/api/endpoints/username/available.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/backend/test-server/entry.ts
  packages/backend/test/jest.setup.ts
  packages/backend/test/misc/mock-resolver.ts
  packages/backend/test/unit/RoleService.ts
  packages/backend/test/unit/activitypub.ts
Labels: packages/backend, packages/backend:test

#14607 fix(frontend): lint fixes for tweak control panel
  packages/frontend/src/pages/admin/performance.vue
Labels: packages/frontend

#14609 fix(backend): rbtのtypo修正
  packages/backend/src/core/entities/NoteEntityService.ts
Labels: packages/backend

#14611 fix(misskey-js): wrong hashtag channel param type
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/streaming.types.ts
Labels: packages/misskey-js

#14613 perf(embed): improve embed performance
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/base-embed.pug
  packages/frontend-embed/src/boot.ts
  packages/frontend-embed/src/components/EmNoteDetailed.vue
  packages/frontend-embed/src/components/EmNotes.vue
  packages/frontend-embed/src/di.ts
  packages/frontend-embed/src/pages/clip.vue
  packages/frontend-embed/src/pages/note.vue
  packages/frontend-embed/src/pages/tag.vue
  packages/frontend-embed/src/pages/user-timeline.vue
  packages/frontend-embed/src/server-context.ts
  packages/frontend-embed/src/ui.vue
Labels: packages/backend

#14615 fix(backend): happy-domを使用後にcloseするように
  CHANGELOG.md
  packages/backend/src/core/MfmService.ts
  packages/backend/src/core/activitypub/ApRequestService.ts
Labels: packages/backend

#14554 refactor(frontend): popupMenuの項目作成時に三項演算子をなるべく使わないように
  packages/frontend/src/account.ts
  packages/frontend/src/components/MkContextMenu.vue
  packages/frontend/src/components/MkDrive.folder.vue
  packages/frontend/src/components/MkDrive.vue
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/components/MkMenu.child.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkPopupMenu.vue
  packages/frontend/src/components/MkPostFormAttaches.vue
  packages/frontend/src/components/MkSelect.vue
  packages/frontend/src/components/MkWindow.vue
  packages/frontend/src/components/global/MkCustomEmoji.vue
  packages/frontend/src/components/global/MkEmoji.vue
  packages/frontend/src/navbar.ts
  packages/frontend/src/os.ts
  packages/frontend/src/pages/clip.vue
  packages/frontend/src/pages/flash/flash.vue
  packages/frontend/src/pages/gallery/post.vue
  packages/frontend/src/pages/my-lists/list.vue
  packages/frontend/src/pages/page.vue
  packages/frontend/src/pages/reversi/game.setting.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/scripts/get-drive-file-menu.ts
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/scripts/get-user-menu.ts
  packages/frontend/src/ui/_common_/common.ts
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/ui/deck/antenna-column.vue
  packages/frontend/src/ui/deck/channel-column.vue
  packages/frontend/src/ui/deck/column.vue
  packages/frontend/src/ui/deck/list-column.vue
  packages/frontend/src/ui/deck/role-timeline-column.vue
  packages/frontend/src/ui/deck/tl-column.vue
  packages/frontend/src/widgets/WidgetTimeline.vue
Labels: packages/frontend

#14548 fix(frontend): MkRangeのタッチ操作時にtooltipが複数重なって表示されないように
  CHANGELOG.md
  packages/frontend/src/components/MkRange.vue
Labels: packages/frontend

#14481 fix(frontend): weird AP delivered chart in control panel
  CHANGELOG.md
  packages/frontend/.storybook/generate.tsx
  packages/frontend/src/pages/admin/overview.ap-requests.stories.impl.ts
  packages/frontend/src/pages/admin/overview.ap-requests.vue
Labels: packages/frontend

#14461 Fix: Continue importing from file if single emoji import fails
  CHANGELOG.md
  packages/backend/src/queue/processors/ImportCustomEmojisProcessorService.ts
Labels: packages/backend

#14403 feat: adminのファイル一覧画面で、ファイルが添付されているノートを一覧できるように
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/drive/files/attached-notes.ts
  packages/frontend/src/pages/admin-file.vue
Labels: packages/frontend, packages/backend

#14429 Playの編集画面の保存ボタン等をstickyにする　など
  CHANGELOG.md
  packages/frontend/src/pages/flash/flash-edit.vue
Labels: packages/frontend

#14621 fix(backend): RBTの修正
  packages/backend/src/GlobalModule.ts
  packages/backend/src/core/GlobalEventService.ts
  packages/backend/src/core/MetaService.ts
  packages/backend/src/core/ReactionService.ts
  packages/backend/src/core/ReactionsBufferingService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
Labels: packages/backend

#14627 Fix: `<link rel="alternate">`を追って照会するのはOKレスポンスが返却された場合のみに
  CHANGELOG.md
  packages/backend/src/core/activitypub/ApRequestService.ts
Labels: packages/backend

#14632 fix(misskey-js): correct `noteUpdated` event type
  packages/misskey-js/src/streaming.types.ts
Labels: packages/misskey-js

#14633 fix(backend): embedの動作に必要な値を復活させる
  packages/backend/src/server/web/views/base-embed.pug
Labels: packages/backend

#14577 Add Sign in with passkey Button
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/WebAuthnService.ts
  packages/backend/src/server/ServerModule.ts
  packages/backend/src/server/api/ApiServerService.ts
  packages/backend/src/server/api/SigninWithPasskeyApiService.ts
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkSigninDialog.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#14558 perf(backend): Defer instance metadata update
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/misc/collapsed-queue.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
Labels: packages/backend

#14484 feat: エクスポート完了時に通知を発行するように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/models/Notification.ts
  packages/backend/src/models/json-schema/notification.ts
  packages/backend/src/queue/processors/ExportAntennasProcessorService.ts
  packages/backend/src/queue/processors/ExportBlockingProcessorService.ts
  packages/backend/src/queue/processors/ExportClipsProcessorService.ts
  packages/backend/src/queue/processors/ExportCustomEmojisProcessorService.ts
  packages/backend/src/queue/processors/ExportFavoritesProcessorService.ts
  packages/backend/src/queue/processors/ExportFollowingProcessorService.ts
  packages/backend/src/queue/processors/ExportMutingProcessorService.ts
  packages/backend/src/queue/processors/ExportNotesProcessorService.ts
  packages/backend/src/queue/processors/ExportUserListsProcessorService.ts
  packages/backend/src/types.ts
  packages/frontend-shared/js/const.ts
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/pages/settings/notifications.vue
  packages/misskey-js/src/autogen/types.ts
  packages/sw/src/scripts/create-notification.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/sw

#14635 test(backend): Add test for Passkey API
  packages/backend/test/unit/SigninWithPasskeyApiService.ts
Labels: packages/backend, packages/backend:test

#14639 UIインスペクターでコンポーネントの表示・非表示がわかるようにする
  packages/frontend/src/pages/scratchpad.vue
Labels: packages/frontend

#14430 feat: フォローされた際のメッセージを設定できるようにする
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1723944246767-followedMessage.js
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/misc/contexts.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/activitypub/type.ts
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/Notification.ts
  packages/backend/src/models/User.ts
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/json-schema/notification.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/endpoints/admin/show-user.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/test/e2e/users.ts
  packages/frontend-shared/themes/_dark.json5
  packages/frontend-shared/themes/_light.json5
  packages/frontend/src/components/MkFollowButton.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/style.scss
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, 🌌Federation, packages/misskey-js, packages/backend:test

#14638 Mk:C:containerのborderStyleとborderRadiusを設定できるように
  CHANGELOG.md
  packages/frontend/src/components/MkAsUi.vue
  packages/frontend/src/scripts/aiscript/ui.ts
Labels: packages/frontend

#14643 Feat: 連合をホワイトリスト制にできるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1727512908322-meta-federation.js
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/ap/show.ts
  packages/frontend/src/pages/admin/settings.vue
Labels: packages/frontend, packages/backend

#14647 enhance(frontend): cwでも絵文字メニューを開けるように
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
Labels: packages/frontend

#14648 fix(backend): update and re-enable Bull Dashboard
  packages/backend/package.json
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/test/e2e/fetch-resource.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test

#14656 enhance(frontend): フォロワーへのメッセージ欄を改良
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkFukidashi.vue
  packages/frontend/src/pages/user/home.vue
Labels: packages/frontend
