Repository misskey-dev/misskey, pull requests merged in 2024-01, with the labels that each got.

#12885 fix(frontend): MkCodeEditorのデータバインディングを修正
  packages/frontend/src/components/MkCodeEditor.vue
Labels: packages/frontend

#12863 chore(backend/logger): log data for every level if exists
  packages/backend/src/logger.ts
Labels: packages/backend

#12859 refactor(frontend): MkNumberのアニメーションを内製してgsapを削除
  packages/frontend/package.json
  packages/frontend/src/components/MkNumber.vue
  pnpm-lock.yaml
Labels: packages/frontend

#12849 fix(frontend): MkButtonがリンクのときホバー時にunderlineが出る問題を修正
  packages/frontend/src/components/MkButton.vue
Labels: packages/frontend

#12888 enhance(frontend): カスタム絵文字追加画面の「タグ」の説明を追加
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/emoji-edit-dialog.vue
Labels: packages/frontend

#12887 enhance(frontend): チャンネルノートのピン留めをノートメニューからできるように
  CHANGELOG.md
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/models/json-schema/note.ts
  packages/frontend/src/scripts/get-note-menu.ts
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#12846 fix(misskey-js): /signupと/signinの定義を作成してフロントの型エラーを抑制する
  packages/backend/test/e2e/2fa.ts
  packages/backend/test/e2e/antennas.ts
  packages/backend/test/e2e/api-visibility.ts
  packages/backend/test/e2e/api.ts
  packages/backend/test/e2e/block.ts
  packages/backend/test/e2e/endpoints.ts
  packages/backend/test/e2e/fetch-resource.ts
  packages/backend/test/e2e/ff-visibility.ts
  packages/backend/test/e2e/move.ts
  packages/backend/test/e2e/mute.ts
  packages/backend/test/e2e/note.ts
  packages/backend/test/e2e/oauth.ts
  packages/backend/test/e2e/renote-mute.ts
  packages/backend/test/e2e/streaming.ts
  packages/backend/test/e2e/thread-mute.ts
  packages/backend/test/e2e/user-notes.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/backend, packages/misskey-js, packages/backend:test

#12837 fix(frontend): MkFormDialogに設定できる項目がなければその旨を表示するように
  packages/frontend/src/components/MkFormDialog.vue
Labels: packages/frontend

#12889 fix(frontend): モデレーターがユーザーのアバターバナーを未設定状態に出来る機能が表示されていなかった問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/admin-user.vue
Labels: packages/frontend

#12896 enhance: Use SI prefixes for job queue widget, extends bytes
  packages/frontend/src/filters/bytes.ts
  packages/frontend/src/filters/kmg.ts
  packages/frontend/src/widgets/WidgetJobQueue.vue
Labels: packages/frontend

#12916 enhance(backend): ActivityPub Deliver queueでBodyを事前処理するように
  CHANGELOG.md
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/queue/types.ts
Labels: packages/backend

#12917 enhance(backend): ActivityPub 周りで連合先から HTTP 429 Too Many Requests を受け取った際にジョブをリトライするように
  CHANGELOG.md
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/misc/status-error.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/queue/processors/WebhookDeliverProcessorService.ts
Labels: packages/backend

#12913 refactor(frontend): `scripts/form.ts`の型定義を修正してTS2344/TS2345エラーを削減
  packages/frontend/src/scripts/form.ts
Labels: packages/frontend

#12905 feat: Add support for mCaptcha
  .config/docker_example.env
  CHANGELOG.md
  docker-compose_example.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1704373210054-support-mcaptcha.js
  packages/backend/src/core/CaptchaService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkCaptcha.vue
  packages/frontend/src/components/MkSignupDialog.form.vue
  packages/frontend/src/index.html
  packages/frontend/src/pages/admin/bot-protection.vue
  packages/frontend/src/pages/admin/security.vue
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/misskey-js

#12932 Fix: リストライムラインの「リノートを表示」が正しく機能しない問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/stream/channels/user-list.ts
  packages/frontend/src/components/MkTimeline.vue
Labels: packages/frontend, packages/backend

#12931 feat: export clips
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/QueueService.ts
  packages/backend/src/queue/QueueProcessorModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/processors/ExportClipsProcessorService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/i/export-clips.ts
  packages/backend/test/e2e/exports.ts
  packages/backend/test/utils.ts
  packages/frontend/src/pages/settings/import-export.vue
Labels: packages/frontend, packages/backend, packages/backend:test

#12831 Fix: `Mk:C:mfm`の`onClickEv`が正常に呼び出されない問題を修正
  packages/frontend/src/scripts/aiscript/ui.ts
Labels: packages/frontend

#12866 fix(frontend/emoji) restore U+FE0F for simple emojis
  CHANGELOG.md
  packages/frontend/src/components/global/MkEmoji.vue
  packages/frontend/src/scripts/emojilist.ts
  packages/frontend/test/emoji.test.ts
  packages/frontend/test/init.ts
Labels: packages/frontend

#12937 refactor(frontend): `widgets/server-metric`内の型エラーを除去
  packages/backend/src/daemons/ServerStatsService.ts
  packages/frontend/src/widgets/server-metric/cpu-mem.vue
  packages/frontend/src/widgets/server-metric/cpu.vue
  packages/frontend/src/widgets/server-metric/index.vue
  packages/frontend/src/widgets/server-metric/mem.vue
  packages/frontend/src/widgets/server-metric/net.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#12936 refactor(frontend): `misskeyApi()` のレスポンス型を必要に応じてオーバーライドできるように
  packages/frontend/src/scripts/misskey-api.ts
Labels: packages/frontend

#12938 enhance(frontend): バブルゲームの諸々を修正・改良
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/AchievementService.ts
  packages/frontend/src/index.html
  packages/frontend/src/pages/drop-and-fusion.vue
  packages/frontend/src/scripts/achievements.ts
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#12942 refactor(backend): make sure promises are settled before app shutdown
  packages/backend/src/GlobalModule.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/NoteReadService.ts
  packages/backend/src/core/NotificationService.ts
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/core/ReactionService.ts
  packages/backend/src/core/activitypub/ApDeliverManagerService.ts
  packages/backend/src/misc/promise-tracker.ts
  packages/backend/src/server/api/endpoints/antennas/notes.ts
Labels: packages/backend

#12907 refactor(frontend): router.ts解きほぐし
  packages/frontend/package.json
  packages/frontend/src/boot/common.ts
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkDrive.file.vue
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/components/global/MkA.vue
  packages/frontend/src/components/global/RouterView.vue
  packages/frontend/src/global/router/definition.ts
  packages/frontend/src/global/router/main.ts
  packages/frontend/src/global/router/supplier.ts
  packages/frontend/src/nirax.ts
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/admin/roles.edit.vue
  packages/frontend/src/pages/admin/roles.role.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/antenna-timeline.vue
  packages/frontend/src/pages/channel-editor.vue
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/channels.vue
  packages/frontend/src/pages/drive.file.info.vue
  packages/frontend/src/pages/flash/flash-edit.vue
  packages/frontend/src/pages/flash/flash-index.vue
  packages/frontend/src/pages/follow.vue
  packages/frontend/src/pages/gallery/edit.vue
  packages/frontend/src/pages/gallery/index.vue
  packages/frontend/src/pages/gallery/post.vue
  packages/frontend/src/pages/my-antennas/create.vue
  packages/frontend/src/pages/my-antennas/edit.vue
  packages/frontend/src/pages/my-lists/list.vue
  packages/frontend/src/pages/page-editor/page-editor.vue
  packages/frontend/src/pages/pages.vue
  packages/frontend/src/pages/reset-password.vue
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/pages/search.user.vue
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/pages/settings/webhook.edit.vue
  packages/frontend/src/pages/user-list-timeline.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/router.ts
  packages/frontend/src/scripts/get-user-menu.ts
  packages/frontend/src/scripts/lookup.ts
  packages/frontend/src/ui/_common_/sw-inject.ts
  packages/frontend/src/ui/classic.vue
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/ui/deck/main-column.vue
  packages/frontend/src/ui/minimum.vue
  packages/frontend/src/ui/universal.vue
  packages/frontend/src/ui/visitor.vue
  packages/frontend/src/ui/zen.vue
Labels: packages/frontend

#12923 fix(backend): `drive/files/update`におけるファイル名のバリデーションが機能していない問題を修正
  CHANGELOG.md
  packages/backend/src/core/DriveService.ts
  packages/backend/test/e2e/endpoints.ts
Labels: packages/backend, packages/backend:test

#12939 enhance(backend): テストの高速化
  .github/workflows/test-backend.yml
  .gitignore
  packages/backend/jest.config.cjs
  packages/backend/jest.config.e2e.cjs
  packages/backend/jest.config.unit.cjs
  packages/backend/package.json
  packages/backend/test-server/.eslintrc.cjs
  packages/backend/test-server/.swcrc
  packages/backend/test-server/entry.ts
  packages/backend/test-server/tsconfig.json
  packages/backend/test/e2e/2fa.ts
  packages/backend/test/e2e/antennas.ts
  packages/backend/test/e2e/api-visibility.ts
  packages/backend/test/e2e/api.ts
  packages/backend/test/e2e/block.ts
  packages/backend/test/e2e/clips.ts
  packages/backend/test/e2e/endpoints.ts
  packages/backend/test/e2e/exports.ts
  packages/backend/test/e2e/fetch-resource.ts
  packages/backend/test/e2e/ff-visibility.ts
  packages/backend/test/e2e/move.ts
  packages/backend/test/e2e/mute.ts
  packages/backend/test/e2e/nodeinfo.ts
  packages/backend/test/e2e/note.ts
  packages/backend/test/e2e/oauth.ts
  packages/backend/test/e2e/renote-mute.ts
  packages/backend/test/e2e/streaming.ts
  packages/backend/test/e2e/thread-mute.ts
  packages/backend/test/e2e/timelines.ts
  packages/backend/test/e2e/user-notes.ts
  packages/backend/test/e2e/users.ts
  packages/backend/test/e2e/well-known.ts
  packages/backend/test/jest.setup.ts
  packages/backend/test/misc/mock-resolver.ts
  packages/backend/test/unit/AnnouncementService.ts
  packages/backend/test/unit/DriveService.ts
  packages/backend/test/unit/FetchInstanceMetadataService.ts
  packages/backend/test/unit/FileInfoService.ts
  packages/backend/test/unit/MetaService.ts
  packages/backend/test/unit/RoleService.ts
  packages/backend/test/unit/S3Service.ts
  packages/backend/test/unit/misc/id.ts
  packages/backend/test/unit/misc/others.ts
  packages/backend/test/utils.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test

#12948 enhance(frontend): バブルゲームの諸々を修正・改良2
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/assets/drop-and-fusion/hold.mp3
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkRange.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/components/global/MkCustomEmoji.vue
  packages/frontend/src/components/global/MkEmoji.vue
  packages/frontend/src/pages/drop-and-fusion.vue
  packages/frontend/src/pages/settings/sounds.sound.vue
  packages/frontend/src/scripts/drop-and-fusion-engine.ts
  packages/frontend/src/scripts/sound.ts
  packages/frontend/src/store.ts
  packages/frontend/src/ui/_common_/common.vue
  packages/frontend/src/widgets/WidgetJobQueue.vue
Labels: packages/frontend

#12944 Enhance(frontend): 管理者の場合はAPI tokenの発行画面で管理機能に関する権限を付与できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkTokenGenerateWindow.vue
Labels: packages/frontend

#12955 bump aiscript version to 0.17.0
  CHANGELOG.md
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend

#12957 fix(drop-and-fusion): バブルゲームのリトライボタンでリトライができない問題を修正
  packages/frontend/src/pages/drop-and-fusion.vue
Labels: packages/frontend

#12928 Enhance(frontend): 絵文字ピッカー/オートコンプリートで完全一致の絵文字を優先するように
  CHANGELOG.md
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkEmojiPicker.vue
Labels: packages/frontend

#12972 Run `pnpm build-misskey-js-with-types`
  packages/backend/src/server/api/endpoints/bubble-game/ranking.ts
  packages/backend/src/server/api/endpoints/bubble-game/register.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#12967 refactor(frontend): `activity.heatmap.vue`をコンポーネントに置換
  packages/frontend/src/components/MkHeatmap.vue
  packages/frontend/src/components/MkInstanceStats.vue
  packages/frontend/src/pages/user/activity.heatmap.vue
  packages/frontend/src/pages/user/activity.vue
Labels: packages/frontend

#12984 Feat(frontend): リアクション・ノート内絵文字・/about#emojisで絵文字詳細が見られるように
  CHANGELOG.md
  packages/frontend/src/components/MkCustomEmojiDetailedDialog.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/components/global/MkCustomEmoji.vue
  packages/frontend/src/pages/emojis.emoji.vue
Labels: packages/frontend

#12969 fix(backend): 虚無ノートを投稿できる問題の修正と `api.json` の OpenAPI Specification 3.1.0 への対応
  .github/workflows/validate-api-json.yml
  CHANGELOG.md
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/server/api/endpoints/drive/files.ts
  packages/backend/src/server/api/endpoints/federation/instances.ts
  packages/backend/src/server/api/endpoints/i/2fa/register-key.ts
  packages/backend/src/server/api/endpoints/notes/create.test.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/openapi/gen-spec.ts
  packages/backend/src/server/api/openapi/schemas.ts
  packages/backend/test/e2e/note.ts
  packages/misskey-js/generator/package.json
  packages/misskey-js/generator/src/generator.ts
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#12981 feat: 枠線をつけるMFMを追加
  CHANGELOG.md
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
  packages/frontend/src/const.ts
Labels: packages/frontend

#12899 enhance(frontend): Playの説明欄にMFMを使えるように
  CHANGELOG.md
  packages/frontend/src/components/MkFlashPreview.vue
  packages/frontend/src/pages/flash/flash-edit.vue
  packages/frontend/src/pages/flash/flash.vue
Labels: packages/frontend

#12988 fix: isPrivateIpで検証時にipバージョンが一致するかを確認するように
  CHANGELOG.md
  packages/backend/src/core/DownloadService.ts
Labels: packages/backend

#12855 enhance(frontend) 日本語の拡張絵文字辞書を追加
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/unicode-emoji-indexes/ja-JP.json
  packages/frontend/src/unicode-emoji-indexes/ja-JP_hira.json
Labels: packages/frontend

#12993 refactor: noteテーブルのインデックス整理と配列カラムへのクエリでインデックスを使うように
  packages/backend/migration/1705222772858-optimize-note-index-for-array-column.js
  packages/backend/src/core/QueryService.ts
  packages/backend/src/models/Note.ts
  packages/backend/src/server/api/endpoints/drive/files/attached-notes.ts
  packages/backend/src/server/api/endpoints/hashtags/users.ts
  packages/backend/src/server/api/endpoints/notes/mentions.ts
  packages/backend/src/server/api/endpoints/notes/search-by-tag.ts
  packages/backend/test/e2e/drive.ts
  packages/backend/test/utils.ts
Labels: packages/backend, packages/backend:test

#13005 (style) sticky系フッターのデザイン調整
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/tag.vue
Labels: packages/frontend

#13013 enhance(frontend): ページ遷移時にPlayerを閉じるように
  CHANGELOG.md
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/index.html
Labels: packages/frontend

#13015 Enhance(frontend): MkCustomEmojiDetailedDialogを調整
  packages/frontend/src/components/MkCustomEmojiDetailedDialog.vue
  packages/frontend/src/pages/emoji-edit-dialog.vue
Labels: packages/frontend

#13019 enhance(frontend): チャンネルノートの場合はその前後を見れるように
  CHANGELOG.md
  packages/frontend/src/pages/note.vue
Labels: packages/frontend

#13009 Fix: properly handle cc followers
  CHANGELOG.md
  packages/backend/src/core/activitypub/ApAudienceService.ts
Labels: packages/backend

#12999 MkCodeにコピーボタンを追加
  CHANGELOG.md
  packages/frontend/src/components/MkCode.vue
Labels: packages/frontend

#13026 refactor: MkCodeをブロックとインラインで別コンポーネント化する
  packages/frontend/src/components/MkCode.vue
  packages/frontend/src/components/MkCodeInline.vue
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
  packages/frontend/src/pages/flash/flash.vue
Labels: packages/frontend

#13027 fix(frontend/MediaVideo): 再生シークバーの当たり判定を調整
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaRange.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/filters/hms.ts
Labels: packages/frontend

#13011 feat(frontend): 横スワイプでタブを切り替える機能
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkHorizontalSwipe.vue
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/announcements.vue
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/channels.vue
  packages/frontend/src/pages/drive.file.vue
  packages/frontend/src/pages/explore.vue
  packages/frontend/src/pages/flash/flash-index.vue
  packages/frontend/src/pages/gallery/index.vue
  packages/frontend/src/pages/instance-info.vue
  packages/frontend/src/pages/my-clips/index.vue
  packages/frontend/src/pages/notifications.vue
  packages/frontend/src/pages/pages.vue
  packages/frontend/src/pages/search.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/pages/user/index.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#13033 refactor: fully typed locales
  locales/generateDTS.js
  locales/index.d.ts
  packages/frontend/src/i18n.ts
  packages/frontend/src/scripts/i18n.ts
Labels: 🛠️Dev, packages/frontend, 💚Refactor, i18n

#13036 fix(frontend/HorizontalSwipe): ページの要素がはみ出る問題を修正
  packages/frontend/src/components/MkHorizontalSwipe.vue
Labels: packages/frontend

#12991 「外部サイトからインストール」のパスを /install-extensions に変更
  CHANGELOG.md
  packages/frontend/src/global/router/definition.ts
  packages/frontend/src/pages/install-extensions.vue
Labels: packages/frontend

#12862 fix: Some fixes for #12850
  CHANGELOG.md
  packages/backend/src/core/EmailService.ts
  packages/frontend/src/pages/admin/security.vue
Labels: packages/frontend, packages/backend, packages/misskey-js

#12803 Enhance(frontend): MFMの属性にオートコンプリートが利用できるように
  CHANGELOG.md
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/const.ts
  packages/frontend/src/scripts/autocomplete.ts
Labels: packages/frontend

#13046 Fix(frontend): 日本語のUnicode絵文字追加辞書をインストールすると絵文字ピッカーでUnicode絵文字を検索できなくなるのを修正
  packages/frontend/src/unicode-emoji-indexes/ja-JP.json
  packages/frontend/src/unicode-emoji-indexes/ja-JP_hira.json
Labels: packages/frontend

#12858 enhance(frontend): ノート作成画面の添付メニューから直接ファイルを消せるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkPostFormAttaches.vue
Labels: packages/frontend

#13052 enhance(sw): オフライン表示のデザインを改善
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/sw/src/sw.ts
Labels: packages/sw

#13044 fix(backend): 複数のレスポンス形式があるすべてのエンドポイントに `Vary: Accept` ヘッダを追加
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#12848 enhance(frontend): タイムラインフィルターの設定を保持＋センシティブなノートを隠せるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#13047 Enhance(frontend): 絵文字編集ダイアログをウィンドウにする
  CHANGELOG.md
  packages/frontend/src/pages/emoji-edit-dialog.vue
Labels: packages/frontend

#12838 enhance(frontend): 季節に応じた画面の演出を南半球に対応させる
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/scripts/intl-const.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#13057 fix(frontend/pizzax): デフォルト値が適用できないことがあるのを修正
  packages/frontend/package.json
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/pizzax.ts
  pnpm-lock.yaml
Labels: packages/frontend

#13060 fix: 2024-01-22 10:50時点のdevelopにてCIがコケている
  .github/workflows/lint.yml
  cypress/e2e/basic.cy.js
  package.json
  packages/backend/package.json
  packages/backend/src/models/json-schema/reversi-game.ts
  packages/frontend/package.json
  packages/misskey-bubble-game/package.json
  packages/misskey-js/jest.config.cjs
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/frontend:test, packages/sw

#13014 chore: publish misskey-js automatically
  .github/workflows/on-release-created.yml
  .github/workflows/test-misskey-js.yml
  packages/misskey-js/LICENSE
  packages/misskey-js/package.json
Labels: packages/misskey-js

#13076 fix(frontend/HorizontalSwipe): スワイプ・UIアニメーションが無効の際はトランジションを行わないように
  packages/frontend/src/components/MkHorizontalSwipe.vue
Labels: packages/frontend

#13073 fix(frontend/pizzax): オブジェクトにnullがある場合に正しくマージされないのを修正
  packages/frontend/package.json
  packages/frontend/src/pizzax.ts
  pnpm-lock.yaml
Labels: packages/frontend

#13091 fix(dev): pnpm devで依存関係更新が一部反映されない
  packages/misskey-bubble-game/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  scripts/dev.mjs
Labels: packages/misskey-js

#13094 refactor(frontend/MediaPlayer): cssの重複を削除
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaVideo.vue
Labels: packages/frontend

#13087 enhance(frontend): リモートのユーザーはメニューから直接リモートで表示できるように
  CHANGELOG.md
  packages/frontend/src/scripts/get-user-menu.ts
Labels: packages/frontend

#13086 fix(backend): Fix typos in job configurations
  .config/example.yml
  CHANGELOG.md
  packages/backend/src/config.ts
  packages/backend/src/queue/QueueProcessorService.ts
Labels: packages/backend

#13030 feat(frontend/nirax): リダイレクトを設定できるように
  cypress/e2e/router.cy.js
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/global/router/definition.ts
  packages/frontend/src/nirax.ts
Labels: packages/frontend, packages/frontend:test

#12867 test(frontend): load default config to start vite
  packages/frontend/vite.config.local-dev.ts
Labels: packages/frontend

#13109 fix: iOSで大きな画像を変換してアップロードできない問題を修正
  CHANGELOG.md
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend

#13105 fix/refactor(reversi): 既存のバグを修正・型定義を強化
  locales/index.d.ts
  packages/frontend/src/components/MkUserSelectDialog.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/reversi/game.board.vue
  packages/frontend/src/pages/reversi/index.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/streaming.types.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/misskey-js

#13120 fix(frontend): styleの指定方法を変更
  packages/frontend/src/components/MkFoldableSection.vue
Labels: packages/frontend
