Repository misskey-dev/misskey, pull requests merged in 2024-02, with the labels that each got.

#13116 fix(ci): `misskey-js` のバージョンチェックをトリガーする条件の修正
  .github/workflows/check-misskey-js-version.yml
  .github/workflows/test-misskey-js.yml
  packages/misskey-js/package.json
Labels: packages/misskey-js

#13117 Fix(frontend): リバーシで自分自信を招待できるのを修正 & os.selectUser()のincludeSelfが機能していないのを修正
  packages/frontend/src/components/MkUserSelectDialog.vue
  packages/frontend/src/pages/reversi/index.vue
Labels: packages/frontend

#13128 fix: Hide reactions of all remote users / feat: moderators can see reactions of all users
  CHANGELOG.md
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/server/api/endpoints/users/reactions.ts
  packages/frontend/src/pages/user/index.vue
Labels: packages/frontend, packages/backend

#13133 「見たことのあるリノートを省略して表示」が効いていない問題を修正
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#13130 fix(backend): "誰でも新規登録できるようにする"の初期値をOFFにする
  CHANGELOG.md
  packages/backend/migration/1706791962000-fix-meta-disableRegistration.js
Labels: packages/backend

#13132 fix: api-docが開けない問題を修正
  packages/backend/generate_api_json.js
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/json-schema/page.ts
  packages/backend/src/server/api/openapi/gen-spec.ts
  packages/backend/src/server/api/openapi/schemas.ts
Labels: packages/backend

#13140 refactor(frontend): `os.popup()`の`props`の型チェックを有効化
  packages/frontend/package.json
  packages/frontend/src/os.ts
  pnpm-lock.yaml
Labels: packages/frontend

#13138 enhance(frontend): shiki v1に移行
  packages/frontend/package.json
  packages/frontend/src/components/MkCode.core.vue
  packages/frontend/src/scripts/code-highlighter.ts
  pnpm-lock.yaml
  scripts/build-assets.mjs
Labels: packages/frontend

#13139 fix(frontend): アバターデコレーションのアニメーションが止まらない
  CHANGELOG.md
  packages/frontend/src/components/global/MkAvatar.vue
Labels: packages/frontend

#13142 fix(frontend): selectUserのパラメータを調整
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkUserSelectDialog.vue
  packages/frontend/src/pages/admin/proxy-account.vue
  packages/frontend/src/pages/admin/roles.role.vue
  packages/frontend/src/pages/admin/users.vue
  packages/frontend/src/pages/my-antennas/editor.vue
  packages/frontend/src/pages/search.note.vue
Labels: packages/frontend

#13152 fix(backend): メール配信機能が無効ならばメールを送ることのないように
  packages/backend/src/core/EmailService.ts
Labels: packages/backend

#13146 ignore `instance.actor` when checking if there are local users
  packages/backend/src/core/InstanceActorService.ts
  packages/backend/src/core/SignupService.ts
  packages/backend/src/server/api/endpoints/admin/accounts/create.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#13145 keep cached avatar&banner when refresh fails to get new values
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#13162 Fix(frontend): クロップ後の解像度が異様に低くなる問題の修正&クロップに失敗する問題&コメントにnullという文字列が入る問題の修正
  CHANGELOG.md
  packages/frontend/src/components/MkCropperDialog.vue
Labels: packages/frontend

#13165 refactor(frontend): `os.popup()`の`events`の型チェックを有効化
  packages/frontend/src/os.ts
Labels: packages/frontend

#13175 enhance(frontend): シンタックスハイライトにテーマを適用できるように
  CHANGELOG.md
  packages/frontend/src/components/MkCode.core.vue
  packages/frontend/src/components/MkCode.vue
  packages/frontend/src/components/MkCodeEditor.vue
  packages/frontend/src/components/MkCodeInline.vue
  packages/frontend/src/components/MkSelect.vue
  packages/frontend/src/pages/settings/theme.vue
  packages/frontend/src/pizzax.ts
  packages/frontend/src/router/main.ts
  packages/frontend/src/scripts/clone.ts
  packages/frontend/src/scripts/code-highlighter.ts
  packages/frontend/src/scripts/merge.ts
  packages/frontend/src/scripts/theme.ts
  packages/frontend/src/store.ts
  packages/frontend/src/themes/_dark.json5
  packages/frontend/src/themes/_light.json5
Labels: packages/frontend

#13180 enhance(frontend): KeepAliveのページキャッシュを削除できるように
  CHANGELOG.md
  packages/frontend/src/components/global/RouterView.vue
  packages/frontend/src/events.ts
  packages/frontend/src/pages/settings/profile.vue
Labels: packages/frontend

#13134 Enhance(frontend): フロント側でもリアクション権限のチェックをするように
  CHANGELOG.md
  packages/backend/src/core/entities/EmojiEntityService.ts
  packages/backend/src/models/json-schema/emoji.ts
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkEmojiPickerDialog.vue
  packages/frontend/src/components/MkEmojiPickerWindow.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/pages/settings/emoji-picker.vue
  packages/frontend/src/scripts/check-reaction-permissions.ts
  packages/frontend/src/scripts/reaction-picker.ts
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#13172 fix(frontend): エラー画像URLを設定した後解除すると，デフォルトの画像が表示されない問題の修正 #13171
  CHANGELOG.md
  packages/frontend/src/pages/admin/branding.vue
Labels: packages/frontend

#13178 enhance(frontend): リモートへの引用リノートと同一のリンクにはリンクプレビューを表示しないように
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
Labels: packages/frontend

#13170 AP Key の JSON-LD 表現を修正
  packages/backend/src/core/activitypub/ApRendererService.ts
Labels: packages/backend

#13182 chore(frontend): reword possible typo
  packages/frontend/src/pizzax.ts
Labels: packages/frontend

#13183 fix(bubble-game): 共有用画像のコメントにnullが入る問題を修正
  packages/frontend/src/components/MkLaunchPad.vue
  packages/frontend/src/pages/drop-and-fusion.game.vue
Labels: packages/frontend

#13185 fix(misskey-js): 自動生成物の冒頭からバージョンと日付を削除
  packages/misskey-js/generator/src/generator.ts
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/misskey-js

#13192 Enhance: 連合向けのノート配信を軽量化
  CHANGELOG.md
  packages/backend/src/core/MfmService.ts
  packages/backend/src/core/activitypub/ApMfmService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/test/unit/ApMfmService.ts
  packages/backend/test/unit/MfmService.ts
Labels: packages/backend, packages/backend:test

#13188 Fix(frontend): MkCodeEditorで行がずれていくのを修正
  CHANGELOG.md
  packages/frontend/src/components/MkCode.core.vue
Labels: packages/frontend

#13173 正しい 2024.2.0-beta.10 改版手順？
  packages/misskey-js/package.json
Labels: packages/misskey-js

#13196 Fix: Summaly proxy利用時にプレイヤーが動作しないことがあるのを修正
  CHANGELOG.md
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/test/url-preview.test.ts
Labels: packages/frontend

#13195 test(frontend): migrate MSW in Storybook to v2
  CONTRIBUTING.md
  packages/frontend/.storybook/mocks.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkAbuseReport.stories.impl.ts
  packages/frontend/src/components/MkAbuseReportWindow.stories.impl.ts
  packages/frontend/src/components/MkAchievements.stories.impl.ts
  packages/frontend/src/components/MkAutocomplete.stories.impl.ts
  packages/frontend/src/components/MkAvatars.stories.impl.ts
  packages/frontend/src/components/MkInviteCode.stories.impl.ts
  packages/frontend/src/components/MkUserSetupDialog.Follow.stories.impl.ts
  packages/frontend/src/components/MkUserSetupDialog.stories.impl.ts
  packages/frontend/src/components/global/MkUrl.stories.impl.ts
  packages/frontend/src/pages/user/home.stories.impl.ts
  pnpm-lock.yaml
Labels: packages/frontend

#13202 fix(frontend) misskey-js type
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/components/MkUserSetupDialog.Follow.vue
Labels: packages/frontend

#13203 refactor(backend): exist -> exists
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/NoteReadService.ts
  packages/backend/src/core/SignupService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/entities/ChannelEntityService.ts
  packages/backend/src/core/entities/ClipEntityService.ts
  packages/backend/src/core/entities/FlashEntityService.ts
  packages/backend/src/core/entities/GalleryPostEntityService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/core/entities/PageEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoints/admin/promo/create.ts
  packages/backend/src/server/api/endpoints/auth/accept.ts
  packages/backend/src/server/api/endpoints/blocking/create.ts
  packages/backend/src/server/api/endpoints/blocking/delete.ts
  packages/backend/src/server/api/endpoints/clips/favorite.ts
  packages/backend/src/server/api/endpoints/drive/files/check-existence.ts
  packages/backend/src/server/api/endpoints/flash/like.ts
  packages/backend/src/server/api/endpoints/following/create.ts
  packages/backend/src/server/api/endpoints/following/delete.ts
  packages/backend/src/server/api/endpoints/gallery/posts/like.ts
  packages/backend/src/server/api/endpoints/i/import-antennas.ts
  packages/backend/src/server/api/endpoints/i/revoke-token.ts
  packages/backend/src/server/api/endpoints/mute/create.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/endpoints/notes/favorites/create.ts
  packages/backend/src/server/api/endpoints/pages/like.ts
  packages/backend/src/server/api/endpoints/promo/read.ts
  packages/backend/src/server/api/endpoints/users/followers.ts
  packages/backend/src/server/api/endpoints/users/following.ts
  packages/backend/src/server/api/endpoints/users/lists/create-from-public.ts
  packages/backend/src/server/api/endpoints/users/lists/favorite.ts
  packages/backend/src/server/api/endpoints/users/lists/push.ts
  packages/backend/src/server/api/endpoints/users/lists/show.ts
  packages/backend/src/server/api/endpoints/users/lists/unfavorite.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
Labels: packages/backend

#13208 fix(frontend): aiscriptのコードブロックでのハイライト指定を修正
  packages/frontend/package.json
  packages/frontend/src/scripts/code-highlighter.ts
  pnpm-lock.yaml
Labels: packages/frontend

#13210 fix: 特定文字列を含むノートを投稿できないようにする管理画面用設定項目を追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1707429690000-prohibited-words.js
  packages/backend/src/core/HashtagService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/test/e2e/note.ts
  packages/frontend/src/pages/admin/moderation.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#13260 feat: provide tarball
  package.json
  packages/backend/src/server/web/ClientServerService.ts
  packages/frontend/src/pages/about.vue
  pnpm-lock.yaml
  scripts/build-assets.mjs
  scripts/tarball.mjs
Labels: ✨Feature, packages/frontend, packages/backend

#13247 refactor(msjs): avoid any (part 1)
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.ts
  packages/misskey-js/src/api.types.ts
Labels: packages/misskey-js

#13274 ci(test-frontend): Cypressのテストの失敗時、永遠に止まらない問題を回避
  .github/workflows/test-frontend.yml
  cypress/e2e/basic.cy.js
  cypress/e2e/router.cy.js
Labels: packages/frontend:test

#13280 enhance: 禁止ワードはリモートノートも対象に
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/test/e2e/note.ts
  packages/backend/test/unit/activitypub.ts
Labels: packages/backend, packages/backend:test

#13265 perf: omit search for immutable static requests
  packages/backend/src/misc/fastify-hook-handlers.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/web/ClientServerService.ts
Labels: 🐢Performance, packages/backend

#13288 fix(frontend): エラーページのトラブルシューティングがリンク切れしている問題
  packages/frontend/src/pages/_error_.vue
Labels: packages/frontend

#13297 build: upgrade Storybook to 8 beta
  .github/workflows/storybook.yml
  packages/frontend/.storybook/main.ts
  packages/frontend/.storybook/preview.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkAutocomplete.stories.impl.ts
  packages/frontend/src/components/MkGalleryPostPreview.stories.impl.ts
  packages/frontend/src/components/MkSignupDialog.rules.stories.impl.ts
  packages/frontend/src/components/global/MkA.stories.impl.ts
  packages/frontend/src/components/global/MkError.stories.impl.ts
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.stories.impl.ts
  packages/frontend/src/components/global/MkPageHeader.stories.impl.ts
  packages/frontend/src/components/global/MkTime.stories.impl.ts
  packages/frontend/src/components/global/MkUrl.stories.impl.ts
  packages/frontend/src/components/global/MkUserName.stories.impl.ts
  pnpm-lock.yaml
Labels: 🛠️Dev, packages/frontend

#13299 feat(backend): likeOnlyなどでハートにフォールバックする際異体字セレクタがない方に揃える
  packages/backend/src/core/ReactionService.ts
Labels: packages/backend

#13295 fix(backend): add missing schemas and fix incorrect schemas
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/BubbleGameRecord.ts
  packages/backend/src/models/Role.ts
  packages/backend/src/models/json-schema/reversi-game.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/endpoints/admin/delete-account.ts
  packages/backend/src/server/api/endpoints/admin/drive/show-file.ts
  packages/backend/src/server/api/endpoints/admin/get-table-stats.ts
  packages/backend/src/server/api/endpoints/admin/show-user.ts
  packages/backend/src/server/api/endpoints/bubble-game/ranking.ts
  packages/backend/src/server/api/endpoints/bubble-game/register.ts
  packages/backend/src/server/api/endpoints/i/2fa/done.ts
  packages/backend/src/server/api/endpoints/i/2fa/register-key.ts
  packages/backend/src/server/api/endpoints/i/apps.ts
  packages/backend/src/server/api/endpoints/i/authorized-apps.ts
  packages/backend/src/server/api/endpoints/i/registry/get-detail.ts
  packages/backend/src/server/api/endpoints/i/registry/keys-with-type.ts
  packages/backend/src/server/api/endpoints/i/registry/keys.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/server/api/endpoints/i/webhooks/create.ts
  packages/backend/src/server/api/endpoints/i/webhooks/list.ts
  packages/backend/src/server/api/endpoints/i/webhooks/show.ts
  packages/backend/src/server/api/endpoints/reversi/cancel-match.ts
  packages/backend/src/server/api/endpoints/reversi/match.ts
  packages/backend/src/server/api/endpoints/test.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#13275 リモートユーザーが復活してもキャッシュにより該当ユーザーのActivityが受け入れられないのを修正 Fix #13273
  CHANGELOG.md
  packages/backend/src/core/CacheService.ts
  packages/backend/src/core/activitypub/ApDbResolverService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
Labels: packages/backend

#13315 fix: allow moderators see role assigned users; fix #13301
  packages/backend/src/server/api/endpoints/admin/roles/users.ts
Labels: packages/backend

#13248 fix(frontend): vue v3.4.16以降でタイムラインが正常に表示できない問題を修正
  packages/frontend/package.json
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/scripts/merge.ts
  pnpm-lock.yaml
Labels: packages/frontend

#13252 refactor(backend): remove/replace deprecated type deps
  packages/backend/package.json
  packages/backend/src/core/WebAuthnService.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/test/e2e/2fa.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test

#13347 feat: add link to local note in initial comment of abuse note
  CHANGELOG.md
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend

#13285 feat: license violation protection
  .config/example.yml
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1707808106310-MakeRepositoryUrlNullable.js
  packages/backend/src/config.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkSourceCodeAvailablePopup.vue
  packages/frontend/src/local-storage.ts
  packages/frontend/src/pages/about-misskey.vue
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/admin/branding.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/misskey-js/src/autogen/types.ts
  scripts/build-assets.mjs
Labels: 🛠️Dev, ✨Feature, packages/frontend, packages/backend, packages/misskey-js

#13348 chore: 通報ページのユーザをクリックした際にユーザをウィンドウで開くように
  CHANGELOG.md
  packages/frontend/src/components/MkAbuseReport.vue
Labels: packages/frontend

#13387 fix: nodeinfoにenableMcaptchaとenableTurnstileが無い
  CHANGELOG.md
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/NodeinfoServerService.ts
Labels: packages/backend

#13389 fix: syuilo/misskey時代から使用してるサーバーが改変したバージョンだと誤判定される問題 (DB migrationで修正)
  CHANGELOG.md
  packages/backend/migration/1708266695091-repositoryUrl-from-syuilo-to-misskey-dev.js
Labels: packages/backend

#13376 Fix(frontend): オートコンプリートが出るべき状況で出ないことがあるのを修正
  CHANGELOG.md
  packages/frontend/src/scripts/autocomplete.ts
Labels: packages/frontend

#13409 enhance(frontend): ノート作成画面の添付メニューのdividerの位置を"添付取り消し"の上にする
  CHANGELOG.md
  packages/frontend/src/components/MkPostFormAttaches.vue
Labels: packages/frontend

#13416 fix(frontend): チャートのラベルが消えている問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkChart.vue
Labels: packages/frontend

#13379 fix(frontend): 画面表示後最初の音声再生が爆音になることがある問題を修正
  CHANGELOG.md
  packages/frontend/src/scripts/sound.ts
Labels: packages/frontend

#13400 refactor(frontend): 不必要なconsole.logを除去・抑制
  packages/frontend/src/components/MkCode.core.vue
  packages/frontend/src/pages/admin/modlog.vue
  packages/frontend/src/pages/reversi/game.board.vue
Labels: packages/frontend

#13375 refactor(backend): `ReactionService.prototype.convertLegacyReactions`
  packages/backend/src/core/ReactionService.ts
  packages/backend/test/unit/ReactionService.ts
Labels: packages/backend, packages/backend:test

#13391 fix: Bump sharp to 0.33.2
  packages/backend/package.json
  packages/backend/src/core/FileInfoService.ts
  pnpm-lock.yaml
Labels: packages/backend

#13349 fix: MkUserPopupが表示されてる状態でv-user-previewがついた要素がdetachされるとMkUserPopupが消えない問題
  CHANGELOG.md
  packages/frontend/src/directives/user-preview.ts
Labels: packages/frontend

#13428 fix: 禁止キーワードを含むノートがDelayed Queueに追加されて再処理される問題
  CHANGELOG.md
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
Labels: packages/backend

#13429 refactor: Refactor NoteReadService.read
  packages/backend/src/core/NoteReadService.ts
  packages/backend/src/server/api/endpoints/antennas/notes.ts
Labels: packages/backend

#13396 flash/update で部分的に変更できるようにする
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/flash/update.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#13436 enhance: `meta`をSSR HTMLに埋め込む
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/base.pug
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/instance.ts
  packages/frontend/src/local-storage.ts
  packages/frontend/src/pages/admin/bot-protection.vue
  packages/frontend/src/pages/admin/branding.vue
  packages/frontend/src/pages/admin/email-settings.vue
  packages/frontend/src/pages/admin/external-services.vue
  packages/frontend/src/pages/admin/instance-block.vue
  packages/frontend/src/pages/admin/moderation.vue
  packages/frontend/src/pages/admin/object-storage.vue
  packages/frontend/src/pages/admin/other-settings.vue
  packages/frontend/src/pages/admin/proxy-account.vue
  packages/frontend/src/pages/admin/security.vue
  packages/frontend/src/pages/admin/server-rules.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/frontend/src/scripts/clear-cache.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#13440 fix: SSR時のmetaをエスケープするように
  packages/backend/package.json
  packages/backend/src/server/web/ClientServerService.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend

#13442 refactor(backend): `Array.prototype.filter`での非null確認では`isNotNull`関数を使うように
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/activitypub/ApAudienceService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/models/ApMentionService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/activitypub/models/ApQuestionService.ts
  packages/backend/src/core/activitypub/models/tag.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/core/entities/PageEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/misc/is-not-null.ts
  packages/backend/src/server/api/endpoints/gallery/posts/create.ts
  packages/backend/src/server/api/endpoints/gallery/posts/update.ts
  packages/backend/src/server/api/endpoints/pinned-users.ts
Labels: packages/backend

#13435 fix(test): Chromaticが落ちているのを一部修正？
  packages/frontend/src/components/global/MkTime.stories.impl.ts
Labels: packages/frontend

#13423 Fix(frontend): 絵文字オートコンプリートの優先順位がおかしいのを修正
  CHANGELOG.md
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/scripts/search-emoji.ts
  packages/frontend/test/autocomplete.test.ts
Labels: packages/frontend

#13407 fix: プッシュ通知の変更が1時間ほど反映されない問題を修正
  packages/backend/src/core/PushNotificationService.ts
  packages/backend/src/server/api/endpoints/sw/register.ts
  packages/backend/src/server/api/endpoints/sw/unregister.ts
  packages/backend/src/server/api/endpoints/sw/update-registration.ts
Labels: packages/backend

#13388 enhance: リモートのフォロワーから再度Followが来た場合、acceptを返してあげる
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/queue/processors/RelationshipProcessorService.ts
  packages/backend/src/server/api/endpoints/following/create.ts
Labels: packages/backend

#13434 enhance(games): 抜けている翻訳を追加・スタイル共通化
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/drop-and-fusion.game.vue
  packages/frontend/src/pages/drop-and-fusion.vue
  packages/frontend/src/pages/reversi/game.board.vue
  packages/frontend/src/style.scss
Labels: packages/frontend

#13382 enhance?: DeleteAccountServiceでユーザーを削除する際にuserChangeDeletedStateを発行する
  packages/backend/src/core/CacheService.ts
  packages/backend/src/core/DeleteAccountService.ts
  packages/backend/src/core/GlobalEventService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
Labels: packages/backend

#13354 Enhance(frontend): リアクションピッカーを調整
  packages/frontend/src/components/MkEmojiPicker.section.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/scripts/check-reaction-permissions.ts
  packages/frontend/src/scripts/emojilist.ts
Labels: packages/frontend

#13451 fix(frontend): UserActivationがない環境において不具合が生じる問題を修正
  packages/frontend/src/scripts/sound.ts
Labels: packages/frontend

#13453 fix(backend): 古いユーザーキャッシュを使うことへの対策
  packages/backend/src/core/AccountMoveService.ts
  packages/backend/src/core/CacheService.ts
  packages/backend/src/core/GlobalEventService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/misc/cache.ts
  packages/backend/src/queue/processors/RelationshipProcessorService.ts
  packages/backend/src/server/api/endpoints/following/create.ts
  packages/backend/src/server/api/endpoints/i/update.ts
Labels: packages/backend

#13448 test(frontend): Chromaticテストが落ちるのを修正
  packages/frontend/.storybook/generate.tsx
  packages/frontend/src/components/global/MkA.stories.impl.ts
  packages/frontend/src/components/global/MkTime.stories.impl.ts
Labels: packages/frontend

#13463 Enhance: コンディショナルロールの条件に「マニュアルロールへのアサイン」を追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/RoleService.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/Role.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/test/unit/RoleService.ts
  packages/frontend/src/pages/admin/RolesEditorFormula.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#13468 enhance(backend): フォロー・フォロワー関連の通知の受信設定の強化
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/NotificationService.ts
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/json-schema/user.ts
  packages/frontend/src/pages/settings/notifications.notification-config.vue
  packages/frontend/src/pages/settings/notifications.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#13465 refactor(backend): ノートのエクスポート処理でStreams APIを使うように
  packages/backend/src/misc/FileWriterStream.ts
  packages/backend/src/misc/JsonArrayStream.ts
  packages/backend/src/queue/processors/ExportNotesProcessorService.ts
Labels: packages/backend

#13470 [For #13464] Use hint for getAuthUserFromApId
  packages/backend/src/core/activitypub/ApDbResolverService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
Labels: packages/backend

#13425 fix(backend): リノート時のHTLへのストリーミングの意図しない挙動を修正
  CHANGELOG.md
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/test/e2e/streaming.ts
  packages/backend/test/utils.ts
Labels: packages/backend, packages/backend:test

#13186 refactor(frontend): `os.ts`周りのリファクタリング
  CHANGELOG.md
  packages/frontend/src/account.ts
  packages/frontend/src/components/MkDialog.vue
  packages/frontend/src/components/MkDriveSelectDialog.vue
  packages/frontend/src/components/MkEmojiPickerDialog.vue
  packages/frontend/src/components/MkEmojiPickerWindow.vue
  packages/frontend/src/components/MkFormDialog.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/emoji-edit-dialog.vue
  packages/frontend/src/pages/notifications.vue
  packages/frontend/src/pages/settings/drive.vue
  packages/frontend/src/pages/settings/emoji-picker.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/scripts/form.ts
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/widgets/WidgetSlideshow.vue
Labels: packages/frontend

#13412 enhance(backend): 通知がミュート・凍結を考慮するようにする
  CHANGELOG.md
  packages/backend/src/core/NotificationService.ts
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/server/api/endpoints/i/notifications-grouped.ts
  packages/backend/src/server/api/endpoints/i/notifications.ts
  packages/backend/src/types.ts
  packages/backend/test/e2e/mute.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js, packages/backend:test

#13335 enhance: 通知の履歴をリセットできるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/GlobalEventService.ts
  packages/backend/src/core/NotificationService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/notifications/flush.ts
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/pages/settings/notifications.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/streaming.types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#13477 fix(backend): ダイレクトなノートに対してはダイレクトでしか返信できないように
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/test/e2e/note.ts
  packages/backend/test/e2e/streaming.ts
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkVisibilityPicker.vue
Labels: packages/frontend, packages/backend, packages/backend:test
