Repository misskey-dev/misskey, pull requests merged in 2024-07, with the labels that each got.

#14101 fix(storybook): prevent infinite remount of component
  packages/frontend/.storybook/preview.ts
  packages/frontend/src/components/MkChannelFollowButton.stories.impl.ts
  packages/frontend/src/components/MkClickerGame.stories.impl.ts
  packages/frontend/src/components/MkCwButton.stories.impl.ts
  packages/frontend/src/components/global/MkA.stories.impl.ts
  packages/frontend/src/components/global/MkAd.stories.impl.ts
  packages/frontend/src/scripts/test-utils.ts
Labels: packages/frontend

#14094 chore: migrate ESLint configs to flat config
  .github/workflows/lint.yml
  package.json
  packages/backend/.eslintignore
  packages/backend/.eslintrc.cjs
  packages/backend/eslint.config.js
  packages/backend/package.json
  packages/backend/test-server/.eslintrc.cjs
  packages/backend/test-server/eslint.config.js
  packages/backend/test/.eslintrc.cjs
  packages/backend/test/eslint.config.js
  packages/frontend/.eslintrc.cjs
  packages/frontend/eslint.config.js
  packages/frontend/package.json
  packages/frontend/tsconfig.json
  packages/misskey-bubble-game/.eslintignore
  packages/misskey-bubble-game/.eslintrc.cjs
  packages/misskey-bubble-game/eslint.config.js
  packages/misskey-bubble-game/package.json
  packages/misskey-js/.eslintignore
  packages/misskey-js/.eslintrc.cjs
  packages/misskey-js/build.js
  packages/misskey-js/eslint.config.js
  packages/misskey-js/generator/.eslintrc.cjs
  packages/misskey-js/generator/eslint.config.js
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/.eslintignore
  packages/misskey-reversi/.eslintrc.cjs
  packages/misskey-reversi/eslint.config.js
  packages/misskey-reversi/package.json
  packages/shared/.eslintrc.js
  packages/shared/eslint.config.js
  packages/shared/package.json
  packages/sw/.eslintrc.cjs
  packages/sw/eslint.config.js
  packages/sw/package.json
  pnpm-lock.yaml
  scripts/changelog-checker/.eslintrc.cjs
  scripts/changelog-checker/eslint.config.js
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test, packages/sw

#14057 update deps
  .github/workflows/lint.yml
  locales/index.js
  package.json
  packages/backend/.eslintignore
  packages/backend/.eslintrc.cjs
  packages/backend/eslint.config.js
  packages/backend/package.json
  packages/backend/test-server/.eslintrc.cjs
  packages/backend/test-server/eslint.config.js
  packages/backend/test/.eslintrc.cjs
  packages/backend/test/eslint.config.js
  packages/frontend/.eslintrc.cjs
  packages/frontend/eslint.config.js
  packages/frontend/package.json
  packages/frontend/tsconfig.json
  packages/misskey-bubble-game/.eslintignore
  packages/misskey-bubble-game/.eslintrc.cjs
  packages/misskey-bubble-game/eslint.config.js
  packages/misskey-bubble-game/package.json
  packages/misskey-js/.eslintignore
  packages/misskey-js/.eslintrc.cjs
  packages/misskey-js/build.js
  packages/misskey-js/eslint.config.js
  packages/misskey-js/generator/.eslintrc.cjs
  packages/misskey-js/generator/eslint.config.js
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/.eslintignore
  packages/misskey-reversi/.eslintrc.cjs
  packages/misskey-reversi/eslint.config.js
  packages/misskey-reversi/package.json
  packages/shared/.eslintrc.js
  packages/shared/eslint.config.js
  packages/shared/package.json
  packages/sw/.eslintrc.cjs
  packages/sw/eslint.config.js
  packages/sw/package.json
  pnpm-lock.yaml
  scripts/changelog-checker/.eslintrc.cjs
  scripts/changelog-checker/eslint.config.js
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test, packages/sw

#14111 test(backend): goodbye, Lenna
  packages/backend/src/models/json-schema/drive-file.ts
  packages/backend/src/server/api/endpoints/admin/drive/show-file.ts
  packages/backend/test/e2e/drive.ts
  packages/backend/test/e2e/endpoints.ts
  packages/backend/test/e2e/note.ts
  packages/backend/test/e2e/user-notes.ts
  packages/backend/test/resources/192.jpg
  packages/backend/test/resources/192.png
  packages/backend/test/resources/Lenna.jpg
  packages/backend/test/resources/Lenna.png
  packages/backend/test/unit/FileInfoService.ts
  packages/backend/test/utils.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js, packages/backend:test

#14095 refactor(backend): Use built-in API
  packages/backend/test/e2e/move.ts
  packages/backend/test/e2e/renote-mute.ts
  packages/backend/test/e2e/timelines.ts
  packages/backend/test/unit/RoleService.ts
  packages/backend/test/unit/SystemWebhookService.ts
  packages/backend/test/utils.ts
Labels: packages/backend, packages/backend:test

#14123 dev: fix pnpm dev is broken
  packages/backend/scripts/dev.mjs
Labels: packages/backend, 🔥high priority

#14124 fix(storybook): build skipping even after updating impl story files
  packages/frontend/.storybook/changes.ts
Labels: packages/frontend

#14137 fix(dev): devサーバーで`/notes/`に直でアクセスしたらサーバー側のレスポンスが返ってくる問題を修正
  packages/frontend/vite.config.local-dev.ts
Labels: 🛠️Dev, packages/frontend

#14146 fix(backend): parse5関係の型のimport方法を変更
  packages/backend/src/core/MfmService.ts
Labels: packages/backend

#14139 fix(frontend): サーバーサイドbootでエラー画面の描画時にDOMが初期化できていないことがあるのを修正
  packages/backend/src/server/web/boot.js
Labels: packages/backend

#14147 feat(misskey-js): multipart/form-dataのリクエストに対応
  CHANGELOG.md
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/generator/src/generator.ts
  packages/misskey-js/src/api.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/test/api.ts
Labels: packages/misskey-js, packages/misskey-js:test

#14119 fix(backend): 名前を空白文字列だけにできる問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/test/e2e/endpoints.ts
Labels: packages/backend, packages/backend:test

#13941 Bump release actions to v2 (develop-stable(master) branches system)
  .github/workflows/release-edit-with-push.yml
  .github/workflows/release-with-dispatch.yml
  .github/workflows/release-with-ready.yml
Labels: 🛠️Dev, 🔥high priority

#14157 fix/refactor(frontend): hotkeyの改修
  CHANGELOG.md
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/components/MkMenu.vue
  packages/frontend/src/components/MkModal.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/directives/hotkey.ts
  packages/frontend/src/pages/antenna-timeline.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/scripts/hotkey.ts
  packages/frontend/src/scripts/keycode.ts
Labels: packages/frontend

#14167 feat(misskey-js): `POST admin/roles/create`の型を具象化
  CHANGELOG.md
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
  packages/misskey-js/test/api.ts
Labels: packages/misskey-js, packages/misskey-js:test

#14156 enhance(frontend): ウェルカムタイムラインのデザインを調整
  CHANGELOG.md
  packages/frontend/src/pages/welcome.timeline.note.vue
  packages/frontend/src/pages/welcome.timeline.vue
Labels: packages/frontend

#14116 enhance(frontend): 未使用のサウンド設定を削除
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/pages/settings/sounds.vue
  packages/frontend/src/scripts/sound.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#14180 fix: サジェストされるユーザのリストアップ方法を見直し
  CHANGELOG.md
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/UserSearchService.ts
  packages/backend/src/server/api/endpoints/users/search-by-username-and-host.ts
  packages/backend/test/unit/UserSearchService.ts
Labels: packages/backend, packages/backend:test

#14192 fix(frontend): ホットキーのレートリミットがallowRepeatを考慮しない問題を修正
  packages/frontend/src/scripts/hotkey.ts
Labels: packages/frontend

#14191 refactor(sw): enable noImplicitAny
  packages/sw/tsconfig.json
Labels: packages/sw

#14079 parse `notRespondingSince` from redis instance cache
  packages/backend/src/core/FederatedInstanceService.ts
Labels: packages/backend

#14199 deps(frontend): AiScript VSCodeのバージョンを上げる
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend

#14195 fix(backend): 一般ユーザーから見たユーザーのバッジの一覧に公開されていないものが含まれることがある問題を修正
  CHANGELOG.md
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/test/e2e/users.ts
Labels: packages/backend, packages/backend:test

#14078 Feat: ユーザーのアイコン/バナーの変更可否をロールで設定可能に
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#14054 test(backend): kill many `any` in backend test (partial)
  packages/backend/src/core/activitypub/ApMfmService.ts
  packages/backend/test/e2e/2fa.ts
  packages/backend/test/e2e/api-visibility.ts
  packages/backend/test/e2e/block.ts
  packages/backend/test/e2e/clips.ts
  packages/backend/test/e2e/endpoints.ts
  packages/backend/test/e2e/exports.ts
  packages/backend/test/e2e/move.ts
  packages/backend/test/e2e/mute.ts
  packages/backend/test/e2e/note.ts
  packages/backend/test/e2e/renote-mute.ts
  packages/backend/test/e2e/thread-mute.ts
  packages/backend/test/e2e/timelines.ts
  packages/backend/test/unit/ApMfmService.ts
  packages/backend/test/unit/FileInfoService.ts
  packages/backend/test/utils.ts
Labels: packages/backend, packages/backend:test

#14198 enhance(frontend): サーバー情報・お問い合わせページを改修
  CHANGELOG.md
  packages/frontend/src/components/MkMenu.vue
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/pages/about.overview.vue
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/contact.vue
  packages/frontend/src/ui/_common_/common.ts
Labels: packages/frontend

#13089 enhance: 非ログイン時には別サーバーに遷移できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkFollowButton.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkPoll.vue
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkSigninDialog.vue
  packages/frontend/src/components/MkUserInfo.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/flash/flash.vue
  packages/frontend/src/pages/follow.vue
  packages/frontend/src/pages/lookup.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/router/definition.ts
  packages/frontend/src/scripts/get-user-menu.ts
  packages/frontend/src/scripts/please-login.ts
  packages/frontend/src/scripts/url.ts
Labels: packages/frontend

#14203 refactor(misskey-js): enable exactOptionalPropertyTypes
  packages/misskey-js/src/streaming.ts
  packages/misskey-js/tsconfig.json
Labels: packages/misskey-js

#14202 fix(frontend): Nested RouteのときにRouterViewに当たるキーがルートのpathとぶち当たる可能性があるのを修正
  packages/frontend/src/components/global/RouterView.vue
Labels: packages/frontend

#14206 fix(frontend): follow-up of #13089
  locales/index.d.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkPoll.vue
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/scripts/please-login.ts
  packages/frontend/src/scripts/url.ts
Labels: packages/frontend

#14100 fix(backend): ユーザーのリアクション一覧でミュート/ブロックが機能していなかった問題を修正
  CHANGELOG.md
  packages/backend/src/misc/is-user-related.ts
  packages/backend/src/server/api/endpoints/users/reactions.ts
Labels: packages/backend

#14208 fix: error with trying to handle SIGKILL
  packages/misskey-bubble-game/build.js
  packages/misskey-js/build.js
  packages/misskey-reversi/build.js
Labels: 🛠️Dev, packages/misskey-js

#14204 ci: cache eslint
  .github/workflows/lint.yml
  packages/backend/src/const.ts
Labels: packages/backend

#14200 enhance(frontend): Allow negative delay in MFM
  CHANGELOG.md
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
Labels: packages/frontend

#14179 enhance(backend): Load settings via environment variables
  .config/docker_example.env
  .config/docker_example.yml
  CHANGELOG.md
  compose_example.yml
  packages/backend/src/config.ts
Labels: packages/backend

#14213 chore(backend): registed -> registered
  CHANGELOG.md
  packages/backend/src/core/activitypub/models/ApQuestionService.ts
Labels: packages/backend

#14223 fix(frontend): MkSignin.vueのcredentialRequestからReactivityを削除
  CHANGELOG.md
  packages/frontend/src/components/MkSignin.vue
Labels: packages/frontend

#14226 AiScriptを0.19.0にアップデート
  CHANGELOG.md
  packages/frontend/package.json
  packages/frontend/src/pages/flash/flash-edit.vue
  pnpm-lock.yaml
Labels: packages/frontend

#14243 fix(frontend): 「アニメーション画像を再生しない」がオンのときにバナー画像・サーバー背景画像がアニメーションしないように
  CHANGELOG.md
  packages/frontend/src/components/MkUserInfo.vue
  packages/frontend/src/components/MkUserPopup.vue
  packages/frontend/src/pages/user/home.vue
Labels: packages/frontend

#13464 perf(federation): Ed25519署名に対応する
  .config/docker_example.yml
  .config/example.yml
  .devcontainer/devcontainer.yml
  CHANGELOG.md
  CONTRIBUTING.md
  chart/files/default.yml
  packages/backend/migration/1708980134301-APMultipleKeys.js
  packages/backend/migration/1709242519122-HttpSignImplLv.js
  packages/backend/migration/1709269211718-APMultipleKeysFix1.js
  packages/backend/package.json
  packages/backend/src/@types/http-signature.d.ts
  packages/backend/src/const.ts
  packages/backend/src/core/AccountUpdateService.ts
  packages/backend/src/core/CreateSystemUserService.ts
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/src/core/GlobalEventService.ts
  packages/backend/src/core/HttpRequestService.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/RelayService.ts
  packages/backend/src/core/SignupService.ts
  packages/backend/src/core/UserKeypairService.ts
  packages/backend/src/core/UserSuspendService.ts
  packages/backend/src/core/WebfingerService.ts
  packages/backend/src/core/activitypub/ApDbResolverService.ts
  packages/backend/src/core/activitypub/ApDeliverManagerService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/core/activitypub/misc/contexts.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/activitypub/type.ts
  packages/backend/src/core/entities/InstanceEntityService.ts
  packages/backend/src/misc/cache.ts
  packages/backend/src/misc/gen-key-pair.ts
  packages/backend/src/models/Instance.ts
  packages/backend/src/models/UserKeypair.ts
  packages/backend/src/models/UserPublickey.ts
  packages/backend/src/models/json-schema/federation-instance.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/src/server/NodeinfoServerService.ts
  packages/backend/src/server/api/endpoints/admin/queue/inbox-delayed.ts
  packages/backend/test/e2e/timelines.ts
  packages/backend/test/misc/mock-resolver.ts
  packages/backend/test/unit/FetchInstanceMetadataService.ts
  packages/backend/test/unit/ap-request.ts
  packages/misskey-js/src/autogen/types.ts
  pnpm-lock.yaml
Labels: packages/backend, 🌌Federation, packages/misskey-js, packages/backend:test

#13978 fix: ソーシャルタイムラインにローカルタイムラインに表示される自分へのリプライが表示されない問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
Labels: packages/backend

#14242 fix(backend): リノートミュートがキャッシュが切れるまで効かない問題を修正
  CHANGELOG.md
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/UserRenoteMutingService.ts
  packages/backend/src/server/api/endpoints/renote-mute/create.ts
  packages/backend/src/server/api/endpoints/renote-mute/delete.ts
Labels: packages/backend

#14003 fix(frontend): 子メニューの最大長調整が行われていない問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkMenu.vue
Labels: packages/frontend

#14251 kill any from streaming API Implementation
  CHANGELOG.md
  packages/backend/src/core/GlobalEventService.ts
  packages/backend/src/misc/json-value.ts
  packages/backend/src/server/api/stream/Connection.ts
  packages/backend/src/server/api/stream/channel.ts
  packages/backend/src/server/api/stream/channels/admin.ts
  packages/backend/src/server/api/stream/channels/antenna.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/drive.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/hashtag.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/main.ts
  packages/backend/src/server/api/stream/channels/queue-stats.ts
  packages/backend/src/server/api/stream/channels/reversi-game.ts
  packages/backend/src/server/api/stream/channels/reversi.ts
  packages/backend/src/server/api/stream/channels/role-timeline.ts
  packages/backend/src/server/api/stream/channels/server-stats.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
Labels: packages/backend

#14260 fix(frontend): 個人宛てダイアログお知らせが即時表示されない問題
  CHANGELOG.md
  packages/frontend/src/boot/main-boot.ts
Labels: packages/frontend

#14115 enhance(frontend): センシティブなメディアを開く際に確認ダイアログを出せるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaBanner.vue
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/MkMediaList.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#14262 chore(backend): Disable ESLint for migration files
  packages/backend/eslint.config.js
Labels: packages/backend

#14250 fix(frontend): blurhashが無い場合に何も出力されないのを修正
  CHANGELOG.md
  packages/frontend/src/components/MkImgWithBlurhash.vue
Labels: packages/frontend

#14265 docs(misskey-js): fix broken i-want-you image link in README.md
  packages/misskey-js/README.md
Labels: packages/misskey-js

#14283 fix(frontend): 初期化時とroute変更時でkeyの決定方法が違うのを修正
  packages/frontend/src/components/global/RouterView.vue
Labels: packages/frontend

#13774 fix(backend): avoid notifying to remote users on local
  CHANGELOG.md
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/queue/processors/EndedPollNotificationProcessorService.ts
Labels: packages/backend

#13772 fix(backend): avoid caching remote user's HTL when receiving Note
  CHANGELOG.md
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/test/e2e/timelines.ts
Labels: packages/backend, packages/backend:test

#14277 [Re] refactor(misskey-js): 警告をすべて解決
  packages/misskey-js/eslint.config.js
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/acct.ts
  packages/misskey-js/src/api.ts
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/consts.ts
  packages/misskey-js/src/entities.ts
  packages/misskey-js/src/streaming.ts
  packages/misskey-js/src/streaming.types.ts
Labels: packages/misskey-js

#14295 fix(frontend): emoji picker not opening on `/share` page
  CHANGELOG.md
  packages/frontend/src/boot/sub-boot.ts
Labels: packages/frontend

#14294 fix(frontend): リアクションしたユーザー一覧のユーザー名がはみ出る問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkReactionsViewer.details.vue
  packages/frontend/vite.config.local-dev.ts
Labels: packages/frontend

#14284 fix(frontend): いくつかの`number` inputに最小値を設定
  packages/frontend/src/components/MkPollEditor.vue
  packages/frontend/src/pages/admin/invites.vue
  packages/frontend/src/pages/settings/statusbar.statusbar.vue
Labels: packages/frontend

#14268 fix(mahjong): 麻雀をプレイできない問題を修正
  locales/index.d.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-mahjong/src/common.yaku.ts
  packages/misskey-mahjong/src/engine.master.ts
  packages/misskey-mahjong/src/engine.player.ts
Labels: packages/misskey-js

#14309 fix(build): autogen生成時にbackendを2度buildしているのを修正
  package.json
  packages/backend/package.json
  packages/backend/scripts/generate_api_json.js
Labels: packages/backend

#14307 fix(frontend): modalが正しく閉じられていないのを修正
  packages/frontend/src/components/MkSystemWebhookEditor.impl.ts
  packages/frontend/src/components/MkSystemWebhookEditor.vue
  packages/frontend/src/components/MkUserSelectDialog.vue
  packages/frontend/src/pages/admin/abuse-report/notification-recipient.editor.vue
  packages/frontend/src/pages/admin/abuse-report/notification-recipient.vue
Labels: packages/frontend

#14312 update deps
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/misskey-js/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/sw

#14285 Fix(frontend): 下書き/削除して編集で保持されない項目があった問題を修正
  CHANGELOG.md
  packages/backend/src/models/json-schema/note.ts
  packages/frontend/src/components/MkPostForm.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#14029 fix: deck uiの通知音が重なる問題
  CHANGELOG.md
  packages/frontend/src/scripts/sound.ts
Labels: packages/frontend

#14321 feature: ユーザ作成時にSystemWebhookを発信できるようにする
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/AbuseReportNotificationService.ts
  packages/backend/src/core/SignupService.ts
  packages/backend/src/core/UserService.ts
  packages/backend/src/models/SystemWebhook.ts
  packages/backend/test/e2e/synalio/abuse-report.ts
  packages/backend/test/e2e/synalio/user-create.ts
  packages/backend/test/utils.ts
  packages/frontend/src/components/MkSystemWebhookEditor.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#14317 fix(backend): type(schema) of reactionAcceptance was wrong
  packages/backend/src/models/json-schema/note.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#14286 enhance: 管理画面でアーカイブにしたお知らせを表示・編集できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/endpoints/admin/announcements/list.ts
  packages/frontend/src/pages/admin/_header_.vue
  packages/frontend/src/pages/admin/announcements.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#14104 enhance(frontend): デッキのアンテナ・リスト選択画面からそれぞれを新規作成できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkAntennaEditor.stories.impl.ts
  packages/frontend/src/components/MkAntennaEditor.vue
  packages/frontend/src/components/MkAntennaEditorDialog.stories.impl.ts
  packages/frontend/src/components/MkAntennaEditorDialog.vue
  packages/frontend/src/components/MkDialog.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/my-antennas/create.vue
  packages/frontend/src/pages/my-antennas/edit.vue
  packages/frontend/src/scripts/merge.ts
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/ui/deck/antenna-column.vue
  packages/frontend/src/ui/deck/channel-column.vue
  packages/frontend/src/ui/deck/deck-store.ts
  packages/frontend/src/ui/deck/direct-column.vue
  packages/frontend/src/ui/deck/list-column.vue
  packages/frontend/src/ui/deck/mentions-column.vue
  packages/frontend/src/ui/deck/notifications-column.vue
  packages/frontend/src/ui/deck/role-timeline-column.vue
  packages/frontend/src/ui/deck/tl-column.vue
Labels: packages/frontend

#14318 enhance(frontend): ドライブのファイル・フォルダをドラッグしなくても移動できるように
  CHANGELOG.md
  packages/frontend/src/components/MkDrive.folder.vue
  packages/frontend/src/components/MkDrive.vue
  packages/frontend/src/pages/drive.file.info.vue
  packages/frontend/src/scripts/get-drive-file-menu.ts
Labels: packages/frontend

#14076 enhance(frontend): ブラウザのコンテキストメニューを使用できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/os.ts
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#14323 Fix(backend): ドライブのファイルのurl, uri, src の上限引き上げ
  CHANGELOG.md
  packages/backend/migration/1721666053703-fixDriveUrl.js
  packages/backend/src/models/DriveFile.ts
Labels: packages/backend

#14128 feat: このユーザーのノートを検索, クエリに基づく検索の初期値 & ノート検索のUI改善
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/frontend/.storybook/fakes.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/src/components/MkRadios.vue
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/pages/search.stories.impl.ts
  packages/frontend/src/pages/search.user.vue
  packages/frontend/src/pages/search.vue
  packages/frontend/src/router/definition.ts
  packages/frontend/src/scripts/check-permissions.ts
  packages/frontend/src/scripts/get-user-menu.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#14325 Fix condition of noteSearchableScope
  packages/backend/src/core/entities/MetaEntityService.ts
Labels: packages/backend

#14324 enhance(frontend): 連合の「連合中」,「購読中」,「配信中」に対してブロックしているサーバー、配信停止しているサーバーを含めないように
  CHANGELOG.md
  packages/frontend/src/pages/about.federation.vue
  packages/frontend/src/pages/admin/federation.vue
Labels: packages/frontend

#14270 fix(frontend): pure renote cannot create with url based quote
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#14256 enhance(frontend): 自分のクリップ一覧ではアバターを表示しないように
  packages/frontend/src/components/MkClipPreview.stories.impl.ts
  packages/frontend/src/components/MkClipPreview.vue
  packages/frontend/src/pages/my-clips/index.vue
Labels: packages/frontend

#14328 fix(misskey-js): モデログのフィルタに追加漏れがあったのを修正
  packages/misskey-js/src/consts.ts
Labels: packages/misskey-js

#13858 検索からハッシュタグのページが開けるように、users/searchに`@`から始まる文字列が与えられた際の処理を修正 等
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/endpoints/users/search.ts
  packages/frontend/src/components/MkInput.vue
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/pages/search.user.vue
  packages/frontend/src/scripts/lookup.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#13835 自分のフォロワー限定投稿に対するリプライがホームタイムラインで見えないことが有る問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/timeline.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/test/e2e/streaming.ts
  packages/backend/test/e2e/timelines.ts
Labels: packages/backend, packages/backend:test

#13842 feat: media silence
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1716197366117-MediaSilenceForHosts.js
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/ReactionService.ts
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/core/entities/InstanceEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/json-schema/federation-instance.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/src/pages/admin/instance-block.vue
  packages/frontend/src/pages/instance-info.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#14118 test(#10336): add `components/Mk[D-E].*` stories
  packages/frontend/.storybook/fakes.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/src/components/MkDateSeparatedList.stories.impl.ts
  packages/frontend/src/components/MkDialog.stories.impl.ts
  packages/frontend/src/components/MkDivider.stories.impl.ts
  packages/frontend/src/components/MkDonation.stories.impl.ts
  packages/frontend/src/components/MkDrive.file.stories.impl.ts
  packages/frontend/src/components/MkDrive.folder.stories.impl.ts
  packages/frontend/src/components/MkDrive.navFolder.stories.impl.ts
  packages/frontend/src/components/MkDrive.stories.impl.ts
  packages/frontend/src/components/MkDriveFileThumbnail.stories.impl.ts
  packages/frontend/src/components/MkDriveFileThumbnail.vue
  packages/frontend/src/components/MkDriveSelectDialog.stories.impl.ts
  packages/frontend/src/components/MkDriveWindow.stories.impl.ts
  packages/frontend/src/components/MkEmojiPicker.section.stories.impl.ts
  packages/frontend/src/components/MkEmojiPicker.stories.impl.ts
  packages/frontend/src/components/MkEmojiPickerDialog.stories.impl.ts
Labels: packages/frontend

#13895 フォロー中のユーザーに関する"TLに他の人への返信を含める"の設定が分かりづらい問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/my-lists/list.vue
  packages/frontend/src/scripts/get-user-menu.ts
Labels: packages/frontend

#13727 frontend timeline fixes & improvements
  CHANGELOG.md
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/components/MkTutorialDialog.Timeline.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/timelines.ts
  packages/frontend/src/ui/deck/deck-store.ts
  packages/frontend/src/ui/deck/tl-column.vue
  packages/frontend/src/widgets/WidgetTimeline.vue
Labels: packages/frontend

#14073 fix(frontend): ドライブの音声が再生できない場合の処理を追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/sounds.sound.vue
  packages/frontend/src/pages/settings/sounds.vue
  packages/frontend/src/scripts/sound.ts
Labels: packages/frontend

#14333 test: フォローしていないユーザーからの自分への返信が含まれることを確認するテストを追加
  packages/backend/test/e2e/timelines.ts
Labels: packages/backend, packages/backend:test

#14337 Fix(frontend): LTL無効時にヘッダーにSTLが表示されてしまう & デフォルト、クラシックでリストが消えている
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/timelines.ts
Labels: packages/frontend
