Repository misskey-dev/misskey, pull requests merged in 2024-12, with the labels that each got.

#15106 fix(frontend): MiAuth認可画面のデザイン修正
  packages/frontend/src/pages/miauth.vue
Labels: packages/frontend

#15102 fix(frontend): 公開範囲がホームのノートの埋め込みウィジェットが読み込まれない問題を修正
  CHANGELOG.md
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#15101 fix(frontend): ノートがログインしているユーザーしか見れない場合にログインをキャンセルした場合その後の動線がなくなる問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/note.vue
Labels: packages/frontend

#15132 misskey-js: APIClientにURL末尾の/を除去する処理を追加
  packages/misskey-js/src/api.ts
Labels: packages/misskey-js

#15129 enhance(frontend): PC画面でチャンネルが複数列で表示されるように
  CHANGELOG.md
  packages/frontend/src/components/MkChannelPreview.vue
  packages/frontend/src/pages/channels.vue
Labels: packages/frontend

#15128 fix(frontend): 絵文字管理画面で絵文字が表示されないことがある問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/custom-emojis-manager.vue
  packages/frontend/src/pages/emoji-edit-dialog.vue
Labels: packages/frontend

#15131 fix(frontend): serverContextの型エラーを修正
  packages/frontend/src/pages/clip.vue
  packages/frontend/src/pages/note.vue
  packages/frontend/src/pages/user/index.vue
  packages/frontend/src/server-context.ts
Labels: packages/frontend

#15147 enhance(frontend): 照会の際にエラーを表示するように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/server/api/endpoints/ap/show.ts
  packages/backend/test-federation/test/note.test.ts
  packages/frontend/src/scripts/lookup.ts
Labels: packages/frontend, packages/backend, packages/backend:test

#15166 fix(frontend): serverContextの値を利用する条件が間違っていたのを修正
  packages/frontend/src/pages/clip.vue
  packages/frontend/src/pages/note.vue
  packages/frontend/src/pages/user/index.vue
Labels: packages/frontend
