Repository misskey-dev/misskey, pull requests merged in 2024-08, with the labels that each got.

#14375 fix(backend): check visibility of following/followers of remote users / feat: moderators can see following/followers of all users
  CHANGELOG.md
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/activitypub/type.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/server/api/endpoints/users/followers.ts
  packages/backend/src/server/api/endpoints/users/following.ts
  packages/backend/test/unit/activitypub.ts
  packages/frontend/src/scripts/isFfVisibleForMe.ts
Labels: packages/frontend, packages/backend, packages/backend:test

#14374 fix: readAllNotifications message not working
  CHANGELOG.md
  packages/backend/src/misc/json-value.ts
  packages/backend/src/server/api/stream/Connection.ts
  packages/backend/src/server/api/stream/channels/queue-stats.ts
  packages/backend/src/server/api/stream/channels/reversi-game.ts
  packages/backend/src/server/api/stream/channels/server-stats.ts
Labels: packages/backend

#14384 fix(general): some fixes and improvements of Play visibility
  CHANGELOG.md
  packages/backend/src/core/entities/FlashEntityService.ts
  packages/backend/src/models/json-schema/flash.ts
  packages/frontend/.storybook/fakes.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/src/components/MkFlashPreview.stories.impl.ts
  packages/frontend/src/components/MkFlashPreview.vue
  packages/frontend/src/pages/flash/flash-edit.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#14380 fix(frontend): ページ遷移に失敗することがある問題を修正 (bump vue version)
  CHANGELOG.md
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend

#14354 fix(frontend): iOSでacctなどがリンクとして誤検知されるのを抑制
  CHANGELOG.md
  packages/backend/src/server/web/views/base.pug
Labels: packages/backend

#14390 fix(frontend): mCaptchaを使用していてもbotプロテクションに関する警告が消えないのを修正
  CHANGELOG.md
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/settings/index.vue
Labels: packages/frontend

#14360 fix(backend): InstanceEntityService.packMany に me が渡っていないのを修正
  CHANGELOG.md
  packages/backend/src/core/entities/InstanceEntityService.ts
  packages/backend/src/server/api/endpoints/federation/instances.ts
  packages/backend/src/server/api/endpoints/federation/stats.ts
Labels: packages/backend

#14361 fix(backend): getApTypeでエラーを投げないように
  CHANGELOG.md
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/type.ts
Labels: packages/backend

#14350 fix(backend): ダイレクト投稿をユーザーごとのチャートから除外
  CHANGELOG.md
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#14394 chore: fix some comments
  packages/backend/src/core/NoteDeleteService.ts
  packages/misskey-js/test-d/api.ts
Labels: packages/backend, packages/misskey-js, packages/misskey-js:test

#14406 refactor(frontend): remove stale reload method call on `/admin/users` page
  packages/frontend/src/pages/admin/users.vue
Labels: packages/frontend

#14414 revert misskey-js related changes (nanka-iroiro-2024-08-14)
  package.json
  packages/backend/src/server/api/openapi/gen-spec.ts
  packages/misskey-js/generator/package.json
  packages/misskey-js/generator/src/generator.ts
  packages/misskey-js/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/misskey-js

#14404 fix(backend): リバーシの設定変更が反映されないのを修正
  CHANGELOG.md
  packages/backend/src/core/ReversiService.ts
  packages/backend/src/server/api/stream/channels/reversi-game.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/consts.ts
  packages/misskey-js/src/index.ts
Labels: packages/backend, packages/misskey-js

#14407 fix(frontend): correct condition to displayed as system account on moderation page
  CHANGELOG.md
  packages/frontend/src/pages/admin-user.vue
Labels: packages/frontend

#14412 fix(frontend): Misskeyの利用中に使用できるタイムラインの種類が変化した場合、使用できないタイムラインが表示されないように
  packages/frontend/src/pages/timeline.vue
Labels: packages/frontend

#14409 suspend周りの改修
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/DeleteAccountService.ts
  packages/backend/src/core/UserSuspendService.ts
  packages/backend/src/server/api/endpoints/admin/accounts/delete.ts
  packages/backend/src/server/api/endpoints/admin/suspend-user.ts
  packages/backend/src/server/api/endpoints/admin/unsuspend-user.ts
  packages/backend/src/types.ts
  packages/frontend/src/pages/admin/modlog.ModLog.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/consts.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#14396 fix(frontend): リノートの判定が甘いのを修正
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/scripts/get-appear-note.ts
  packages/frontend/src/scripts/get-note-menu.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
  packages/misskey-js/src/index.ts
  packages/misskey-js/src/note.ts
Labels: packages/frontend, packages/misskey-js

#14418 fix(backend): ベースロールのポリシー変更時モデレーションログが残るように
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/admin/roles/update-default-policies.ts
Labels: packages/backend

#13523 enhance(backend): ページ、ギャラリー、Playのモデレーション強化
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/endpoints/flash/delete.ts
  packages/backend/src/server/api/endpoints/gallery/posts/delete.ts
  packages/backend/src/server/api/endpoints/pages/delete.ts
  packages/backend/src/types.ts
  packages/frontend/src/components/MkAbuseReportWindow.vue
  packages/frontend/src/components/global/MkAcct.vue
  packages/frontend/src/pages/admin/modlog.ModLog.vue
  packages/frontend/src/pages/flash/flash.vue
  packages/frontend/src/pages/gallery/post.vue
  packages/frontend/src/pages/page.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/consts.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#14371 enhance(backend): headタグ内にrel=alternateの指定のあるlinkタグがある場合、記述されたURLを参照して照会できるように
  CHANGELOG.md
  packages/backend/src/core/activitypub/ApRequestService.ts
Labels: packages/backend

#14421 fix(frontend): 以前のpopupの呼び出し方を修正
  packages/frontend/src/pages/flash/flash.vue
  packages/frontend/src/pages/gallery/post.vue
  packages/frontend/src/pages/page.vue
Labels: packages/frontend

#14422 fix(misskey-js): eliminate any (follow-up of #13523)
  packages/misskey-js/src/consts.ts
Labels: packages/misskey-js

#14424 Fix(beckend): html content-type detection on signedGet
  packages/backend/src/core/activitypub/ApRequestService.ts
Labels: packages/backend, packages/backend:test

#14363 fix(backend): memory leak in memory caches
  CHANGELOG.md
  packages/backend/src/core/AvatarDecorationService.ts
  packages/backend/src/core/CacheService.ts
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/RelayService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/UserKeypairService.ts
  packages/backend/src/core/activitypub/ApDbResolverService.ts
  packages/backend/src/misc/cache.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/server/NodeinfoServerService.ts
  packages/backend/src/server/api/AuthenticateService.ts
Labels: packages/backend

#14431 fix(frontend): focustrapがzindexを考慮するように
  packages/frontend/src/scripts/focus-trap.ts
Labels: packages/frontend

#14444 fix(frontend/i18n): 翻訳があたっていない部分を修正
  packages/frontend/src/pages/admin/abuses.vue
Labels: packages/frontend

#14441 fix(backend): Fix chart generation non-matching blockedHosts
  packages/backend/src/core/chart/charts/federation.ts
Labels: packages/backend

#14471 fix(backend): correct `app`-type notification schema
  packages/backend/src/models/Notification.ts
  packages/backend/src/models/json-schema/notification.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#14470 refactor(sw): use fully typed locales
  packages/backend/src/models/json-schema/notification.ts
  packages/frontend/src/scripts/i18n.ts
  packages/frontend/test/i18n.test.ts
  packages/misskey-js/src/autogen/types.ts
  packages/sw/src/scripts/create-notification.ts
  packages/sw/src/scripts/i18n.ts
  packages/sw/src/scripts/lang.ts
  packages/sw/src/sw.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/sw

#14468 fix(backend): use `prefixItems` in `admin/queue/*-delayed` endpoint schema
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/server/api/endpoints/admin/queue/deliver-delayed.ts
  packages/backend/src/server/api/endpoints/admin/queue/inbox-delayed.ts
  packages/frontend/src/pages/admin/overview.queue.vue
  packages/frontend/src/pages/admin/queue.chart.vue
  packages/frontend/src/pages/admin/queue.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#14467 fix(frontend): server metrics look strange after reload
  CHANGELOG.md
  packages/frontend/src/widgets/server-metric/cpu-mem.vue
  packages/frontend/src/widgets/server-metric/net.vue
Labels: packages/frontend

#14478 refactor(sw): fix type errors
  .github/workflows/lint.yml
  packages/sw/build.js
  packages/sw/src/scripts/create-notification.ts
  packages/sw/src/scripts/get-account-from-id.ts
  packages/sw/src/scripts/operations.ts
  packages/sw/src/sw.ts
  packages/sw/tsconfig.json
Labels: packages/sw
