Repository misskey-dev/misskey, pull requests merged in 2024-05, with the labels that each got.

#13776 refactor(frontend): 非ログイン画面でのmeta取得を減らす
  packages/frontend/src/components/MkFeaturedPhotos.vue
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/instance.ts
  packages/frontend/src/pages/welcome.entrance.a.vue
  packages/frontend/src/pages/welcome.vue
  packages/frontend/src/ui/visitor.vue
Labels: packages/frontend

#13777 fix(frontend): 連合なしの状態の読み書きができない問題
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormDialog.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#13779 fix(frontend): fix Storybook type errors
  packages/frontend/.storybook/fakes.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/.storybook/main.ts
  packages/frontend/.storybook/mocks.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkAccountMoved.stories.impl.ts
  packages/frontend/src/components/MkAnnouncementDialog.stories.impl.ts
  packages/frontend/src/components/MkSignupDialog.rules.stories.impl.ts
  packages/frontend/src/components/global/MkAd.stories.impl.ts
  packages/frontend/src/components/global/MkAvatar.stories.impl.ts
  packages/frontend/src/components/global/MkCondensedLine.stories.impl.ts
  packages/frontend/src/components/global/MkError.stories.meta.ts
  packages/frontend/src/components/global/MkPageHeader.stories.impl.ts
  packages/frontend/src/components/global/MkPageHeader.tabs.vue
  packages/frontend/src/components/global/MkTime.stories.impl.ts
  packages/frontend/src/components/global/MkUserName.stories.impl.ts
  pnpm-lock.yaml
Labels: packages/frontend

#13756 enhance(backend): ドライブのファイルがNSFWかどうか個別に連合されるように
  CHANGELOG.md
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
Labels: packages/backend, packages/backend:test

#13788 enhance(frontend_ais): PostForm系の設定項目を追加
  CHANGELOG.md
  packages/frontend/src/components/MkAsUi.vue
  packages/frontend/src/scripts/aiscript/ui.ts
Labels: packages/frontend

#13624 update deps
  .devcontainer/devcontainer.json
  .github/workflows/check-misskey-js-autogen.yml
  .github/workflows/get-api-diff.yml
  .github/workflows/lint.yml
  .github/workflows/on-release-created.yml
  .github/workflows/storybook.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-misskey-js.yml
  .github/workflows/test-production.yml
  .github/workflows/validate-api-json.yml
  .node-version
  Dockerfile
  package.json
  packages/backend/package.json
  packages/backend/src/core/WebAuthnService.ts
  packages/backend/src/misc/gen-identicon.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/endpoints/i/2fa/key-done.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/base.pug
  packages/frontend/.storybook/preview-head.html
  packages/frontend/package.json
  packages/frontend/src/_dev_boot_.ts
  packages/misskey-js/package.json
  packages/sw/package.json
  pnpm-lock.yaml
  scripts/build-assets.mjs
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/sw

#13812 fix(backend): 不要なUserProfileの取得を修正
  packages/backend/src/core/entities/UserEntityService.ts
Labels: packages/backend

#13811 fix(backend): UserEntityService.getRelationsの取得処理を軽量化
  packages/backend/src/core/entities/UserEntityService.ts
Labels: packages/backend

#13816 developにマージされた分の追いつき用
  packages/backend/src/core/entities/UserEntityService.ts
Labels: packages/backend

#13826 fix(frontend): fix Chromatic test fails
  packages/frontend/src/components/MkModal.vue
  packages/frontend/src/components/global/MkAd.stories.impl.ts
Labels: packages/frontend

#13828 fix(storybook): fix wrong `tabler-icons` CSS path
  packages/frontend/.storybook/preview-head.html
Labels: packages/frontend

#13837 FTTが有効かつsinceIdのみを指定した場合に帰って来るレスポンスが逆順である問題を修正
  CHANGELOG.md
  packages/backend/src/core/FanoutTimelineEndpointService.ts
Labels: packages/backend

#13836 fix notification limit with exclude/include types
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/i/notifications.ts
Labels: packages/backend

#13838 Exclude channel notes from featured polls
  CHANGELOG.md
  packages/backend/migration/1716129964060-ChannelIdDenormalizedForMiPoll.js
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/models/Poll.ts
  packages/backend/src/server/api/endpoints/notes/polls/recommendation.ts
  packages/frontend/src/pages/explore.featured.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#13765 fix: 複数idを指定する`users/show`が関係ないユーザを返すことがある問題を修正
  CHANGELOG.md
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/server/api/endpoints/users/show.ts
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/misskey-js:test

#13846 fix: `/share` with unicode characters in the URL
  CHANGELOG.md
  packages/frontend/src/pages/share.vue
Labels: packages/frontend

#13849 ci: verify locale data
  .github/workflows/locale.yml
  locales/verify.js
Labels: 🛠️Dev, i18n

#13847 `/tags` と `/user-tags` が検索エンジンにインデックスされないように
  CHANGELOG.md
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/base.pug
Labels: packages/backend

#13851 deps(frontend): AiScript VSCodeのバージョンを上げる
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend

#13855 enhance(frontend): 通常のノートでも、お気に入りに登録したチャンネルにリノートできるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend

#13862 feat(frontend): 長いテキストをペーストした際にテキストファイルとして添付するかどうかを選択できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#13834 feat(backend): add /healthz endpoint
  healthcheck.sh
  packages/backend/src/boot/entry.ts
  packages/backend/src/boot/ready.ts
  packages/backend/src/server/HealthServerService.ts
  packages/backend/src/server/ServerModule.ts
  packages/backend/src/server/ServerService.ts
Labels: ✨Feature, packages/backend

#13861 feat: suspend instance improvements
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1716345015347-NotRespondingSince.js
  packages/backend/migration/1716447138870-SuspensionStateInsteadOfIsSspended.js
  packages/backend/src/core/entities/InstanceEntityService.ts
  packages/backend/src/models/Instance.ts
  packages/backend/src/models/json-schema/federation-instance.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/server/api/ApiServerService.ts
  packages/backend/src/server/api/endpoints/admin/federation/update-instance.ts
  packages/frontend/src/pages/admin/federation.vue
  packages/frontend/src/pages/instance-info.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#13798 fix(backend): `read:admin:show-user` と `read:admin:show-users` を統合
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/endpoints/admin/show-users.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
Labels: packages/backend, packages/misskey-js

#13885 feat: 個別のお知らせにリンクで飛べるように
  CHANGELOG.md
  packages/backend/src/core/AnnouncementService.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/entities/AnnouncementEntityService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/announcements.ts
  packages/backend/src/server/api/endpoints/announcements/show.ts
  packages/backend/test/unit/AnnouncementService.ts
  packages/frontend/src/pages/announcement.vue
  packages/frontend/src/pages/announcements.vue
  packages/frontend/src/router/definition.ts
  packages/frontend/src/ui/_common_/announcements.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#13884 fix(backend): `/@` にアクセスするとサーバーエラーが発生する問題を修正
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#13883 enhance(frontend): 「見たことのあるリノートを省略して表示」の名称を変更
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/general.vue
Labels: packages/frontend

#13881 refactor(frontend): お気に入りチャンネルをキャッシュするように
  packages/frontend/src/cache.ts
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/ui/deck/channel-column.vue
Labels: packages/frontend

#13878 Quick action implement
  CHANGELOG.md
  packages/frontend/src/pages/admin/files.vue
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/admin/users.vue
  packages/frontend/src/scripts/admin-lookup.ts
Labels: packages/frontend

#13867 新着ノートをサウンドで通知する機能をdeck UIに追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1716450883149-RemoveAntennaNotify.js
  packages/backend/src/core/entities/AntennaEntityService.ts
  packages/backend/src/models/Antenna.ts
  packages/backend/src/models/json-schema/antenna.ts
  packages/backend/src/queue/processors/ExportAntennasProcessorService.ts
  packages/backend/src/queue/processors/ImportAntennasProcessorService.ts
  packages/backend/src/server/api/endpoints/antennas/create.ts
  packages/backend/src/server/api/endpoints/antennas/update.ts
  packages/backend/test/e2e/antennas.ts
  packages/backend/test/e2e/move.ts
  packages/frontend/src/components/MkFormDialog.file.vue
  packages/frontend/src/components/MkFormDialog.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/my-antennas/editor.vue
  packages/frontend/src/scripts/form.ts
  packages/frontend/src/ui/deck/antenna-column.vue
  packages/frontend/src/ui/deck/channel-column.vue
  packages/frontend/src/ui/deck/deck-store.ts
  packages/frontend/src/ui/deck/list-column.vue
  packages/frontend/src/ui/deck/role-timeline-column.vue
  packages/frontend/src/ui/deck/tl-column.vue
  packages/frontend/src/ui/deck/tl-note-notification.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#13610 fix(federation): InboxにきたCreate, AnnounceのobjectがBearcaps urlだった際はスキップするように
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/type.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
Labels: packages/backend

#13897 feat: sentry integration
  .config/docker_example.yml
  .config/example.yml
  .devcontainer/devcontainer.yml
  CHANGELOG.md
  chart/files/default.yml
  packages/backend/package.json
  packages/backend/src/boot/master.ts
  packages/backend/src/config.ts
  packages/backend/src/server/api/ApiCallService.ts
  pnpm-lock.yaml
Labels: packages/backend

#13905 refactor: avoid `as any[]` on FetchInstanceMetadataService.ts
  packages/backend/src/core/FetchInstanceMetadataService.ts
Labels: packages/backend

#13904 chore(backend): rename local variable
  packages/backend/src/core/DriveService.ts
Labels: packages/backend

#13903 refactor(backend): avoid `as any` on CustomEmojiService.ts
  packages/backend/src/core/CustomEmojiService.ts
Labels: packages/backend

#13902 chore(misskey-js): fix `repository` and add `license` in `package.json`
  packages/misskey-js/package.json
Labels: packages/misskey-js

#13907 fix(frontend): ノートにテキストがなくてもファイルが5つ以上あるときは折りたたむように
  CHANGELOG.md
  packages/frontend/src/scripts/collapsed.ts
Labels: packages/frontend

#13911 perf(backend): avoid N+1 selects from `user` table when packing many entities
  packages/backend/src/core/entities/AbuseUserReportEntityService.ts
  packages/backend/src/core/entities/BlockingEntityService.ts
  packages/backend/src/core/entities/ClipEntityService.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/core/entities/FlashEntityService.ts
  packages/backend/src/core/entities/FollowRequestEntityService.ts
  packages/backend/src/core/entities/FollowingEntityService.ts
  packages/backend/src/core/entities/GalleryPostEntityService.ts
  packages/backend/src/core/entities/InviteCodeEntityService.ts
  packages/backend/src/core/entities/ModerationLogEntityService.ts
  packages/backend/src/core/entities/MutingEntityService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/core/entities/NoteReactionEntityService.ts
  packages/backend/src/core/entities/PageEntityService.ts
  packages/backend/src/core/entities/RenoteMutingEntityService.ts
  packages/backend/src/core/entities/ReversiGameEntityService.ts
  packages/backend/src/core/entities/UserListEntityService.ts
  packages/backend/src/server/api/endpoints/admin/roles/users.ts
  packages/backend/src/server/api/endpoints/drive/files/find.ts
  packages/backend/src/server/api/endpoints/following/requests/list.ts
  packages/backend/src/server/api/endpoints/notes/reactions.ts
  packages/backend/src/server/api/endpoints/roles/users.ts
  packages/backend/src/server/api/endpoints/users/get-frequently-replied-users.ts
  packages/backend/src/server/api/endpoints/users/show.ts
Labels: packages/backend
