Repository misskey-dev/misskey, pull requests merged in 2024-11, with the labels that each got.

#14884 fix(frontend): withSensitiveフィルタ周りの挙動修正
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/pages/timeline.vue
Labels: packages/frontend

#14880 fix(backend): ノートを連合する際にリモートユーザーのacctの大小文字を区別して処理している問題を修正
  CHANGELOG.md
  packages/backend/src/core/MfmService.ts
Labels: packages/backend

#14887 fix(frontend): ノート投稿ボタンにホバー時のスタイルが適用されていない
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#14878 fix(backend): FTT無効時にユーザーリストタイムラインが使用できない問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
Labels: packages/backend

#14891 chore: fix a tiny type error for makeGetterSetter
  packages/frontend/src/pizzax.ts
Labels: packages/frontend

#14904 fix(backend): フォロワーへのメッセージの絵文字をemojisに含めるように
  packages/backend/src/server/api/endpoints/i/update.ts
Labels: packages/backend

#14908 fix(backend): followedMessageではなくdescriptionになっていたのを修正
  packages/backend/src/server/api/endpoints/i/update.ts
Labels: packages/backend

#14920 fix(backend): SQLのサニタイズを強化
  packages/backend/src/misc/sql-like-escape.ts
Labels: packages/backend

#14919 fix(frontend): 外部URLへのリダイレクトのバリデーションを強化
  packages/frontend/src/pages/auth.vue
  packages/frontend/src/pages/miauth.vue
Labels: packages/frontend

#14902 enhance(frontend): 個別お知らせページではmetaタグを出力するように
  CHANGELOG.md
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/announcement.pug
  packages/backend/src/server/web/views/base.pug
  packages/frontend/src/pages/announcement.vue
Labels: packages/frontend, packages/backend

#14897 enhance(backend) : リモートユーザーの照会をオリジナルにリダイレクトするように (#12892)
  CHANGELOG.md
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/test/e2e/fetch-resource.ts
Labels: packages/backend, packages/backend:test

#14877 refactor(frontend): 動画UIのフルスクリーン周りの調整
  packages/frontend/src/boot/common.ts
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/scripts/device-kind.ts
  packages/frontend/src/scripts/fullscreen.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#14879 fix(backend): ローカルユーザーへのメンションを含むノートが連合される際に正しいURLに変換されないことがある問題を修正
  CHANGELOG.md
  packages/backend/src/core/MfmService.ts
Labels: packages/backend

#14928 fix(frontend): メールアドレス登録有効化時の「完了」ダイアログボックスの表示条件を修正
  packages/frontend/src/components/MkSignupDialog.form.vue
Labels: packages/frontend

#14946 Enhance(frontend): ノート詳細画面にロールのバッジを表示
  CHANGELOG.md
  packages/frontend/src/components/MkNoteDetailed.vue
Labels: packages/frontend

#14960 fix(frontend): スマホで表示した時にipv6だとはみ出てしまうのを修正
  CHANGELOG.md
  packages/frontend/src/pages/admin-user.vue
Labels: packages/frontend

#14963 add warning for open registration
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/admin/moderation.vue
Labels: packages/frontend

#14970 fix(backend): fallback sharedInbox to null in ApPersonService
  packages/backend/src/core/activitypub/models/ApPersonService.ts
Labels: packages/backend, 🌌Federation

#14983 enhance(frontend): デッキ表示時にサイドバーを展開・折りたたみできるように
  CHANGELOG.md
  packages/frontend/src/pages/settings/navbar.vue
  packages/frontend/src/ui/_common_/navbar.vue
Labels: packages/frontend

#14994 fix(frontend): TypeScriptの型チェック対象ファイルを限定して高速化するように
  CHANGELOG.md
  packages/frontend-embed/tsconfig.json
  packages/frontend/tsconfig.json
Labels: packages/frontend

#14990 fix(backend): お知らせ作成時に画像URL入力欄を空欄に変更できないのを修正
  CHANGELOG.md
  packages/backend/src/core/AnnouncementService.ts
  packages/backend/src/server/api/endpoints/admin/announcements/create.ts
Labels: packages/backend

#14985 リノートメニューに「リノートの詳細」を追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#14980 refactor(backend): SystemWebhookで送信されるペイロードの型を追加
  packages/backend/src/core/AbuseReportNotificationService.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/SystemWebhookService.ts
  packages/backend/src/core/WebhookTestService.ts
  packages/backend/src/models/AbuseUserReport.ts
Labels: packages/backend

#14997 Fix(backend): アカウント削除のモデレーションログが動作していないのを修正 (#14996)
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/admin/accounts/delete.ts
  packages/backend/src/server/api/endpoints/admin/delete-account.ts
Labels: packages/backend

#15004 feat: 絵文字のポップアップメニューに編集を追加
  packages/frontend/src/components/global/MkCustomEmoji.vue
  packages/frontend/src/pages/emojis.emoji.vue
Labels: packages/frontend

#15001 perf(frontend): reduce api requests for non-logged-in enviroment
  CHANGELOG.md
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/base.pug
  packages/frontend/src/pages/clip.vue
  packages/frontend/src/pages/note.vue
  packages/frontend/src/pages/user/index.vue
  packages/frontend/src/server-context.ts
Labels: packages/frontend, packages/backend

#15006 Fix: リノートミュートが新規投稿通知に対して作用していなかった問題を修正
  CHANGELOG.md
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#15008 fix(backend): missing arguments
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/server/api/endpoints/ap/show.ts
Labels: packages/backend

#15009 fix(backend): fix type error(s) in security fixes
  packages/backend/src/core/HttpRequestService.ts
  packages/backend/src/core/RemoteUserResolveService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/test-federation/.config/example.default.yml
  packages/backend/test/unit/activitypub.ts
Labels: packages/backend, packages/backend:test

#15022 fix(backend): Inboxのエラーをthrowせずreturnしている問題を修正
  CHANGELOG.md
  packages/backend/src/core/activitypub/ApInboxService.ts
Labels: packages/backend

#15042 fix(frontend): 画面サイズが変わった際にnavbarが自動で折りたたまれない問題を修正
  CHANGELOG.md
  packages/frontend/src/ui/_common_/navbar.vue
Labels: packages/frontend

#15033 fix(backend): アドレス入力で直接ユーザのプロフィールページを表示した際、前提データが足りず描画に失敗する
  CHANGELOG.md
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#15046 fix(backend/misskey-js): タイポ修正
  packages/backend/src/server/api/openapi/gen-spec.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#15044 fix(frontend): サーバードキュメントとMisskey関連リソースとの間にdividerが入らないことがある問題を修正
  CHANGELOG.md
  packages/frontend/src/ui/_common_/common.ts
Labels: packages/frontend

#15043 fix(backend): 起動前の疎通チェックが機能しなくなっていた問題を修正
  CHANGELOG.md
  packages/backend/scripts/check_connect.js
Labels: packages/backend

#15040 fix: unable to upload to local object storage
  packages/backend/src/core/S3Service.ts
Labels: packages/backend
