Repository misskey-dev/misskey, pull requests merged in 2025-06, with the labels that each got.

#16138 enhance(frontend): IDにUUIDを使うのをやめる
  packages/frontend/package.json
  packages/frontend/src/aiscript/ui.ts
  packages/frontend/src/components/MkImgWithBlurhash.vue
  packages/frontend/src/components/MkMiniChart.vue
  packages/frontend/src/components/MkUploaderDialog.vue
  packages/frontend/src/components/MkWidgets.vue
  packages/frontend/src/deck.ts
  packages/frontend/src/pages/admin/RolesEditorFormula.vue
  packages/frontend/src/pages/admin/roles.edit.vue
  packages/frontend/src/pages/page-editor/els/page-editor.el.section.vue
  packages/frontend/src/pages/page-editor/page-editor.vue
  packages/frontend/src/pages/settings/emoji-palette.vue
  packages/frontend/src/pages/settings/statusbar.vue
  packages/frontend/src/pages/theme-editor.vue
  packages/frontend/src/plugin.ts
  packages/frontend/src/pref-migrate.ts
  packages/frontend/src/preferences/def.ts
  packages/frontend/src/preferences/manager.ts
  packages/frontend/src/tab-id.ts
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/utility/get-embed-code.ts
  packages/frontend/src/utility/id.ts
  packages/frontend/src/utility/theme-editor.ts
  packages/frontend/src/widgets/server-metric/cpu-mem.vue
  pnpm-lock.yaml
Labels: packages/frontend

#16148 fix(frontend): ドライブのファイル選択が不安定な問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkDrive.vue
Labels: packages/frontend

#16149 enhance(frontend): リアクションビューワーで使用可能なリアクションを優先して表示するオプション
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend-shared/js/emojilist.ts
  packages/frontend/src/components/MkReactionsViewer.vue
  packages/frontend/src/pages/settings/preferences.vue
  packages/frontend/src/preferences/def.ts
Labels: packages/frontend

#16170 enhance(frontend): 画像エフェクト「色調補正」を追加
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/utility/image-effector/fxs.ts
  packages/frontend/src/utility/image-effector/fxs/colorAdjust.ts
Labels: packages/frontend

#16171 enhance(frontend): 画像エフェクトの操作でRangeをダブルクリックしたらデフォルトの値に戻るように
  packages/frontend/src/components/MkImageEffectorDialog.Layer.vue
  packages/frontend/src/components/MkRange.vue
Labels: packages/frontend

#15491 deps(misskey-js): Update openapi-typescript to v7
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/generator/package.json
  packages/misskey-js/generator/src/ast-transformer.ts
  packages/misskey-js/generator/src/generator.ts
  packages/misskey-js/src/api.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/entities.ts
  pnpm-lock.yaml
Labels: packages/misskey-js

#16186 fix(frontend): display reactions correctly in welcome timeline
  CHANGELOG.md
  packages/frontend/src/pages/welcome.timeline.note.vue
Labels: packages/frontend

#16188 refactor(frontend): checkWordMuteの返り値が誤っている問題を修正
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkStreamingNotesTimeline.vue
  packages/frontend/src/utility/get-note-menu.ts
Labels: packages/frontend

#16218 ジョブキューの`Progress`の値を正しく計算する
  packages/backend/src/queue/processors/CleanRemoteFilesProcessorService.ts
  packages/backend/src/queue/processors/DeleteDriveFilesProcessorService.ts
  packages/backend/src/queue/processors/ExportBlockingProcessorService.ts
  packages/backend/src/queue/processors/ExportClipsProcessorService.ts
  packages/backend/src/queue/processors/ExportFavoritesProcessorService.ts
  packages/backend/src/queue/processors/ExportMutingProcessorService.ts
  packages/backend/src/queue/processors/ExportNotesProcessorService.ts
  packages/frontend/src/pages/admin/job-queue.job.vue
Labels: packages/frontend, packages/backend
