Repository misskey-dev/misskey, pull requests merged in 2025-09, with the labels that each got.

#16498 fix(frontend): RSSティッカーウィジェットが正しく動作しない問題を修正
  CHANGELOG.md
  packages/frontend/src/widgets/WidgetRssTicker.vue
Labels: packages/frontend, size:XS

#16517 feat(backend): Send Clear-Site-Data header on /flush
  CHANGELOG.md
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/flush.pug
Labels: packages/backend, size:M

#16522 enhance(frontend): フロントエンドのキャッシュクリア操作でブラウザの内部キャッシュも削除するように
  CHANGELOG.md
  packages/backend/src/server/api/ApiServerService.ts
  packages/frontend/src/utility/clear-cache.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, size:M

#16523 fix(backend): webpなどの画像に対してセンシティブなメディアの検出が適用されていなかった問題を修正
  packages/backend/src/core/AiService.ts
  packages/backend/src/core/FileInfoService.ts
Labels: packages/backend, size:M

#16453 fix(frontend): ctrlキーを押しながらリンクをクリックしても新しいタブで開かない問題を修正
  CHANGELOG.md
  packages/frontend/src/components/global/MkA.vue
Labels: packages/frontend, size:XS

#16528 fix(frontend): Safari 26でモバイルUIが崩れる問題に対するhotfix
  packages/frontend/src/components/global/RouterView.vue
Labels: packages/frontend, size:XS

#16556 enhance(frontend): マスクエフェクト
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkImageEffectorDialog.vue
  packages/frontend/src/utility/image-effector/fxs.ts
  packages/frontend/src/utility/image-effector/fxs/fillSquare.ts
Labels: packages/frontend, size:L

#16563 enhance(frontend): bootでonunhandledrejectionでrenderErrorする場合、PromiseRejectionEvent.reasonを渡すように
  packages/backend/src/server/web/boot.js
Labels: packages/backend, size:XS

#16456 feat(frontend): 自分のプロフィールページの二次元コード(QRコード)を表示し、他の人のコードを読み取りするページを追加
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/endpoints/ap/show.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkPolkadots.vue
  packages/frontend/src/components/MkPositionSelector.vue
  packages/frontend/src/components/MkWatermarkEditorDialog.Layer.vue
  packages/frontend/src/components/MkWatermarkEditorDialog.vue
  packages/frontend/src/navbar.ts
  packages/frontend/src/pages/chat/home.vue
  packages/frontend/src/pages/qr.read.raw-viewer.vue
  packages/frontend/src/pages/qr.read.vue
  packages/frontend/src/pages/qr.show.vue
  packages/frontend/src/pages/qr.vue
  packages/frontend/src/pages/settings/drive.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/router.definition.ts
  packages/frontend/src/utility/get-user-menu.ts
  packages/frontend/src/utility/image-effector/ImageEffector.ts
  packages/frontend/src/utility/image-effector/fxs/watermarkPlacement.ts
  packages/frontend/src/utility/watermark.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, size:XXL

#16570 プロフィールの「ユーザーのノートを検索」でローカルのユーザーを検索できないのを修正
  packages/frontend/src/utility/get-user-menu.ts
Labels: packages/frontend, size:S

#16567 enhance(backend): 設定ファイルにFastifyOptions.trustProxyを追加
  .config/example.yml
  CHANGELOG.md
  packages/backend/src/config.ts
  packages/backend/src/server/ServerService.ts
Labels: packages/backend, size:S

#16577 feat: scheduled post
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1758677617888-scheduled-post.js
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/NoteDraftService.ts
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/entities/NoteDraftEntityService.ts
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/models/NoteDraft.ts
  packages/backend/src/models/Notification.ts
  packages/backend/src/models/json-schema/note-draft.ts
  packages/backend/src/models/json-schema/notification.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/queue/QueueProcessorModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/const.ts
  packages/backend/src/queue/processors/PostScheduledNoteProcessorService.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/api/endpoints/admin/queue/stats.ts
  packages/backend/src/server/api/endpoints/admin/show-user.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/endpoints/notes/drafts/create.ts
  packages/backend/src/server/api/endpoints/notes/drafts/list.ts
  packages/backend/src/server/api/endpoints/notes/drafts/update.ts
  packages/backend/src/types.ts
  packages/frontend/src/components/MkNoteDraftsDialog.vue
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, size:XXL

#16579 fix(frontend): アクティビティウィジェットのグラフモードが動作しない問題を修正
  CHANGELOG.md
  packages/frontend/src/widgets/WidgetActivity.chart.vue
Labels: packages/frontend, size:XS
