Repository misskey-dev/misskey, pull requests merged in 2025-10, with the labels that each got.

#16532 New Crowdin updates
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-GS.yml
  locales/ko-KR.yml
  locales/nl-NL.yml
  locales/no-NO.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/tr-TR.yml
  locales/uk-UA.yml
  locales/uz-UZ.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: size:XL

#16241 enhance(frontend): プロフィールバナー画像のparallaxをscroll-driven animationに置き換え
  packages/frontend/src/pages/user/home.vue
Labels: packages/frontend, size:M

#16595 enhance(frontend): MkTabs, MkPageHeader.tabsにてタブハイライトのCSS Anchor Positioningに対応
  packages/frontend/src/components/MkTabs.vue
  packages/frontend/src/components/global/MkPageHeader.tabs.vue
Labels: packages/frontend, size:L

#16602 fix(frontend): 画面左のナビゲーションバーでウィジェットアイコンにtooltipがつかない問題を修正
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/ui/_common_/navbar.vue
Labels: packages/frontend, size:XS

#16603 fix(frontend): 通知の設定画面で予約投稿関連の翻訳が当たっていない問題の修正
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/notifications.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/consts.ts
Labels: packages/frontend, packages/misskey-js, size:S

#16604 fix(frontend): 存在しない翻訳を修正
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkDrive.vue
  packages/frontend/src/components/MkRemoteEmojiEditDialog.vue
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/auth.vue
  packages/frontend/src/pages/registry.keys.vue
  packages/frontend/src/widgets/WidgetSlideshow.vue
Labels: packages/frontend, size:M

#16598 enhance(frontend): お問い合わせページからデバイス情報を出力できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkCode.core.vue
  packages/frontend/src/components/MkCode.vue
  packages/frontend/src/components/MkFolder.vue
  packages/frontend/src/pages/contact.vue
  packages/frontend/src/utility/get-user-environment.ts
  pnpm-lock.yaml
Labels: packages/frontend, size:L

#16605 New Crowdin updates
  locales/ca-ES.yml
  locales/es-ES.yml
  locales/ko-KR.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: size:S
