Repository misskey-dev/misskey, pull requests merged in 2025-02, with the labels that each got.

#15375 refactor(frontend): definePropsを別途インポートしている箇所を除去
  packages/frontend/src/components/MkCustomEmojiDetailedDialog.vue
  packages/frontend/src/components/MkRoleSelectDialog.vue
Labels: packages/frontend

#15364 Fix(frontend): ワードミュートがnullの時にもセンシティブミュートが行われるように
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#15365 fix(frontend): MkDriveFileThumbnail / MkNoteMediaGridの修正
  CHANGELOG.md
  packages/frontend/src/components/MkDriveFileThumbnail.vue
  packages/frontend/src/components/MkNoteMediaGrid.vue
Labels: packages/frontend

#15369 fix(misskey-js): api extractorの出力をLFに強制
  packages/misskey-js/api-extractor.json
Labels: packages/misskey-js

#15387 fix(build): corepackのバグの回避
  .github/workflows/api-misskey-js.yml
  .github/workflows/get-api-diff.yml
  .github/workflows/lint.yml
  .github/workflows/locale.yml
  .github/workflows/on-release-created.yml
  .github/workflows/storybook.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-federation.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-misskey-js.yml
  .github/workflows/test-production.yml
  .github/workflows/validate-api-json.yml
  CHANGELOG.md
  Dockerfile
  packages/backend/test-federation/compose.tpl.yml
  packages/backend/test-federation/compose.yml
Labels: packages/backend, packages/backend:test

#15390 fix(frontend): MkSparkleが動作しない問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkSparkle.vue
Labels: packages/frontend

#15394 fix(frontend): スラッシュを含むページを閲覧できるように
  CHANGELOG.md
  packages/frontend/src/pages/page.vue
  packages/frontend/src/router/definition.ts
Labels: packages/frontend

#15370 fix(frontend): パスキーでパスワードレスログインが出来ない問題を修正
  packages/frontend/src/components/MkSignin.vue
Labels: packages/frontend

#15395 enhance: ページslugに使用可能な文字を限定
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/models/Page.ts
  packages/backend/src/server/api/endpoints/pages/create.ts
  packages/backend/src/server/api/endpoints/pages/update.ts
  packages/frontend/src/pages/page-editor/page-editor.vue
Labels: packages/frontend, packages/backend

#15406 fix(frontend): デッキのプロファイルが新規作成できない問題を修正
  CHANGELOG.md
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/ui/deck/deck-store.ts
Labels: packages/frontend

#15376 refactor(frontend): remove X theme properties
  packages/frontend-shared/themes/_dark.json5
  packages/frontend-shared/themes/_light.json5
  packages/frontend-shared/themes/d-astro.json5
  packages/frontend-shared/themes/d-u0.json5
  packages/frontend-shared/themes/l-u0.json5
  packages/frontend-shared/themes/l-vivid.json5
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkCustomEmojiDetailedDialog.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkUserSelectDialog.vue
  packages/frontend/src/pages/admin/server-rules.vue
  packages/frontend/src/pages/page-editor/page-editor.container.vue
  packages/frontend/src/widgets/WidgetCalendar.vue
Labels: packages/frontend

#15409 fix(backend): .swcrcのschemaを正しいものに
  packages/backend/.swcrc
Labels: packages/backend

#15405 enhance(frontend): PostFormのannoying判定でCWを考慮するように
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#13992 enhance(frontend): アンテナ、リスト等の名前をdeckのカラム名のデフォルト値にするように
  CHANGELOG.md
  packages/frontend/src/os.ts
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/ui/deck/antenna-column.vue
  packages/frontend/src/ui/deck/channel-column.vue
  packages/frontend/src/ui/deck/column.vue
  packages/frontend/src/ui/deck/deck-store.ts
  packages/frontend/src/ui/deck/direct-column.vue
  packages/frontend/src/ui/deck/list-column.vue
  packages/frontend/src/ui/deck/mentions-column.vue
  packages/frontend/src/ui/deck/notifications-column.vue
  packages/frontend/src/ui/deck/role-timeline-column.vue
  packages/frontend/src/ui/deck/tl-column.vue
  packages/frontend/src/ui/deck/widgets-column.vue
Labels: packages/frontend

#15428 chore: update `.swcrc` schema link
  packages/backend/test-server/.swcrc
  packages/misskey-js/.swcrc
Labels: packages/backend, packages/misskey-js

#15420 fix(backend): use unique `operationId` in the OpenAPI schema
  packages/backend/src/server/api/openapi/gen-spec.ts
  packages/misskey-js/generator/src/generator.ts
Labels: packages/backend, packages/misskey-js

#15411 enhance(frontend): クライアントエラー画面の多言語対応
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/web/boot.embed.js
  packages/backend/src/server/web/boot.js
Labels: packages/backend

#15341 feat(frontend): 画像を投稿前にプレビュー可能に
  CHANGELOG.md
  packages/frontend/.storybook/generate.tsx
  packages/frontend/src/components/MkImgPreviewDialog.stories.impl.ts
  packages/frontend/src/components/MkImgPreviewDialog.vue
  packages/frontend/src/components/MkPostFormAttaches.vue
Labels: packages/frontend

#15434 fix(backend): correct `admin/meta` response schema
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#15444 enhance(frontend): 開発者モードでメニューからファイルIDをコピー出来るようにする
  CHANGELOG.md
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/components/MkPostFormAttaches.vue
Labels: packages/frontend

#15436 fix(frontend): コンディショナルロールを手動で割り当てできる導線を削除
  CHANGELOG.md
  packages/frontend/src/pages/admin-user.vue
Labels: packages/frontend

#15422 feat: アクセストークン発行時に通知するように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/models/Notification.ts
  packages/backend/src/models/json-schema/notification.ts
  packages/backend/src/server/api/endpoints/miauth/gen-token.ts
  packages/backend/src/types.ts
  packages/frontend-shared/js/const.ts
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/pages/settings/notifications.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#15450 wip: ga
  packages/backend/migration/1739006797620-GoogleAnalytics.js
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/package.json
  packages/frontend/src/analytics.ts
  packages/frontend/src/boot/common.ts
  packages/frontend/src/pages/admin/external-services.vue
  packages/misskey-js/src/autogen/types.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/misskey-js

#15432 fix(backend): オブジェクトストレージの設定でPrefixを設定していなかった場合、nullが文字列として展開・ドメインの1つ…
  CHANGELOG.md
  packages/backend/src/core/DriveService.ts
Labels: packages/backend

#15479 fix(frontend): Play の再読込時に UI が以前の状態を引き継いでしまう問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/flash/flash.vue
Labels: packages/frontend

#15174 enhance(frontend): リアクション時に確認ダイアログを出せるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#15461 fix(frontend): 絵文字管理画面(beta)にて一部条件が効かない問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/admin/custom-emojis-manager.local.list.vue
Labels: packages/frontend

#15496 fix(backend): pgroongaでの検索時にはじめのキーワード以外が検索に使用されない問題を修正
  CHANGELOG.md
  packages/backend/src/core/SearchService.ts
Labels: packages/backend

#15320 fix(backend): メールアドレスの形式が正しくなければ以降の処理を行わないように
  CHANGELOG.md
  packages/backend/src/core/EmailService.ts
  packages/backend/src/core/UtilityService.ts
Labels: packages/backend

#15070 enhance(frontend): CWの注釈で入力済みの文字数を表示する
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#15546 2025.2.1-beta.0のlintがコケているのを修正
  packages/backend/src/core/activitypub/misc/check-against-url.ts
  packages/backend/test/e2e/timelines.ts
Labels: packages/backend, packages/backend:test

#15549 enhance(frontend): サーバーエラー画面の多言語対応
  packages/backend/src/server/web/error.css
  packages/backend/src/server/web/error.js
  packages/backend/src/server/web/views/error.pug
  scripts/build-assets.mjs
Labels: packages/backend

#15451 feat: google analytics
  CHANGELOG.md
  packages/backend/migration/1739006797620-GoogleAnalytics.js
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/package.json
  packages/frontend/src/analytics.ts
  packages/frontend/src/boot/common.ts
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/pages/admin/external-services.vue
  packages/frontend/src/router/main.ts
  packages/misskey-js/src/autogen/types.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, 🔥high priority, packages/misskey-js

#15554 fix(backend): send Delete activity of a note to users who renoted or replied to it
  CHANGELOG.md
  packages/backend/src/core/NoteDeleteService.ts
  packages/backend/src/core/activitypub/ApDeliverManagerService.ts
  packages/backend/test-federation/test/note.test.ts
Labels: packages/backend, packages/backend:test

#15429 fix(backend): clips/updateのdescriptionで空文字を許容するように
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/clips/create.ts
  packages/backend/src/server/api/endpoints/clips/update.ts
  packages/backend/test/e2e/clips.ts
Labels: packages/backend, packages/backend:test

#15069 fix(backend): ローカル判定でisUriLocalを使用していない箇所を修正
  packages/backend/src/core/RemoteUserResolveService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/test/unit/RelayService.ts
Labels: packages/backend, packages/backend:test

#15431 fix(backend): カスタム絵文字の一括インポートをした時にHTTPプロキシの除外設定が効かないのを修正
  CHANGELOG.md
  packages/backend/src/core/DownloadService.ts
  packages/backend/src/core/HttpRequestService.ts
Labels: packages/backend

#15435 fix(frontend): ユーザのサジェスト中に@を入力してもサジェスト結果が消えないように
  CHANGELOG.md
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/scripts/autocomplete.ts
Labels: packages/frontend

#15455 fix(backend): S3_SAFEかつURL_SAFEでない文字列をprefixに使えないように
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
Labels: packages/backend

#15417 fix(frontend): リノート経由でノートの詳細情報を見るとき、クリップ一覧がappearNoteのものになるように
  CHANGELOG.md
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkRemoteCaution.vue
  packages/frontend/src/pages/note.vue
Labels: packages/frontend

#15438 enhance(frontend): コントロールパネルのユーザ検索で入力された情報をページ遷移で損なわないように
  CHANGELOG.md
  packages/frontend/src/account.ts
  packages/frontend/src/memory-storage.ts
  packages/frontend/src/pages/admin/users.vue
Labels: packages/frontend

#15559 fix(frontend): MkSelectの初期値が表示されない場合がある
  CHANGELOG.md
  packages/frontend/src/components/MkSelect.vue
  packages/frontend/src/pages/settings/theme.vue
Labels: packages/frontend

#14780 enhance(frontend): ノート検索ページのデザイン調整
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/pages/search.user.vue
  packages/frontend/src/scripts/gen-search-query.ts
Labels: packages/frontend
