Repository misskey-dev/misskey, pull requests merged in 2025-04, with the labels that each got.

#15737 refactor(frontend): intl-stringの処理のパフォーマンス向上
  packages/frontend/src/utility/intl-string.ts
Labels: packages/frontend

#15244 fix: iPadでdeck uiでマウスホイールでスクロールできない
  CHANGELOG.md
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/ui/deck/column.vue
Labels: packages/frontend

#15433 enhance: implement `sentryForFrontend`
  .config/cypress-devcontainer.yml
  .config/docker_example.yml
  .config/example.yml
  .devcontainer/devcontainer.yml
  CHANGELOG.md
  chart/files/default.yml
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/frontend/package.json
  packages/frontend/src/boot/common.ts
  packages/misskey-js/src/autogen/types.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/misskey-js

#15346 feat: アンテナでセンシティブなチャンネルからのノートを除外できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1736230492103-addAntennaHideNotesInSensitiveChannel.js
  packages/backend/src/core/AntennaService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/entities/AntennaEntityService.ts
  packages/backend/src/models/Antenna.ts
  packages/backend/src/models/json-schema/antenna.ts
  packages/backend/src/server/api/endpoints/antennas/create.ts
  packages/backend/src/server/api/endpoints/antennas/notes.ts
  packages/backend/src/server/api/endpoints/antennas/update.ts
  packages/backend/test/e2e/antennas.ts
  packages/frontend/src/components/MkAntennaEditor.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#15750 fix(storybook): update obsolete method for preferences
  packages/frontend/.storybook/preview.ts
Labels: packages/frontend

#15741 fix: チャット周りの修正
  packages/backend/src/core/ChatService.ts
  packages/backend/src/core/entities/ChatEntityService.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/json-schema/chat-message.ts
  packages/backend/src/server/api/endpoints/chat/messages/create-to-room.ts
  packages/backend/src/server/api/endpoints/chat/messages/create-to-user.ts
  packages/backend/src/server/api/endpoints/chat/messages/delete.ts
  packages/backend/src/server/api/endpoints/chat/messages/react.ts
  packages/backend/src/server/api/endpoints/chat/messages/room-timeline.ts
  packages/backend/src/server/api/endpoints/chat/messages/unreact.ts
  packages/backend/src/server/api/endpoints/chat/messages/user-timeline.ts
  packages/frontend/src/pages/chat/XMessage.vue
  packages/frontend/src/pages/chat/home.home.vue
  packages/frontend/src/pages/chat/home.invitations.vue
  packages/frontend/src/pages/chat/home.joiningRooms.vue
  packages/frontend/src/pages/chat/home.ownedRooms.vue
  packages/frontend/src/pages/chat/home.vue
  packages/frontend/src/pages/chat/message.vue
  packages/frontend/src/pages/chat/room.form.vue
  packages/frontend/src/pages/chat/room.info.vue
  packages/frontend/src/pages/chat/room.members.vue
  packages/frontend/src/pages/chat/room.search.vue
  packages/frontend/src/pages/chat/room.vue
  packages/frontend/src/use/use-mutation-observer.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/streaming.types.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/misskey-js

#15745 Copy role on move
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1743558299182-RoleCopyOnMoveAccount.js
  packages/backend/src/core/AccountMoveService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/entities/RoleEntityService.ts
  packages/backend/src/models/Role.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/server/api/endpoints/admin/roles/create.ts
  packages/backend/src/server/api/endpoints/admin/roles/update.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#15756 fix: unnecesary HMR when we opened setting page
  package.json
  packages/frontend/lib/vite-plugin-create-search-index.ts
  packages/frontend/package.json
  packages/frontend/scripts/generate-search-index.ts
  packages/frontend/src/components/MkSuperMenu.vue
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/utility/autogen/settings-search-index.ts
  packages/frontend/src/utility/settings-search-index.ts
  packages/frontend/src/utility/virtual.d.ts
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
  scripts/dependency-patches/vite.patch
Labels: packages/frontend

#15757 fix: chromaticが落ちてるのを修正 (残り)
  packages/frontend/src/components/global/MkPageHeader.vue
  packages/frontend/src/di.ts
  packages/frontend/src/pages/admin/_header_.vue
Labels: packages/frontend

#15772 refactor serach index generator code
  packages/frontend/lib/vite-plugin-create-search-index.ts
  packages/frontend/src/components/MkSuperMenu.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/utility/settings-search-index.ts
  packages/frontend/src/utility/virtual.d.ts
Labels: packages/frontend

#15765 enhance: チャットの閲覧を無効化できるように
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/ChatService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/server/api/endpoints/chat/history.ts
  packages/backend/src/server/api/endpoints/chat/messages/create-to-room.ts
  packages/backend/src/server/api/endpoints/chat/messages/create-to-user.ts
  packages/backend/src/server/api/endpoints/chat/messages/delete.ts
  packages/backend/src/server/api/endpoints/chat/messages/react.ts
  packages/backend/src/server/api/endpoints/chat/messages/room-timeline.ts
  packages/backend/src/server/api/endpoints/chat/messages/search.ts
  packages/backend/src/server/api/endpoints/chat/messages/show.ts
  packages/backend/src/server/api/endpoints/chat/messages/unreact.ts
  packages/backend/src/server/api/endpoints/chat/messages/user-timeline.ts
  packages/backend/src/server/api/endpoints/chat/rooms/create.ts
  packages/backend/src/server/api/endpoints/chat/rooms/delete.ts
  packages/backend/src/server/api/endpoints/chat/rooms/invitations/create.ts
  packages/backend/src/server/api/endpoints/chat/rooms/invitations/ignore.ts
  packages/backend/src/server/api/endpoints/chat/rooms/invitations/inbox.ts
  packages/backend/src/server/api/endpoints/chat/rooms/invitations/outbox.ts
  packages/backend/src/server/api/endpoints/chat/rooms/join.ts
  packages/backend/src/server/api/endpoints/chat/rooms/joining.ts
  packages/backend/src/server/api/endpoints/chat/rooms/leave.ts
  packages/backend/src/server/api/endpoints/chat/rooms/members.ts
  packages/backend/src/server/api/endpoints/chat/rooms/mute.ts
  packages/backend/src/server/api/endpoints/chat/rooms/owned.ts
  packages/backend/src/server/api/endpoints/chat/rooms/show.ts
  packages/backend/src/server/api/endpoints/chat/rooms/update.ts
  packages/frontend-shared/js/const.ts
  packages/frontend/src/navbar.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/chat/XMessage.vue
  packages/frontend/src/pages/chat/home.home.vue
  packages/frontend/src/pages/chat/room.vue
  packages/frontend/src/pages/settings/preferences.vue
  packages/frontend/src/pages/settings/privacy.vue
  packages/frontend/src/router.definition.ts
  packages/frontend/src/utility/get-user-menu.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#15784 fix: direct does not work in nested route
  packages/frontend/src/lib/nirax.ts
Labels: packages/frontend

#15785 feat: show file name for warning / errors of create-search-index
  packages/frontend/lib/vite-plugin-create-search-index.ts
Labels: packages/frontend

#15790 refactor(frontend): frontendの検索インデックス作成のスタンドアロンコマンド実装を完全に削除
  packages/frontend/package.json
  packages/frontend/vite-node.config.ts
  pnpm-lock.yaml
Labels: packages/frontend

#15803 fix(frontend): keyval-storeの値が削除できずに処理が止まる問題を修正
  CHANGELOG.md
  packages/frontend/src/signout.ts
  packages/frontend/src/utility/idb-proxy.ts
Labels: packages/frontend

#15806 fix(backend): サーバー名の変更をシステムアカウントの名前に反映するように
  CHANGELOG.md
  packages/backend/src/core/SystemAccountService.ts
Labels: packages/backend

#15802 fix(frontend): 自動バックアップが設定されていない環境では設定が消滅する旨の警告を出すように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/signout.ts
Labels: packages/frontend

#15815 fix(mahjong): ファイル移動等によるエラーの解消
  packages/backend/src/server/api/endpoint-list.ts
  packages/frontend/src/pages/mahjong/index.vue
  packages/frontend/src/pages/mahjong/room.game.vue
  packages/frontend/src/pages/mahjong/room.setting.vue
  packages/frontend/src/pages/mahjong/room.vue
  packages/misskey-mahjong/src/common.yaku.ts
  packages/misskey-mahjong/src/engine.master.ts
  packages/misskey-mahjong/src/serializer.ts
Labels: packages/frontend, packages/backend

#15813 fix: resolve with non-lowercased acct is broken
  CHANGELOG.md
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/src/server/WellKnownServerService.ts
  packages/backend/test/unit/AnnouncementService.ts
  packages/backend/test/unit/SigninWithPasskeyApiService.ts
  packages/backend/test/unit/entities/UserEntityService.ts
Labels: 🐛Bug, packages/backend, 🌌Federation, packages/backend:test

#15109 レプリケーション設定時におけるinsertOne()の挙動を調整
  CHANGELOG.md
  packages/backend/src/models/_.ts
  packages/backend/src/postgres.ts
Labels: packages/backend

#15264 enhance(backend): フォローしているユーザーならフォロワー限定投稿のノートでもアンテナで検知できるように
  CHANGELOG.md
  packages/backend/src/core/AntennaService.ts
  packages/backend/test/e2e/antennas.ts
Labels: packages/backend, packages/backend:test

#15836 fix: フォルダを開いた状態でメニューからアップロードしてもルートフォルダにアップロードされる問題
  CHANGELOG.md
  packages/frontend/src/components/MkDrive.vue
Labels: packages/frontend

#15833 fix: avatarId が null のときにも avatarUrl が non null 担ってることがある問題
  packages/backend/src/core/WebhookTestService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/User.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/FeedService.ts
Labels: packages/backend

#15818 feat: render quote note with `quote-inline` class for ap compatibility
  packages/backend/src/core/MfmService.ts
  packages/backend/src/core/activitypub/ApMfmService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
Labels: packages/backend

#15819 fix: use ftt for outbox
  packages/backend/src/core/FanoutTimelineEndpointService.ts
  packages/backend/src/server/ActivityPubServerService.ts
Labels: packages/backend

#15844 fix(sw): type error in sw
  packages/sw/src/scripts/create-notification.ts
Labels: packages/sw

#15843 feat: migrate antenna on account move
  CHANGELOG.md
  packages/backend/src/core/AccountMoveService.ts
  packages/backend/src/core/AntennaService.ts
Labels: packages/backend

#15841 fix: ノートの直後のノートを表示する機能で表示が逆順になっていた問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkNotes.vue
Labels: packages/frontend

#13384 Complete unicode emoji after last colon
  CHANGELOG.md
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/utility/autocomplete.ts
  packages/frontend/src/utility/search-emoji.ts
Labels: packages/frontend

#15857 fix(deps): update vite to v6.3.1
  package.json
  packages/frontend-embed/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
  scripts/changelog-checker/package-lock.json
  scripts/changelog-checker/package.json
  scripts/dependency-patches/vite.patch
Labels: packages/frontend

#15862 fix(storybook): implement missing stories
  packages/frontend/.storybook/fakes.ts
  packages/frontend/src/components/MkChatHistories.stories.impl.ts
  packages/frontend/src/components/MkDisableSection.stories.impl.ts
Labels: packages/frontend

#15879 enhance(backend): DB note (userId) インデクス -> (userId, id) 複合インデクスにする
  CHANGELOG.md
  packages/backend/migration/1745378064470-composite-note-index.js
  packages/backend/src/models/Note.ts
Labels: packages/backend

#15881 Fix #15876 絵文字がアニメーションしない問題を修正
  packages/backend/src/core/ImageProcessingService.ts
Labels: packages/backend

#15858 fix(frontend): PageWithHeaderからPageHeaderにすべてのPropsが伝わっていない問題を修正
  packages/frontend/src/components/global/MkPageHeader.vue
  packages/frontend/src/components/global/PageWithHeader.vue
Labels: packages/frontend

#15793 fix(ci): change Chromatic build to be triggered when frontend `package.json` is edited instead of lockfile
  .github/workflows/storybook.yml
  packages/frontend/.storybook/changes.ts
  renovate.json5
Labels: packages/frontend

#15792 Exclude blocked instance note from most timelines
  packages/backend/src/core/FanoutTimelineEndpointService.ts
  packages/backend/src/core/QueryService.ts
  packages/backend/src/core/SearchService.ts
  packages/backend/src/server/api/endpoints/antennas/notes.ts
  packages/backend/src/server/api/endpoints/channels/timeline.ts
  packages/backend/src/server/api/endpoints/clips/notes.ts
  packages/backend/src/server/api/endpoints/notes/children.ts
  packages/backend/src/server/api/endpoints/notes/featured.ts
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/backend/src/server/api/endpoints/notes/mentions.ts
  packages/backend/src/server/api/endpoints/notes/renotes.ts
  packages/backend/src/server/api/endpoints/notes/replies.ts
  packages/backend/src/server/api/endpoints/notes/search-by-tag.ts
  packages/backend/src/server/api/endpoints/notes/timeline.ts
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
  packages/backend/src/server/api/endpoints/roles/notes.ts
  packages/backend/src/server/api/endpoints/users/featured-notes.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
  packages/backend/src/server/api/endpoints/users/reactions.ts
Labels: packages/backend

#15896 fix: 添付ファイルのあるリクエストを受けたときの初動を改善
  CHANGELOG.md
  packages/backend/package.json
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/endpoint-base.ts
  packages/backend/test/e2e/api.ts
  packages/backend/test/unit/server/api/drive/files/create.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/misskey-js, packages/backend:test
