Repository misskey-dev/misskey, pull requests merged in 2025-07, with the labels that each got.

#16238 fix(frontend): 条件により保存できない場合のメッセージを汎用的なものへ
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#16226 enhance(frontend): 共有ページで、titleとtextに同じ内容が入っていた際の削除ロジックを強化
  packages/frontend/src/pages/share.vue
Labels: packages/frontend

#16235 enhance(backend): avatarUrlの上限文字数の引き上げ
  packages/backend/migration/1750729939704-FixAvatarUrl.js
  packages/backend/src/models/User.ts
Labels: packages/backend

#16243 fix(frontend): タブが不可視なあいだのpaginationのアップデートを停止するように
  packages/frontend/src/components/MkStreamingNotesTimeline.vue
  packages/frontend/src/components/MkStreamingNotificationsTimeline.vue
Labels: packages/frontend

#16246 fix(frontend): プラグインのアンインストール時にローカルのセーブデータを削除するように
  CHANGELOG.md
  packages/frontend/src/plugin.ts
Labels: packages/frontend

#16225 ノートのサーバー情報(InstanceTicker)のデザイン/パフォーマンス改善(-webkit-text-stroke ver)
  packages/frontend/src/components/MkInstanceTicker.vue
Labels: packages/frontend

#16256 enhance(backend): Add display name to email
  CHANGELOG.md
  packages/backend/src/core/EmailService.ts
Labels: packages/backend

#16261 refactor(frontend): menuの型定義の可読性向上
  packages/frontend/src/types/menu.ts
Labels: packages/frontend

#16260 refactor(frontend): Formまわりの型強化
  packages/frontend/src/os.ts
  packages/frontend/src/pages/clip.vue
  packages/frontend/src/pages/my-clips/index.vue
  packages/frontend/src/pages/registry.keys.vue
  packages/frontend/src/pages/registry.vue
  packages/frontend/src/plugin.ts
  packages/frontend/src/store.ts
  packages/frontend/src/ui/deck/tl-note-notification.ts
  packages/frontend/src/utility/form.ts
  packages/frontend/src/utility/get-note-menu.ts
  packages/frontend/src/utility/get-user-menu.ts
  packages/frontend/src/widgets/WidgetActivity.vue
  packages/frontend/src/widgets/WidgetAichan.vue
  packages/frontend/src/widgets/WidgetAiscript.vue
  packages/frontend/src/widgets/WidgetAiscriptApp.vue
  packages/frontend/src/widgets/WidgetBirthdayFollowings.vue
  packages/frontend/src/widgets/WidgetButton.vue
  packages/frontend/src/widgets/WidgetCalendar.vue
  packages/frontend/src/widgets/WidgetChat.vue
  packages/frontend/src/widgets/WidgetClicker.vue
  packages/frontend/src/widgets/WidgetClock.vue
  packages/frontend/src/widgets/WidgetDigitalClock.vue
  packages/frontend/src/widgets/WidgetFederation.vue
  packages/frontend/src/widgets/WidgetInstanceCloud.vue
  packages/frontend/src/widgets/WidgetInstanceInfo.vue
  packages/frontend/src/widgets/WidgetJobQueue.vue
  packages/frontend/src/widgets/WidgetMemo.vue
  packages/frontend/src/widgets/WidgetNotifications.vue
  packages/frontend/src/widgets/WidgetOnlineUsers.vue
  packages/frontend/src/widgets/WidgetPhotos.vue
  packages/frontend/src/widgets/WidgetPostForm.vue
  packages/frontend/src/widgets/WidgetProfile.vue
  packages/frontend/src/widgets/WidgetRss.vue
  packages/frontend/src/widgets/WidgetRssTicker.vue
  packages/frontend/src/widgets/WidgetSlideshow.vue
  packages/frontend/src/widgets/WidgetTimeline.vue
  packages/frontend/src/widgets/WidgetTrends.vue
  packages/frontend/src/widgets/WidgetUnixClock.vue
  packages/frontend/src/widgets/WidgetUserList.vue
  packages/frontend/src/widgets/server-metric/cpu-mem.vue
  packages/frontend/src/widgets/server-metric/cpu.vue
  packages/frontend/src/widgets/server-metric/index.vue
  packages/frontend/src/widgets/server-metric/mem.vue
  packages/frontend/src/widgets/server-metric/net.vue
  packages/frontend/src/widgets/widget.ts
Labels: packages/frontend

#16263 fix(frontend): MkRange/MkSelectでdisabledが効かなくなっている問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkRange.vue
  packages/frontend/src/components/MkSelect.vue
Labels: packages/frontend

#16282 enhance(backend): usernameに対してもprohibitedWordsForNameOfUserを適用
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/SignupService.ts
Labels: packages/backend

#16296 fix(deps): Node.jsの最小バージョンを引き上げ
  .github/min.node-version
  CHANGELOG.md
  packages/backend/package.json
Labels: packages/backend

#16330 perf(frontend): draw-blurhash workerの結果をpostMessageする際にImageBitmapを移譲する
  packages/frontend-embed/src/workers/draw-blurhash.ts
  packages/frontend/src/workers/draw-blurhash.ts
Labels: packages/frontend

#16309 enhance(frontend): typed nirax
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/components/MkSuperMenu.vue
  packages/frontend/src/components/global/MkA.vue
  packages/frontend/src/components/global/StackingRouterView.vue
  packages/frontend/src/lib/nirax.ts
  packages/frontend/src/pages/admin/roles.edit.vue
  packages/frontend/src/pages/admin/roles.role.vue
  packages/frontend/src/pages/antenna-timeline.vue
  packages/frontend/src/pages/channel-editor.vue
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/chat/home.home.vue
  packages/frontend/src/pages/chat/home.invitations.vue
  packages/frontend/src/pages/flash/flash-edit.vue
  packages/frontend/src/pages/gallery/edit.vue
  packages/frontend/src/pages/gallery/post.vue
  packages/frontend/src/pages/lookup.vue
  packages/frontend/src/pages/page-editor/page-editor.vue
  packages/frontend/src/pages/page.vue
  packages/frontend/src/pages/reversi/index.vue
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/pages/search.user.vue
  packages/frontend/src/pages/settings/webhook.edit.vue
  packages/frontend/src/pages/user-list-timeline.vue
  packages/frontend/src/router.definition.ts
  packages/frontend/src/router.ts
  packages/frontend/src/ui/_common_/sw-inject.ts
  packages/frontend/src/utility/get-user-menu.ts
  packages/frontend/src/utility/lookup.ts
Labels: packages/frontend

#16307 fix(frontend/test): Cypressが失敗する問題を修正
  packages/frontend/src/components/MkImgWithBlurhash.vue
Labels: packages/frontend

#16284 test(backend): e2e/timelines.ts: 非FTT時のテストを追加, 凍結のテストを追加, これにかかる幾つかのバグ修正
  packages/backend/src/core/FanoutTimelineEndpointService.ts
  packages/backend/src/server/api/endpoints/notes/timeline.ts
  packages/backend/test/e2e/timelines.ts
Labels: packages/backend, packages/backend:test

#16334 fix(test): Fix name of a test in e2e/timelines.ts
  packages/backend/test/e2e/timelines.ts
Labels: packages/backend, packages/backend:test

#16306 fix(frontend): MkNotesTimelineの日付dividerのスタイル修正
  packages/frontend/src/components/MkDrive.vue
  packages/frontend/src/components/MkNotesTimeline.vue
  packages/frontend/src/components/MkStreamingNotesTimeline.vue
  packages/frontend/src/components/MkStreamingNotificationsTimeline.vue
Labels: packages/frontend
