Repository misskey-dev/misskey, pull requests merged in 2025-08, with the labels that each got.

#16292 feat: remote notes cleaning
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1753863104203-remoteNotesCleaning.js
  packages/backend/src/core/QueueService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/queue/QueueProcessorModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/processors/CleanRemoteNotesProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/src/components/MkServerSetupWizard.vue
  packages/frontend/src/pages/admin/job-queue.job.vue
  packages/frontend/src/pages/admin/performance.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#16245 feat(frontend): セーフモード
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/boot.js
  packages/backend/src/server/web/manifest.json
  packages/frontend-shared/js/config.ts
  packages/frontend/src/boot/common.ts
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/local-storage.ts
  packages/frontend/src/pages/settings/custom-css.vue
  packages/frontend/src/pages/settings/plugin.vue
  packages/frontend/src/pages/settings/theme.vue
  packages/frontend/src/plugin.ts
  packages/frontend/src/ui/_common_/common.vue
Labels: packages/frontend, packages/backend

#16329 enhance: support emojis added in Unicode 16.0 or earlier
  packages/backend/package.json
  packages/backend/src/misc/emoji-regex.ts
  packages/frontend-embed/package.json
  packages/frontend-shared/js/emojilist.json
  packages/frontend/.storybook/mocks.ts
  packages/frontend/package.json
  packages/frontend/src/unicode-emoji-indexes/en-US.json
  packages/frontend/src/unicode-emoji-indexes/ja-JP.json
  packages/frontend/src/unicode-emoji-indexes/ja-JP_hira.json
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend

#16343 コントロールパネルの検索
  CHANGELOG.md
  packages/frontend/lib/vite-plugin-create-search-index.ts
  packages/frontend/src/components/MkSuperMenu.vue
  packages/frontend/src/components/global/SearchText.vue
  packages/frontend/src/components/index.ts
  packages/frontend/src/pages/admin/bot-protection.vue
  packages/frontend/src/pages/admin/branding.vue
  packages/frontend/src/pages/admin/email-settings.vue
  packages/frontend/src/pages/admin/external-services.vue
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/admin/moderation.vue
  packages/frontend/src/pages/admin/object-storage.vue
  packages/frontend/src/pages/admin/performance.vue
  packages/frontend/src/pages/admin/relays.vue
  packages/frontend/src/pages/admin/security.vue
  packages/frontend/src/pages/admin/server-rules.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/frontend/src/pages/admin/system-webhook.vue
  packages/frontend/src/pages/settings/2fa.vue
  packages/frontend/src/pages/settings/account-data.vue
  packages/frontend/src/pages/settings/connect.vue
  packages/frontend/src/pages/settings/drive.vue
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/pages/settings/notifications.vue
  packages/frontend/src/pages/settings/other.vue
  packages/frontend/src/pages/settings/plugin.vue
  packages/frontend/src/pages/settings/preferences.vue
  packages/frontend/src/pages/settings/privacy.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/pages/settings/security.vue
  packages/frontend/src/pages/settings/sounds.vue
  packages/frontend/src/router.definition.ts
  packages/frontend/src/utility/inapp-search.ts
  packages/frontend/src/utility/settings-search-index.ts
  packages/frontend/src/utility/virtual.d.ts
  packages/frontend/vite.config.ts
Labels: packages/frontend

#16353 fix: `/:initialTab?` is shown on the URL when opening note with some ways
  packages/frontend/src/lib/nirax.ts
Labels: packages/frontend

#16351 chore: リモートノートの削除条件をデータベース上で確認し、またリプライなどを正確に考慮するように
  packages/backend/src/queue/processors/CleanRemoteNotesProcessorService.ts
Labels: packages/backend

#16371 Fix: SystemWebhook設定でsecretを空に出来ない問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/admin/system-webhook/create.ts
  packages/backend/src/server/api/endpoints/admin/system-webhook/update.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#15987 fix: カラムの名前が正しくリスト/チャンネルの名前にならない問題
  CHANGELOG.md
  packages/frontend/src/deck.ts
  packages/frontend/src/ui/deck/antenna-column.vue
  packages/frontend/src/ui/deck/channel-column.vue
  packages/frontend/src/ui/deck/list-column.vue
  packages/frontend/src/ui/deck/role-timeline-column.vue
Labels: packages/frontend

#16259 fix: チャットの利用可否ポリシーの考慮漏れを修正
  packages/backend/src/server/api/endpoints/chat/read-all.ts
  packages/backend/src/server/api/endpoints/drive/files/attached-chat-messages.ts
  packages/frontend/src/pages/settings/other.vue
Labels: packages/frontend, packages/backend

#16385 fix(frontend-builder): 言語バンドルの作成状況がログに残るように
  packages/frontend-builder/locale-inliner.ts
Labels: 🛠️Dev

#16380 enhance: ユーザー検索を制限できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/RoleService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/server/api/endpoints/users/search.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/search.vue
  packages/frontend/src/utility/check-permissions.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#16404 enhance: performance for CleanRemoteNotesProcessorService
  packages/backend/src/queue/processors/CleanRemoteNotesProcessorService.ts
  packages/backend/test/unit/queue/processors/CleanRemoteNotesProcessorService.ts
Labels: packages/backend, packages/backend:test

#16412 chore: preserve notes with local reactions
  packages/backend/src/queue/processors/CleanRemoteNotesProcessorService.ts
Labels: packages/backend, 🧑‍🔧Maintenance, size:XS

#16416 New Crowdin updates
  locales/ca-ES.yml
  locales/en-US.yml
  locales/it-IT.yml
  locales/ko-KR.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: size:M

#16431 enhance: verify-emailにフロントエンドUIを実装
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/endpoint-list.ts
  packages/backend/src/server/api/endpoints/verify-email.ts
  packages/frontend/src/_boot_.ts
  packages/frontend/src/components/MkButton.vue
  packages/frontend/src/pages/signup-complete.vue
  packages/frontend/src/pages/verify-email.vue
  packages/frontend/src/router.definition.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, size:L

#16434 fix(backend): クリップ一覧APIをページネーションに対応させる
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/clips/list.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js, size:M

#16441 fix(backend): fix test
  packages/backend/test/e2e/clips.ts
Labels: packages/backend, packages/backend:test, size:XS

#16433 fix(frontend): ページネーションの進行方向を指定できるように
  CHANGELOG.md
  packages/frontend/src/components/MkNotesTimeline.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/pages/note.vue
  packages/frontend/src/utility/paginator.ts
Labels: packages/frontend, size:L

#16436 New Crowdin updates
  locales/ca-ES.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pt-PT.yml
  locales/ru-RU.yml
  locales/th-TH.yml
  locales/tr-TR.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: size:S

#16470 build-misskey-js-with-types
  packages/misskey-js/src/autogen/types.ts
Labels: packages/misskey-js, size:XS

#16471 build-misskey-js-with-types
  packages/misskey-js/src/autogen/types.ts
Labels: size:XS

#16476 fix(misskey-js): run api extractor
  packages/misskey-js/etc/misskey-js.api.md
Labels: packages/misskey-js

#16477 refactor(frontend): フロントエンドの型エラー解消（途中まで）
  package.json
  packages/frontend/.storybook/fakes.ts
  packages/frontend/src/aiscript/api.ts
  packages/frontend/src/components/MkAuthConfirm.vue
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkCropperDialog.stories.impl.ts
  packages/frontend/src/components/MkDrive.vue
  packages/frontend/src/components/MkEmbedCodeGenDialog.vue
  packages/frontend/src/components/MkFormDialog.vue
  packages/frontend/src/components/MkInput.vue
  packages/frontend/src/components/MkInstanceStats.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/components/MkServerSetupWizard.vue
  packages/frontend/src/components/MkSignupDialog.form.vue
  packages/frontend/tsconfig.json
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/misskey-js, size:L
