Repository misskey-dev/misskey, pull requests merged in 2025-03, with the labels that each got.

#15574 fix(backend): prevent deadlock
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
Labels: packages/backend

#15545 fix(frontend): 削除して編集の削除タイミングを投稿後になるように #14498
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/types/post-form.ts
Labels: packages/frontend

#15462 enhance(frontend): モデレーターがセンシティブ設定を変更する際に確認ダイアログを出すように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/pages/admin-file.vue
Labels: packages/frontend

#15584 fix(frontend): フォローされたときのメッセージのshadowがちらつくことがある問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/user/home.vue
Labels: packages/frontend

#15571 fix(frontend): 投稿フォームがオーバーフローした際にスクロールできるように
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormDialog.vue
Labels: packages/frontend

#15532 enhance(frontend): チャンネル投稿をユーザーページと前後ノートに表示する
  packages/frontend/src/pages/note.vue
  packages/frontend/src/pages/user/index.timeline.vue
Labels: packages/frontend

#15536 fix(frontend): 照会処理を統一
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/scripts/lookup.ts
Labels: packages/frontend

#15576 enhance(frontend): アニメーション設定で画面上のエフェクトも考慮するように
  CHANGELOG.md
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/directives/ripple.ts
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend

#15512 searchIndexの情報生成
  packages/frontend/.storybook/main.ts
  packages/frontend/lib/vite-plugin-create-search-index.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkDisableSection.vue
  packages/frontend/src/components/MkSearchMarker.vue
  packages/frontend/src/components/MkSuperMenu.vue
  packages/frontend/src/components/global/SearchKeyword.vue
  packages/frontend/src/components/global/SearchLabel.vue
  packages/frontend/src/components/global/SearchMarker.vue
  packages/frontend/src/components/index.ts
  packages/frontend/src/pages/settings/2fa.vue
  packages/frontend/src/pages/settings/avatar-decoration.vue
  packages/frontend/src/pages/settings/drive.vue
  packages/frontend/src/pages/settings/email.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/pages/settings/other.vue
  packages/frontend/src/pages/settings/privacy.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/pages/settings/security.vue
  packages/frontend/src/pages/settings/sounds.vue
  packages/frontend/src/pages/settings/theme.vue
  packages/frontend/src/scripts/autogen/settings-search-index.ts
  packages/frontend/src/ui/universal.vue
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/frontend:test, packages/backend:test, packages/sw

#15589 Revert "enhance(frontend): チャンネル投稿をユーザーページと前後ノートに表示する"
  CHANGELOG.md
  packages/frontend/src/pages/note.vue
  packages/frontend/src/pages/user/index.timeline.vue
Labels: packages/frontend

#15586 fix(backend): システムアカウント系のマイグレーション不足を修正
  packages/backend/migration/1740129169650-system-accounts-2.js
  packages/backend/migration/1740133121105-system-accounts-3.js
  packages/backend/migration/1740993126937-system-accounts-4.js
Labels: packages/backend, 🔥high priority

#15601 enhance: 設定の検索で上下矢印を使用することで検索結果を移動できるように
  packages/frontend/src/components/MkSuperMenu.vue
Labels: packages/frontend

#15602 fix(frontend): PageWindowでSearchMarkerが動作するように
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/components/global/SearchMarker.vue
Labels: packages/frontend

#15604 enhance(frontend): 検索インデックス作成時のログを削減
  packages/frontend/lib/vite-plugin-create-search-index.ts
  packages/frontend/vite.config.ts
Labels: packages/frontend

#15608 fix(frontend): tabler-iconsが読み込めない問題を修正（正式リリースに差し替え）
  packages/frontend-embed/package.json
  packages/frontend/.storybook/preview-head.html
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend

#15599 Enhance: 投稿フォームにおける、メディアの添付可能個数のカウントを反転
  CHANGELOG.md
  packages/frontend/src/components/MkPostFormAttaches.vue
Labels: packages/frontend

#15583 fix(backend): S3互換オブジェクトストレージでファイルのアップロードに失敗することがある問題を修正
  CHANGELOG.md
  packages/backend/src/core/S3Service.ts
Labels: packages/backend

#15578 enhance: OAuth2 (IndieAuth) でロゴが提供されている場合は表示するように
  CHANGELOG.md
  packages/backend/src/server/oauth/OAuth2ProviderService.ts
  packages/backend/src/server/web/views/oauth.pug
  packages/backend/test/e2e/oauth.ts
  packages/frontend/src/pages/oauth.vue
Labels: packages/frontend, packages/backend, packages/backend:test

#15505 feat(frontend): 設定の検索
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/.storybook/main.ts
  packages/frontend/lib/vite-plugin-create-search-index.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkDisableSection.vue
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/components/MkSuperMenu.vue
  packages/frontend/src/components/global/SearchKeyword.vue
  packages/frontend/src/components/global/SearchLabel.vue
  packages/frontend/src/components/global/SearchMarker.vue
  packages/frontend/src/components/index.ts
  packages/frontend/src/pages/settings/2fa.vue
  packages/frontend/src/pages/settings/accessibility.vue
  packages/frontend/src/pages/settings/appearance.vue
  packages/frontend/src/pages/settings/avatar-decoration.vue
  packages/frontend/src/pages/settings/drive.vue
  packages/frontend/src/pages/settings/email.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/import-export.vue
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/pages/settings/migration.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/pages/settings/other.vue
  packages/frontend/src/pages/settings/preferences.vue
  packages/frontend/src/pages/settings/privacy.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/pages/settings/security.vue
  packages/frontend/src/pages/settings/sounds.vue
  packages/frontend/src/pages/settings/theme.vue
  packages/frontend/src/router/definition.ts
  packages/frontend/src/scripts/autogen/settings-search-index.ts
  packages/frontend/src/ui/_common_/navbar.vue
  packages/frontend/src/ui/universal.vue
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
Labels: packages/frontend

#15613 fix(backend): fixup migration for incorrect extraction on system acconts
  CHANGELOG.md
  packages/backend/migration/1741279404074-system-accounts-fixup.js
Labels: packages/backend

#15588 deps: update pnpm to v10
  .devcontainer/devcontainer.json
  .devcontainer/init.sh
  .github/workflows/api-misskey-js.yml
  .github/workflows/get-api-diff.yml
  .github/workflows/lint.yml
  .github/workflows/locale.yml
  .github/workflows/on-release-created.yml
  .github/workflows/storybook.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-federation.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-misskey-js.yml
  .github/workflows/test-production.yml
  .github/workflows/validate-api-json.yml
  .npmrc
  CHANGELOG.md
  Dockerfile
  package.json
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/test-federation/compose.tpl.yml
  packages/backend/test-federation/compose.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: packages/backend, packages/backend:test

#15623 fix: Dockerのrunnerにpnpmのインストール手順が欠けていたのを修正
  Dockerfile
Labels: 🔥high priority

#15630 fix(test): fix federation test
  packages/backend/test-federation/compose.tpl.yml
  packages/backend/test-federation/compose.yml
Labels: packages/backend, packages/backend:test

#15629 fix(backend): fix ApPersonService unsound type cast
  CHANGELOG.md
  packages/backend/migration/1741424411879-user-featured-fixup.js
  packages/backend/src/core/activitypub/models/ApPersonService.ts
Labels: packages/backend

#15632 enhnace(frontend): 文字列比較のためのローマナイズを強化（設定の検索）
  packages/frontend/package.json
  packages/frontend/src/components/MkSuperMenu.vue
  packages/frontend/src/scripts/intl-string.ts
  packages/frontend/test/intl-string.test.ts
  pnpm-lock.yaml
Labels: packages/frontend

#15635 fix(backend): fix handling of invalid urls in user profile
  CHANGELOG.md
  packages/backend/src/core/activitypub/ApRendererService.ts
Labels: packages/backend

#15638 fix(frontend,dev): 検索インデックス対象ファイルでHMRが効かない問題を修正
  packages/frontend/lib/vite-plugin-create-search-index.ts
Labels: packages/frontend

#15640 fix(frontend, build): storybookのビルドエラー修正のためas構文にリファクタ
  packages/frontend/src/components/MkTokenGenerateWindow.vue
Labels: packages/frontend

#15643 enhance(frontend): テーマ設定で簡易プレビューを表示するように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkThemePreview.vue
  packages/frontend/src/pages/settings/theme.vue
  packages/frontend/src/theme.ts
  packages/frontend/src/utility/autogen/settings-search-index.ts
Labels: packages/frontend

#15639 enhance(frontend): CWの注釈テキストが入力されていない場合はPostボタンを非アクティブに
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#15653 enhance(dev): frontendの検索インデックス作成を単独のコマンドで行えるように
  package.json
  packages/frontend/lib/vite-plugin-create-search-index.ts
  packages/frontend/package.json
  packages/frontend/scripts/generate-search-index.ts
  packages/frontend/vite-node.config.ts
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
Labels: packages/frontend

#15654 fix(storybook): use type-only imports in generated stories
  packages/frontend/.storybook/generate.tsx
Labels: packages/frontend

#14804 enhance(frontend): 投稿フォームの設定メニューを改良
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkMenu.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormOtherMenu.vue
  packages/frontend/src/filters/number.ts
  packages/frontend/src/style.scss
Labels: packages/frontend

#15671 fix(frontend): 設定のマイグレーションにデフォルトのノート公開範囲の設定を追加
  packages/frontend/src/boot/main-boot.ts
Labels: packages/frontend

#15674 Fix: Don't delete remote emoji when import zip
  packages/backend/src/queue/processors/ImportCustomEmojisProcessorService.ts
Labels: packages/backend

#15677 Enhance: 2段階認証時のリカバリーコードのファイル名にサーバーURLを含めるように
  CHANGELOG.md
  packages/frontend-shared/js/config.ts
  packages/frontend/src/pages/settings/2fa.qrdialog.vue
Labels: packages/frontend

#15675 fix(backend): mismatch in `emojis` param of test WebHook payload
  CHANGELOG.md
  packages/backend/src/core/WebhookTestService.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/test/unit/WebhookTestService.ts
Labels: packages/backend, packages/backend:test

#15683 fix(frontend): MkRoleSelectDialogでのpopupの使い方が誤っているのを修正
  packages/frontend/src/components/MkRoleSelectDialog.vue
  packages/frontend/src/os.ts
Labels: packages/frontend

#15702 fix(frontend): 本番環境で不必要なconsole.logを出さないように
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/preferences/manager.ts
  packages/frontend/src/preferences/utility.ts
  packages/frontend/src/router.ts
  packages/frontend/src/tab-id.ts
Labels: packages/frontend

#15706 fix(frontend): コントロールパネルのナビゲーションバーが画面に張り付かない問題を修正
  packages/frontend/src/pages/admin/index.vue
Labels: packages/frontend

#15708 fix(frontend): チャットのデザイン調整
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkFukidashi.vue
  packages/frontend/src/pages/chat/XMessage.vue
  packages/frontend/src/pages/chat/home.home.vue
  packages/frontend/src/pages/chat/room.info.vue
  packages/frontend/src/pages/chat/room.members.vue
  packages/frontend/src/pages/chat/room.search.vue
  packages/frontend/src/pages/chat/room.vue
Labels: packages/frontend
