Repository misskey-dev/misskey, pull requests merged in 2025-01, with the labels that each got.

#15203 2025
  .github/ISSUE_TEMPLATE/01_bug-report.yml
  COPYING
  packages/misskey-js/LICENSE
Labels: packages/misskey-js

#15207 enhance(frontend): ワードミュート・ハードワードミュートの説明を追加
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/mute-block.vue
Labels: packages/frontend

#15205 pg_bigmが利用できるよう、ノートの検索をILIKE演算子でなくLIKE演算子でLOWER()をかけたテキストに対して行うように
  CHANGELOG.md
  packages/backend/src/core/SearchService.ts
Labels: packages/backend

#15184 fix(frontend/AiScript): Ui:C:selectの値が切り替わらない問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkAsUi.vue
Labels: packages/frontend

#15177 fix(backend): アプリ作成方式で作成したトークンの権限を表示するように
  packages/backend/src/server/api/endpoints/i/apps.ts
Labels: packages/backend

#15154 fix(frontend): MiAuth認可画面で、認可処理に失敗した場合でもコールバックURLに遷移してしまう問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/miauth.vue
Labels: packages/frontend

#15073 Chore: Docker内のDebianのバージョンを上げる(bookworm)
  Dockerfile
Labels: 🐋docker

#15082 fix(frontend): ノート検索が使用できない場合でもチャンネルのノート検索欄がでていた問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/channel.vue
Labels: packages/frontend

#15158 enhance(frontend/aiscript): セーブ内容を削除できるMk:removeを追加
  CHANGELOG.md
  packages/frontend/src/scripts/aiscript/api.ts
Labels: packages/frontend

#15126 fix(frontend): ファイルの添付可能数を超えたらノートボタンを押せないように
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormAttaches.vue
Labels: packages/frontend

#15183 fix(frontend): アカウント一覧画面で、ユーザー情報の取得に失敗したアカウントが表示されない問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/settings/accounts.vue
Labels: packages/frontend

#15224 fix(backend): disableClustering設定時の初期化ロジックを調整
  CHANGELOG.md
  packages/backend/src/boot/entry.ts
  packages/backend/src/boot/master.ts
Labels: packages/backend

#15215 fix(frontend): frontend / frontend-embedにあるtsconfig.jsonのmoduleをES2022にする
  packages/frontend-embed/tsconfig.json
  packages/frontend/tsconfig.json
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/streaming.ts
Labels: packages/frontend, packages/misskey-js

#15200 fix(backend): ロックダウンされた期間指定のノートがStreaming経由でLTLに出現するのを修正
  packages/backend/src/core/entities/NoteEntityService.ts
Labels: packages/backend

#15071 fix(frontend): 自分以外のノートを消したときに実績を解除しないように修正
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend

#15213 fix(backend): apOrHtml Constraintが正しく評価されない問題を修正
  CHANGELOG.md
  packages/backend/src/server/ActivityPubServerService.ts
Labels: packages/backend

#15216 fix(frontend-embed): 型チェックエラーを修正
  packages/frontend-embed/src/components/EmMfm.ts
  packages/frontend-embed/src/components/EmNotes.vue
  packages/frontend-embed/src/theme.ts
Labels: packages/frontend, packages/misskey-js

#15239 enhance(backend): チャートの処理を一つずつ行うことでDBの同時接続とタイムアウトを削減
  CHANGELOG.md
  packages/backend/src/core/chart/ChartManagementService.ts
  packages/backend/src/queue/processors/CleanChartsProcessorService.ts
  packages/backend/src/queue/processors/ResyncChartsProcessorService.ts
  packages/backend/src/queue/processors/TickChartsProcessorService.ts
Labels: packages/backend

#15169 refactor/deps(frontend): shikiのdeprecated表現を修正
  packages/frontend/package.json
  packages/frontend/src/scripts/code-highlighter.ts
  packages/frontend/src/scripts/merge.ts
  pnpm-lock.yaml
Labels: packages/frontend

#15272 fix(frontend): RSSウィジェットでURLエンコードを二重に行っている問題を修正
  CHANGELOG.md
  packages/frontend/src/widgets/WidgetRss.vue
  packages/frontend/src/widgets/WidgetRssTicker.vue
Labels: packages/frontend

#15261 fix: unable to use AiService on arm64
  CHANGELOG.md
  packages/backend/src/core/AiService.ts
Labels: packages/backend

#15268 feat(backend): config(default.yml)からSQLログ全文を出力するか否かを設定可能に
  .config/docker_example.yml
  .config/example.yml
  CHANGELOG.md
  packages/backend/src/config.ts
  packages/backend/src/postgres.ts
Labels: packages/backend

#15255 fix(frontend/dev): バックエンド経由での開発モードでHMRが効かない問題を修正
  packages/frontend-embed/vite.config.ts
  packages/frontend/vite.config.ts
Labels: packages/frontend

#15249 Fix(frontend): 削除して編集で引用ありを消せない
  CHANGELOG.md
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#15151 feat(frontend): Botプロテクションの設定変更時は実際に検証を通過しないと保存できないようにする
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/CaptchaService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/captcha/current.ts
  packages/backend/src/server/api/endpoints/admin/captcha/save.ts
  packages/backend/test/unit/CaptchaService.ts
  packages/frontend/src/components/MkCaptcha.vue
  packages/frontend/src/components/MkFormFooter.vue
  packages/frontend/src/index.html
  packages/frontend/src/os.ts
  packages/frontend/src/pages/admin/bot-protection.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, 🔥high priority, packages/misskey-js, packages/backend:test

#15112 enhance: 連合モードにあわせてフロントエンドを変化させるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/frontend/src/components/MkInstanceStats.vue
  packages/frontend/src/components/MkSignupDialog.rules.vue
  packages/frontend/src/components/MkUserSelectDialog.vue
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/components/MkWidgets.vue
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/explore.users.vue
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/pages/search.user.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/pages/settings/privacy.vue
  packages/frontend/src/pages/settings/statusbar.statusbar.vue
  packages/frontend/src/scripts/please-login.ts
  packages/frontend/src/ui/_common_/common.ts
  packages/frontend/src/ui/_common_/statusbars.vue
  packages/frontend/src/widgets/index.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, 🔥high priority, packages/misskey-js

#15035 refactor: SystemWebhook/UserWebhookの配信処理呼び出し部分の改善
  packages/backend/src/core/AbuseReportNotificationService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/SystemWebhookService.ts
  packages/backend/src/core/UserBlockingService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/UserService.ts
  packages/backend/src/core/UserWebhookService.ts
  packages/backend/src/queue/processors/CheckModeratorsActivityProcessorService.ts
  packages/backend/test/unit/AbuseReportNotificationService.ts
  packages/backend/test/unit/SystemWebhookService.ts
  packages/backend/test/unit/UserWebhookService.ts
  packages/backend/test/unit/queue/processors/CheckModeratorsActivityProcessorService.ts
Labels: packages/backend, packages/backend:test

#15104 fix(backend): `pages/update`のnameの重複チェックはnameプロパティがある時のみ行うように
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/pages/update.ts
Labels: packages/backend

#14978 feat(backend): pgroongaに対応（configの構成変更あり）
  .config/docker_example.yml
  .config/example.yml
  CHANGELOG.md
  packages/backend/src/GlobalModule.ts
  packages/backend/src/config.ts
  packages/backend/src/core/SearchService.ts
Labels: packages/backend

#15130 enhance(frontend): ユーザーページに「ファイル」タブを新設
  CHANGELOG.md
  packages/frontend/src/components/MkContainer.vue
  packages/frontend/src/components/MkDriveFileThumbnail.vue
  packages/frontend/src/components/MkNoteMediaGrid.vue
  packages/frontend/src/pages/user/files.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/pages/user/index.files.vue
  packages/frontend/src/pages/user/index.vue
Labels: packages/frontend

#15091 ノートのリンクをリモートのサーバーのURLとしてもコピーできるように
  CHANGELOG.md
  locales/ja-JP.yml
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend

#15190 feat(misskey-js): allow setting `binaryType` of WebSocket connection
  CHANGELOG.md
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/streaming.ts
Labels: packages/misskey-js

#15248 fix: node.js の punycode モジュールが使用されている場所がある問題
  packages/backend/package.json
  packages/backend/src/core/AiService.ts
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/src/core/FileInfoService.ts
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/frontend-embed/package.json
  packages/frontend-embed/src/components/EmAcct.vue
  packages/frontend-embed/src/components/EmMention.vue
  packages/frontend-embed/src/components/EmUrl.vue
  packages/frontend/package.json
  packages/frontend/src/components/MkMention.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkSignin.input.vue
  packages/frontend/src/components/MkSignupDialog.form.vue
  packages/frontend/src/components/global/MkAcct.vue
  packages/frontend/src/components/global/MkUrl.vue
  packages/frontend/src/pages/theme-editor.vue
  packages/frontend/src/scripts/autocomplete.ts
  packages/frontend/src/scripts/get-user-menu.ts
  packages/shared/eslint.config.js
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend

#15182 enhance(backend): 絵文字の連合でライセンス欄を相互にやり取りするように
  CHANGELOG.md
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/type.ts
Labels: packages/backend

#15117 fix(backend): Let `MfmService.fromHtml()` accept `<ruby>` tags
  CHANGELOG.md
  packages/backend/src/core/MfmService.ts
  packages/backend/test/unit/MfmService.ts
Labels: packages/backend, packages/backend:test

#15195 enhance(frontend): ワードミュートで引っかかったワードを表示可能にする
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/scripts/check-word-mute.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#15283 fix: タイムアウトを起こすe2eテストのタイムアウト時間設定を延長
  packages/backend/test/e2e/timelines.ts
Labels: packages/backend, packages/backend:test

#15303 [BE]よくわからないリアクションに関するログが流れっぱなしなのを修正
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
Labels: packages/backend

#15304 ワードミュートの保存失敗時にAPIエラーが握りつぶされる事があるのを修正
  CHANGELOG.md
  packages/frontend/src/pages/settings/mute-block.vue
Labels: packages/frontend

#15123 fix(frontend): MkInstanceTickerの情報がリアクティブでない問題を修正
  CHANGELOG.md
  packages/frontend/src/components/MkInstanceTicker.vue
Labels: packages/frontend

#15020 fix(backend): localOnlyなノートの時は配送処理そのものを起動しない
  CHANGELOG.md
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#15294 fix(backend): clone schema before converting to OAS schema to avoid mutation
  CHANGELOG.md
  packages/backend/src/server/api/openapi/schemas.ts
Labels: packages/backend

#15306 fix(frontend): アンケート(投票)でリモートの絵文字が正しく描画できない問題の修正
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkPoll.vue
  packages/frontend/src/components/MkSubNoteContent.vue
Labels: packages/frontend

#15310 refactor: WebhookDeliverJobDataのcontentフィールドの型を具体的に
  packages/backend/src/queue/types.ts
Labels: packages/backend

#15305 fix(frontend): 非ログイン時のサーバー概要画面のメニューボタンが押せないことがあるのを修正
  CHANGELOG.md
  packages/frontend/src/components/MkVisitorDashboard.vue
Labels: packages/frontend

#15316 fix(frontend): MkSubNoteContent内の投票に対するnote指定の誤り修正
  packages/frontend/src/components/MkSubNoteContent.vue
Labels: 🐛Bug, packages/frontend

#15301 refactor: Refactor Endpoints to improve Developer Experience for adding Endpoints
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoint-list.ts
  packages/backend/src/server/api/endpoints.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#15318 fix: 絵文字のライセンスのActivityPub contextを追加
  packages/backend/src/core/activitypub/misc/contexts.ts
Labels: packages/backend

#15240 enhance(frontend): クエリパラメータでuiを一時的に変更できるように
  CHANGELOG.md
  packages/frontend/src/boot/main-boot.ts
Labels: packages/frontend

#15284 revert(dev): フロントエンド・バックエンドを分離する開発モードを廃止
  CHANGELOG.md
  CONTRIBUTING.md
  packages/backend/src/server/web/ClientServerService.ts
  packages/frontend-embed/package.json
  packages/frontend-embed/src/index.html
  packages/frontend-embed/vite.config.local-dev.ts
  packages/frontend-embed/vite.config.ts
  packages/frontend/package.json
  packages/frontend/src/_dev_boot_.ts
  packages/frontend/src/index.html
  packages/frontend/src/pages/welcome.entrance.a.vue
  packages/frontend/vite.config.local-dev.ts
  packages/frontend/vite.config.ts
  scripts/dev.mjs
Labels: packages/frontend, packages/backend

#15339 fix(frontend): クライアント起動時にURLに #pswp がある場合は取り除くように
  CHANGELOG.md
  packages/frontend/src/boot/common.ts
Labels: packages/frontend

#15344 feat(frontend): リモート絵文字のインポート時に詳細を確認できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkRemoteEmojiEditDialog.vue
  packages/frontend/src/pages/admin/custom-emojis-manager.remote.vue
  packages/frontend/src/pages/custom-emojis-manager.vue
Labels: packages/frontend

#15083 fix(backend): Fix an issue where notes are still visible over Feed even if the user required login | ノートの閲覧にログイン必須にしてもFeedでノートが表示されてしまう問題を修正
  CHANGELOG.md
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#15080 fix(frontend): 画面を閉じる直前にAudioContextを閉じるように
  CHANGELOG.md
  packages/frontend/src/scripts/sound.ts
Labels: packages/frontend

#15349 enhance(frontend): 絵文字管理画面β（ローカル）のUI・UX改善
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkSortOrderEditor.vue
  packages/frontend/src/components/MkSuperMenu.vue
  packages/frontend/src/components/MkTagItem.vue
  packages/frontend/src/components/global/MkPageHeader.vue
  packages/frontend/src/components/grid/MkDataCell.vue
  packages/frontend/src/components/grid/MkGrid.vue
  packages/frontend/src/components/grid/MkHeaderCell.vue
  packages/frontend/src/components/grid/grid.ts
  packages/frontend/src/pages/admin/custom-emojis-manager.impl.ts
  packages/frontend/src/pages/admin/custom-emojis-manager.local.list.logs.vue
  packages/frontend/src/pages/admin/custom-emojis-manager.local.list.search.vue
  packages/frontend/src/pages/admin/custom-emojis-manager.local.list.vue
  packages/frontend/src/pages/admin/custom-emojis-manager.local.register.vue
  packages/frontend/src/pages/admin/custom-emojis-manager.local.vue
  packages/frontend/src/pages/admin/custom-emojis-manager.logs.vue
  packages/frontend/src/pages/admin/custom-emojis-manager.remote.vue
  packages/frontend/src/pages/admin/custom-emojis-manager2.vue
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/ui/universal.vue
Labels: packages/frontend

#15352 fix(frontend): ロール作成画面で設定できるアイコンデコレーションの最大値を16にする
  CHANGELOG.md
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
Labels: packages/frontend

#15355 fix(backend): デフォルト起動時のメインプロセスはHTTPサーバモジュールのみ読み込む
  packages/backend/src/boot/master.ts
Labels: packages/backend

#15348 fix(dev): パッケージごとのビルドの実行のタイミングによっては、他のパッケージのビルド成果物が存在しない場合があるのを修正
  packages/frontend-shared/build.js
  packages/misskey-bubble-game/build.js
  packages/misskey-js/build.js
  packages/misskey-reversi/build.js
  scripts/dev.mjs
Labels: packages/misskey-js

#15332 fix(frontend): tabler-iconsが読み込めない問題を修正（暫定的対応）
  CHANGELOG.md
  packages/frontend-embed/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend
