Repository misskey-dev/misskey, pull requests merged in 2025-05, with the labels that each got.

#15775 Exclude suspended users note from most timelines
  CHANGELOG.md
  packages/backend/src/core/FanoutTimelineEndpointService.ts
  packages/backend/src/core/QueryService.ts
  packages/backend/src/core/SearchService.ts
  packages/backend/src/models/Note.ts
  packages/backend/src/server/api/endpoints/antennas/notes.ts
  packages/backend/src/server/api/endpoints/channels/timeline.ts
  packages/backend/src/server/api/endpoints/clips/notes.ts
  packages/backend/src/server/api/endpoints/notes/children.ts
  packages/backend/src/server/api/endpoints/notes/featured.ts
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/backend/src/server/api/endpoints/notes/mentions.ts
  packages/backend/src/server/api/endpoints/notes/renotes.ts
  packages/backend/src/server/api/endpoints/notes/replies.ts
  packages/backend/src/server/api/endpoints/notes/search-by-tag.ts
  packages/backend/src/server/api/endpoints/notes/timeline.ts
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
  packages/backend/src/server/api/endpoints/roles/notes.ts
  packages/backend/src/server/api/endpoints/users/featured-notes.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
  packages/backend/src/server/api/endpoints/users/reactions.ts
  packages/backend/test/e2e/clips.ts
Labels: packages/backend, packages/backend:test

#15727 Block deliver by software
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1743403874305-DeliverSuspendedSoftware.js
  packages/backend/package.json
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/core/entities/InstanceEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/json-schema/federation-instance.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/src/pages/admin/settings.vue
  packages/frontend/src/pages/instance-info.vue
  packages/frontend/src/use/use-form.ts
  packages/frontend/tsconfig.json
  packages/misskey-js/src/autogen/types.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend, packages/misskey-js

#13698 fix(backend): チャンネルフォロー一覧のsinceId/untilIdによる絞り込みが上手く動いていないのを修正
  CHANGELOG.md
  packages/backend/src/core/QueryService.ts
  packages/backend/src/server/api/endpoints/channels/followed.ts
Labels: packages/backend

#15927 Revert "fix: 添付ファイルのあるリクエストを受けたときの初動を改善 (#15896)"
  CHANGELOG.md
  packages/backend/package.json
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/endpoint-base.ts
  packages/backend/test/e2e/api.ts
  packages/backend/test/unit/server/api/drive/files/create.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test

#15928 refactor: ファイルアップロード時のテストを追加
  packages/backend/package.json
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/endpoints/drive/files/create.ts
  packages/backend/test/unit/server/api/drive/files/create.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test

#15936 enhance(frontend): タイムラインpush時のアニメーションを調整
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/components/MkTimeline.vue
Labels: packages/frontend

#15937 fix(frontend): MkFolderのアニメーションにフォールバックを追加
  CHANGELOG.md
  packages/frontend/src/components/MkFolder.vue
Labels: packages/frontend

#15658 chore(workflow): use `node-version-file` instead of hardcoded `node-version`
  .github/min.node-version
  .github/workflows/get-api-diff.yml
  .github/workflows/on-release-created.yml
  .github/workflows/storybook.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-federation.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-misskey-js.yml
  .github/workflows/test-production.yml
  .github/workflows/validate-api-json.yml
  packages/backend/test-federation/README.md
  packages/backend/test-federation/compose.tpl.yml
  packages/backend/test-federation/compose.yml
Labels: packages/backend, packages/backend:test

#15878 fix(frontend): ダイアログのお知らせが画面からはみ出ることがある問題を修正
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkAnnouncementDialog.vue
Labels: packages/frontend

#15944 Fix MkPullToRefresh behaviour
  packages/frontend/src/components/MkPullToRefresh.vue
Labels: packages/frontend

#15948 fix(frontend): handle error in user popup
  CHANGELOG.md
  packages/frontend/src/components/MkUserPopup.vue
Labels: packages/frontend

#15952 fix(frontend): 横スワイプの挙動改善
  packages/frontend/src/components/MkSwiper.vue
Labels: packages/frontend

#15964 Add storybook story for MkResult
  packages/frontend/src/components/global/MkResult.stories.impl.ts
Labels: packages/frontend

#15963 refactor(frontend): 空/エラー結果表示をコンポーネント化
  packages/frontend-embed/src/pages/not-found.vue
  packages/frontend-embed/src/style.scss
  packages/frontend-shared/js/const.ts
  packages/frontend/src/components/MkChannelList.vue
  packages/frontend/src/components/MkChatHistories.vue
  packages/frontend/src/components/MkFormDialog.vue
  packages/frontend/src/components/MkNotes.vue
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/components/MkUserList.vue
  packages/frontend/src/components/global/MkError.vue
  packages/frontend/src/components/global/MkResult.stories.impl.ts
  packages/frontend/src/components/global/MkResult.vue
  packages/frontend/src/components/index.ts
  packages/frontend/src/instance.ts
  packages/frontend/src/pages/_error_.vue
  packages/frontend/src/pages/admin/roles.role.vue
  packages/frontend/src/pages/chat/home.invitations.vue
  packages/frontend/src/pages/chat/home.joiningRooms.vue
  packages/frontend/src/pages/chat/home.ownedRooms.vue
  packages/frontend/src/pages/chat/room.search.vue
  packages/frontend/src/pages/drive.file.info.vue
  packages/frontend/src/pages/favorites.vue
  packages/frontend/src/pages/follow-requests.vue
  packages/frontend/src/pages/invite.vue
  packages/frontend/src/pages/list.vue
  packages/frontend/src/pages/my-antennas/index.vue
  packages/frontend/src/pages/my-lists/index.vue
  packages/frontend/src/pages/not-found.vue
  packages/frontend/src/pages/role.vue
  packages/frontend/src/pages/settings/apps.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/style.scss
  packages/frontend/src/widgets/WidgetBirthdayFollowings.vue
  packages/frontend/src/widgets/WidgetRss.vue
Labels: packages/frontend

#15953 fix(backend): enumerate achievement types in some response schema
  packages/backend/src/core/AchievementService.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/json-schema/achievement.ts
  packages/backend/src/models/json-schema/notification.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/endpoints/i/claim-achievement.ts
  packages/backend/src/server/api/endpoints/users/achievements.ts
  packages/backend/test/unit/entities/UserEntityService.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js, packages/backend:test

#15968 Fix 1745378064470-composite-note-index.js
  packages/backend/migration/1745378064470-composite-note-index.js
Labels: packages/backend, 🔥high priority

#15938 Feat: UGCの公開範囲設定機能
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1746330901644-visibleUserGeneratedContentsForNonLoggedInVisitors.js
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/notes/show.ts
  packages/backend/src/server/api/endpoints/users/show.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/frontend/src/pages/admin/moderation.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#15985 fix: exported antenna data cannot be imported in some cases
  CHANGELOG.md
  packages/backend/src/models/Antenna.ts
  packages/backend/src/queue/processors/ExportAntennasProcessorService.ts
  packages/backend/src/queue/processors/ImportAntennasProcessorService.ts
Labels: packages/backend

#15954 Feat: サーバー初期設定ウィザード
  CHANGELOG.md
  cypress.config.ts
  cypress/e2e/basic.cy.ts
  cypress/plugins/index.js
  locales/index.d.ts
  locales/ja-JP.yml
  package.json
  packages/backend/migration/1746422049376-singleUserMode.js
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/src/components/MkRadio.vue
  packages/frontend/src/components/MkRadios.vue
  packages/frontend/src/components/MkServerSetupWizard.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/welcome.setup.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/frontend:test

#15946 enhance(frontend): Instance Tickerのデザイン改善
  CHANGELOG.md
  packages/frontend/src/components/MkInstanceTicker.vue
Labels: packages/frontend

#16004 refactor(frontend): use* 関数の格納場所のフォルダ名を composables に変更
  packages/frontend/src/components/MkChannelList.vue
  packages/frontend/src/components/MkChart.vue
  packages/frontend/src/components/MkHeatmap.vue
  packages/frontend/src/components/MkInstanceStats.vue
  packages/frontend/src/components/MkLink.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNotesTimeline.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/components/MkReactionIcon.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/components/MkRetentionHeatmap.vue
  packages/frontend/src/components/MkRetentionLineChart.vue
  packages/frontend/src/components/MkStreamingNotesTimeline.vue
  packages/frontend/src/components/MkStreamingNotificationsTimeline.vue
  packages/frontend/src/components/MkUserList.vue
  packages/frontend/src/components/MkUserSetupDialog.Follow.vue
  packages/frontend/src/components/MkVisitorDashboard.ActiveUsersChart.vue
  packages/frontend/src/components/global/MkUrl.vue
  packages/frontend/src/components/global/PageWithHeader.vue
  packages/frontend/src/components/grid/MkDataCell.vue
  packages/frontend/src/composables/use-chart-tooltip.ts
  packages/frontend/src/composables/use-form.ts
  packages/frontend/src/composables/use-leave-guard.ts
  packages/frontend/src/composables/use-loading.ts
  packages/frontend/src/composables/use-mutation-observer.ts
  packages/frontend/src/composables/use-note-capture.ts
  packages/frontend/src/composables/use-pagination.ts
  packages/frontend/src/composables/use-scroll-position-keeper.ts
  packages/frontend/src/composables/use-tooltip.ts
  packages/frontend/src/pages/about.federation.vue
  packages/frontend/src/pages/admin/bot-protection.vue
  packages/frontend/src/pages/admin/custom-emojis-manager.local.list.vue
  packages/frontend/src/pages/admin/custom-emojis-manager.remote.vue
  packages/frontend/src/pages/admin/federation-job-queue.chart.chart.vue
  packages/frontend/src/pages/admin/invites.vue
  packages/frontend/src/pages/admin/job-queue.chart.vue
  packages/frontend/src/pages/admin/overview.active-users.vue
  packages/frontend/src/pages/admin/overview.ap-requests.vue
  packages/frontend/src/pages/admin/overview.federation.vue
  packages/frontend/src/pages/admin/overview.pie.vue
  packages/frontend/src/pages/admin/overview.queue.chart.vue
  packages/frontend/src/pages/admin/performance.vue
  packages/frontend/src/pages/admin/security.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/frontend/src/pages/chat/room.vue
  packages/frontend/src/pages/drive.file.notes.vue
  packages/frontend/src/pages/follow-requests.vue
  packages/frontend/src/pages/instance-info.vue
  packages/frontend/src/pages/invite.vue
  packages/frontend/src/pages/note.vue
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/pages/search.user.vue
  packages/frontend/src/pages/theme-editor.vue
  packages/frontend/src/pages/user/activity.following.vue
  packages/frontend/src/pages/user/activity.notes.vue
  packages/frontend/src/pages/user/activity.pv.vue
Labels: packages/frontend

#16012 fix(frontend): サウンドのフォールバックが効かなくなっていた問題を修正
  packages/frontend/src/utility/sound.ts
Labels: packages/frontend

#13997 fix: RateLimiterService
  CHANGELOG.md
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/RateLimiterService.ts
  packages/backend/src/server/api/SigninApiService.ts
Labels: packages/backend

#16017 refactor(frontend): MkMarquee のコードの可読性の向上
  packages/frontend/src/components/MkMarquee.vue
  packages/frontend/src/components/MkMarqueeText.vue
  packages/frontend/src/pages/welcome.entrance.a.vue
  packages/frontend/src/ui/_common_/statusbar-federation.vue
  packages/frontend/src/ui/_common_/statusbar-rss.vue
  packages/frontend/src/ui/_common_/statusbar-user-list.vue
  packages/frontend/src/widgets/WidgetRssTicker.vue
Labels: packages/frontend

#16023 fix(frontend): ノート購読の挙動改善
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/composables/use-note-capture.ts
Labels: packages/frontend

#15966 feat(frontend): 絵文字をミュート可能にする機能
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/assets/unknown.png
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/components/global/MkCustomEmoji.vue
  packages/frontend/src/components/global/MkEmoji.vue
  packages/frontend/src/components/global/MkMfm.ts
  packages/frontend/src/pages/settings/mute-block.emoji-mute.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/preferences/def.ts
  packages/frontend/src/utility/emoji-mute.ts
  packages/frontend/test/init.ts
Labels: packages/frontend

#16030 feat: migrate to existing config value
  packages/backend/migration/1746949539915-migrateSomeConfigFileSettingsToMeta.js
  packages/backend/migration/js/migration-config.js
  packages/backend/src/config.ts
Labels: packages/backend

#16026 enhance: いくつかの設定ファイルの項目をコントロールパネルで設定するように
  .config/cypress-devcontainer.yml
  .config/docker_example.yml
  .config/example.yml
  .devcontainer/devcontainer.yml
  CHANGELOG.md
  chart/files/default.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1746949539915-migrateSomeConfigFileSettingsToMeta.js
  packages/backend/migration/js/migration-config.js
  packages/backend/src/config.ts
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/test-federation/.config/example.default.yml
  packages/frontend/src/pages/admin/settings.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#16032 feat(frontend): upload dialog
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkCropperDialog.vue
  packages/frontend/src/components/MkDrive.vue
  packages/frontend/src/components/MkModalWindow.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkUploadDialog.vue
  packages/frontend/src/components/global/MkSystemIcon.vue
  packages/frontend/src/pages/admin/custom-emojis-manager.register.vue
  packages/frontend/src/pages/chat/room.form.vue
  packages/frontend/src/pages/debug.vue
  packages/frontend/src/ui/_common_/common.vue
  packages/frontend/src/ui/_common_/upload.vue
  packages/frontend/src/utility/isWebpSupported.ts
  packages/frontend/src/utility/select-file.ts
  packages/frontend/src/utility/upload.ts
  packages/frontend/src/utility/upload/compress-config.ts
Labels: packages/frontend

#16063 fix(frontend): ユーザー概要ページのファイルの項目のデザイン改良
  packages/frontend/src/components/MkContainer.vue
  packages/frontend/src/components/MkNoteMediaGrid.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/pages/user/index.files.vue
  packages/frontend/src/pages/user/index.vue
Labels: packages/frontend

#16064 enhance(frontend): URLプレビューをユーザーサイドで無効化できるように
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkLink.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/MkYouTubePlayer.vue
  packages/frontend/src/components/global/MkUrl.vue
  packages/frontend/src/components/page/page.text.vue
  packages/frontend/src/instance.ts
  packages/frontend/src/pages/settings/preferences.vue
  packages/frontend/src/preferences/def.ts
  packages/frontend/src/utility/url-preview.ts
Labels: packages/frontend

#16070 fix(frontend): ドライブファイルのデザイン調整
  packages/frontend/src/components/MkDrive.file.vue
Labels: packages/frontend

#16071 enhance(frontend/aiscript): AiScriptからtoastを発行できるように
  CHANGELOG.md
  packages/frontend/src/aiscript/api.ts
Labels: packages/frontend

#15974 enhance(frontend): テーマ切り替えのアニメーションをView Transitionに変更
  packages/frontend/src/components/MkFoldableSection.vue
  packages/frontend/src/style.scss
  packages/frontend/src/theme.ts
Labels: packages/frontend

#16075 fix(frontend): 誤植を修正
  packages/frontend/src/pages/admin/roles.vue
Labels: packages/frontend

#16072 enhance(frontend): 通知設定ページにサウンド設定ページへのリンクを追加
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/notifications.vue
Labels: packages/frontend

#16074 fix(backend): 連合モードが「なし」の場合はactivity jsonへのリンクタグを省略するように
  CHANGELOG.md
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/note.pug
  packages/backend/src/server/web/views/user.pug
Labels: packages/backend

#16020 fix(frontend): ジョブキューインスペクタの型エラー解消
  packages/backend/src/core/QueueService.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/json-schema/queue.ts
  packages/backend/src/server/api/endpoints/admin/queue/jobs.ts
  packages/backend/src/server/api/endpoints/admin/queue/queue-stats.ts
  packages/backend/src/server/api/endpoints/admin/queue/queues.ts
  packages/backend/src/server/api/endpoints/admin/queue/show-job.ts
  packages/frontend/src/components/MkTl.vue
  packages/frontend/src/pages/admin/job-queue.chart.vue
  packages/frontend/src/pages/admin/job-queue.job.vue
  packages/frontend/src/pages/admin/job-queue.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
  packages/misskey-js/src/index.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#15340 feat(frontend): tabler-iconsのサブセット化
  .github/workflows/check-spdx-license-id.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  package.json
  packages/frontend-embed/package.json
  packages/frontend-embed/src/boot.ts
  packages/frontend/package.json
  packages/frontend/src/_boot_.ts
  packages/frontend/src/components/MkDrive.folder.vue
  packages/icons-subsetter/README.md
  packages/icons-subsetter/eslint.config.js
  packages/icons-subsetter/package.json
  packages/icons-subsetter/src/generator.ts
  packages/icons-subsetter/src/subsetter.ts
  packages/icons-subsetter/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json5
  scripts/build-assets.mjs
  scripts/clean.js
  scripts/dev.mjs
Labels: packages/frontend

#16084 enhance(frontend): シンタックスハイライトのエンジンをJavaScriptベースのものに変更
  CHANGELOG.md
  packages/frontend/src/utility/code-highlighter.ts
Labels: packages/frontend

#15890 MkTooltipが画面左端を突き抜けないようにする
  packages/frontend/src/utility/popup-position.ts
Labels: packages/frontend

#16073 fix(frontend): 一定時間操作がなかったら動画プレイヤーのコントロールを隠すように
  CHANGELOG.md
  packages/frontend/src/components/MkMediaVideo.vue
Labels: packages/frontend

#16088 fix(backend): better nullable ref schema representation
  packages/backend/src/server/api/openapi/schemas.ts
Labels: packages/backend

#16092 fix(frontend); カスタム絵文字のリアクションが二重で表示されることがある問題を修正
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/composables/use-note-capture.ts
Labels: packages/frontend

#16094 fix(frontend): タブ間同期が行われるとテーマが同じでもテーマが切り替わり続ける問題を修正
  packages/frontend/src/style.scss
  packages/frontend/src/theme.ts
Labels: packages/frontend

#16097 fix(frontend): リアクション削除イベントのコンディションが誤っていたのを修正
  packages/frontend/src/composables/use-note-capture.ts
Labels: packages/frontend

#16089 fix(backend): correct invalid schema format specifying only `required` for `anyOf`
  CONTRIBUTING.md
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/server/api/endpoints/admin/drive/show-file.ts
  packages/backend/src/server/api/endpoints/admin/emoji/update.ts
  packages/backend/src/server/api/endpoints/drive/files/show.ts
  packages/backend/src/server/api/endpoints/i/revoke-token.ts
  packages/backend/src/server/api/endpoints/notes/search-by-tag.ts
  packages/backend/src/server/api/endpoints/pages/show.ts
  packages/backend/src/server/api/endpoints/users/followers.ts
  packages/backend/src/server/api/endpoints/users/following.ts
  packages/backend/src/server/api/endpoints/users/relation.ts
  packages/backend/src/server/api/endpoints/users/search-by-username-and-host.ts
  packages/backend/src/server/api/endpoints/users/show.test.ts
  packages/backend/src/server/api/endpoints/users/show.ts
  packages/backend/src/server/api/openapi/gen-spec.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#16105 fix(backend): typeormのbreaking changeに対応
  packages/backend/test/unit/AbuseReportNotificationService.ts
  packages/backend/test/unit/AnnouncementService.ts
  packages/backend/test/unit/CustomEmojiService.ts
  packages/backend/test/unit/FlashService.ts
  packages/backend/test/unit/RoleService.ts
  packages/backend/test/unit/SystemWebhookService.ts
  packages/backend/test/unit/UserSearchService.ts
  packages/backend/test/unit/UserWebhookService.ts
  packages/backend/test/unit/WebhookTestService.ts
  packages/backend/test/unit/queue/processors/CheckModeratorsActivityProcessorService.ts
  packages/backend/test/unit/server/api/drive/files/create.ts
Labels: packages/backend, packages/backend:test

#16111 fix: jest.js exits with zero value even if underlying jest exited with non-zero value
  packages/backend/jest.js
Labels: packages/backend

#16102 fix(frontend): Twitch クリップの埋め込みが開けない問題を修正
  CHANGELOG.md
  packages/frontend/src/utility/url-preview.ts
Labels: packages/frontend

#16113 test
  packages/backend/test/e2e/endpoints.ts
  packages/backend/test/resources/hw.png
  packages/backend/test/unit/activitypub.ts
  packages/backend/test/unit/server/api/drive/files/create.ts
Labels: packages/backend, packages/backend:test

#16009 Fix: ミュート対象ユーザーが引用されているノートがRNされたときにミュートを貫通してしまう問題
  CHANGELOG.md
  packages/backend/src/core/FanoutTimelineEndpointService.ts
  packages/backend/src/core/QueryService.ts
  packages/backend/src/core/SearchService.ts
  packages/backend/src/misc/is-user-related.ts
  packages/backend/src/server/api/endpoints/antennas/notes.ts
  packages/backend/src/server/api/endpoints/channels/timeline.ts
  packages/backend/src/server/api/endpoints/clips/notes.ts
  packages/backend/src/server/api/endpoints/notes/children.ts
  packages/backend/src/server/api/endpoints/notes/global-timeline.ts
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/backend/src/server/api/endpoints/notes/mentions.ts
  packages/backend/src/server/api/endpoints/notes/renotes.ts
  packages/backend/src/server/api/endpoints/notes/replies.ts
  packages/backend/src/server/api/endpoints/notes/search-by-tag.ts
  packages/backend/src/server/api/endpoints/notes/timeline.ts
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
  packages/backend/src/server/api/endpoints/roles/notes.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
  packages/backend/src/server/api/endpoints/users/recommendation.ts
  packages/backend/test/e2e/timelines.ts
Labels: packages/backend, packages/backend:test

#16124 fix(backend): ジョブキュー画面のPausedタブをアクティブにすると400エラーが返ってくるのを修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/admin/queue/jobs.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js
